<div class="container featured studioList" >
    <div class="row">
        {% if title is defined %}
        <div class="col-xs-12">
            <p class="title {% if viewAllLabel is not defined %} no-button {% endif %}">{{ title }}</p>
            {% if viewAllLabel is defined %}
                <div class="view-all push-right">
                    <div class="trapezoid"></div>
                    <a href="{{ viewAllPath }}">{{ viewAllLabel }}</a>
                </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="container-sm">
            {% for studio in studios| slice(0,noItems) %}
                <div class="col-xs-12 col-sm-4 box" data-suuid="{{ studio.uuid }}">
                    <a href="{{ path('studioDetails', {'slug': studio.slug }) }}">
                        <div class="crsl">
                            {% if studio.photos is not empty %}
                                <img src="{{ studio.photos[0].path }}"  class="">
                            {% else %}
                                <img src="/images/default-image.jpg" />
                            {% endif %}
                        </div>
                        <p class="name">
                            {{ studio.name }}
                        </p>
                        <p class="address">{{ studio.address }}</p>
                        <p class="address">{{ studio.city }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>