<div class="container featured" id="cities">
    <div class="row">
        {% if title is defined %}
        <div class="col-xs-12">
            <p class="title {% if button is not defined %} no-button {% endif %}">{{ title }}</p>
            {% if button is defined %}
                <div class="view-all push-right">
                    <div class="trapezoid"></div>
                    <a href="{{ path('studiosList') }}">{{ button }}</a>
                </div>
            {% endif %}
        </div>
        {% endif %}

        {% set allCities = sng_locations.getAllCities() %}
        <div class="container-sm swiper-container">
            <div class="swiper-wrapper">
                {% for city in cities %}
                    <div class="box swiper-slide">
                        <a href="{{ path('cityHomepage', {'slug': city.slug}) }}">
                            <img src="{{ city.imageUrl }}">
                            <p class="city-name">{{ city.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="slide-next"><div class="swiper-button-next city-swiper-button-next"></div></div>
            <div class="slide-prev"><div class="swiper-button-prev city-swiper-button-prev"></div></div>
        </div>
    </div>
</div>