<div class="featured" >
    <div class="row">
        {% if title is defined %}
        <div class="col-xs-12">
            <p class="title {% if button is not defined %} no-button {% endif %}">
                {{ title }} {% if city is defined and city is not empty %} in {{ city.name }} {% endif %}
            </p>
        </div>
        {% endif %}
        <div class="container-sm-left">
            <div class="studio-items" {{ city is defined and city is not empty ? ('data-city-slug="' ~ city.slug ~ '"')|raw : '' }}>
                {% include 'FrontEndBundle:Locations/partials:studiosByCitySimpleList.html.twig' %}
            </div>

            <div class="row">
                <div class="lds-ring preloader">
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>

            <div class="view-map-container">
                <div class="view-map">Map <span class="icon-arrow-up"></span></div>
            </div>
        </div>
    </div>
</div>