{% for studio in studios %}
    <div class="col-xs-12 col-sm-6 box studio-box" data-lat="{{ studio.latitude }}" data-lng="{{ studio.longitude }}" data-id="{{studio.uuid}}">
        <a href="{{ path('studioDetails', {'slug': studio.slug }) }}">
            <div class="crsl">
                {% if studio.photos is not empty %}
                    <img src="{{ studio.photos[0].path }}" alt="{{ studio.name }} {{studio.city}}" class="">
                {% else %}
                    <img src="/images/default-image.jpg" />
                {% endif %}
            </div>
            <p class="name">{{ studio.name }}</p>
            <p class="address">{{ studio.address }}</p>
            <p class="address">{{ studio.city }}</p>

            {#<div class="booked-corner"></div>
            <div class="booked-corner-text">booked 2 minutes ago</div>#}
        </a>
    </div>
{% endfor %}
