<div class="container featured studioList" >
    <div class="row">
        {% if title is defined %}
        <div class="col-xs-12">
            <p class="title {% if viewAllLabel is not defined %} no-button {% endif %}">{{ title }}</p>
            {% if viewAllLabel is defined %}
                <div class="view-all push-right">
                    <div class="trapezoid"></div>
                    <a href="{{ viewAllPath }}">{{ viewAllLabel }}</a>
                </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="container-sm">
            {% for studio in studios %}
                <div class="col-xs-12 col-sm-4 box" data-suuid="{{ studio.uuid }}">
                    <a href="{{ path('studioDetails', {'slug': studio.slug }) }}">
                        <div class="crsl">
                            {% if studio.photos is not empty %}
                                <img src="{{ studio.photos[0].path }}"  class="">
                            {% else %}
                                <img src="/images/default-image.jpg" />
                            {% endif %}
                        </div>
                        <p class="name">
                            {{ studio.name }}
                            {% if app.user and isFavouriteLocation(studio.uuid) and hasFav == 'true' %}
                                <span class="glyphicon glyphicon-heart"></span>
                            {% endif %}
                        </p>
                        <p class="address">{{ studio.address }}</p>
                        <p class="address">{{ studio.city }}</p>
                    </a>
                </div>
            {% endfor %}
            {% if studios|length and (studios|length % 3) == 1 and banner == 'fallback' %}
                <div class="col-xs-12 col-sm-8">
                    <div class="mkt-banner">
                        <p class="mkt-banner-text">No sweat <br />no glow</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>