<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <style type="text/css">
            body{margin:0;padding:0;}
            img{border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;}
            a img{border:0 none;}
            @font-face {
                font-family: 'SFUIDisplayLight';
                src: url("{{ absolute_url(asset('bundles/frontend/fonts/SFUIDisplay-Light.eot')) }}?#iefix") format('embedded-opentype'),
                url("{{ absolute_url(asset('bundles/frontend/fonts/SF-UI-Display-Light.otf')) }}");
            }
            .imageFix{display:block;}
            table, td{ border-collapse:collapse;}
            #bodyTable{height:100% !important;margin:0;padding:0;width:100% !important;}
            @media (max-width: 570px){
                .header tr td{
                    padding: 0px 20px 0px 20px !important;
                }
                .footer tr td{
                    padding: 18px 20px 35px 20px !important;
                }
                .confirmation tr td{
                    padding: 35px 20px 0px 20px !important;
                }
                .confirmation .regards{
                }
            }
            </style>
        {% include 'SngBundle:Emails:Default/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'SngBundle:Emails:Default/footer.html.twig' %}
    </body>
</html>