<table style="width: 100%; max-width: 550px;  margin: auto;" class="footer">
    <tr>
        <td style="border-top: 1px solid #f1f1f1; padding: 18px 0px 35px 0px; font-family: 'SFUIDisplayLight', Helvetica; font-size: 11px;line-height: 1.35; color: #28292a;">
            If you received this email by mistake, simply delete it. You won’t be subscribed if you don’t click the confirmation link above.
            For questions, please contact:<br />
            <a href="mailto:support@sweatnglow.com" style="color: #28292a;">support@sweatnglow.com</a>
        </td>
    </tr>
</table>


