
<table style="width: 100%; max-width: 550px; height: 85px; margin: auto;" class="header">
    <tr>
        <td style="border-bottom: 2px solid #f4f4f4; padding: 30px 0px 30px 0px; height: 18px;">
            <a href="{{ absolute_url( path('homepage')) }}?utm_medium=email&utm_source=transactional&utm_campaign={{emailType}}&utm_content=logo">
                <img src="https://sweatnglow.com/images/sweat-n-glow-copy@2x.png" width="151" />
            </a>
        </td>
        <td style="border-bottom: 2px solid #f4f4f4; padding: 30px 0px 30px 0px; height: 18px;">
            <a href="{{ absolute_url( path('teachersList')) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=menu_teachers" class="menu"
                style="{% if studios is defined %} display:block {% else %} display: none {% endif %} ;color: #a8a8a8; text-decoration: none; font-family: 'CircularStdMedium', Helvetica;font-size: 14px;font-weight: 500; float: right; padding: 5px 0px 0px 20px;">Teachers</a>
            <a href="{{ absolute_url( path('studiosList')) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=menu_studios" class="menu"
                style="{% if studios is defined %} display:block {% else %} display: none {% endif %} ;color: #a8a8a8; text-decoration: none; font-family: 'CircularStdMedium', Helvetica;font-size: 14px;font-weight: 500; float: right; padding: 5px 20px 0px 20px;">Studios</a>
        </td>
    </tr>
</table>