<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="container-sm">
            <div class="col-xs-12 col-sm-7">
              © Sweatnglow LLC
            </div>
            <div class="col-xs-12 col-sm-5">
              <div class="footer-links">
                <a href="{{ path('terms') }}">Terms</a>
                <a href="{{ path('privacy') }}">Privacy</a>
                <a href="{{ path('contact') }}">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</footer>