{% set theCity = sng_locations.currentCity %}
<div class="city-list">
  <div class="container">
    <div class="row">
      <div class="container-sm">
        <span class="icon-close"></span>
        <div class="mobile-city-nav">
            <div class="menu-back">
                <span class="icon-slide-left"></span>
                Menu
            </div>
            <span class="icon-close"></span>
        </div>
        {% set allCities = sng_locations.getAllCities() %}
        {% for column in allCities|batch(4) %}
          <div class="col-xs-12 col-sm-3">
            {% for city in column %}
              <a href="{{ path('cityHomepage', {'slug': city.slug}) }}" 
                class="{% if theCity is not empty and theCity.name == city.name %} active {% endif %}">
                {{ city.name }}
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">
          <img src="/images/sng-logo.png">
        </a>
        <div class="city-select hidden-xs visible-sm visible-md visible-lg">
          <a href="javascript:void(0);" class="{{ theCity is not empty ? 'selected' : '' }}"> 
            {{ theCity is not empty ? theCity.name: 'City' }}
          </a>
        </div>
      </div>

      <div id="navbar" class="collapse navbar-collapse pull-right">
        <div class="mobile-nav">
            <a class="navbar-brand" href="{{ path('homepage') }}">
              <img src="/images/sweat-n-glow-copy@2x.png"  width="159" height="16">
            </a>
            <span class="icon-close"></span>
            
        </div>
        <ul class="nav navbar-nav">
            <div class="city-select visible-xs hidden-sm">
              <a href="javascript:void(0);" class="{{ theCity is not empty ? 'selected' : '' }}"> 
                {{ theCity is not empty ? theCity.name: 'City' }}
              </a>
            </div>
          <li><a href="{{ path('homepage') }}" class="visible-xs hidden-sm {% if app.request.attributes.get('_route') == 'homepage' %} active {% endif %}">Home</a></li>
          <li><a href="{{ path('about') }}" class="{% if app.request.attributes.get('_route') == 'about' %} active {% endif %}">About us</a></li>
          <li>
            <a href="{{ theCity is not empty and not theCity.isEmpty ? path('studiosListByCity', {citySlug: theCity.slug }) : path('studiosList') }}"
                class="{% if app.request.attributes.get('_route') == 'studiosList' or app.request.attributes.get('_route') == 'studioSchedule' or app.request.attributes.get('_route') == 'studiosListByCity' %} active {% endif %}">Studios</a>
          </li>
          {# <li><a href="{{ theCity is not empty and not theCity.isEmpty ? path('teachersListByCity', {citySlug: theCity.slug }) : path('teachersList') }}"
                class="{% if app.request.attributes.get('_route') == 'teachersList' %} active {% endif %}">Teachers</a></li> #}
          <li><a href="{{ path('teachersTraining') }}" class="{% if app.request.attributes.get('_route') == 'teachersTraining' %} active {% endif %}">Teacher Training</a></li>
          <li class="account">

            {% if app.user %}
              <div class="menu-corner small"></div>
              <a href="{{ path('myaccount') }}" class="last profile {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
                <p class="mobile-account visible-xs hidden-sm">Hi {{ app.user.name }}</p>
                <img src="{{ app.user.profileImageUrl ? app.user.profileImageUrl : '/images/profile.svg' }}" width="30" height="30" class="hidden-xs visible-sm visible-md visible-lg" />
              </a>
            {% else %}
              <div class="menu-corner "></div>
                <a href="{{ path('login') }}" class="login last {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
                  Log in / Sign up
                </a>
            {% endif %}
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>
{% include 'FrontEndBundle:Account:menu.html.twig' %}