
  <div class="city-list">
    <div class="container">
      <div class="row">
        <div class="container-sm">
          <div class="col-xs-12 col-sm-3">
              <a href="{{ path('locationsCity', {'city': 'New York'}) }}">New York City</a>
              <a href="{{ path('locationsCity', {'city': 'South Wilhelm'}) }}">South Wilhelm</a>
              <a href="{{ path('locationsCity', {'city': 'Onamouth'}) }}">Onamouth</a>
              <a href="{{ path('locationsCity', {'city': 'Aubreeville'}) }}">Aubreeville</a>
          </div>
          <div class="col-xs-12 col-sm-3">
              <a href="{{ path('locationsCity', {'city': 'Blancafurt'}) }}">Blancafurt</a>
              <a href="{{ path('locationsCity', {'city': 'Jenkinsstad'}) }}">Jenkinsstad</a>
              <a href="{{ path('locationsCity', {'city': 'East Chad'}) }}">East Chadd</a>
              <a href="{{ path('locationsCity', {'city': 'North Angelo'}) }}">North Angelo</a>
          </div>
          <div class="col-xs-12 col-sm-3">
              <a href="{{ path('locationsCity', {'city': 'New Kaia'}) }}">New Kaia</a>
              <a href="{{ path('locationsCity', {'city': 'South Rick'}) }}">South Rick</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/images/sweat-n-glow-copy.png" srcset="/images/sweat-n-glow-copy@2x.png 2x, /images/sweat-n-glow-copy@3x.png 3x" width="159" height="16">
        </a>
      </div>

      <div id="navbar" class="collapse navbar-collapse pull-right">
        <div class="mobile-nav">
          <div class="menu-back">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Menu
          </div>
          <span class="glyphicon glyphicon-remove"></span>
        </div>

        <ul class="nav navbar-nav">
          <div class="city-select">
            {% if city is defined %}
              {{ city }}
            {% else %}
              <a href="javascript:void(0);"> City</a>
            {% endif %}
          </div>
          <li class=""><a href="{{ path('locations') }}">Studios</a></li>
          <li><a href="{{ path('teachers') }}">Teachers</a></li>
          <li><a href="#contact">Teacher's training</a></li>
          <li><a href="#contact">Log in / Sign up</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>