<div class="black-overlay"></div>
<div class="modal-container" id="modalMembership">
    <div class="modal-body">
        <div class="modal-close">
            <span class="icon-close"></span>
        </div>
        <div class="modal-content">
            <div class="title">Your active membership</div>
            <div class="cards">

            </div>
            <button class="book-class">Book</button>
            <a href="{{ path('purchase') }}" class="goToPurchase">Or choose a different membership</a>
        </div>
    </div>
</div>