{% extends 'StudioWebsiteBundle::base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="show-glow">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about-text-section">
                    <h1 class="title">About Hot Yoga</h1>
                    <p class="text">
                        The Original Hot Yoga that's been featured in the press and on television is famous for it's
                        miraculous healing ability. It is a very specific 90 minute series of 26 yoga postures and
                        breathing exercises taught in 105' heat. Each pose is a challenge based on personal abilities;
                        each pose addresses a certain area of the body, bestowing specific and powerful health
                        benefits. The class is designed for beginners as well as for those students who have a regular
                        practice. Every class is open to first time students. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
{% endblock %}