{% extends 'StudioWebsiteBundle::base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about-text-section">
                    <h1 class="title">About us</h1>
                    <p class="text">
                        We represent the original hot yoga movement. With over 30 studios in our alliance, 
                        we’re the largest and fastest-growing hot yoga studio network worldwide. 
                        Whether you’re grinding it out in the Big Apple or soaking up some sun in San Diego, you can find a SweatNGlow studio near you 
                        and book a class through our easy online booking system.
                    </p>
                    <p class="text">
                        Let our certified, experienced, and compassionate teachers guide you toward total mental and physical transformation. 
                        If you’re a first-timer, our studios offer the perfect setting and expertise for you to begin your life-changing journey. 
                        If you’re an intermediate or experienced hot yogi, we have the teachers and classes to make you feel right 
                        at home in our studios.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="about-teachers">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about-text-section">
                    <p class="text">
                       We’re creating an all-inclusive SweatNGlow culture for people from all walks of life.
                        More than just a network of studios, we’re one big hot yoga family with a clear mission: to help people improve their
                         mental and physical well-being through hot yoga.
                    </p>
                    <p class="text">
                        If you’re an independent hot yoga studio inspired by our mission, we’d love to have you as part of our network. 
                        Just fill <a href="{{ path('studioTemplateContact') }}">reach out to us</a> and we’ll get back to you right away.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
{% endblock %}