<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('studioTemplate') }}">
          <img src="/images/sweat-n-glow-copy@2x.png"  width="159" height="16">
        </a>
      </div>

      <div id="navbar" class="collapse navbar-collapse pull-right">
        <div class="mobile-nav">
            <a class="navbar-brand" href="{{ path('studioTemplate') }}">
              <img src="/images/sweat-n-glow-copy@2x.png"  width="159" height="16">
            </a>
            <span class="icon-close"></span>
            
        </div>
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ path('studioTemplate') }}" class="visible-xs hidden-sm {% if app.request.attributes.get('_route') == 'studioTemplate' %} active {% endif %}">
              Home
            </a>
          </li>
          <li>
            <a href="javascript:void(0)"
                class="{% if app.request.attributes.get('_route') == 'studioTemplateSchedule' %} active {% endif %}">
                Schedule
            </a>
            <ul class="submenu">
              <li><a href="{{ path('studioTemplateSchedule', {slug: 'sweatnglow-downtown-la-1985'}) }}">Downtown LA</a></li>
              <li><a href="{{ path('studioTemplateSchedule', {slug: 'bikram-yoga-la-hacienda-heights-1985'}) }}">Hacienda Heights</a></li>
              <li><a href="{{ path('studioTemplateSchedule', {slug: 'bikram-yoga-la-north-hollywood-1985'}) }}">North Hollywood</a></li>
            </ul>
          </li>
          {# <li>
            <a href="javascript:void(0)"
                class="{% if app.request.attributes.get('_route') == 'studioTemplateStudio' %} active {% endif %}">Pricing</a>
          </li> #}
          <li>
            <a href="javascript:void(0)"
                class="{% if app.request.attributes.get('_route') == 'studioTemplateStudio' %} active {% endif %}">
                Locations
            </a>
            <ul class="submenu">
              <li><a href="{{ path('studioTemplateStudio', {slug: 'sweatnglow-downtown-la-1985'}) }}">Downtown LA</a></li>
              <li><a href="{{ path('studioTemplateStudio', {slug: 'bikram-yoga-la-hacienda-heights-1985'}) }}">Hacienda Heights</a></li>
              <li><a href="{{ path('studioTemplateStudio', {slug: 'bikram-yoga-la-north-hollywood-1985'}) }}">North Hollywood</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" 
                class="{% if app.request.attributes.get('_route') == 'studioTemplateAbout' %} active {% endif %}">About
            </a>
            <ul class="submenu">
              <li><a href="{{ path('studioTemplateAboutSng') }}">SweatNGlow</a></li>
              <li><a href="{{ path('studioTemplateAboutHotYoga') }}">Hot Yoga / Postures</a></li>
              <li><a href="{{ path('studioTemplateTeachers') }}">Our Teachers</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ path('studioTemplateContact') }}" 
                class="{% if app.request.attributes.get('_route') == 'studioTemplateContact' %} active {% endif %}">Contact
            </a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>