{% extends 'StudioWebsiteBundle::base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="glow-has-come">
                    <div class="intro-text">
                        THE <br />
                        GLOW HAS <br />
                        COME TO <span class="brand-primary">LOS ANGELES</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container featured " id="homeStudios" data-no="3" >
        <div class="row">
            <div class="container-sm r">
                <div class="box col-xs-12 col-sm-4" >
                    <a href="{{ path('studioTemplateStudio', {slug: 'sweatnglow-downtown-la-1985'}) }}">
                        <div class="crsl">
                            <img src="/images/21/1.jpg" />
                        </div>
                        <p class="name">Downtown LA</p>
                        <p class="address">700 West 1st Street</p>
                        <p class="address">Los Angeles</p>
                    </a>
                </div>
                <div class="box col-xs-12 col-sm-4" >
                    <a href="{{ path('studioTemplateStudio', {slug: 'bikram-yoga-la-hacienda-heights-1985'}) }}">
                        <div class="crsl">
                            <img src="/images/22/1.jpg" />
                        </div>
                        <p class="name">Bikram Yoga L.A. Hacienda Heights</p>
                        <p class="address">16388 Colima Rd.</p>
                        <p class="address">Hacienda Heights</p>
                    </a>
                </div>
                <div class="box col-xs-12 col-sm-4" >
                    <a href="{{ path('studioTemplateStudio', {slug: 'bikram-yoga-la-north-hollywood-1985'}) }}">
                        <div class="crsl">
                            <img src="/images/23/1.jpg" />
                        </div>
                        <p class="name">Bikram Yoga L.A. North Hollywood</p>
                        <p class="address">12805 Victory Blvd</p>
                        <p class="address">North Hollywood</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
{% endblock %}