{% extends 'StudioWebsiteBundle::base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
<style>
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    background: #FFF;
    color: #1e1e1e;
    height: 200px;
    width: 195px !important;
}
.calendar-box{
    width: 80% !important;
    float: left;
}
</style>

<div class="container" id="studioInfo" data-uuid="{{ studio.uuid }}">
    <div class="row">
        <div class="container-sm">
            <div class="col-xs-12 col-sm-6">
                <div class="studio-name">{{ studio.name }}</div>
                <div class="studio-address">{{ studio.address }}</div><div class="studio-phone">  {{ studio.phone }}</div>
            </div>
            <div class="col-xs-12 col-sm-6 hidden-xs pull-right image">
                {% if studio.photos is not empty %}
                    {% for photo in studio.photos|slice(0, 1)  %}
                        <img src="{{ photo.path }}"  class="">
                    {% endfor %}
                {% else %}
                    <img src="/images/default-image.jpg" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container schedule-alignment-fix">
    <div class="row">
            <div id="studioSchedule" > 
                <div class="week-select">
                    <a href="{{ path('studioSchedule', {slug: studio.slug, from: prevDatetime|date('d-m-Y')}) }}" 
                            style="{% if prevDatetime is null %} visibility: hidden; {% endif %}">
                        <img src="/images/schedule-prev.jpg" width="30" height="30" />
                    </a>
                    <div class="dt">{{ startDatetime|date('d M') }} -  {{ endDatetime|date('d M Y') }}</div>
                    {% if nextDatetime is not null %}
                        <a href="{{ path('studioSchedule', {slug: studio.slug, from: nextDatetime|date('d-m-Y')}) }}"><img src="/images/schedule-next.jpg" width="30" height="30" /></a>
                    {% endif %}
                </div>
                <div class="stairs"></div>
                <div class="container-sm">
                    <div class="weekdays">
                        {% for date, classes in classesByDay %}

                            <div class="day-name {{ loop.first ? 'current': '' }}">{{ date|date('D') }}<br /><strong>{{ date|date('d') }}</strong></div>
                        {% endfor %}
                    </div>
                    <div class="calendar-box">
                        <div class="calendar ">
                            {% for date, classes in classesByDay %}

                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container {{ date|date('D') }}">
                                        <div class="col-day swiper-wrapper">
                                            {% for class in classes %}
                                                {% set classStatus = getStatusForUser(class, app.user) %}
                                                <div class="class  swiper-slide {{ class.startDatetime|date('U') <= 'now'|date('U') or class.getStatusForUserSchedule() == 'Cancelled' or class.getStatusForUserSchedule() == 'Fully booked' ? 'disabled' : '' }}">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        {{ class.name }}<br />
                                                        {{ (class.level is simpletext and class.level != 'None' ? "(#{class.level})" : '&nbsp;')|raw }}
                                                    </p>
                                                    <p class="time">{{ class.startDatetime|date("g:iA") }} ({{ class.formattedDuration }})</p>
                                                    <p class="teacherName">{{ class.staff.firstName }} {{ class.staff.lastName|slice(0,1) }}.</p>
                                                    {% if classStatus == constant('SngBundle\\Service\\ClassesService::CLASS_STATUS_AVAILABLE') %}
                                                        <a href="#" class="book bookBtn" data-class-uuid="{{ class.uuid }}">Book</a>
                                                    {% elseif classStatus == constant('SngBundle\\Service\\ClassesService::CLASS_STATUS_WAITLIST') %}
                                                        <a href="{% if app.user %}  {{ path('purchase') }} {% else %} # {% endif %}" class="book bookBtn" data-class-uuid="{{ class.uuid }}">Join waitlist</a>
                                                    {% else %}
                                                        <p class="status">{{ getTextStatusForUser(class, app.user) }} </p>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-{{ date|date('D') }}"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-{{ date|date('D') }}"></div></div>
                                 </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/swiper.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}