{% extends 'StudioWebsiteBundle::base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
<div class="location-content-container">
        <div class="container main-area profile-container" data-uuid="{{ studio.uuid }}" data-lat="{{ studio.latitude }}" data-long="{{ studio.longitude }}">
            <div class="row">
                <div class="container-sm">
                    <div class="col-xs-12">
                        <div class="staires-bg">
                        </div>
                        <div class="map-container">
                            <div id="map_canvas">
                            </div>
                        </div>
                        <div class="studio-info-container">
                            <div class="show-map">Map <span class="icon-arrow-down"></span><span class="icon-arrow-up"></span></div>
                            <div id="studio-info">
                                <div class="studio-name">{{ studio.name }}</div>
                                <div class="studio-address">{{ studio.address }}, <br /> {{ studio.city }}</div>
                                <div class="studio-image">
                                    <div class="crsl">
                                        {% if studio.photos is not empty %}
                                            {% for photo in studio.photos %}
                                                <img src="{{ photo.path }}"  class="">
                                            {% endfor %}
                                        {% else %}
                                            <img src="/images/default-image.jpg" />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" id="schedule">
                                <div class="schedule-head">
                                    About the studio

                                    {% if studio.formattedOpeningHours is defined and studio.formattedOpeningHours is not empty %}
                                        <span class="icon-clock">
                                        <span class="path1"></span><span class="path2"></span>
                                        <div class="bubble">
                                            <div class="content">Opening times</div>
                                            <div class="arrow"><div class="after"></div></div>
                                        </div>
                                        <div class="opening-popover">
                                            <div class="arrow"><div class="after"></div></div>
                                            <div class="content">
                                                <div class="opening-head">Opening times</div>
                                                {% for key, value in studio.formattedOpeningHours %}
                                                    <div class="opeing-row">
                                                        <span>{{ key }}</span> <span>{{ value }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </span>
                                    {% endif %}
                                    {% if app.user %}
                                        {% if isFavouriteLocation(studio.uuid) %}
                                            <a href="#">
                                        <span class="glyphicon icon-favorites-fill">
                                            <div class="bubble">
                                                <div class="content">Remove from favorites</div>
                                                <div class="arrow"><div class="after"></div></div>
                                            </div>
                                        </span>
                                            </a>
                                        {% else %}
                                            <a href="#">
                                        <span class="glyphicon icon-favorite-empty">
                                            <div class="bubble">
                                                <div class="content">Add to favorites</div>
                                                <div class="arrow"><div class="after"></div></div>
                                            </div>
                                        </span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="schedule">

                                    {{ studio.description|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% if classes is defined and classes is not empty %}
            {% include 'FrontEndBundle::classesList.html.twig'
            with {title: 'Classes <span>(Today)</span>', button: 'view schedule', classes: classes} %}
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfEXYKGy6K5CUXEflr8YN8I3X63tO80G4"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/thumbCarousel.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}
