.classesList{
    margin-bottom: 10px;
    .view-all{
        background: #FFF;
        width: 50%;
        float: right;
        display: inline-block;
        height: 22px;
        margin-bottom: 20px;
        position: relative;
        padding-right: 50px;
        z-index: 100;
        margin-right: -20px;
        @media (min-width: $screen-sm-min){
            height: 70px;
            margin-bottom: 30px;
            width: 225px;
            background: #F4F4F4;
            &:hover{
                background: $brand-primary;
            }
        }
        @media (min-width: $screen-lg-min){
            margin-right: 0px;
            width: 245px;
        }
        &:hover{
            background: $brand-primary;
        }
        .trapezoid{
            display:none;
            height: 70px;
            border-top: 70px solid #FFF;
            border-right: 70px solid transparent;
            border-left: 0px solid transparent;
            position: absolute;
            left: 0px;
            width: 170px;
            @media (min-width: $screen-sm-min){
                display: block;
            }
            @media (min-width: $screen-md-min){
                width: 105px;
            }
            @media (min-width: $screen-lg-min){
                width: 105px;
            }
        }
        a{
            padding: 0px;
            color: #061426;
            text-decoration: none;
            font-size: 17px;
            line-height: 22px;
            position: absolute;
            right: 20px;
            @media (min-width: $screen-sm-min){
                padding: 23px 0px;
            }
            @media (min-width: $screen-md-min){
                right: 0px;
                padding: 23px 70px 23px 0px;
                font-size: 19px;
                line-height: 24px;
            }
            @media (min-width: $screen-lg-min){
                padding: 23px 90px 23px 0px;
            }
        }
    }
    .title{
        font-family: 'CircularStdMedium';
        font-size: 17px;
        float: left;
        margin-bottom: 20px;
        display: inline-block;
        line-height: 22px;
        @media (min-width: $screen-sm-min){
            font-size: 19px;
            margin-bottom: 30px;
            line-height: 70px;
        }
        @media (min-width: $screen-md-min){
            padding: 0px 0px 0px 50px;
        }
        @media (min-width: $screen-lg-min){
            padding: 0px 0px 0px 50px;
        }
        &.no-button{
            line-height: 20px;
        }
        span{
            font-family: 'SFUITextLight';
            font-size: 19px;
            line-height: 23px;
            font-weight: 300;
            color: #000000;
            margin-left: 10px;
        }
    }
    .mkt-banner{
        display:none;
        @media (min-width: $screen-sm-min){
            background: #FFF;
            border-bottom: 254px solid #F1F4F4;
            border-left: 254px solid transparent;
            border-right: 0px;
            display: block;
            .mkt-banner-text{
                font-family: 'CircularStdBold';
                color: #1e1e1e;
                font-size: 20px;
                font-weight: 900;
                line-height: 26px;
                position: absolute;
                top: 30px;
                right: 38px;
                left: auto;
                text-align: center;
                text-transform: uppercase;
                @media (min-width: $screen-xs-min){
                    min-width: 261px;
                    max-width: 261px;
                    font-size: 36px;
                    line-height: 46px;
                    top: 84px;
                    right: 40px;
                }
            }
        }
        @media (min-width: $screen-lg-min){
            margin-right: 20px;
        }
    }
    .course{
        margin-bottom: 20px;
        &.small{
            padding-left: 10px;
            padding-right: 10px;
        }
        @media (min-width: $screen-sm-min){
            max-width: 295px;
            margin-bottom: 40px;
        }
        .course-box{
            background: #FFF;
            padding: 25px 20px 25px 20px;
            position: relative;
            min-height: 254px;
            border: 2px solid #f4f4f4;


            &.booked{
                .corner-booked{
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    right: -5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 78px 82px;
                    border-color: transparent transparent #FFF transparent;
                }
                .className{
                    opacity: 0.2;
                }
                .address{
                    opacity: 0.2;
                }
                .time{
                    opacity: 0.2;
                }
                .teacherName{
                    opacity: 0.2;
                }
                .level{
                    opacity: 0.2;
                }
                &:hover{
                    .corner{
                        border-color: transparent transparent #F1F4F4 transparent;
                    }
                }
            }
            .className{
                font-family: 'CircularStdMedium';
                font-size: 16px;
                line-height: 20px;
                min-height: 40px;
                max-height: 40px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 10px;
            }
            .name{
                color: #28292A;
                font-family: 'CircularStdMedium';
                font-size: 36px;
                line-height: 46px;
                margin-bottom: 30px;
                opacity: 0.2;
            }
            .address{
                max-width: 90px;
                font-family: 'CircularStdMedium';
                font-size: 16px;
                line-height: 20px;
                height: 60px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 28px;
                @media (min-width: $screen-sm-min){
                    max-width: 160px;
                }
            }
            .teacherName{
                font-family: 'CircularStdMedium';
                font-size: 16px;
                font-weight: 500;
                color: #28292a;
                margin-bottom: 65px;
            }
            .status{
                font-family: 'CircularStdMedium';
                height: 20px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 0px;
            }
            .level{
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 19px;
                font-weight: 300;
                color: #1e1e1e;;
                margin-bottom: 0px;
            }
            .time{
                color: #1e1e1e;;
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 25px;
                font-weight: 300;
            }
            .location{
                color: #000;
                font-family: 'CircularStd', arial;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .book{
                font-family: 'CircularStd';
                width: 110px;
                font-size: 16px;
                color: #000;
                line-height: 45px;
                background: #F4F4F4;
                position: absolute;
                left: 20px;
                bottom: 20px;
                text-decoration: none;
                text-align: center;
                &:hover{
                    background: #fceae4;
                }
            }
            .corner-booked{
                display: none;
            }
            .corner{
                position: absolute;
                bottom: -2px;
                right: -2px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 78px 82px;
                border-color: transparent transparent #F1F4F4 transparent;
            }
        }
    }
}