@font-face {
    font-family: 'CircularStd';
    src:url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url("../fonts/CircularStd-Book.otf");
      
      
}
@font-face {
    font-family: 'CircularStdBold';
    src:url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
      url("../fonts/CircularStd-Bold.otf");
      
}
@font-face {
    font-family: 'CircularStdMedium';
    src:url('../fonts/CircularStd-Medium.eot');
    src:  url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
      url("../fonts/CircularStd-Medium.otf");
     
}

@font-face {
    font-family: 'SFUITextLight';
    src: url('../fonts/SF-UI-Text-Light.otf?#iefix') format('embedded-opentype'),
      url("../fonts/SF-UI-Text-Light.otf");
}
@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SF-UI-Text-Regular.otf?#iefix') format('embedded-opentype'),
      url("../fonts/SF-UI-Text-Regular.otf");
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/SFUIDisplay-Regular.ttf')  format('truetype'),
    url('../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?31lzo5');
  src:  url('../fonts/icomoon.eot?31lzo5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?31lzo5') format('truetype'),
    url('../fonts/icomoon.woff?31lzo5') format('woff'),
    url('../fonts/icomoon.svg?31lzo5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ccv-help:before {
    content: "\e910";
}
.icon-schedule-next:before {
    content: "\e90e";
}
.icon-schedule-prev:before {
    content: "\e90f";
}
.icon-favorites-fill:before {
    content: "\e90d";
}
.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-arrow-up:before {
    content: "\e902";
}
.icon-clock-selected .path1:before {
    content: "\e903";
    color: rgb(40, 41, 42);
}
.icon-clock-selected .path2:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-clock:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-facebook:before {
    content: "\e907";
}
.icon-favorite-empty:before {
    content: "\e908";
}
.icon-instagram:before {
    content: "\e909";
}
.icon-slide-left:before {
    content: "\e90a";
}
.icon-slide-right:before {
    content: "\e90b";
}
.icon-twitter:before {
    content: "\e90c";
}
.icon-pushpin:before {
    content: "\e946";
}
.icon-location:before {
    content: "\e947";
}
.icon-location2:before {
    content: "\e948";
}
.icon-facebook2:before {
    content: "\ea91";
}
