.footer {
    width: 100%;
    background: #FFF;
    margin-top: 0px;
    float: left;
    padding: 20px 0px;
    position: relative;
    color: #28292a;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #f1f1f1;
    @media (min-width: $screen-sm-min){
        z-index: 100;
        height: 60px;
        position: absolute;
    }
    &.sticky{
        position: fixed;
        bottom: 0px;
    }
    .container-sm{
        @media (min-width: $screen-sm-min){
            padding: 0px 50px;
        }
        @media (min-width: $screen-lg-min){
            padding: 0px 50px;
        }
    }
    .footer-links{
        text-align: left;
        margin-top: 7px;
        @media (min-width: $screen-sm-min){
            margin-top: 0px;
            text-align: right;
        }
        @media (min-width: $screen-lg-min){
            margin-right: 40px;
        }
        a {
            font-family: 'CircularStdMedium';
            font-size: 14px;
            font-weight: 500;
            color: #a8a8a8;
            margin-right: 40px;
            text-decoration: none;
            font-weight: 500;
            &.social-media{
                float: right;
                margin-left: 20px;
                margin-right: 0px;
                span{
                    font-size: 15px;
                }
                @media (min-width: $screen-sm-min){
                    margin-left: 35px;
                }
            }
            &:hover {
                color: #000;
            }
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    
}