html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'CircularStd', sans-serif;
    vertical-align: baseline;
    color: #000 !important;
    line-height: 1.35;
    overflow-x: hidden !important;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    @media (min-width: $screen-sm-min){
        margin: 0 0 60px;
    }
}
input[type=text] {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.navbar{
    height: auto;
    padding: 20px 0px;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    z-index:11;
    border-bottom: 1px solid #f1f1f1;
    @media (min-width: $screen-sm-min){
        padding: 0px;
    }
    .city-select{
        font-family: 'CircularStdMedium';
        position: absolute;
        right: 25px;
        bottom: 60px;
        font-size: 19px;
        line-height: 24px;
        white-space: nowrap;
        text-align: left;
        @media (min-width: $screen-sm-min){
            height: 68px;
            padding-left: 24px;
            border-left: 1px solid #F1F1F1;
            font-size: 14px;
            width: 175px;
            float: left;
            position: static;
            display: block;
        }
        
        a {
            color: #A8A8A8;
            text-decoration: none;
            font-size: 19px;
                @media (min-width: $screen-sm-min){
                    font-size: 14px;
                    line-height: 18px;
                    padding: 27px 0px 23px 0px;
                    float: left;

                }
                &.selected{
                    color: #000;
                }
        }
        @media (min-width: $screen-sm-min){
            display: block;
        }
    }
    .navbar-collapse{
        background: #FFF;
        width: 100%;
        position: absolute;
        top: 0px;
        text-align: right;
        z-index: 10001;
        padding: 0px !important;
        @media (min-width: $screen-sm-min){
            position: static;
            min-height: auto;
            width: auto;
            padding: 0px;
        }
        .mobile-nav{
            border-bottom: 1px solid #F1F1F1;
            width: 100%;
            padding-top: 26px;
            padding-bottom: 27px;
            cursor: pointer;
            padding-right: 20px;
            @media(min-width: $screen-sm-min){
                display: none;
            }
            .icon-close{
                font-size: 18px;
                line-height: 21px;
            }
            .menu-back{
                display:none;
                font-family: 'CircularStd';
                font-size: 19px;
                line-height: 24px;
                color: #000;
                float: left;
                padding: 25px 0px;
                .glyphicon-chevron-left{
                    font-size: 19px;
                }
            }
            .glyphicon-remove{
                padding: 25px 0px;
                font-size: 25px;
                cursor: pointer;
            }
        }

        
        .navbar-nav{
            margin: 25px 0px;
            position: relative;
            @media (min-width: $screen-sm-min){
                margin: 0px;
                position: relative;
            }
            @media (min-width: $screen-lg-min){
                margin: 0px 20px 0px 0px;
            }
            li{
                .menu-corner{
                    display: none;
                    border-bottom: 69px solid #28292a;
                    border-right: 0px solid transparent;
                    border-left: 67px solid transparent;
                    position: absolute;
                    right: -20px;
                    width: 195px;
                    @media (min-width: $screen-sm-min){
                        display: block;
                    }
                    &.small{
                        width: 130px;
                    }
                }
                a{
                    font-family: 'CircularStdMedium';
                    font-size: 19px;
                    line-height: 24px;
                    margin-bottom: 25px;
                    padding: 0px 20px 0px 0px;
                    color: #a8a8a8;
                    @media (min-width: $screen-sm-min){
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 0px;
                        padding: 27px 20px 23px 20px;
                        &.last{
                            color: #FFF;
                            &.active{
                                color: #fff;
                            }
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                    &.active{
                        color: #000;
                    }
                    &:hover{
                        color: #000;
                    }
                    &.profile{
                        padding: 0px 20px 0px 0px;
                        @media (min-width: $screen-sm-min){
                            padding: 20px 15px 17px 30px;
                        }
                        img{
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
    .navbar-brand{
        padding: 0px;
        height: 33px;
        margin-left: 20px !important;
        margin-right: 40px;
        @media (min-width: $screen-sm-min){
            height: 42px;
            padding: 15px 0px 0px 0px;
        }
        @media (min-width: $screen-lg-min){
           
        }
        img{
            width: 100px;
            height: auto;
            @media (min-width: $screen-sm-min){
                width: 125px;
                height: auto;
            }
        }
    }
    .navbar-toggle{
        border: 0px;
        border-radius: 0px;
        margin: 3px 25px 0px 0px;
        padding: 0px;
        height: 26px;
        &:hover{
            background: #FFF;
        }
        &:focus{
            background: #FFF;
        }
        .icon-bar{
            background-color: #000;
            width: 18px;

        }
    }

}

.city-list{
    position: absolute;
    z-index: 12;
    background: #FFF;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 100%;
    overflow-y: scroll;
    display: none;
    @media (min-width: $screen-sm-min){
        overflow: hidden
    }
    a{
        margin-bottom: 25px;
        font-size: 19px;
        line-height: 24px;
        color: #A8A8A8;
        float: right;
        clear: both;
        @media (min-width: $screen-sm-min){
            float: left;
        }
        &:hover{
            color: #000;
            text-decoration: none;
        }
        &:last-child{
            @media (min-width: $screen-sm-min){
                margin-bottom: 0px;
            }
        }
        &.active{
            color: #000;
        }
    }
    @media (min-width: $screen-sm-min){
        display: block;
        padding: 30px 0px 0px 0px;
        border-bottom: 1px solid #F1F1F1;
        height: 254px;
        margin-top: -255px;
        position: static;
    }
    .container-sm{
        position: relative;
    }
    .icon-close{
        display:none;
        font-size: 18px;
        position: absolute;
        top: 5px;
        right: 75px;
        z-index: 10;
        cursor: pointer;
        @media (min-width: $screen-sm-min){
            display: block;
        }
        @media (min-width: $screen-lg-min){
            right: 95px;
        }
    }
    .mobile-city-nav{
        border-bottom: 1px solid #F1F1F1;
        width: 100%;
        padding-top: 26px;
        padding-bottom: 27px;
        cursor: pointer;
        padding-right: 20px;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            display: none;
        }
        .menu-back{
            font-family: 'CircularStdMedium';
            font-size: 19px;
            line-height: 24px;
            font-weight: 500;
            color: #000000;
        }
        .icon-slide-left{
            font-size: 16px;
            color: #000;
            margin-left: 20px;
            margin-right: 8px;
        }
    }
}

.container-sm{
    @media (min-width: $screen-md-min){
        padding: 0px 50px;
    }
    @media (min-width: $screen-lg-min){
        padding: 0px 50px;
    }
}
.container-sm-left{
    @media (min-width: $screen-md-min){
        padding: 0px 0px 0px 50px;
    }
    @media (min-width: $screen-lg-min){
        padding: 0px 0px 0px 50px;
    }
}
#sec-nav{
    display: block;
    @media (min-width: $screen-sm-min){
        display: none;
    }
    .sec-nav{
        background: #28292a;
        width: 100%;
        position: absolute;
        top: -77px;
        left: 100%;
        z-index: 10;
        display:block;
        @media (min-width: $screen-sm-min){
            height: 68px;
            margin: 0px -20px;
            position: static;
            width: auto;
            display: none;
        }
        @media (min-width: $screen-lg-min){
            margin: 0px 0px 0px -20px;
        }
        .mobile-sec-nav{
            width: 100%;
            padding: 26px 25px 27px 25px;
            cursor: pointer;
            display: inline-block;
            @media(min-width: $screen-sm-min){
                display: none;
            }
            .icon-close{
                font-size: 18px;
                line-height: 21px;
                color: #FFF;
                float: right;
                width: 20px;
            }
            .menu-back{
                display: contents;
                font-family: 'CircularStdMedium';
                font-size: 19px;
                line-height: 24px;
                font-weight: 500;
                color: #FFF;
                float: left;
                padding: 0px;
                .icon-arrow-right{
                    font-size: 19px;
                    -ms-transform: rotate(180deg); /* IE 9 */
                    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }
            }
            .glyphicon-remove{
                padding: 25px 0px;
                font-size: 25px;
                cursor: pointer;
            }
        }
        ul{
            float: right;
            margin-right: 20px;
            margin-bottom: 0px;
            li{
                list-style: none;
                float: right;
                padding: 13px 0px 12px 0px;
                clear: both;
                text-align: right;
                @media (min-width: $screen-sm-min){
                    padding: 26px 0px 24px 0px;
                    clear: none;
                    float: left;
                }
                &.logout{
                    @media (max-width: $screen-sm-min){
                        position: absolute;
                        bottom: 60px;
                        right: 20px;
                    }
                }
                a{
                    font-family: 'CircularStd';
                    font-size: 19px;
                    line-height: 24px;
                    font-weight: 500;
                    text-align: right;
                    opacity: 0.5;
                    color: #f6f6f6;
                    padding: 0px 5px;
                    text-decoration: none;
                    &:hover{
                        opacity: 1;
                    }
                    &.active{
                        opacity: 1;
                    }
                    @media (min-width: $screen-sm-min){
                        font-size: 14px;
                        line-height: 18px;
                        padding: 0px 20px;
                    }
                }
            }
        }
    }
}

.banner-success {
    padding: 10px;
    background-color: #f9e2d8;
    font-family: 'CircularStdMedium';
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    color: #061426;
    margin: 0px -20px;

    p {
        margin: 0;
    }

    @media (min-width: $screen-sm-min){
        padding: 20px 0;
        font-size: 19px;
    }
    @media (min-width: $screen-lg-min){
        margin: 0px 0px 0px -20px;
    }
    .container-md{
        padding: 0 0 0 25px;
        @media (min-width: $screen-sm-min){
            padding: 0 0 0 70px;
        }
    }
    a{
        color: #061426;
        text-decoration: none;
        border-bottom: 2px solid #000;
        padding-bottom: 0px;
    }
}

#booked-banner{
    display: none;
}