#homeStudios{
    .box{
        width: 60%;
        margin-right: 10px;
        margin-bottom: 0px;
        max-width: 218px;
        min-width: 218px;
        &:first-child{
            margin-left: 20px;
        }
        &:last-child{
            margin-right: 130px;
        }
        @media (min-width: $screen-sm-min){
            min-width: 353.5px;
            max-width: 353.5px;
            width: 353.5px;
            margin-right: 40px;
            &:last-child{
                margin-right: 0px;
            }
        }
        @media (min-width: $screen-lg-min){
            min-width: 353.5px;
            max-width: 353.5px;
            width: 353.5px;
        }
    }
    .slide-next{
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            background: #FFF;
            height: 330px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 70px;
            z-index: 300;
        }
        .swiper-button-next{
            @media (min-width: $screen-lg-min){
                right: 65px;
            }
        }

    }
    .slide-prev{
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            background: #FFF;
            height: 330px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 70px;
            z-index: 300;
        }
        .swiper-button-prev{
            @media (min-width: $screen-lg-min){
                left: 30px;
            }
        }
    }
}