#cities{
    .box{
        width: 60%;
        margin-bottom: 0px;
        margin-right: 10px;
        max-width: 158px;
        position: relative;
        &:first-child{
            margin-left: 20px;
        }
        &:last-child{
            margin-right: 130px;
        }
        @media (min-width: $screen-sm-min){
            max-width: 255px;
            min-width: 255px;
            width: 255px;
            margin-right: 40px;
            &:last-child{
                margin-right: 0px;
            }
        }
        @media (min-width: $screen-lg-min){
            max-width: 255px;
        }
        img{
            margin-bottom: 0px;
        }
        .city-name{
            max-width: 235px;
            font-family: 'CircularStdBold';
            position: absolute;
            font-size: 19px;
            line-height: 28px;
            font-weight: 900;
            color: #ffffff;
            text-transform: uppercase;
            bottom: 12px;
            left: 12px;
            @media (min-width: $screen-sm-min){
                font-size: 25px;
                line-height: 46px;
                bottom: 15px;
                left: 20px;
            }
        }
    }
    .slide-next{
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            background: #FFF;
            height: 330px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 100px;
            z-index: 300;
        }
        .city-swiper-button-next{
            @media (min-width: $screen-lg-min){
                right: 70px;
            }
        }

    }
    .slide-prev{
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            background: #FFF;
            height: 330px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 70px;
            z-index: 300;
        }
        .city-swiper-button-prev{
            @media (min-width: $screen-lg-min){
                left: 30px;
            }
        }
    }
}