#homeTeachers{
    margin-bottom: 50px;
    .box{
        width: 60%;
        margin-bottom: 0px;
        margin-right: 10px;
        max-width: 158px;
        min-width: 158px;
        &:first-child{
            margin-left: 20px;
        }
        &:last-child{
            margin-right: 130px;
        }
        .glyphicon{
            right: 0px;
            @media (min-width: $screen-sm-min){
                right: 25px;
            }
        }
        @media (min-width: $screen-sm-min){
            max-width: 255px;
            width: 25%;
            margin-right: 40px;
            &:last-child{
                margin-right: 0px;
            }
        }
        p{
            &.name{
                max-width: 120px;
                @media (min-width: $screen-sm-min){
                    max-width: 210px;
                }
            }
            &.address{
                max-width: 120px;
                height: 36px;
                @media (min-width: $screen-sm-min){
                    max-width: 210px;
                }
            }
        }
    }
    .slide-next{
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            background: #FFF;
            height: 400px;
            position: absolute;
            right: 0px;
            top: 0px;
            width: 70px;
            z-index: 300;
        }
        .swiper-button-next{
            top: calc(50% - 25px);
            @media (min-width: $screen-lg-min){
                right: 65px;
            }
        }

    }
    .slide-prev{
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            background: #FFF;
            height: 400px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 70px;
            z-index: 300;
        }
        .swiper-button-prev{
            top: calc(50% - 25px);
            @media (min-width: $screen-lg-min){
                left: 30px;
            }
        }
    }
}