.featured{
    margin-bottom: 50px;
    .title{
        font-family: 'CircularStdMedium';
        font-size: 17px;
        float: left;
        margin-bottom: 20px;
        display: inline-block;
        line-height: 22px;
        color: #061426;

        @media (min-width: $screen-sm-min){
            font-size: 19px;
            line-height: 70px;
            margin-bottom: 30px;
            &.no-button{
                line-height: 24px;
            }
        }
        @media (min-width: $screen-md-min){
            padding: 0px 0px 0px 50px;
        }
        @media (min-width: $screen-lg-min){
            padding: 0px 0px 0px 50px;
        }
        &.no-button{
            line-height: 22px;
        }
        span{
            font-family: 'SFUITextLight';
            font-size: 19px;
            line-height: 23px;
            font-weight: 300;
            color: #000000;
            margin-left: 10px;
        }
    }
    .view-all{
        background: #FFF;
        width: 50%;
        float: right;
        display: inline-block;
        height: 22px;
        margin-bottom: 20px;
        position: relative;
        padding-right: 50px;
        z-index: 1;
        margin-right: -20px;
        @media (min-width: $screen-sm-min){
            height: 70px;
            background: #F4F4F4;
            width: 235px;
            margin-bottom: 30px;
            &:hover{
                background: $brand-primary;
            }
        }
        @media (min-width: $screen-lg-min){
            margin-right: 0px;
        }
        .trapezoid{
            display: none;
            height: 70px;
            border-top: 70px solid #FFF; 
            border-right: 70px solid transparent; 
            border-left: 0px solid transparent; 
            position: absolute;
            left: 0px;
            width: 170px;
            @media (min-width: $screen-sm-min){
                display: block;
            }
            @media (min-width: $screen-md-min){
                width: 125px;
            }
            @media (min-width: $screen-lg-min){
                width: 145px;
            }
        }
        a{
            padding: 0px;
            color: #061426;
            text-decoration: none;
            font-size: 17px;
            line-height: 22px;
            position: absolute;
            right: 20px;
            @media (min-width: $screen-sm-min){
                padding: 23px 0px;
                font-size: 19px;
                line-height: 24px;
            }
            @media (min-width: $screen-md-min){
                right: 0px;
                padding: 23px 70px 23px 0px;
            }
            @media (min-width: $screen-lg-min){
                padding: 23px 90px 23px 0px;
            }
        }
    }
    &.teachersList{
        @media (min-width: $screen-sm-min){
            margin-bottom: 70px;
        }
        .box{
            @media (min-width: $screen-sm-min){
                max-width: 295px;
            }
        }
    }
    .box {
        max-width: 393px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0px;
            @media (min-width: $screen-sm-min){
                margin-bottom: 30px;
            }
        }
        img {
            margin-bottom: 10px;
            width: 100%;
            @media (max-width: 480px){
                width: 100%;
                height: auto;
            }
        }
        a{
            color: #061426;
            text-decoration: none;
            &:hover{
                .tmb-container{
                    .tmb-wrap{
                        display: block;
                        @media (min-width: $screen-sm-min){
                            display: block;
                        }
                    }
                }
                
            }
            p {
                font-size: 14px;
                margin: 0px;
                &.name{
                    font-family: 'CircularStdMedium';
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    margin-bottom: 3px;
                    color: #1e1e1e;
                    position: relative;
                    max-width: 90%;
                }
                &.address{
                    font-family: 'SFUITextLight';
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 300;
                    color: #1e1e1e;
                    margin-top: 0px;
                }
            }
        }
        .glyphicon{
                position: absolute;
                bottom: 40px;
                top: auto;
                right: 25px;
                font-size: 17px;
        }
        .icon-favorite-empty{
            font-size: 15px;
        }
        .booked-corner{
            position: absolute;
            bottom: -20px;
            right: 20px;
            width: 0; 
            height: 0; 
            border-style: solid;
            border-width: 0 0 60px 100px;
            border-color: transparent transparent #fdefea transparent;
            z-index: 10;
        }
        .booked-corner-text{
            font-family: 'CircularStd';
            font-size: 14px;
            line-height: 18px;
            text-align: right;
            color: #000;
            position: absolute;
            right: 25px;
            bottom: -10px;
            z-index: 11;
        }
        &.col-xs-4{
            @media (max-width: 480px){
                width: 100%;
            }
        }
        &.col-xs-6:nth-child(2n+1){
            @media (max-width: 480px){
                clear: both;
            }
        }
    }
    .course{
        margin-bottom: 20px;
        @media(min-width: $screen-sm-min){
            margin-bottom: 0px;
            max-width: 295px;
        }
        &.small{
            padding-left: 10px;
            padding-right: 10px;
        }
        .course-box{
            background: #FFF;
            padding: 25px;
            position: relative;
            min-height: 176px;
            border: solid 2px #f4f4f4;
            &:hover{
                .corner{
                    border-color: transparent transparent $brand-primary transparent;
                }
            }
            &.booked{
                .corner-booked{
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    right: -5px;
                    width: 0; 
                    height: 0; 
                    border-style: solid;
                    border-width: 0 0 78px 82px;
                    border-color: transparent transparent #FFF transparent;
                }
                .className{
                    opacity: 0.2;
                }
                .address{
                    opacity: 0.2;
                }
                .time{
                    opacity: 0.2;
                }
                .teacherName{
                    opacity: 0.2;
                }
                .level{
                    opacity: 0.2;
                }
                &:hover{
                    .corner{
                        border-color: transparent transparent #F1F4F4 transparent;
                    }
                }
            }
            .className{
                font-family: 'CircularStdMedium';
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 10px;
                min-height: 40px;
            }
            .name{
                color: #28292A;
                font-family: 'CircularStdMedium';
                font-size: 36px;
                line-height: 46px;
                margin-bottom: 30px;
                opacity: 0.2;
            }
            .teacherName{
                font-family: 'CircularStdMedium';
                font-size: 16px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 65px;
            }
            .time{
                color: #1e1e1e;;
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 25px;
                font-weight: 300;
            }
            .location{
                color: #000;
                font-family: 'CircularStdMedium';
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                margin-bottom: 45px;
            }
            .book{
                font-family: 'CircularStd';
                width: 110px;
                font-size: 16px;
                color: #000;
                line-height: 45px;
                background: #F4F4F4;
                position: absolute;
                left: 20px;
                bottom: 20px;
                text-decoration: none;
                text-align: center;
                &:hover{
                    background: #fceae4;
                }
            }
            .level{
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 19px;
                font-weight: 300;
                color: #28292a;
                margin-bottom: 0px;
            }
            .status{
                font-family: 'CircularStdMedium';
                height: 20px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 0px;
                position: absolute;
                bottom: 20px;
            }
            .corner{
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 0 0 78px 82px;
                border-color: transparent transparent #F1F4F4 transparent;
            }
        }
    }
    .join-banner{
        display:none;
        font-family: 'CircularStd';
        margin-left: -20px;
        margin-right: -20px;
        @media (min-width: $screen-sm-min){
            margin-left: 0px;
            margin-right: 0px;
            display: block;
            max-height: 346px;
            overflow: hidden;
        }
        .banner-image{
            img{
                width: 100%;
                height: auto;
                @media (min-width: 1200px){
                    min-height: 346px;
                }
            }
        }
        .banner-text{
            width: auto;
            height: 122px;
            font-family: 'CircularStdBold';
            text-align: center;
            color: #ffffff;
            position: absolute;
            font-weight: 900;
            letter-spacing: 2.1px;
            font-size: 24px;
            top: 55px;
            left: 40px;
            @media (min-width: $screen-sm-min){
                width: 285px;
                font-size: 48px;
                top: 72px;
                left: 54px;
            }
        }
        .banner-button{
            background: #FFF;
            color: #28292a;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 17px;
            position: absolute;
            top: 150px;
            left: 75px;
            @media (min-width: $screen-sm-min){
                top: 230px;
                left: 138px;
            }
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}
.lds-ring > div{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #000 transparent transparent transparent;
    animation: lds-ring 1.5s cubic-bezier(0.5,0,0.5,1) infinite;
}
.lds-ring > div:nth-child(2) {
    animation-delay: .195s;
}
.lds-ring > div:nth-child(3) {
    animation-delay: .39s;
}
.lds-ring > div:nth-child(4) {
    animation-delay: .585s;
}