.login-form{
    position: relative;
    max-width: 358px;
    background: #FFF;
    margin: 0px 0px 20px 0px;
    display: grid;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        display: block;
    }

    @supports (-ms-ime-align:auto) {
        display: block;
    }
    .corner{
        height: 0px;
        border-bottom: 120px solid #000;
        border-left: 120px solid transparent;
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }
    form{
        border: 2px solid #28292a;
    }
    .tab{
        background: #F4F4F4;
        height: 75px;
        position: relative;
        z-index: 9;
        .login-tab{
            width: 170px;
            font-size: 16px;
            line-height: 20px;
            font-family: 'CircularStdMedium';
            color: #28292a;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            .border-replacement{
                display: none;
                width: 167px;
                height: 75px;
                border-bottom: 75px solid #FFF;
                border-right: 86px solid transparent;
                border-left: 0px solid transparent;
                position: absolute;
                top: 2px;
                left: 2px;
            }
            &.active{
                height: 75px;
                border-bottom: 75px solid #28292a;
                border-right: 86px solid transparent;
                border-left: 0px solid transparent;
                .border-replacement{
                    display: block;
                }
            }
            a{
                position: absolute;
                top: 27px;
                left: 25px;
                color: #28292a;
                text-decoration: none;
            }
        }
        .register-tab{
            width: 170px;
            font-size: 16px;
            line-height: 20px;
            font-family: 'CircularStdMedium';
            color: #28292a;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 1;
            .border-replacement{
                display: none;
                width: 167px;
                height: 75px;
                border-bottom: 75px solid #FFF;
                border-right: 0px solid transparent;
                border-left: 86px solid transparent;
                position: absolute;
                top: 2px;
                right: 2px;
            }
            &.active{
                height: 75px;
                border-bottom: 75px solid #28292a;
                border-right: 0px solid transparent;
                border-left: 86px solid transparent;
                .border-replacement{
                    display: block;
                }
            }
            a{
                position: absolute;
                top: 27px;
                right: 25px;
                color: #28292a;
                text-decoration: none;
            }
        }
    }
    form{
        position: relative;
        padding: 30px 25px 20px 25px;
        display: inline-block;
        width: 100%;
        z-index: 1;
        // box-shadow: 0px 0px 15px 0px #ccc;
        &#registration{
            display: none;
        }
        .label{
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 10px;
            color: #000;
            float: left;
            clear: both;
        }
        .input-field{
            width: 100%;
            line-height: 30px;
            font-size: 16px;
            color: #000;
            float: left;
            clear: both;
            margin-bottom: 30px;
            border: 0px;
            border-bottom: 2px solid #eae9ea;
            outline: 0px;
        }
        .login-button{
            background-color: #ffffff;
            border: solid 2px #eae9ea;
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 41px;
            text-align: center;
            width: 100%;
            float: left;
            clear: both;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 0px;
            outline: 0px;
        }
        .forget-pass{
            font-family: 'SFUIDisplay';
            color: #000;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            float: left;
            clear: both;
            input{
                height: 15px;
                width: 15px;
                margin: 0px;
                display: inline-block;
            }
            span.error{
                margin-top: -17px;
                line-height: 14px;
            }
            span{
                a{
                    color: #000;
                    text-decoration: underline;
                }
                line-height: 22px;
                display: inline-block;
            }
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #000;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #000;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #000;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    #000;
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
            color:    #000;
        }

        .error{
            padding: 0px;
            margin-top: -29px;
            float: left;
            font-size: 12px;
            color: #faddd1;
        }
    }
}

a{
    text-decoration: none;
    .social-login{
        max-width: 358px;
        height: 45px;
        background: #FFF;
        font-size: 16px;
        font-family: 'CircularStd';
        line-height: 45px;
        text-align: center;
        margin-bottom: 21px;
        color: #000;
        position: relative;
        text-decoration: none;
        display: none;
        img{
            position: absolute;
            top: 14px;
            left: 22px;
        }
    }
}

.intermediate-text{
    display: none;
    max-width: 358px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'SFUITextLight';
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    display: none;
}