.black-overlay{
    background: #000;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
}

.modal-container{
    display: none;
    width: 100%;
    margin: 50px auto 0px auto;
    height: auto;
    position: absolute;
    z-index: 2001;
    text-align: center;
    .modal-body{
        background: #FFF;
        padding: 35px 50px;
        width: auto;
        display: inline-block;
        .modal-close{
            float: right;
            margin-right: -18px;
            text-align: right;
            .icon-close{
                font-size: 23px;
                color: #BBB;
            }
        }
        .modal-content{
            .title{
                font-family: 'CircularStd';
                line-height: 20px;
                font-size: 16px;
                font-weight: 500;
                text-align: left;
                clear: both;
                color: #000000;
                margin-bottom: 30px;
                margin-top: -6px;
            }
            .cards{
                float: left;
                clear: both;
                width: 100%;
            }
            .box{
                border: solid 1.6px #f4f4f4;
                margin-bottom: 30px;
                float: left;
                margin-right: 40px;

                &:last-child{
                    margin-right: 0px;
                }
                .card{
                    padding: 25px;
                    background: #FFF;
                    position: relative;
                    margin-bottom: 30px;
                    text-align: left;
                    width: 100%;
                    max-width: 345px;
                    @media (min-width: $screen-sm-min){
                        margin-bottom: 0px;
                        min-width: 345px;
                    }
                    .selector{
                        width: 26px;
                        height: 26px;
                        background-color: #FFF;
                        border: solid 2px #28292a;
                        border-radius: 26px;
                        position: absolute;
                        right: 25px;
                        top: 25px;
                        cursor: pointer;
                        &.active{
                            background: #28292a;
                            .glyphicon{
                                display: block;
                                color: #FFF;
                                font-size: 16px;
                                position: absolute;
                                left: 3px;
                                top: 4px;
                            }
                        }
                        .glyphicon{
                            display: none;
                        }
                    }
                    .name{
                        font-family: 'CircularStdBold';
                        line-height: 25px;
                        font-size: 20px;
                        font-weight: bold;
                        color: #28292a;
                        min-height: 50px;
                        margin-bottom: 14px;
                        @media (min-width: $screen-sm-min){
                            line-height: 46px;
                            font-size: 36px;
                            min-height: 92px;
                        }
                    }
                    .address{
                        font-family: 'CircularStdMedium';
                        line-height: 20px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #000000;
                        margin-bottom: 0px;
                    }
                    .remaining-classes{
                        font-family: 'SFUIText';
                        font-size: 16px;
                        line-height: 19px;
                        color: #000;
                        margin-bottom: 25px;
                        span{
                            font-family: 'SFUITextLight';
                        }
                        @media (min-width: $screen-sm-min){
                            margin-bottom: 27px;
                        }
                    }
                    .expiration-date{
                        font-family: 'CircularStdMedium';
                        font-size: 16px;
                        line-height: 20px;
                        color: #000;
                        margin-bottom: 0px;
                        span{
                            font-family: 'SFUITextLight';
                        }
                    }
                    .corner{
                        display: block;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 87px 94px;
                        border-color: transparent transparent #000 transparent;
                    }
                }

            }
            .book-class {
                width: 100%;
                max-width: 345px;
                float: left;
                clear: both;
                background: #212121;
                font-size: 16px;
                text-align: center;
                color: #ffffff;
                font-family: 'CircularStd';
                line-height: 45px;
                border: 0px;
                margin-bottom: 30px;
                outline: 0px;
            }
            .goToPurchase{
                clear: both;
                font-family: 'SFUIText';
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                color: #000000;
            }
        }

    }
}