#teachers-profile{
    position:relative;
    height:auto;
    margin-top: 30px;
    .glyphicon-heart-empty,
    .glyphicon-heart{
        font-size: 19px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .container-sm {
        overflow: hidden;
        width: 100%;
    }
    .profile{
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            margin-bottom: 40px;
            max-width: 590px;
        }
        .box{
            margin-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            .teacher-image{
                max-width: 255px;
                max-height: 346px;
                img{
                    width: 100%;
                    height: auto;
                    margin-bottom: 0px;
                }
            }
            .teacher-profile{
                min-height: 100px;
                margin-left: 16px;
                position: relative;
                .name{
                    font-family: 'CircularStdMedium';
                    font-size: 20px;
                    font-weight: 500;
                    color: #000000;
                    margin-bottom: 20px;
                    max-width: 88px;
                    @media (min-width: $screen-xs-min){
                        font-size: 30px;
                        margin-bottom: 50px;
                    }
                    @media (min-width: $screen-xs-min){
                        font-size: 22px;
                        margin-bottom: 30px;
                    }
                    @media (min-width: $screen-md-min){
                        font-size: 36px;
                        line-height: 49px;
                        margin-bottom: 66px;
                        max-width: 168px;
                    }

                }
                .address{
                    font-family: 'CircularStd';
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                    max-width: 216px;
                }
            }
        }
        .view{
            display: none;
            font-family: 'CircularStd';
            background: #F4F4F4;
            line-height: 40px;
            font-size: 14px;
            color: #000;
            text-align: center;
            padding: 0px 25px;
            position: absolute;
            right: 40px;
            z-index: 10;
            bottom: 20px;
            cursor: pointer;
            @media (min-width: $screen-sm-min){
                bottom: 31px;
                display: block;
            }
            @media (min-width: $screen-md-min){
                right: 77px;
                min-width: 92px;
            }
            &:hover{
                background: #fff0ea;
            }
            a{
                color: #000;
                text-decoration: none;
            }
        }
        .corner{
            height: 0px;
            border-bottom: 70px solid #000;
            border-left: 75px solid transparent;
            position: absolute;
            right: 20px;
            bottom: 0px;
            @media (min-width: $screen-xs-min){
                border-bottom: 100px solid #000;
                border-left: 110px solid transparent;
            }
            @media (min-width: $screen-md-min){
                border-bottom: 140px solid #000;
                border-left: 147px solid transparent;
            }
        }
        .glyphicon{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            color: #000;
            &.icon-favorite-empty{
                font-size: 14px;
            }
        }
    }
    .join-banner{
        display: none;
        font-family: 'CircularStd';
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 40px;
            display: block;
        }
        .banner-image{
            img{
                width: 100%;
                height: auto;
                max-height: 347px;
            }
        }
        .banner-text{
            width: auto;
            height: 122px;
            font-family: 'CircularStdBold';
            text-align: center;
            color: #ffffff;
            position: absolute;
            font-weight: 900;
            letter-spacing: 2.1px;
            font-size: 24px;
            top: 55px;
            left: 40px;
            @media (min-width: $screen-sm-min){
                width: 285px;
                font-size: 48px;
                top: 72px;
                left: 54px;
            }
        }
        .banner-button{
            background: #FFF;
            color: #28292a;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 17px;
            position: absolute;
            top: 150px;
            left: 75px;
            @media (min-width: $screen-sm-min){
                top: 230px;
                left: 138px;
            }
        }
    }
}


.preloader {
    display: none;
    position: relative;
    margin: 25px auto 0 auto;
    width: 60px;
    height: 60px;
}


.social-media {
    position: absolute;
    bottom: 16px;
    left: calc(50% + 16px);
    span{
        float: left;
        font-size: 13px;
        margin-right: 15px;
        color: #000;
        cursor: pointer;
        @media (min-width: $screen-sm-min){
            margin-right: 20px;
        }
        a{
            color: #000;
        }
    }
}