//
// Variables overwrite
// --------------------------------------------------
$icon-font-path: "./../../../../../vendor/twbs/bootstrap-sass/assets/fonts/bootstrap/";

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #faddd1 !default; // #faddd1
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-base;
$navbar-inverse-bg:                         #FFFFFF;
$navbar-inverse-border:                     #F1F1F1;

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-base;
$navbar-inverse-link-hover-color:           $gray-base;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $gray-base;
$navbar-inverse-link-active-bg:             transparent;
$navbar-inverse-link-disabled-color:        $gray-base;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          $gray-base;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;

$grid-gutter-width:         40px !default;
// Large screen / wide desktop
$container-tablet:             100% !default;
$container-desktop:            100% !default;
$container-large-desktop:      (1280px + $grid-gutter-width) !default;
$screen-lg:                    1321px !default;