@import'base';
@import 'footer';
@import 'header';

.banner{
    @media (min-width: $screen-lg-min){
        padding-left: 0px !important;
    }
    #show-glow{
        background: url('/images/about-main_mobile.jpg') no-repeat top center;
        background-size: 375px;
        height: 313px; 
        color: #FFF; 
        font-family: 'CircularStdMedium';
        margin: 0px -20px 55px -20px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background: url('/images/about-main_mobile.jpg') no-repeat top right;
            background-size: 768px;
            height: 550px;
            margin: 0px -20px 100px -20px;
        }
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            background: url('/images/about-main.jpg') no-repeat top right;
            background-size: 1280px;
            padding: 139px 0px 0px 0px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 1300px;
            margin: 0px 0px 100px 0px;
        }
    }
    #show-glow-training{
        background: url('/images/about-main-training_mobile.jpg') no-repeat top center;
        background-size: 375px;
        height: 313px;
        color: #FFF;
        font-family: 'CircularStdMedium';
        margin: 0px -20px 55px -20px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background: url('/images/about-main-training_mobile.jpg') no-repeat top right;
            background-size: 768px;
            height: 550px;
            margin: 0px -20px 100px -20px;
        }
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            background: url('/images/about-main-training.jpg') no-repeat top right;
            background-size: 1280px;
            padding: 139px 0px 0px 0px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 1300px;
            margin: 0px 0px 100px 0px;
        }
    }
    #what-glow{
        background: $brand-primary;
        height: auto; 
        color: #FFF; 
        margin: 0px -20px 0px -20px;
        font-family: 'CircularStdBold';
        font-size: 44px; 
        text-align: center;
        padding: 92px 0px; 
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            font-size: 70px;
        }
        @media (min-width: $screen-sm-min){
            font-size: 90px;
        }
        @media (min-width: $screen-md-min){
            padding: 92px 0px;
            font-size: 144px;
            line-height: 183px;
            
        }
        @media (min-width: $screen-lg-min){
            margin: 0px ;
        }
    }
    #about-teachers{
        background: url('/images/about-our-teachers_mobile.jpg') no-repeat top center;
        background-size: 375px;
        height: 261px;
        margin: 0px -20px 55px -20px;
        @media (min-width: $screen-sm-min){
            background: url('/images/about-our-teachers_big.jpg') no-repeat top center;
            height: 480px;
            background-size: 1081px;
            margin: 0px 0px 100px 0px;
        }
    }
}

.about-text-section{
    color: #000;
    max-width: 800px;
    margin: 0px auto 55px auto;
    @media (min-width: $screen-sm-min){
        margin: 0px auto 100px auto;
    }
    .title{
        font-family: 'CircularStdMedium';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            font-size: 36px;
            line-height: 46px;
        }
    }
    .text{
        font-family: 'SFUITextLight', Helvetica;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0px;
        }
        @media (min-width: $screen-sm-min){
            font-size: 16px;
            line-height: 20px;
        }
        a{
            color: #000;
            font-family: SFUIDisplay;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}


#about{
    margin: 50px auto 100px auto;
    @media (max-width: $screen-sm-min){
        margin: 0px auto 50px auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: $screen-sm-min){
            flex-direction: column;
        }
        #what-glow{
            display: flex;
            justify-content: center;
            align-items: center;
            background: $brand-primary;
            color: #FFF;
            font-family: 'CircularStdBold';
            font-size: 44px;
            text-align: center;
            padding: 50px 0px;
            text-transform: uppercase;
            @media (max-width: $screen-sm-min){
                margin-bottom: 40px;
                order: 1;
            }
        }
        .tt{
            @media (max-width: $screen-sm-min){
                order: 2;
            }
        }
        .tx{
            @media (max-width: $screen-sm-min){
                order: 3;
            }
        }
    }
    .title{
        font-family: 'CircularStdMedium';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            font-size: 36px;
            line-height: 46px;
        }
    }
    .text{
        font-family: 'SFUIText';
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        margin-bottom: 25px;
        a{
            color: #000;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}
.team-section{
    .title{
        font-family: 'CircularStdMedium';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            font-size: 36px;
            line-height: 46px;
        }
    }
    .team{
        width: 100%;
        display: flex;
        margin-bottom: 100px;
        flex-wrap: wrap;
        .image{
            padding-left: 0px;
            img{
                width: 100%;
                height: auto;
            }
            @media (max-width: $screen-sm-min){
                padding-right: 0px;
                margin-bottom: 20px;
            }
        }
        .desc{
            @media (max-width: $screen-sm-min){
                padding: 0px;
            }
            .name{
                font-family: 'CircularStdMedium';
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 0px;
            }
            .job{
                font-size:  18px;
                margin-bottom: 20px;
                font-family: 'CircularStd';
            }
            .quote{
                background: $brand-primary;
                font-style: italic;
                margin-top: 30px;
                text-align: center;
                padding: 20px 0px;
                color: #333;
            }
            p{
                font-family: 'SFUIText';
                font-size: 16px;
                line-height: 25px;
                font-weight: 300;
                color: #333;
            }
        }

    }
}