@import'base';
@import 'footer';
@import 'header';

.intro{
  padding: 70px 0px 65px 0px;
  @media (min-width: $screen-sm-min){
    padding: 110px 0px 100px 70px;
  }
  .intro-text{
    font-family: 'CircularStdBold';
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: #1a1d20;
    margin-bottom: 40px;
    @media (min-width: $screen-sm-min){
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 50px;
      max-width: 725px;
    }
    .brand-primary{
      color: $brand-primary;
    }
    span{
      font-family: 'CircularStd';
      font-weight: 300;
    }
    a{
      color: #f3aa8c;
    }
  }
  .search{
    position: relative;
    width: 100%;
    @media (min-width: $screen-sm-min){
      box-shadow: 0 0 10px 2px #f1f1f1;
      border: 1px solid #F1f1f1;
      display: inline-table;
      border-radius: 3px;
      outline: 0px;
      width: auto;
    }
    form{
      >div{
        float: left;
      }
      .search-teacher{
        width: 100%;
        border-radius: 1.9px;
        background-color: #ffffff;
        box-shadow: 0 0 3px 1px #f1f1f1;
        border: solid 0.6px #f1f1f1;
        font-size: 16px;
        line-height: 20px;
        padding: 0px 15px;
        margin-bottom: 20px;
        outline: 0px;
        height: 50px;
        @media (min-width: $screen-sm-min){
          width: 329px;
          height: 80px;
          line-height: 20px;
          color: #061426;
          padding: 0px 35px;
          border: 0px;
          margin-bottom: 0px;
        }
      }

      .submit-search{
        width: 100%;
        background-color: #28292a;
        font-family: 'CircularStd';
        font-size: 16px;
        line-height: 44px;
        color: #939494;
        border: 0px;
        text-align: center;
        display: inline-block;
        padding: 5px 25px;
        @media (min-width: $screen-sm-min){
          width: 127px;
          margin-right: 23px;
          text-decoration: none;
          margin-top: 12px;
        }
      }
    }

  }
}
.navbar{
  height: 67px !important;
}
#navbar{
  display:none !important;
}
.footer{
  position: fixed;
  bottom: 0px;
}
.form-message {
  margin-left: 10px;
  margin-top: 6px;
  color: red;
}