@import 'base';
@import 'footer';
@import 'header';


.checkout-area{
    margin-top: 30px;
    @media (min-width: $screen-sm-min){
        margin-top: 50px;
    }
    .container-lg{
        @media (min-width: $screen-sm-min){
            margin: auto;
            max-width: 853px;
            padding-left: 50px;
        }
    }
    .billing-area{
        width: 100%;
        float: left;
        @media (min-width: $screen-sm-min) {
            width: 50%;
            max-width: 308px;
            margin-right: 100px;
        }
        .form-title{
            font-family: 'CircularStdMedium';
            font-size: 19px;
            line-height: 24px;
            font-weight: 500;
            color: #1e1e1e;
            margin-bottom: 25px;
            float: left;
            clear: both;
            &.inline{
                margin-top: 10px;
                @media (min-width: $screen-md-min){
                    margin-top: 30px;
                }
            }
        }
        form{
            clear: both;
            max-width: 800px;
            margin-bottom: 75px;
            .inputs{
                width: 100%;
                float: left;
                @media (min-width: $screen-md-min){
                    margin-right: 80px;
                    max-width: 308px;
                }
            }
            .half-input{
                float: left;
                position: relative;
                margin-right: 20px;
                width: calc(50% - 10px);
                @media (min-width: $screen-sm-min){
                    width: auto;
                    float: left;
                    margin-right: 30px;
                    position: relative;
                }
                &.last{
                    margin-right: 0px;
                }
                .icon-ccv-help{
                    font-size: 20px;
                    color: #BBB;
                    position: absolute;
                    bottom: 30px;
                    right: 15px;
                    z-index: 100;
                    .bubble{
                        position: absolute;
                        top: 278px;
                        left: 285px;
                        font-family: 'CircularStd';
                        font-size: 16px;
                        color: #000000;
                        display: none;
                        .content{
                            background: #FFF;
                            padding: 18px 20px 10px 20px;
                            position: absolute;
                            bottom: 30px;
                            right: 0px;
                            white-space: nowrap;
                            border: 1px solid #dedede;
                            text-align: center;
                            img{
                                max-width: 264px;
                            }
                        }
                        .arrow{
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid #FFF;
                            position: absolute;
                            bottom: 235px;
                            left: -285px;
                            .after{
                                border-left: 12px solid transparent;
                                border-right: 12px solid transparent;
                                border-bottom: 13px solid #dedede;
                                top: -3px;
                                left: -12px;
                                z-index: -1;
                                position: absolute;
                            }
                        }
                    }
                }

            }
            .text-field{
                font-family: 'CircularStd';
                background: #FFF;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 20px;
                padding: 10px 0px;
                width: 100%;
                border: 0px;
                border-bottom: 2px solid #edeced;
                outline: 0px;
                color: #1f1f1f;;
                @media (min-width: $screen-md-min){
                    margin-right: 80px;
                    float: left;
                    width: 308px;
                }
            }
            .half-text-field{
                font-family: 'CircularStd';
                background: #FFF;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 20px;
                padding: 10px 0px;
                border: 0px;
                border-bottom: 2px solid #edeced;
                outline: 0px;
                color: #1f1f1f;
                margin-right: 0px;
                float: left;
                width: 100%;
                @media (min-width: $screen-md-min){
                    float: left;
                    width: 139px;
                }
                &#checkout_year{
                    margin-right: 0px;
                }
            }

            .error{
                 padding: 0px;
                 margin-top: -19px;
                 float: left;
                 font-size: 12px;
                 color: #faddd1;
                 width: 100%;
             }
            .half-error{
                padding: 0px;
                margin-top: -19px;
                float: left;
                font-size: 12px;
                color: #faddd1;
                width: 100%;
                max-width: 139px;
                clear:both;
            }
            .country-select{
                position: relative;
                display: initial;
                .btn-search{
                    font-family: 'CircularStd';
                    width: 100%;
                    border-radius: 1.9px;
                    background-color: #ffffff;
                    box-shadow: 0 0 3px 1px #f1f1f1;
                    border: 0px;
                    border-bottom: 2px solid #edeced;
                    font-size: 16px;
                    line-height: 50px;
                    padding: 0px;
                    margin-bottom: 20px;
                    text-align: left;
                    position: relative;

                    > label {
                        margin: 0;
                        font-weight: normal;
                    }

                    .caret{
                        position: absolute;
                        top: 18px;
                        right: 15px;
                        border-top: 7px dashed;
                        border-right: 6px solid transparent;
                        border-left: 6px solid transparent;
                    }
                    @media (min-width: $screen-sm-min){
                        max-width: 308px;
                        font-size: 16px;
                        line-height: 40px;
                        color: #061426;
                        background: #FFF;
                        border-radius: 0px;
                        box-shadow: 0px 0px 0px 0px #FFF;
                    }
                }
                .dropdown-menu{
                    width: 100%;
                    position: absolute;
                    top: 34px;
                    left: 0px;
                    border: solid 1px #f1f1f1;
                    border-radius: 0px;
                    padding: 30px 35px;
                    margin: 0px;
                    max-height: 246px;
                    overflow-y: scroll;
                    box-shadow: 0 7px 15px 3px rgba(241, 241, 241, 0.46);
                    @media (min-width: $screen-sm-min){
                        width: 328px;
                        left: -20px;
                        top: 28px;

                    }
                    li{
                        font-family: 'CircularStdMedium';
                        font-size: 19px;
                        line-height: 24px;
                        font-weight: 500;
                        color: #a8a8a8;
                        padding: 0px;
                        margin-bottom: 30px;
                        &:hover{
                            color: #000;
                            background: #FFF;
                        }
                        &.active{
                            color: #000;
                        }
                        &:last-child{
                            a{
                                margin-bottom: 0px;
                            }
                        }
                        a{
                            font-family: 'CircularStdMedium';
                            font-size: 19px;
                            line-height: 24px;
                            font-weight: 500;
                            color: #a8a8a8;
                            padding: 0px;
                            margin-bottom: 30px;
                            &:hover{
                                color: #000;
                                background: #FFF;
                            }
                            &.active{
                                color: #000;
                            }
                        }
                    }
                }
            }

        }
    }
    .cart{
        width: 100%;
        float: left;
        @media (min-width: $screen-sm-min){
            width: 50%;
            max-width: 345px;
            margin-bottom: 30px;
        }
        .cart-box{
            width: 100%;
            border: solid 1px #edeced;
            float: left;
            padding: 20px 20px 30px 20px;
            margin-bottom: 30px;
            @media (min-width: $screen-sm-min){
                max-width: 345px;
            }
            .cart-item{
                padding: 20px 0px;
                border-bottom: 1px solid #f1f1f1;
                font-family: 'CircularStd';
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #212121;
                position: relative;
                .subscription-name{
                    font-family: 'CircularStdBold';
                    margin: 0px;
                }
                .subscription-location{
                    margin-bottom: 0px;
                }
                .icon-close{
                    color: #bbb;
                    font-size: 16px;
                    position: absolute;
                    right: 8px;
                    top: 20px;
                }
            }
            .tax-item{
                padding: 30px 0px;
                border-bottom: 1px solid #F1F1F1;
                font-size: 16px;
                line-height: 20px;
                color: #212121;
                .text{
                    font-family: 'CircularStdmedium';
                    width: 45%;
                    margin-bottom: 0px;
                    display: inline-block;
                }
                .value{
                    font-family: 'SFUITextLight';
                    text-align: right;
                    width: 50%;
                    margin-bottom: 0px;
                    display: inline-block;
                }
            }
            .total-item{
                padding: 35px 0px 0px 0px;
                color: #212121;
                font-family: 'CircularStdmedium';
                .text{
                    font-size: 16px;
                    line-height: 20px;
                    width: 45%;
                    margin-bottom: 0px;
                    display: inline-block;
                }
                .value{
                    font-size: 19px;
                    line-height: 24px;
                    text-align: right;
                    width: 50%;
                    margin-bottom: 0px;
                    display: inline-block;
                }
            }
        }
        .purchase-button {
            font-family: 'CircularStd';
            background-color: #212121;
            font-size: 16px;
            line-height: 45px;
            text-align: center;
            color: #ffffff;
            width: 100%;
            display: inline-block;
            margin-bottom: 55px;
        }
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a8a8a8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a8a8a8;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a8a8a8;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #a8a8a8;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #a8a8a8;
}