@import 'base';
@import 'footer';
@import 'header';

.container-md{
    @media (min-width: $screen-sm-min){
        margin: 0px 125px;
    }
}
.contact-area{
    background: #28292a;
    padding-top: 45px;
    padding-bottom: 25px;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    @media (min-width: $screen-sm-min){
        padding-left: 0px;
        padding-right: 0px;
    }
    @media (min-width: $screen-lg-min){
        margin-left: -20px;
        margin-right: 0px;
    }
    .title{
        font-family: 'CircularStdBold';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 30px;
        letter-spacing: 1.6px;
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            font-size: 36px;
            line-height: 46px;
            font-weight: 900;
            letter-spacing: 1.6px;
        }
    }
    .text{
        font-family: 'SFUITextLight', Helvetica;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 30px;
        @media (min-width: $screen-sm-min){
            max-width: 800px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
	        line-height: 1.32;
            margin-bottom: 51px;
        }
    }
    .form-title{
        font-family: 'CircularStd';
        font-size: 19px;
        line-height: 24px;
        font-weight: 500;
        color: #FFF;
        margin-bottom: 20px;

    }
    form{
        clear: both;
        max-width: 800px;
        margin-bottom: 75px;
        .inputs{
            width: 100%;
            float: left;
            @media (min-width: $screen-md-min){
                margin-right: 80px;
                max-width: 308px;
            }
        }
        .message{
            width: 100%;
            float: left;
            margin-top: 17px;
            @media (min-width: $screen-md-min){
                max-width: 308px;
            }
        }
        .text-field{
            font-family: 'CircularStd';
            background: #28292a;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px;
            padding: 10px 0px;
            width: 100%;
            border: 0px;
            border-bottom: 2px solid #3c3d3e;
            outline: 0px;
            @media (min-width: $screen-md-min){
                margin-right: 80px;
                float: left;
                width: 308px;
            }
            &:focus{
                border-bottom: 2px solid #FFF;
            }
        }
        .message-field{
            outline: 0px;
            font-family: 'CircularStd';
            background: #28292a;
            font-size: 16px;
            line-height: 20px;
            width: 100%;
            margin-bottom: 20px;
            margin-top: -17px;
            padding-top: 12px;
            border: 0px;
            border-bottom: 2px solid #3c3d3e;
            resize: none;
            height: 104px;
            @media (min-width: $screen-md-min){
                float: right;
                width: 308px;
            }
            &:focus{
                border-bottom: 2px solid #FFF;
            }
        }

        .submit{
            font-family: 'CircularStd';
            font-size: 16px;
            text-align: center;
            line-height: 45px;
            width: 100%;
            background: #FFF;
            color: #28292a;
            border: 0px;
            clear: both;
            padding: 0px;
            margin-top: 10px;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            @media (min-width: $screen-md-min){
                max-width: 308px;
                margin-left: 388px;
            }
        }
        .error{
            padding: 0px;
            margin-top: -19px;
            float: left;
            font-size: 12px;
            color: #faddd1;
        }
    }
}