@import'base';
@import 'footer';
@import 'header';

.forgot-password-container {
  margin-top: 60px;

  @media (min-width: $screen-sm) {
    margin-top: 125px;
  }

  .form-area {
    min-height: 500px;

    .form-text {
      max-width: 381px;
      color: #1e1e1e;
    }

    .form-title {
      font-family: 'CircularStdMedium';
      font-size: 32px;
      font-weight: 500;
      margin: 0;

      @media (min-width: $screen-sm) {
        font-size: 36px;
      }
    }

    .form-desc {
      font-family: 'CircularStd';
      font-size: 16px;
      margin: 8px 0 0 0;
    }

    form {
      margin-top: 20px;
      padding: 18px 20px;
      width: 100%;
      max-width: 545px;
      box-shadow: 0 0 10px 2px #f1f1f1;
      border: solid 1px #f1f1f1;
      overflow: hidden;

      > div {
        float: left;

        .input-field {
          width: 100%;
          border-radius: 1.9px;
          background-color: #ffffff;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 20px;
          outline: 0;
          height: 50px;
          border: 0;
          padding: 0 0 0 15px;

          @media (min-width: $screen-sm-min){
            width: 329px;
            height:46px;
            line-height: 20px;
            color: #061426;
            margin-bottom: 0;
          }
        }
      }

      .btn-send {
        float: left;
        width: 100%;
        height: 45px;
        background-color: #28292a;
        font-family: 'CircularStd';
        font-size: 16px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        display: inline-block;
        border: 0;
        outline:0;

        @media (min-width: $screen-sm-min){
          width: 127px;
          float: right;
          text-decoration: none;
        }
      }

      .form-errors {
        ul {
          margin: 0;
          padding: 0 0 0 15px;
          list-style: none;
          color: #b00d10;
        }
      }
    }
  }
}

.change-password-container {
  margin-top: 50px;
  margin-left: 0;
  min-height: 500px;

  @media (min-width: $screen-sm) {
    margin-left: 295px;
  }

  .form-title {
    font-family: 'CircularStdMedium';
    font-size: 19px;
    font-weight: 500;
    color: #28292a;
  }

  form {
    max-width: 310px;
    margin-top: 30px;

    > div {
      float: left;

      ul {
        display: none;
      }
    }
  }

  input[type=password] {
    font-family: 'CircularStd';
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #edeced;
    outline: 0;

    &::placeholder {
      color: #a8a8a8;
    }

    @media (min-width: $screen-md-min){
      margin-right: 80px;
      float: left;
      width: 308px;
      margin-bottom: 19px;
    }
  }

  .form-errors {
    clear: both;

    ul {
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      list-style: none;
      color: #b00d10;
    }
  }

  .btn-submit{
    font-family: 'CircularStd';
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    width: 100%;
    background: #f4f4f4;
    color: #1e1e1e;
    border: 0;
    clear: both;
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    outline: 0;

    @media (min-width: $screen-md-min){
      max-width: 308px;
      clear: both;
    }
  }
}