@import'base';
@import 'footer';
@import 'header';
#guides{
    background: #F4F4F4;
    font-family: 'SFUITextLight';
    margin-top: 0px;
    @media (min-width: $screen-sm-min){
        padding-top: 50px;
        padding-bottom: 45px;
    }
    @media (min-width: $screen-lg-min){
        margin-right: 0px;
    }
    .legal-nav{
        height: 64px;
        background: #28292a;
        margin: 0px -20px;
        position: relative;
        @media (min-width: $screen-sm-min){
            margin: 0px;
            background: #FFF;
            height: auto;
        }
        .legal-nav-mobile{
            display: block;
            font-family: 'CircularStdMedium';
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            color: #ffffff;
            padding: 20px 20px 22px 20px;
            @media (min-width: $screen-sm-min){
                display: none;
            }
            .glyphicon-chevron-down{
                float: right;
                top: 5px;
            }
        }
        .mobile-dropdown{
            display: none;
            background: #28292a;
            height: auto;
            width: 100%;
            padding-top: 20px;
            position: absolute;
            top: 0px;
            left: 0px;
            @media (min-width: $screen-sm-min){
                display: block;
                background: #F4F4F4;
                padding-top: 0px;
            }
            .icon-close{
                position: absolute;
                top: 25px;
                right: 20px;
                font-size: 13px;
                color: #FFF;
                @media (min-width: $screen-sm-min){
                    display: none;
                }
            }
            a{
                font-family: 'CircularStdMedium';
                font-size: 17px;
                line-height: 22px;
                font-weight: 500;
                color: #8e8f8f;
                margin-bottom: 20px;
                margin-left: 20px;
                text-decoration: none;
                float: left;
                clear: both;
                &.active{
                    color: #FFF;
                }
                @media (min-width: $screen-sm-min){
                    font-size: 19px;
                    line-height: 24px;
                    color: #a8a8a8;
                    margin-bottom: 30px;
                    margin-left: 0px;
                    &.active{
                        color: #000;
                    }
                }
            }
        }
        
    }
    .resources-content{
        margin-top: 30px;
        @media (min-width: $screen-sm-min){
            margin-top: 0px;
            padding-left: 80px;
        }
        .title{
            line-height: 25px;
            font-family: 'CircularStdBold';
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 0.5px;
            color: #28292a;
            text-transform: uppercase;
            margin: 0px 0px 20px 0px;
            clear: both;
            @media (min-width: $screen-sm-min){
                font-size: 36px;
                line-height: 45px;
                letter-spacing: 1.6px;
                float: left;
                clear: both;
                margin-bottom: 30px;
            }
        }
        .logo-area{
            float: left;
            clear: both;
            .subtitle{
                font-family: 'CircularStdMedium';
                font-size: 17px;
                line-height: 22px;
                font-weight: 500;
                letter-spacing: 0.7px;
                color: #1e1e1e;
                margin-bottom: 20px;
                clear: both;
                @media (min-width: $screen-sm-min){
                    margin-bottom: 30px;
                    font-size: 19px;
                    line-height: 24px;
                }
            }
            .section{
                font-family: 'CircularStd';
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.7px;
                color: #28292a;
                margin-bottom: 10px;
                clear: both;
            }
            .content{
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 25px;
                font-weight: 300;
                color: #28292a;
                margin-bottom: 20px;
                @media (min-width: $screen-sm-min){
                    margin-bottom: 30px;
                }
            }
            .logo-box{
                float: left;
                clear: both;
                margin-bottom: 20px;
                @media (min-width: $screen-sm-min){
                    clear: none;
                    margin-right: 80px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    margin-bottom: 30px;
                }
                img{
                    width: 200px;
                    height: 150px;
                    float: left;
                    margin-bottom: 10px;
                }
                .name{
                    font-family: 'CircularStd';
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.7px;
                    color: #28292a;
                    float: left;
                    clear: both;
                    margin-bottom: 4px;
                }
                .desc{
                    max-width: 200px;
                    font-family: 'SFUITextLight';
                    font-size: 16px;
                    line-height: 25px;
                    font-weight: 300;
                    color: #1e1e1e;
                    float: left;
                    clear: both;
                    margin: 0px;
                }
            }
            .size-box{
                margin-bottom: 30px;
                @media (min-width: $screen-sm-min){
                    margin-bottom: 50px;
                }
                img{
                    &.large{
                        width: 334px;
                        height: 131px;
                        @media (min-width: $screen-sm-min){
                            width: 431px;
                            height: 170px;
                        }
                    }
                    &.medium{
                        width: 248px;
                        height: 170px;
                    }
                    &.small{
                        width: 208px;
                        height: 141px;
                    }
                    max-width: 100%;
                    height: auto;
                }
            }
            .font-box{
                width: 180px;
                height: 120px;
                border: solid 1px #bbbbbb;
                float: left;
                clear: both;
                margin-bottom: 20px;
                text-align: center;
                padding: 35px 0px;
                @media (min-width: $screen-sm-min){
                    clear: none;
                    margin-right: 20px;
                    margin-bottom: 30px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
                .example{
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: 900;
                    text-align: center;
                    color: #28292a;
                    margin-bottom: 10px;
                }
                .name{
                    font-family: Helvetica;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    color: #a8a8a8;
                }
                .light{
                    font-family: 'CircularStd';
                }
                .medium{
                    font-family: 'CircularStdMedium';
                }
                .bold{
                    font-family: 'CircularStdBold';
                }
                .ultralight{
                    font-family: 'SFUITextLight';
                }
            }
            .download{
                background: #FFF;
                width: 195px;
                height: 45px;
                font-family: 'CircularStd';
                font-size: 16px;
                line-height: 45px;
                text-align: center;
                color: #28292a;
                float: left;
                clear: both;
                margin-bottom: 20px;
                @media (min-width: $screen-sm-min){
                    margin-bottom: 50px;
                }
            }
            .half-row{
                width: 100%;
                @media (min-width: $screen-sm-min){
                    width: 45%;
                    float: left;
                    max-width: 355px;
                    margin-right: 80px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

.container-md{
    @media (min-width: $screen-sm-min){
        padding: 0px 105px;
    }
}
.last{
    
    @media (min-width: 1260px){
        margin-right: 0px !important;
    }
}