@import'base';
@import 'footer';
@import 'header';
@import 'listing';
@import 'modalMembership';
@import 'login';


.banner{
    padding: 0px;
    @media (min-width: $screen-lg-min){
        padding-left: 20px;
        padding-right: 20px;
    }
    .row{
        margin: 0px;
        @media (min-width: $screen-lg-min){
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    .col-xs-12{
        padding: 0px;
        @media (min-width: $screen-lg-min){
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    #get-it-done{
        font-family: 'CircularStdBold';
        background: url('/images/get-it-done_mobile.jpg') no-repeat 0px 0px;
        background-size: 375px;
        height: 246px;
        color: #000;
        font-size: 20px;
        line-height: 25px;
        text-align: left;
        padding: 105px 0px 0px 20px;
        margin-bottom: 45px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background-size: 768px;
            height: 339px;
            padding: 100px 0px 0px 20px;
            margin: 0px 0px 51px 0px;
            font-size: 40px;
        }
        @media (min-width: $screen-sm-min){
            background: url('/images/get-it-done.jpg') no-repeat -70px 0px;
            background-size: 1140px;
            height: 447px;
            padding: 139px 0px 0px 71px;
            margin: 0px 0px 51px 0px;
            font-size: 48px;
            line-height: 61px;
        }
        @media (min-width: $screen-md-min){
            background: url('/images/get-it-done.jpg') no-repeat 70px 0px;
            background-size: 1140px;
            padding: 182px 0px 203px 71px;
            margin: 0px 0px 51px 0px;
        }
        @media (min-width: $screen-lg-min){
            background: url('/images/get-it-done.jpg') no-repeat 50px 0px;
            background-size: 1140px;
        }
    }

    #glow-has-come{
        background: url('/images/glow-has-come_mobile.jpg') no-repeat bottom center;
        background-size: 375px;
        height: 500px;
        color: #FFF;
        text-align: center;
        padding: 30px 0px 0px 0px;
        margin-bottom: 50px;
        margin-top: 54px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background: url('/images/glow-has-come.jpg') no-repeat 0px 0px;
            background-size: 704px;
            height: 476px;
            padding: 47px 0px 0px 0px;
            margin: 54px 0px 72px 0px;
        }
        @media (min-width: $screen-sm-min){
            height: 549px;
            background: url('/images/glow-has-come.jpg') no-repeat top right;
            background-size: 730px;
            padding: 47px 0px 0px 0px;
        }
        @media (min-width: $screen-md-min){
            background-size: 811px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 811px;

        }
        .intro-text{
            font-family: 'CircularStdBold';
            font-size: 28px;
            line-height: 36px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding: 0px 20px;
            width: auto;
            max-width: 300px;
            @media (min-width: $screen-md-min){
                width: 560px;
                max-width: 560px;
                padding-left: 70px;
                font-size: 64px;
                line-height: 81px;
            }
        }
        .brand-primary{
            color: $brand-primary;
        }
    }
}

.teachersList{
    .box{
        margin-bottom: 30px;
        
        @media (min-width: $screen-sm-min){
            margin-bottom: 0px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}

.login-area{
    height: 672px;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 110px;
    background: url('/images/login_bckg.jpg') no-repeat;
    @media (min-width: $screen-sm-min){
        padding-left: 70px;
    }
    @media (min-width: $screen-lg-min){
        margin-left: 0px;
    }
    .intro-text{
        font-family: 'CircularStdBold';
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 60px;
        font-weight: 900;
        text-align: left;
        text-transform: uppercase;
        color: #ffffff;
        span{
            color: #faddd1;
        }
        @media (min-width: $screen-sm-min){
            font-size: 64px;
            line-height: 81px;
        }
    }
}
.subscription-area{
    .subscription-title{
        font-family: 'CircularStdMedium';
        font-size: 19px;
        line-height: 24px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 20px;
    }
    #subscription{
        width: 100%;
        max-width: 512px;
        background: #FFF;
        height: 50px;
        border-radius: 3px;
        padding: 0px;
        @media (min-width: $screen-sm-min){
            height: 80px;
            padding: 17px 20px 17px 0px;
        }
        div{
            float: left;
            #subscription_email{
                width: 100%;
                border-radius: 1.9px;
                background-color: #ffffff;
                font-size: 16px;
                line-height: 20px;
                padding: 0px 15px;
                margin-bottom: 20px;
                outline: 0px;
                height: 50px;
                border: 0px;
                @media (min-width: $screen-sm-min){
                    width: 329px;
                    height:46px;
                    line-height: 20px;
                    color: #061426;
                    padding: 0px 25px 0px 35px;
                    border: 0px;
                    margin-bottom: 0px;
                }
            }
        }
        .sign-up{
            float: left;
            width: 100%;
            background-color: #28292a;
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 40px;
            color: #FFF;
            text-align: center;
            display: inline-block;
            border: 0px;
            
            @media (min-width: $screen-sm-min){
                width: 127px;
                float: right;
                text-decoration: none;
            }
        }
    }
    
}


.mkt-banner{
    width: 100%;
    background: #FFF;
    border-bottom: 232px solid #F1F4F4;
    border-right: 232px solid transparent;
    .mkt-banner-text{
        font-family: 'CircularStdBold';
        color: #1e1e1e;
        font-size: 30px;
        font-weight: 900;
        line-height: 35px;
        position: absolute;
        top: 80px;
        left: 40px;
        text-align: left;
        text-transform: uppercase;
        @media (min-width: $screen-xs-min){
            font-size: 48px;
            line-height: 61px;
            top: 53px;
            left: 80px;
        }
    }
}

.login-overlay{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1000;
    .overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        background: #FFF;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .login-area-container{
        margin: auto;
        width: 100%;
        max-width: 358px;
        margin-top: 30px;
        position: relative;
        background: none;
        .login-area{
            background: none;
            padding-top: 0px;
            padding-left: 0px;
        }
        .login-form{
            margin: 0px auto 20px 0px;
        }
        .close-login{
            text-align: right;
            margin: auto;
            font-size: 24px;
            padding: 20px 0px 30px 0px;
            color: #bbb;
            cursor: pointer;
        }
        a{
            .social-login{
                border: solid 2px #eae9ea;
            }
        }
    }
    .intermediate-text{
        color: #28292a;
    }

}