@import 'base';
@import 'footer';
@import 'header';
@import 'homeTeachersList';
@import 'homeStudiosList';
@import 'homeCitiesList';
@import 'listing';
@import 'swiper';



.intro{
    padding: 70px 0px 65px 0px;
    @media (min-width: $screen-sm-min){
        padding: 110px 0px 100px 50px;
    }
    .intro-text{
        font-family: 'CircularStdBold';
        font-size: 24px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: normal;
        color: #1a1d20;
        margin-bottom: 40px;
        @media (min-width: $screen-sm-min){
            font-size: 48px;
            line-height: 61px;
            margin-bottom: 50px;
        }
        .brand-primary{
            color: $brand-primary;
        }
        span{
            font-family: 'CircularStd';
            font-weight: 300;
        }
    }
    .search{
        position: relative;
        @media (min-width: $screen-sm-min){
            box-shadow: 0 0 10px 2px #f1f1f1;
            border: 1px solid #F1f1f1;
            display: inline-table;
            border-radius: 3px;
            outline: 0px;
        }
        
        .search-teacher{
            width: 100%;
            border-radius: 1.9px;
            background-color: #ffffff;
            box-shadow: 0 0 3px 1px #f1f1f1;
            border: solid 0.6px #f1f1f1;
            font-size: 16px;
            line-height: 20px;
            padding: 0px 15px;
            margin-bottom: 20px;
            outline: 0px;
            height: 50px;
            @media (min-width: $screen-sm-min){
                width: 329px;
                height: 80px;
                line-height: 20px;
                color: #061426;
                padding: 0px 25px 0px 35px;
                border: 0px;
                border-right: 1px solid #F1F1F1;
                margin-bottom: 0px;
            }
        }
        .btn-search{
            font-family: 'CircularStd';
            width: 100%;
            border-radius: 1.9px;
            background-color: #ffffff;
            box-shadow: 0 0 3px 1px #f1f1f1;
            border: solid 0.6px #f1f1f1;
            font-size: 16px;
            line-height: 50px;
            padding: 0px 15px;
            margin-bottom: 40px;
            text-align: left;
            position: relative;

            > label {
                margin: 0;
                font-weight: normal;
            }

            .caret{
                position: absolute;
                top: 25px;
                right: 15px;
                border-top: 7px dashed;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }
            @media (min-width: $screen-sm-min){
                width: 274px;
                font-size: 16px;
                line-height: 80px;
                padding: 0px 35px;
                color: #061426;
                background: #FFF;
                border-radius: 0px;
                border: 0px;
                margin-bottom: 0px;
                box-shadow: 0px 0px 0px 0px #FFF;
                .caret{
                    margin-left: 45px;
                    position: static;
                }
            }
        }
        .dropdown-menu{
            width: 100%;
            position: absolute;
            top: 120px;
            left: 0px;
            box-shadow: 0 7px 15px 3px rgba(241, 241, 241, 0.46);
	        border: solid 1px #f1f1f1;
            border-radius: 0px;
            padding: 30px 35px;
            margin: 0px;
            max-height: 246px;
            overflow-y: scroll;
            @media (min-width: $screen-sm-min){
                width: 328px;
                left: 329px;
                top: 80px;

            }
            li{
                &:last-child{
                    a{
                        margin-bottom: 0px;
                    }
                }
                a{
                    font-family: 'CircularStdMedium';
                    font-size: 19px;
                    line-height: 24px;
                    font-weight: 500;
                    color: #a8a8a8;
                    padding: 0px;
                    margin-bottom: 30px;
                    &:hover{
                        color: #000;
                        background: #FFF;
                    }
                    &.active{
                        color: #000;
                    }
                }
            }
        }
        .submit-search{
            width: 100%;
            background-color: #28292a;
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 45px;
            color: #939494;
            text-align: center;
            display: inline-block;
            @media (min-width: $screen-sm-min){
                width: 127px;
                margin-right: 23px;
                text-decoration: none;
            }
            &:hover{
                color: #FFF;
            }
        }
    }
}
.subscription{
    margin-bottom: 50px;
    .container-sm{
        @media (min-width: $screen-md-min){
            padding: 0px 90px 0px 50px;
        }
    }
    .box{
        background: #FFF;
        padding: 40px 20px;
        position: relative;
        min-height: 220px;
        border: 2px solid #f4f4f4;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min){
            padding: 50px 30px 40px 50px;
            min-height: 294px;
        }
        &.pippin{
            background: #faddd1;
        }
        .head{
            font-size: 20px;
            margin-bottom: 20px;
            @media (min-width: $screen-sm-min){
                font-size: 30px;
            }
        }
        .text{
            font-size: 16px;
            margin-bottom: 20px;
            max-width: 350px;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
            }
        }
        .cta{
            text-align: right;
            margin-bottom: 0px;
            position: absolute;
            right: 50px;
            bottom: 40px;
            .btn{
                background: #FFF;
                font-size: 16px;
                line-height: 40px;
                padding: 0px 40px;
                text-align: center;
                color: #1e1e1e;
                cursor: pointer;
            }
        }
        
    }
}
.content-section{
    margin-top: 50px;
    margin-bottom: 50px;
    .container-sm{
        @media (min-width: $screen-md-min){
            padding: 0px 90px 0px 50px;
        }
    }
    a{
        text-decoration: none;
    }
    .box{
        background: #FFF;
        padding: 40px 30px;
        position: relative;
        min-height: 220px;
        border: 2px solid #f4f4f4;
        font-size: 20px;
        text-align: center;
        color: #000;
        text-decoration: none;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min){
            padding: 50px 40px;
            font-size: 30px;
            min-height: 320px;
        }
        &.pippin{
            background: #faddd1;
        }
        .arrow-link{
            position: absolute;
            bottom: 30px;
            left: 0px;
            right: 0px;
            @media (min-width: $screen-sm-min){
                bottom: 50px;
            }
        }
    }
}
.banner{
    padding: 0px;
    @media (min-width: $screen-lg-min){
        padding-left: 20px;
        padding-right: 20px;
    }
    .row{
        margin: 0px;
        @media (min-width: $screen-lg-min){
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    .col-xs-12{
        padding: 0px;
        @media (min-width: $screen-lg-min){
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    #glow-has-come{
        background: url('/images/glow-has-come_mobile.jpg') no-repeat bottom center;
        background-size: 375px;
        height: 500px;
        color: #000;
        text-align: center;
        padding: 30px 0px 0px 0px;
        margin-bottom: 50px;
        margin-top: 54px;
        font-weight: 300;
        @media (min-width: $screen-xs-min){
            background: url('/images/glow-has-come.jpg') no-repeat 0px 0px;
            background-size: 704px;
            height: 476px;
            padding: 47px 0px 0px 0px;
            margin: 54px 0px 72px 0px;
        }
        @media (min-width: $screen-sm-min){
            height: 549px;
            background: url('/images/glow-has-come.jpg') no-repeat top right;
            background-size: 730px;
            padding: 47px 0px 0px 0px;
        }
        @media (min-width: $screen-md-min){
            background-size: 811px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 811px;

        }
        .intro-text{
            font-family: 'CircularStdBold';
            font-size: 26px;
            line-height: 36px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding: 0px 20px;
            width: auto;
            max-width: 400px;
            @media (min-width: $screen-md-min){
                max-width: 750px;
                padding-left: 70px;
                font-size: 55px;
                line-height: 70px;
            }
        }
        .sub-head{
            font-size: 22px;
            font-family: 'CircularStd';
            max-width: 450px;
            margin-top: 30px;
            text-align: left;
            font-weight: 300;
            padding: 0px 20px;
            @media (min-width: $screen-md-min){
                padding-left: 70px;
            }
        }
        .cta{
            float: left;
            clear: both;
            margin-top: 30px;
            padding: 0px 20px;
            a{
                color: #000;
                font-size: 22px;
                text-decoration: underline;
            }
            @media (min-width: $screen-md-min){
                padding-left: 70px;
            }
        }
        .brand-primary{
            color: $brand-primary;
        }
    }
    #get-it-done{
        font-family: 'CircularStdBold';
        background: url('/images/get-it-done_mobile.jpg') no-repeat 0px 0px;
        background-size: 375px;
        height: 246px;
        color: #000;
        font-size: 20px;
        line-height: 25px;
        text-align: left;
        padding: 105px 0px 0px 20px;
        margin-bottom: 45px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background-size: 768px;
            height: 339px;
            padding: 100px 0px 0px 20px;
            margin: 0px 0px 51px 0px;
            font-size: 40px;
        }
        @media (min-width: $screen-sm-min){
            background: url('/images/get-it-done.jpg') no-repeat -70px 0px;
            background-size: 1140px;
            height: 447px;
            padding: 139px 0px 0px 71px;
            margin: 0px 0px 51px 0px;
            font-size: 48px;
            line-height: 61px;
        }
        @media (min-width: $screen-md-min){
            background: url('/images/get-it-done.jpg') no-repeat 70px 0px;
            background-size: 1140px;
            padding: 182px 0px 203px 71px;
            margin: 0px 0px 51px 0px;
        }
        @media (min-width: $screen-lg-min){
            background: url('/images/get-it-done.jpg') no-repeat 50px 0px;
            background-size: 1140px;
        }
    }
    #no-compromise{
        background: url('/images/no-compromise_mobile.jpg');
        background-size: 100%;
        height: 220px;
        color: #FFF;
        font-family: 'CircularStd';
        font-size: 18px;
        padding: 20px 0px 0px 20px;
        font-weight: 100;
        @media (max-width: 360px){
            font-size: 22px;
            height: 305px;
        }
        @media (min-width: $screen-xs-min){
            padding: 300px 0px 0px 0px;
        }
        @media (min-width: $screen-sm-min){
            height: 345px;
            padding: 50px 0px 0px 50px;
            margin: 0px 0px 0px 0px;
            font-size: 30px;
        }
        @media (min-width: $screen-md-min){
            background: url('/images/no-compromise_big.jpg') no-repeat top right;
            background-size: 1280px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 1320px;
        }
        .text{
            font-size: 16px;
            margin-top: 15px;
            max-width: 470px;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
            }
        }
        .learn-more{
            font-size: 14px;
            color: #FFF;
            margin-top: 15px;
            float: left;
            text-decoration: underline;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
            }
        }
    }
    #show-glow{
        background: url('/images/show-glow_mobile.jpg');
        background-size: 100%;
        height: 345px;
        color: #FFF;
        font-family: 'CircularStdBold';
        font-size: 40px;
        text-align: center;
        padding: 103px 0px 0px 0px;
        text-transform: uppercase;
        font-weight: 900;
        @media (max-width: 360px){
            font-size: 35px;
            height: 305px;
        }
        @media (min-width: $screen-xs-min){
            background: url('/images/show-glow_mobile.jpg') no-repeat 0px 0px;
            height: 600px;
            padding: 300px 0px 0px 0px;
            font-size: 40px;
        }
        @media (min-width: $screen-sm-min){
            background: url('/images/show-glow_big.jpg') no-repeat top right;
            padding: 71px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            font-size: 90px;
        }
        @media (min-width: $screen-md-min){
            background: url('/images/show-glow_big.jpg') no-repeat top right;
            background-size: 1280px;
            font-size: 133px;
            line-height: 110px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 1320px;
        }
        .brand-primary{
            color: $brand-primary;
            opacity: 0.54;
            font-size: 102px;
            @media (max-width: 360px){
                font-size: 90px;
            }
            @media(min-width: $screen-sm-min){
                font-size: 235px;
            }
            @media(min-width: $screen-md-min){
                    font-size: 343px;
                    line-height: 400px;
                    margin-left: -10px;
            }
            @media(min-width: $screen-lg-min){
                font-size: 341px;
            }
        }
    }
}

.container-sm{
    width: 100%;    

    position: relative;
}