@import'base';
@import 'footer';
@import 'header';
@import 'sec-nav';
@import 'swiper';
@import 'listing';

.personal-details{
    background: #f6f6f6;
    margin: 0px -20px;
    padding: 30px 0px 25px 0px;
    @media (min-width: $screen-sm-min){
        min-height: 650px;
        padding: 50px 0px 1px 0px;
    }
    @media (min-width: $screen-md-min){
        padding: 50px 0px 1px 0px;
    }
    @media (min-width: $screen-lg-min){
        margin: 0px 0px 0px -20px;
    }
    .fav-empty{
        max-width: 645px;
        padding: 35px 20px 20px 20px;
        @media (min-width: $screen-sm-min){
            padding: 80px 0px 50px 70px;
        }
        .text{
            font-family: 'CircularStdBold';
            font-size: 24px;
            line-height: 30px;
            font-weight: 900;
            letter-spacing: 1px;
            color: #a8a8a8;
            margin-bottom: 30px;
            @media (min-width: $screen-sm-min){
                font-size: 48px;
                letter-spacing: 2.1px;
                line-height: 61px;
            }
        }
        a{
            width: 200px;
            background: #28292a;
            font-family: 'CircularStd';
            line-height: 45px;
            font-size: 16px;
            text-align: center;
            color: #ffffff;
            display: block;
            text-decoration: none;
        }
    }
    .featured{
        @media (min-width: $screen-sm-min){
            margin-bottom: 20px;
        }
        .glyphicon-heart-empty,
        .glyphicon-heart{
            font-size: 19px;
            position: absolute;
            top: 1px;
            right: -15px;
            @media (min-width: $screen-xs-min){
                bottom: 35px;
            }
            @media (min-width: $screen-sm-min){
                bottom: 48px;
            }
            @media (min-width: $screen-md-min){
                bottom: 2px;
            }
        }
        .teachersList{
            .glyphicon-heart-empty,
            .glyphicon-heart{
                font-size: 19px;
                position: absolute;
                bottom: 5px;
                right: 20px;
            }
        }
        .col-sm-4{
            .glyphicon-heart-empty,
            .glyphicon-heart{
                font-size: 19px;
                position: absolute;
                top: 0px;
                right: -25px;
            }
        }
    }
    .personal-info{
        width: 100%;
        padding: 0px 20px;
        display: inline-block;
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min){
            padding: 0px;
            width: 310px;
            float: left;
            margin-right: 80px;
            margin-left: 40px;
        }
        @media (min-width: $screen-md-min){
            margin-left: 265px;
        }
    }
    .change-password{
        width: 100%;
        padding: 0px 20px;
        @media (min-width: $screen-sm-min){
            padding: 0px;
            width: 310px;
            float: left;
        }

        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #9e9e9e;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #9e9e9e;
        opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #9e9e9e;
        opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #9e9e9e;
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
        color:    #9e9e9e;
        }
    }
    .form-title{
        font-family: 'CircularStdMedium';
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: #061426;
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min){
            font-size: 19px;
            line-height: 24px;
            margin-bottom: 30px;
        }
    }
    form{
        clear: both;
        max-width: 100%;
        margin-bottom: 75px;
        @media (min-width: $screen-sm-min){
            max-width: 310px;
        }
        .inputs{
            width: 100%;
            float: left;
            @media (min-width: $screen-md-min){
                margin-right: 80px;
                max-width: 308px;
            }
        }
        .text-field{
            font-family: 'CircularStd';
            background: #F6F6F6;
            margin-bottom: 13px;
            font-size: 16px;
            line-height: 20px;
            padding: 10px 0px;
            width: 100%;
            border: 0px;
            border-bottom: 2px solid #edeced;
            outline: 0px;
            @media (min-width: $screen-md-min){
                margin-right: 80px;
                float: left;
                width: 308px;
                margin-bottom: 19px;
            }
        }

        .submit{
            font-family: 'CircularStd';
            font-size: 16px;
            text-align: center;
            line-height: 45px;
            width: 100%;
            background: #FFF;
            color: #28292a;
            border: 0px;
            clear: both;
            padding: 0px;
            margin-top: 20px;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            outline: 0px;
            @media (min-width: $screen-md-min){
                max-width: 308px;
                clear: both;
            }
        }
        .error{
            padding: 0px;
            margin-top: -16px;
            float: left;
            font-size: 12px;
            color: #faddd1;
            @media (min-width: $screen-sm-min){
                margin-top: -19px;
            }
            
        }
    }
}
#sec-nav{
    display: block !important;
    .sec-nav{
        display: block !important;
    }
}
.banner-success{
    height: auto;
    padding: 20px 0px;
	background-color: #f9e2d8;
    font-family: 'CircularStdMedium';
    font-size: 19px;
    line-height: 24px;
	font-weight: 500;
	color: #061426;
    margin: 0px -20px;
    @media (min-width: $screen-sm-min){
        padding: 20px 0px;
    }
    @media (min-width: $screen-lg-min){
        margin: 0px 0px 0px -20px;
    }
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .container-md{
        padding-left: 20px;
        @media (min-width: $screen-sm-min){
            padding-left: 70px;
        }
    }
}

#membership{
    margin-bottom: 0px;
    @media (min-width: $screen-sm-min){
        margin-bottom: 50px;
    }

    .title {
        font-family: 'CircularStdMedium';
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min){
            line-height: 24px;
            font-size: 19px;
            margin-bottom: 30px;
        }
    }
    .box{
        @media (min-width: $screen-sm-min){
            max-width: 385px;
        }
        .card{
            padding: 25px;
            background: #FFF;
            position: relative;
            margin-bottom: 30px;
            @media (min-width: $screen-sm-min){
                margin-bottom: 0px;
            }
            .name{
                font-family: 'CircularStd';
                line-height: 25px;
                font-size: 20px;
                font-weight: bold;
                color: #28292a;
                min-height: 50px;
                margin-bottom: 14px;
                max-width: 90%;
                @media (min-width: $screen-sm-min){
                    line-height: 46px;
                    font-size: 36px;
                    min-height: 92px;
                }
            }
            .address{
                font-family: 'SFUITextLight';
                line-height: 20px;
                font-size: 16px;
                font-weight: 500;
                color: #000000;
                margin-bottom: 0px;
            }
            .remaining-classes{
                font-family: 'CircularStd';
                font-size: 16px;
                line-height: 20px;
                color: #000;
                margin-bottom: 27px;
                span{
                    font-family: 'SFUITextLight';
                }
                @media (min-width: $screen-sm-min){
                    margin-bottom: 27px;
                }
            }
            .expiration-date{
                font-family: 'CircularStdMedium';
                font-size: 16px;
                line-height: 19px;
                color: #000;
                margin-bottom: 0px;
                span{
                    font-family: 'SFUITextLight';
                    clear: both;
                }
            }
            .corner{
                display: block;
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 87px 94px;
                border-color: transparent transparent #000 transparent;
            }
            &.disabled{
                .corner{
                    border-color: transparent transparent #F6F6F6 transparent;
                }
                .expiration-date{
                    opacity: 0.5;
                }
            }
        }

    }
}

#history{
    margin-bottom: 41px;
    .title {
        font-family: 'CircularStdMedium';
        line-height: 24px;
        font-size: 19px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 30px;
    }
    .upcoming-classes{
        position: relative;
        width: 100%;
        @media (min-width: $screen-sm-min){
            padding: 0px;
        }
    }
    .box{
        padding: 0px;
        &:first-child{
            margin-left: 20px;
            @media (min-width: $screen-sm-min){
                margin-left: 0px;
            }
        }
        &:last-child{
            margin-right: 20px;
            @media (min-width: $screen-sm-min){
                margin-right: 0px;
            }
        }
        @media (min-width: $screen-sm-min){
            padding: 0px 20px;
            width: 295px !important;
        }
        .card{
            padding: 25px 20px;
            background: #FFF;
            position: relative;
            margin-bottom: 20px;
            @media (min-width: $screen-sm-min){
                margin-bottom: 0px;
                min-height: 254px;
            }
            .name{
                font-family: 'CircularStdMedium';
                font-size: 16px;
                line-height: 20px;
                min-height: 40px;
                font-weight: 500;
                color: #1e1e1e;
                margin-bottom: 10px;
            }
            .time{
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 19px;
                min-height: 38px;
                font-weight: 300;
                color: #1e1e1e;
                margin-bottom: 11px;
            }
            .address{
                font-family: 'CircularStdMedium';
                line-height: 20px;
                min-height: 40px;
                font-size: 16px;
                font-weight: 500;
                color: #000000;
                margin-bottom: 20px;
            }
            .button{
                font-family: 'CircularStd';
                font-size: 16px;
                line-height: 45px;
                background: #F4F4F4;
                text-align: center;
                color: #1e1e1e;
                display: inline-block;
                padding: 0px 18px;
                max-width: 150px;
            }
            .corner{
                display: block;
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 87px 94px;
                border-color: transparent transparent #000 transparent;
            }
        }
    }
    .classTable{
        background: #FFF;
        max-width: 1160px;
        .rowTable{
            padding: 15px;
            width: 100%;
            border-bottom: 1px solid #F6F6F6;
            font-size: 14px;
            line-height: 18px;
            font-family: 'CircularStd';
            color: #1e1e1e;
            display: inline-table;
            @media (min-width: $screen-sm-min){
                padding: 28px 30px;
                font-size: 16px;
                line-height: 20px;
            }
            .box1{
                width: 35%;
                float: left;
            }
            .box2{
                width: 30%;
                float: left;
            }
        }
        .head{
            color: #000 !important;
            font-family: 'CircularStdMedium' !important;
        }
        .nameCol{
            width: 100%;
            float: left;
            font-family: 'CircularStdMedium';
            @media (min-width: $screen-sm-min){
                width: 60%;
            }
        }
        .levelCol{
            width: 100%;
            float: left;
            @media (min-width: $screen-sm-min){
                width: 40%;
            }
        }
        .dateCol{
            width: 100%;
            float: left;
            @media (min-width: $screen-sm-min){
                width: 60%;
            }
        }
        .durationCol{
            width: 100%;
            float: left;
            @media (min-width: $screen-sm-min){
                width: 40%;
            }
        }
        .studioCol{
            width: 100%;
            float: left;
            @media (min-width: $screen-sm-min){
                width: 70%;
            }
        }
        .teacherCol{
            width: 100%;
            float: left;
            @media (min-width: $screen-sm-min){
                width: 30%;
            }
        }
    }
}
