@import'base';
@import 'header';
@import 'footer';
@import 'login-form';


.login-area{
    height: 690px;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 41px;
    background: url('/images/login_bckg.jpg') no-repeat;
    @media (min-width: $screen-sm-min){
        padding-left: 167px;
    }
    @media (min-width: $screen-lg-min){
        margin-left: -20px;
        background-size: 1300px;
    }

}