@import'base';
@import 'header';
@import 'footer';
@import 'login-form';

.personal-details{
    margin-top: 50px;
    .cover{
        background: #FFF;
        padding: 30px 20px 10px 20px;
        position: relative;
        border: 2px solid #f4f4f4;
        font-size: 30px;
        color: #000;
        text-decoration: none;
        margin-bottom: 20px;
        &.pippin{
            background: #faddd1;
            border: 0px;
        }
        .head{
            font-size: 30px;
            margin-bottom: 20px;
            span{
                font-size: 22px;
                display: block;
            }
        }
        .text{
            font-size: 19px;
            margin-bottom: 20px;
        }
    }
}
#purchase{
    margin-bottom: 0px;
    padding: 0px;
    @media (min-width: $screen-sm-min){
        margin-bottom: 50px;
        padding: 0px 20px;
    }
    &:last-child{
        margin-bottom: 25px;
    }
    .title {
        font-family: 'CircularStdMedium';
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min){
            line-height: 24px;
            font-size: 19px;
            margin-bottom: 30px;
        }
    }
    .box{
        @media (min-width: $screen-sm-min){
            max-width: 385px;
        }

        .card{
            padding: 30px 35px;
            background: #FFF;
            position: relative;
            margin-bottom: 30px;
            border: solid 1.6px #f4f4f4;
            &.skew{
                background: #fceae3;
                .purchase-button{
                    background: #FFF;
                }
                .corner{
                    border-color: transparent transparent #000 transparent;
                }
            }
            .name{
                font-family: 'CircularStdMedium';
                line-height: 25px;
                min-height: 50px;
                font-size: 20px;
                font-weight: bold;
                color: #000;
                margin-bottom: 40px;
                @media (min-width: $screen-sm-min){
                    line-height: 24px;
                    font-size: 19px;
                    margin-bottom: 30px;
                }
            }
            .price{
                font-family: 'CircularStdBold';
                font-size: 36px;
                line-height: 46px;
                color: #000;
                margin-bottom: 0px;
                position: relative;
                padding-left: 12px;
                span{
                    position: absolute;
                    left: 0px;
                    top: 8px;
                    font-size: 19px;
                    line-height:24px;
                }
            }
            .description{
                color: #000;
                font-family: 'SFUITextLight';
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
                margin-bottom: 30px;
                letter-spacing: -0.5px;
            }
            .purchase-button{
                display: inline-block;
                width: 110px;
                background: #F4F4F4;
                font-size: 16px;
                line-height: 45px;
                text-align: center;
                color: #1e1e1e;
                text-decoration: none;
            }
            .corner{
                display: block;
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 102px 95px;
                border-color: transparent transparent #F4F4F4 transparent;
            }
            &.disabled{
                .corner{
                    border-color: transparent transparent #F6F6F6 transparent;
                }
                .expiration-date{
                    opacity: 0.5;
                }
            }
        }

    }
}
.login-overlay{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    .overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        background: #FFF;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .login-area-container{
        margin: auto;
        width: 100%;
        max-width: 358px;
        margin-top: 30px;
        position: relative;
        .login-form{
            margin: 0px auto 20px 0px;
        }
        .close-login{
            text-align: right;
            margin: auto;
            font-size: 24px;
            padding: 25px 0px;
            color: #bbb;
            cursor: pointer;
        }
        a{
            .social-login{
                border: solid 2px #eae9ea;
            }
        }
    }
    .intermediate-text{
        color: #28292a;
    }

}
#login-message{
    display: none;
    .banner-success{

    }
}




