@import'base';
@import 'footer';
@import 'header';

.intro{
    padding: 70px 0px 65px 0px;
    @media (min-width: $screen-sm-min){
        padding: 110px 0px 100px 70px;
    }
    .intro-text{
        font-family: 'CircularStdBold';
        font-size: 24px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: normal;
        color: #1a1d20;
        margin-bottom: 40px;
        @media (min-width: $screen-sm-min){
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 50px;
            max-width: 725px;
        }
        .brand-primary{
            color: $brand-primary;
        }
        span{
            font-family: 'CircularStd';
            font-weight: 300;
        }
        a{
            color: #f3aa8c;
        }
    }
    .scheduleForm{
        width: 100%;
        max-width: 500px;
        .text-field{
            width: 100%;
            line-height: 38px;
            font-size: 16px;
            border-radius: 2px;
            border: 0px;
            background-color: #fff;
            box-shadow: 0 0 15px 5px #f1f1f1;
            margin-bottom: 30px;
            padding: 10px 10px;
            outline: 0px;
        }
        .message-field{
            width: 100%;
            height: 200px;
            line-height: 38px;
            font-size: 16px;
            border-radius: 2px;
            border: 0px;
            background-color: #fff;
            box-shadow: 0 0 15px 5px #f1f1f1;
            margin-bottom: 30px;
            padding: 10px 10px;
            outline: 0px;
        }
        .error{
            box-shadow: 0 0 0px 1px #fF0000;
        }
        .submit{
            background-color: #28292a;
            color: #FFF;
            border: 2px solid #28292a;
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 41px;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 0;
            outline: 0;
            display: block;
        }
    }
  
}
.terms-content{
    font-family: 'SFUITextLight';
    font-size: 16px;
    margin-bottom: 150px;
    p{
        strong{
            font-family: 'SFUIText';
            font-weight: 900;
        }
        margin-bottom: 20px;
        &.page-title{
            text-align: center;
            font-family: 'SFUIText';
            width: 100%;
            font-weight: bold;
            margin-top: 100px;
            margin-bottom: 70px;
            display: block;
        }
    }
}
.bottom-actions{
    width: 100%;
    z-index: 10000;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px 0px;
    background: #FFF;
    background: #F6f6f6;
    border-top: 1px solid #999;
    button{
        background-color: #faddd1;
        color: #061426;
        font-family: 'CircularStd';
        font-size: 16px;
        line-height: 41px;
        text-align: center;
        width: auto;
        padding: 0 30px;
        outline: 0;
        float: right;
        display: block;
    }
}
.footer{
    display: none;
}
.navbar{
  height: 67px !important;
}
#navbar{
  display:none !important;
}
.footer{
  position: fixed;
  bottom: 0px;
}
.form-message {
  margin-left: 10px;
  margin-top: 6px;
  color: red;
}
.navbar .city-select{
    display: none !important;
}
.city-list{
    display:none !important;
}