@import'base';
@import 'header';
@import 'footer';
@import 'swiper';
@import 'modalMembership';
@import 'login-form';

#studioInfo{
    margin-top: 30px;
    @media (min-width: $screen-sm-min){
        margin-top: 30px;
    }
    .studio-name{
        font-family: 'CircularStdBold';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        color: #000000;
        max-width: 160px;
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min){
            font-size: 36px;
            line-height: 46px;
            max-width: 275px;
            margin-bottom: 10px;
        }
    }
    .studio-address,
    .studio-phone{
        font-family: 'CircularStd';
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        float: left;
    }
    .studio-address{
        max-width: 228px;
        margin-right: 40px;
    }
    .image{
        z-index: 10;
        @media (min-width: $screen-lg-min){
            padding-right: 60px;
        }
        img{
            max-width: 353px;
            float: right;
        }
    }
}
.schedule-alignment-fix{
    margin-bottom: 25px;
    @media (min-width: $screen-sm-min){
        padding-left: 0px;
        padding-right: 0px;
    }
}
#studioSchedule{
    background: #f2f2f2;
    position:relative;
    display: inline-block;
    top: 0px;
    z-index: 1;
    margin: 25px 0px 0px 0px;
    padding-bottom: 50px;
    width: 100%;
    @media (min-width: $screen-sm-min){
        top: -70px;
        margin: 0px 20px;
    }
    @media (min-width: $screen-md-min){
        margin: 0px 40px 0px 20px;
        max-width: 1300px;
    }
    .stairs{
        display: none;
        border-top: 101px solid #FFF;
        border-right: 545px solid #FFF;
        border-left: 240px solid transparent;
        position: absolute;
        right: 0px;
        top: 0px;
        @media (min-width: $screen-sm-min){
            display: block;
        }
    }
    .week-select{
        height: 97px;
        padding: 25px 0px;
        margin-left: 30px;
        @media (min-width: $screen-sm-min){
            margin-left: 70px;
            padding: 47px 0px 30px 0px;
        }
        img{
            float: left;
            cursor: pointer;
            border: solid 2px #eae9ea;
        }
        .dt{
            width: 200px;
            font-family: 'SFUITextLight';
            font-size: 17px;
            line-height: 30px;
            font-weight: 300;
            text-align: center;
            color: #28292a;
            float: left;
            @media (min-width: $screen-sm-min){
                width: auto;
                padding: 0px 42px;
                font-size: 19px;
            }
        }
    }
    .mobile-week{
        padding: 0px 20px;
        .day-name{
            text-align: center;
            padding: 0px 0px 25px 0px;
            font-family: 'CircularStdMedium';
            font-size: 17px;
            font-weight: 500;
            text-align: center;
            color: #a8a8a8;
            width: 12.5%;
            float: left;
            span{
                float: left; 
                width: 100%;
                text-align: center;
            }
            strong{
                clear: both;
                width: 100%;
                color: #28292a;
                max-width: 31px;
                height: 31px;
                margin: auto;
                margin-top: 10px;
                display: inline-block;
            }
            &.current{
                color: #28292a;
                strong{
                    background: #28292a;
                    border-radius: 30px;
                    color: #FFF;
                    width: 100%;
                    margin-top: 6px;
                    padding-top: 4px;
                }
            }
        }
    }
    .weekdays{
        width: 20%;
        float: left;
        @media (min-width: $screen-sm-min){
            margin-top: 70px;
            width: 75px;
            margin-left: 40px;
        }
        .day-name{
            text-align: center;
            padding: 0px;
            font-family: 'CircularStdMedium';
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            text-align: center;
            color: #a8a8a8;
            height: 203px;
            strong{
                color: #000000;
                margin-top: 10px;
                display: block;
                @media (min-width: $screen-sm-min){
                    margin-top: 3px;
                }
            }
            &.current{
                color: #000000;
            }
            @media (min-width: $screen-sm-min){
                font-size: 19px;
                line-height: 24px;
            }
        }
    }
    .calendar-box{
        width: 80%;
        float: left;
        @media (min-width: $screen-sm-min){
            width: 82.5%;
            margin-top: 70px;
            margin-left: 55px;
            
        }
        
    }
    .calendar{
        padding-left: 0px;
        @media (min-width: $screen-sm-min){
            padding-left: 0px;
        }
        .calendar-row-container{
            position: relative;
            @media (min-width: $screen-sm-min){
                width: 990px;
            }
            .swiper-container{
                width: 100%;
                height: 100%;
            }
        }
        
        .col-day{
            margin-bottom: 3px;
            @media (min-width: $screen-sm-min){
            }
            .class{
                background: #FFF;
                margin-right: 3px;
                padding: 20px;
                color: #28292a;
                @media (max-width: $screen-sm-min){
                    max-width: 195px;
                    min-width: 195px;
                    width: 195px !important;
                }
                &.highlight {
                    background: #fdfcea;

                    .corner {
                        border-color: transparent transparent #fdfcea transparent;
                    }
                }
                &.disabled{
                    color: #bebebf;
                    .status{
                        color: #000;
                    }
                    .corner{
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 0; 
                        height: 0; 
                        border-style: solid;
                        border-width: 0 0 62px 62px;
                        border-color: transparent transparent #F2F2F2 transparent;
                    }
                    .className, .name, .address, .teacherName,.time, .level, .book
                    {opacity: 0.2;
                        cursor: default;}
                }
                .className{
                    font-family: 'CircularStdMedium';
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 10px;
                }
                .name{
                    color: #28292A;
                    font-family: 'CircularStdMedium';
                    font-size: 36px;
                    line-height: 46px;
                    margin-bottom: 30px;
                    opacity: 0.2;
                }
                .address{
                    max-width: 90px;
                    font-family: 'CircularStdMedium';
                    font-size: 16px;
                    line-height: 20px;
                    height: 60px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 28px;
                    @media (min-width: $screen-sm-min){
                        max-width: 160px;
                    }
                }
                .teacherName{
                    font-family: 'CircularStdMedium';
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 43px;
                }
                .status{
                    font-family: 'CircularStdMedium';
                    height: 20px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 0px;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                }
                .level{
                    font-family: 'SFUITextLight';
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 300;
                    color: #1e1e1e;;
                    margin-bottom: 0px;
                }
                .time{
                    color: #1e1e1e;;
                    font-family: 'SFUITextLight';
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 20px;
                    font-weight: 300;
                }
                .book{
                    font-family: 'CircularStd';
                    width: 110px;
                    font-size: 16px;
                    color: #000;
                    line-height: 39px;
                    background: #F4F4F4;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    text-decoration: none;
                    text-align: center;
                    &:hover{
                        background: #fceae4;
                    }
                }
                .half{
                    width: 50%;
                    float: left;
                    @media (min-width: $screen-sm-min){
                        width: 100%;
                        clear: both;
                    }
                    &.last{
                        p{
                            float: right;
                            @media (min-width: $screen-sm-min){
                                float: left;
                            }
                        }
                    }
                    p{
                        float: left;
                        clear: both;
                    }
                    
                }
                .corner{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    width: 0; 
                    height: 0; 
                    border-style: solid;
                    border-width: 0 0 50px 50px;
                    border-color: transparent transparent #FFF transparent;
                }
            }
        }
    }
}
.container-sm{
    position:relative;
}
.login-overlay{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1000;
    .overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        background: #FFF;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .login-area-container{
        margin: auto;
        width: 100%;
        max-width: 358px;
        margin-top: 30px;
        position: relative;
        background: none;
        .login-area{
            background: none;
            padding-top: 0px;
            padding-left: 0px;
        }
        .login-form{
            margin: 0px auto 20px 0px;
        }
        .close-login{
            text-align: right;
            margin: auto;
            font-size: 24px;
            padding: 20px 0px 30px 0px;
            color: #bbb;
            cursor: pointer;
        }
        a{
            .social-login{
                border: solid 2px #eae9ea;
            }
        }
    }
    .intermediate-text{
        color: #28292a;
    }

}

.slide-next{
    display: none;
    @media (min-width: $screen-sm-min){
        display: block;
        height: 200px;
        position: absolute;
        right: -66px;
        top: 0px;
        width: 70px;
        z-index: 300;
    }
    .schedule-swiper-button-next{
        font-size: 60px;
        top: 91px;
        @media (min-width: $screen-lg-min){
            right: 65px;
        }
    }
    
    
}
.slide-prev{
    display: none;
    @media (min-width: $screen-sm-min){
        display: block;
        height: 200px;
        position: absolute;
        left: -40px;
        top: 0px;
        width: 70px;
        z-index: 300;
    }
    .schedule-swiper-button-prev{
        font-size: 60px;
        top: 91px;
        @media (min-width: $screen-lg-min){
            left: 30px;
        }
    }
}

.swiper-button-next{
    background: none;
    box-shadow: 0px 0px 0px;
    right: 0px !important;
}
.swiper-button-prev{
    background: none;
    box-shadow: 0px 0px 0px;
    left: 0px !important;
}
