@import'base';
@import 'footer';
@import 'header';
@import 'listing';
@import 'swiper';


#search{
    margin-top: 30px;
    min-height: 445px;
    @media (min-width: $screen-sm-min){
        margin-top: 50px;
        min-height: 580px;
    }
    .no-results{
        font-size: 17px;
        line-height: 22px;
        font-weight: 500;
        color: #1e1e1e;
        font-family: 'CircularStdMedium';
        margin-bottom: 30px;
        @media (min-width: $screen-sm-min){
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #000000;
            margin-bottom: 50px;
        }
    }
    .try-again{
        font-size: 20px;
        line-height: 25px;
        font-weight: 900;
        letter-spacing: 0.9px;
        color: #d8d8d8;
        font-family: 'CircularStdBold';
        @media (min-width: $screen-sm-min){
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 1.6px;
        }
    }
    .result-row{
        position: relative;
        width: 100%;
        float: left;
        margin-bottom: 30px;
        padding: 0px 20px;

        @media (min-width: $screen-sm-min){
            margin-bottom: 50px;
            margin-left: 0px;
        }
        .staffs{
            clear: both;
            margin-left: -10px;
            @media (min-width: $screen-sm-min){
                margin-left: -10px;
            }
        }
        .studios{
            clear: both;
            margin-left: -10px;
        }
        .class{
            @media (max-width: $screen-sm-min){
                max-width: 100% !important;
                padding: 0px 20px;
                .course-box{
                    max-width: 100% !important; 
                }
            } 
            @media (min-width:$screen-sm-min){
                margin-bottom: 20px;
            }           
        }
        .search{
            .name{
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #1e1e1e;
                margin-bottom: 3px;
                @media (min-width: $screen-sm-min){
                    font-size: 19px;
                    line-height: 24px;
                }
            }
            .address{
                font-family: 'CircularStd';
                margin-bottom: 10px;
                line-height: 18px;
                @media (min-width: $screen-sm-min){
                    margin-bottom: 20px;
                }
            }
        }
        .nextClasses{
            margin-top: 10px;
            margin-left: 0px;
            @media (min-width: $screen-sm-min){
                margin-top: 0px;   
            }
        }
        .box{
            margin-bottom: 0px;
            &.staff-image{
                max-width: 188px;
                margin-bottom: 10px;
                padding-right: 0px;
                @media (min-width: $screen-sm-min){
                    max-width: 295px;
                    padding-right: 20px;
                }
            }
        }
        .course{
            max-width: 253px;
            min-width: 253px;
            
            a {
                text-decoration: none;
            }
            
            .course-box{
                max-width: 233px;
                .teacherName{
                    font-family: 'CircularStdMedium';
                    font-size: 16px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 45px;
                }
                .level{
                    font-family: 'SFUITextLight';
                    font-size: 16px;
                    font-weight: 300;
                    color: #1e1e1e;
                }
                .time{
                    height: 38px;
                    margin-bottom: 6px;
                }
            }
        }
        
        .staffName{
            font-family: 'CircularStdMedium';
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            color: #1e1e1e;
            margin-bottom: 11px;
            @media (min-width: $screen-sm-min){
                font-size: 36px;
                line-height: 46px;
                color: #000;
            }
        }
        .staffCity{
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 20px;
            color: #1e1e1e;
            margin-bottom: 45px;
            @media (min-width: $screen-sm-min){
                color: #000000;
                margin-left: -10px;
            }
        }
        .nextClassTitle{
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            color: #1e1e1e;
            font-family: 'CircularStdMedium';
            margin-bottom: 20px;
            margin-left: -20px;
            float: left;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #000000;
                margin-bottom: 41px;
            }
            &.staff{
                @media (min-width: $screen-sm-min){
                    margin-bottom: 31px;
                }
            }
        }
        .classTitle{
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            color: #1e1e1e;
            font-family: 'CircularStdMedium';
            margin-bottom: 20px;
            float: left;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #000000;
                margin-bottom: 41px;
                margin-left: -10px;
            }
            &.staff{
                @media (min-width: $screen-sm-min){
                    margin-bottom: 31px;
                }
            }
        }
    }
    .preloader {
        display: none;
        position: relative;
        margin: 25px auto 0 auto;
        width: 60px;
        height: 60px;
    }
}