@import'base';
@import 'listing';
@import 'swiper';
.navbar{
    height: auto;
    padding: 27px 0px 23px 0px;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    z-index:1000;
    border-bottom: 1px solid #f1f1f1;
    @media (min-width: $screen-sm-min){
        padding: 0px;
    }
    .navbar-collapse{
        background: #FFF;
        width: 100%;
        position: absolute;
        top: 0px;
        text-align: right;
        z-index: 10001;
        padding: 0px !important;
        @media (min-width: $screen-sm-min){
            position: static;
            min-height: auto;
            width: auto;
            padding: 0px;
        }
        .mobile-nav{
            border-bottom: 1px solid #F1F1F1;
            width: 100%;
            padding-top: 26px;
            padding-bottom: 27px;
            cursor: pointer;
            padding-right: 20px;
            @media(min-width: $screen-sm-min){
                display: none;
            }
            .icon-close{
                font-size: 18px;
                line-height: 21px;
            }
            .menu-back{
                display:none;
                font-family: 'CircularStd';
                font-size: 19px;
                line-height: 24px;
                color: #000;
                float: left;
                padding: 25px 0px;
                .glyphicon-chevron-left{
                    font-size: 19px;
                }
            }
            .glyphicon-remove{
                padding: 25px 0px;
                font-size: 25px;
                cursor: pointer;
            }
        }

        
        .navbar-nav{
            margin: 25px 0px;
            position: relative;
            @media (min-width: $screen-sm-min){
                margin: 0px;
                position: relative;
            }
            @media (min-width: $screen-lg-min){
                margin: 0px 20px 0px 0px;
            }
            li{
                .menu-corner{
                    display: none;
                    border-bottom: 69px solid #28292a;
                    border-right: 0px solid transparent;
                    border-left: 67px solid transparent;
                    position: absolute;
                    right: -20px;
                    width: 195px;
                    @media (min-width: $screen-sm-min){
                        display: block;
                    }
                    &.small{
                        width: 130px;
                    }
                }
                a{
                    font-family: 'CircularStdMedium';
                    font-size: 19px;
                    line-height: 24px;
                    margin-bottom: 25px;
                    padding: 0px 20px 0px 0px;
                    color: #000;
                    display: inline-block;
                    width: 100%;
                    @media (min-width: $screen-sm-min){
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 0px;
                        padding: 27px 20px 23px 20px;
                        color: #a8a8a8 ;
                        &.last{
                            color: #FFF;
                            &.active{
                                color: #fff;
                            }
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                    &.active{
                        color: #000;
                    }
                    &:hover{
						color: #000;
                    }
                    &.profile{
                        padding: 0px 20px 0px 0px;
                        @media (min-width: $screen-sm-min){
                            padding: 20px 15px 17px 30px;
                        }
                        img{
                            border-radius: 30px;
                        }
					}
					
				}
				ul.submenu{
                    display: block;
                    list-style: none;
                    display: inline-block;
                    margin-top: -20px;
                    @media (min-width: $screen-sm-min){
                        position: absolute;
                        background: #FFF;
                        border: 1px solid #dbdbdb;
                        border-top: 0px;
                        list-style: none;
                        padding: 10px 20px;
                        margin-top: 0px;
                        display: none;
                    }
				}
				ul.submenu li{
                    float: right;
                    text-align: right;
                    width: 100%;
                    @media (min-width: $screen-sm-min){
                        clear: both;
                        text-align: left;
                        white-space: nowrap;
                        float: left;
                    }
				}
				ul.submenu li a{
					padding: 10px 20px !important;
                    float: right;
                    text-align: right;
                    text-decoration: none;
                    color: #a8a8a8;
                    margin-bottom: 0px;
				}
				&:hover{
					ul.submenu{
						display: block;
					}
				}
            }
        }
    }
    .navbar-brand{
        padding: 6px 0px 0px 0px;
        height: 27px;
        margin-left: 20px !important;
        margin-right: 40px;
        @media (min-width: $screen-sm-min){
            padding: 26px 0px 0px 0px;
        }
        @media (min-width: $screen-lg-min){
           
        }
    }
    .navbar-toggle{
        border: 0px;
        border-radius: 0px;
        margin: 0px 25px 0px 0px;
        padding: 0px;
        height: 26px;
        &:hover{
            background: #FFF;
        }
        &:focus{
            background: #FFF;
        }
        .icon-bar{
            background-color: #000;
            width: 18px;

        }
    }

}

.banner{
    padding: 0px;
    @media (min-width: $screen-lg-min){
        padding-left: 20px;
        padding-right: 20px;
    }
    .row{
        margin: 0px;
        @media (min-width: $screen-lg-min){
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    .col-xs-12{
        padding: 0px;
        @media (min-width: $screen-lg-min){
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    #about-teachers{
        background: url('/images/about-our-teachers_mobile.jpg') no-repeat top center;
        background-size: 375px;
        height: 261px;
        margin: 0px -20px 55px -20px;
        @media (min-width: $screen-sm-min){
            background: url('/images/about-our-teachers_big.jpg') no-repeat top center;
            height: 480px;
            background-size: 1081px;
            margin: 0px 0px 100px 0px;
        }
    }
    #glow-has-come{
        background: url('/images/glow-has-come_mobile.jpg') no-repeat bottom center;
        background-size: 375px;
        height: 500px;
        color: #FFF;
        text-align: center;
        padding: 30px 0px 0px 0px;
        margin-bottom: 50px;
        margin-top: 54px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background: url('/images/glow-has-come.jpg') no-repeat 0px 0px;
            background-size: 704px;
            height: 476px;
            padding: 47px 0px 0px 0px;
            margin: 54px 0px 72px 0px;
        }
        @media (min-width: $screen-sm-min){
            height: 549px;
            background: url('/images/glow-has-come.jpg') no-repeat top right;
            background-size: 730px;
            padding: 47px 0px 0px 0px;
        }
        @media (min-width: $screen-md-min){
            background-size: 811px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 811px;

        }
        .intro-text{
            font-family: 'CircularStdBold';
            font-size: 28px;
            line-height: 36px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            padding: 0px 20px;
            width: auto;
            max-width: 300px;
            @media (min-width: $screen-md-min){
                width: 560px;
                max-width: 560px;
                padding-left: 70px;
                font-size: 64px;
                line-height: 81px;
            }
        }
        .brand-primary{
            color: $brand-primary;
        }
    }
    #what-glow{
        background: $brand-primary;
        height: auto; 
        color: #FFF; 
        margin: 0px -20px 0px -20px;
        font-family: 'CircularStdBold';
        font-size: 44px; 
        text-align: center;
        padding: 92px 0px; 
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            font-size: 70px;
        }
        @media (min-width: $screen-sm-min){
            font-size: 90px;
        }
        @media (min-width: $screen-md-min){
            padding: 92px 0px;
            font-size: 144px;
            line-height: 183px;
            
        }
        @media (min-width: $screen-lg-min){
            margin: 0px ;
        }
    }
    #show-glow{
        background: url('/images/about-main-training_mobile.jpg') no-repeat top center;
        background-size: 375px;
        height: 313px; 
        color: #FFF; 
        font-family: 'CircularStdMedium';
        margin: 0px -20px 55px -20px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min){
            background: url('/images/about-main-training_mobile.jpg') no-repeat top right;
            background-size: 768px;
            height: 550px;
            margin: 0px -20px 100px -20px;
        }
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            background: url('/images/about-main-training.jpg') no-repeat top right;
            background-size: 1280px;
            padding: 139px 0px 0px 0px;
        }
        @media (min-width: $screen-lg-min){
            background-size: 1300px;
            margin: 0px 0px 100px 0px;
        }
    }
}

#homeStudios{
    .box{
        margin-bottom: 40px;
    }
}
.about-text-section{
    color: #000;
    max-width: 800px;
    margin: 0px auto 55px auto;
    @media (min-width: $screen-sm-min){
        margin: 0px auto 100px auto;
    }
    .title{
        font-family: 'CircularStdMedium';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            font-size: 36px;
            line-height: 46px;
        }
    }
    .text{
        font-family: 'SFUITextLight', Helvetica;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0px;
        }
        @media (min-width: $screen-sm-min){
            font-size: 16px;
            line-height: 20px;
        }
        a{
            color: #000;
            font-family: SFUIDisplay;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}



#teachers-profile{
    position:relative;
    height:auto;
    margin-top: 30px;
    .glyphicon-heart-empty,
    .glyphicon-heart{
        font-size: 19px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .container-sm {
        overflow: hidden;
        width: 100%;
    }
    .profile{
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            margin-bottom: 40px;
            max-width: 590px;
        }
        .box{
            margin-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            .teacher-image{
                max-width: 255px;
                max-height: 346px;
                img{
                    width: 100%;
                    height: auto;
                    margin-bottom: 0px;
                }
            }
            .teacher-profile{
                min-height: 100px;
                margin-left: 16px;
                position: relative;
                .name{
                    font-family: 'CircularStdMedium';
                    font-size: 20px;
                    font-weight: 500;
                    color: #000000;
                    margin-bottom: 20px;
                    max-width: 88px;
                    @media (min-width: $screen-xs-min){
                        font-size: 30px;
                        margin-bottom: 50px;
                    }
                    @media (min-width: $screen-xs-min){
                        font-size: 22px;
                        margin-bottom: 30px;
                    }
                    @media (min-width: $screen-md-min){
                        font-size: 36px;
                        line-height: 49px;
                        margin-bottom: 66px;
                        max-width: 168px;
                    }

                }
                .address{
                    font-family: 'CircularStd';
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                    max-width: 216px;
                }
            }
        }
        .view{
            display: none;
            font-family: 'CircularStd';
            background: #F4F4F4;
            line-height: 40px;
            font-size: 14px;
            color: #000;
            text-align: center;
            padding: 0px 25px;
            position: absolute;
            right: 40px;
            z-index: 10;
            bottom: 20px;
            cursor: pointer;
            @media (min-width: $screen-sm-min){
                bottom: 31px;
                display: block;
            }
            @media (min-width: $screen-md-min){
                right: 77px;
                min-width: 92px;
            }
            &:hover{
                background: #fff0ea;
            }
            a{
                color: #000;
                text-decoration: none;
            }
        }
        .corner{
            height: 0px;
            border-bottom: 70px solid #000;
            border-left: 75px solid transparent;
            position: absolute;
            right: 20px;
            bottom: 0px;
            @media (min-width: $screen-xs-min){
                border-bottom: 100px solid #000;
                border-left: 110px solid transparent;
            }
            @media (min-width: $screen-md-min){
                border-bottom: 140px solid #000;
                border-left: 147px solid transparent;
            }
        }
        .glyphicon{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            color: #000;
            &.icon-favorite-empty{
                font-size: 14px;
            }
        }
    }
    .join-banner{
        display: none;
        font-family: 'CircularStd';
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min){
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 40px;
            display: block;
        }
        .banner-image{
            img{
                width: 100%;
                height: auto;
                max-height: 347px;
            }
        }
        .banner-text{
            width: auto;
            height: 122px;
            font-family: 'CircularStdBold';
            text-align: center;
            color: #ffffff;
            position: absolute;
            font-weight: 900;
            letter-spacing: 2.1px;
            font-size: 24px;
            top: 55px;
            left: 40px;
            @media (min-width: $screen-sm-min){
                width: 285px;
                font-size: 48px;
                top: 72px;
                left: 54px;
            }
        }
        .banner-button{
            background: #FFF;
            color: #28292a;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 17px;
            position: absolute;
            top: 150px;
            left: 75px;
            @media (min-width: $screen-sm-min){
                top: 230px;
                left: 138px;
            }
        }
    }
}


.main-area{
	margin-bottom: 50px;
	position: relative;
	padding: 0px;
	@media (min-width: $screen-md-min){
		padding: 0px 20px;
	}
	@media (min-width: $screen-md-min){
		height: 550px;
	}
	.staires-bg{
		display: none;
		@media (min-width: $screen-md-min){
			position: absolute;
			top: 0px;
			left: 0px;
			background: #FFF;
			clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
			height: 350px;
			width: 58%;
			display: block;
			z-index: 110;
			@-moz-document url-prefix() { 
				background: transparent;
				height: 0px;
				border-bottom: 350px solid #FFF;
				border-left: 0px solid #000;
				border-right: 361px solid transparent;
			}
			@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
				background: transparent;
				height: 0px;
				border-bottom: 350px solid #FFF;
				border-left: 0px solid #000;
				border-right: 361px solid transparent;
			}
		}
	}
	.map-container{
		height: 50px;
		overflow: hidden;
		@media (min-width: $screen-sm-min){
			height: 342px;
		}
		#map_canvas{
			height: 460px;
			max-height: 460px;
			float: left;
			width: 100%;
			@media (min-width: $screen-md-min){
				position: absolute;
				z-index: 100;
				height: 342px;
				right: -30px;
			}
		}
	}
	
	.studio-info-container{
		height: auto;
		float: left;
		margin: 0px;
		top: 0px;
		background: #FFF;
		position: relative;
		padding: 0px 20px;
		@media (min-width: $screen-sm-min){
			padding: 0px;
		}
		@media (min-width: $screen-md-min){
			background: none;
			margin: 0px 20px;
			height: auto;
			z-index: 1000;
			position: absolute;
			width: 50%;
			top: 0px;
		}
		.show-map{
			background: #FFF;
			border: 1px solid #eae9ea;
			text-align: center;
			width: 99px;
			position: absolute;
			top: -20px;
			right: 20px;
			font-size: 12px;
			line-height: 34px;
			cursor: pointer;
			@media (min-width: $screen-sm-min){
				display: none;
			}
			.icon-arrow-up{
				display: none;
			}
		}
		#studio-info{
			float: left;
			@media (min-width: $screen-md-min){
				position: absolute;
				top: 0px;
				left: -20px;
			}
			.studio-name{
				font-family: 'CircularStdMedium';
				font-size: 20px;
				line-height: 25px;
				margin-top: 45px;
				margin-bottom: 15px;
				max-width: 160px;
				@media (min-width: $screen-sm-min){
					font-family: 'CircularStdBold';
					font-size: 36px;
					line-height: 46px;
					color: #000000;
					margin-bottom: 10px;
					margin-top: 45px;
					font-weight: bold;
					max-width: 275px;
					min-height: 92px;
				}
			}
			.studio-address{
				font-family: 'CircularStd';
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 29px;
				color: #000000;
			}
			.studio-image{
				max-width: 500px;
				margin-bottom: 30px;
				img {
					width: 100%;
				}
				@media (min-width: $screen-md-min){
					margin-bottom: 0px;
					min-width: 500px;
				}
			}
		}
		#schedule{
			font-family: 'SFUITextLight';
			float: left;
			font-size: 16px;
			line-height: 20px;
			color: #000;
			padding: 0px;
			@media (min-width: $screen-md-min){
				max-width: 380px;
				position: absolute;
				left: 520px;
				top: 378px;
				.schedule{
					margin-top: 0px;
				}
			}
			@media (min-width: 1200px){
				max-width: 500px;
				position: absolute;
				left: 650px;
				top: 378px;
			}
            @media (min-width: $screen-lg-min){
                left: 670px;
            }
			p{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0px;
				}
			}
			.schedule-head{
				position: relative;
				font-family: 'CircularStdMedium';
				font-size: 19px;
				line-height: 24px;
				font-weight: 500;
				letter-spacing: 0.2px;
				color: #000000;
				margin-bottom: 28px;
				.glyphicon-heart-empty,
				.glyphicon-heart{
					position: absolute;
					top: 4px;
					right: 0px;
					font-size: 18px; 
					color: #000;
					cursor: pointer;
				}
				.icon-favorite-empty,
				.icon-favorites-fill{
					position: absolute;
					top: 5px;
					right: 0px;
					font-size: 15px; 
					color: #000;
					cursor: pointer;
				}
				.icon-favorites-fill{
					font-size: 15px;
					top: 4px;
				}
				.icon-clock-selected{
					position: absolute;
					color: #000;
					font-size: 17px;
					top: 3px;
					right: 39px;
					cursor: pointer;
					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
						right: 30px;
					}
				}
				.icon-clock{
					position: absolute;
					top: 3px;
					right: 40px;
					font-size: 17px; 
					color: #000;
					cursor: pointer;
				}
				.opening-popover{
					position: absolute;
					bottom: -23px;
					right: -40px;
					font-family: 'CircularStd';
					font-size: 16px;
					color: #000000;
					display: none;
					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
						right: -30px;
					}
					.content{
						background: #FFF;
						padding: 30px;
						position: absolute;
						top: 0px;
						right: 0px;
						border: 2px solid #28292a;
						text-align: left;
						border-radius: 3px;
						max-width: 335px;
						@media (min-width: $screen-sm-min){
							white-space: nowrap;
							max-width: 500px;
						}
						.opening-head{
							font-family: 'CircularStdMedium';
							line-height: 24px;
							font-size: 19px;
							font-weight: 500;
							letter-spacing: 0.2px;
							color: #000000;
							margin-bottom: 25px;
						}
						.opeing-row{
							float: left;
							clear: both;
							margin-bottom: 20px;
							font-size: 16px;
							line-height: 20px;
							font-family: 'CircularStdMedium';
							span{
								min-width: 200px;
								display: inline-block;
								white-space: pre-wrap;
								@media (min-width: $screen-sm-min){
									min-width: 100px;
									display: inline-block;
									white-space: nowrap;
								}
							}
							&:last-child{
								margin-bottom: 0px;
							}
						}
					}
					.arrow{
						width: 0; 
						height: 0; 
						border-left: 18px solid transparent;
						border-right: 18px solid transparent;
						border-bottom: 15px solid #28292a;
						position: absolute;
						top: -13px;
						right: 30px;
						z-index: 1;
						.after{
							border-left: 16px solid transparent;
							border-right: 16px solid transparent;
							border-bottom: 13px solid #FFF;
							top: 3px;
							left: -16px;
							position: absolute;
						}
					}
				}
				.bubble{
					position: absolute;
					bottom: 0px;
					right: -10px;
					font-family: 'CircularStd';
					font-size: 16px;
					color: #000000;
					display: none;
					.content{
						background: #FFF;
						padding: 10px 10px;
						position: absolute;
						bottom: 30px;
						right: 0px;
						white-space: nowrap;
						border: 1px solid #dedede;
						text-align: center;
					}
					.arrow{
						width: 0; 
						height: 0; 
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid #FFF;
						position: absolute;
						bottom: 21px;
						right: 10px;
						.after{
							border-left: 12px solid transparent;
							border-right: 12px solid transparent;
							border-top: 13px solid #dedede;
							top: -11px;
							left: -12px;
							z-index: -1;
							position: absolute;
						}
					}
				}
			}
			.schedule{
				@media (min-width: $screen-sm-min){
					max-height: 133px;
					overflow: hidden;
				}
			}
		}
	}
}

.gm-style img{
	max-width:none;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
	display:none;
}
.gmnoprint div {
	background:none !important;
}



.crsl{
	position: relative;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	img {
		width: 100%;
		position: relative;
		display: none;
		top: 0;
		left: 0;
		margin-bottom: 10px;
		&:first-child {
			display: block;
		}
	}
	.tmb-wrap {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc( 100% - 10px);

		.tmb-wrap-table {
			display: table;
			height: 100%;
			width: 100%;
			div {
				display: table-cell;
				transition: all .3s ease;
				border-bottom: 5px solid transparent;
				padding-top: 10px;
				-webkit-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
				&.active{
					border-color: transparent;
				}
				&:hover{
					&.active{
						border-color: #28292a;
					}
				}
				&:first-child:last-child {
					border-color: transparent;
				}
			}
		}
	}
}
.teachersList{
	.box{
		p{
			&.address{
				height: 36px;
			}
		}
	}
}

.preloader {
	display: none;
	position: fixed;
	margin: 25px auto 0 auto;
	width: 60px;
	height: 60px;
	bottom: 30px;
	left: calc(50% - 30px);
}
.location-content-container{
    position: relative;
}


#studioInfo{
    margin-top: 30px;
    @media (min-width: $screen-sm-min){
        margin-top: 30px;
    }
    .studio-name{
        font-family: 'CircularStdBold';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        color: #000000;
        max-width: 160px;
        margin-bottom: 15px;
        @media (min-width: $screen-sm-min){
            font-size: 36px;
            line-height: 46px;
            max-width: 275px;
            margin-bottom: 10px;
        }
    }
    .studio-address,
    .studio-phone{
        font-family: 'CircularStd';
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        float: left;
    }
    .studio-address{
        max-width: 228px;
        margin-right: 40px;
    }
    .image{
        z-index: 10;
        @media (min-width: $screen-lg-min){
            padding-right: 60px;
        }
        img{
            max-width: 353px;
            float: right;
        }
    }
}
.schedule-alignment-fix{
    margin-bottom: 25px;
    @media (min-width: $screen-sm-min){
        padding-left: 0px;
        padding-right: 0px;
    }
}
#studioSchedule{
    background: #f2f2f2;
    position:relative;
    display: inline-block;
    top: 0px;
    z-index: 1;
    margin: 25px 0px 0px 0px;
    padding-bottom: 50px;
    width: 100%;
    @media (min-width: $screen-sm-min){
        top: -70px;
        margin: 0px 20px;
    }
    @media (min-width: $screen-md-min){
        margin: 0px 40px 0px 20px;
        max-width: 1300px;
    }
    .stairs{
        display: none;
        border-top: 101px solid #FFF;
        border-right: 545px solid #FFF;
        border-left: 240px solid transparent;
        position: absolute;
        right: 0px;
        top: 0px;
        @media (min-width: $screen-sm-min){
            display: block;
        }
    }
    .week-select{
        height: 97px;
        padding: 25px 0px;
        margin-left: 30px;
        @media (min-width: $screen-sm-min){
            margin-left: 70px;
            padding: 47px 0px 30px 0px;
        }
        img{
            float: left;
            cursor: pointer;
            border: solid 2px #eae9ea;
        }
        .dt{
            width: 200px;
            font-family: 'SFUITextLight';
            font-size: 17px;
            line-height: 30px;
            font-weight: 300;
            text-align: center;
            color: #28292a;
            float: left;
            @media (min-width: $screen-sm-min){
                width: auto;
                padding: 0px 42px;
                font-size: 19px;
            }
        }
    }
    .mobile-week{
        padding: 0px 20px;
        .day-name{
            text-align: center;
            padding: 0px 0px 25px 0px;
            font-family: 'CircularStdMedium';
            font-size: 17px;
            font-weight: 500;
            text-align: center;
            color: #a8a8a8;
            width: 12.5%;
            float: left;
            span{
                float: left; 
                width: 100%;
                text-align: center;
            }
            strong{
                clear: both;
                width: 100%;
                color: #28292a;
                max-width: 31px;
                height: 31px;
                margin: auto;
                margin-top: 10px;
                display: inline-block;
            }
            &.current{
                color: #28292a;
                strong{
                    background: #28292a;
                    border-radius: 30px;
                    color: #FFF;
                    width: 100%;
                    margin-top: 6px;
                    padding-top: 4px;
                }
            }
        }
    }
    .weekdays{
        width: 20%;
        float: left;
        @media (min-width: $screen-sm-min){
            margin-top: 70px;
            width: 75px;
            margin-left: 40px;
        }
        .day-name{
            text-align: center;
            padding: 0px;
            font-family: 'CircularStdMedium';
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            text-align: center;
            color: #a8a8a8;
            height: 203px;
            strong{
                color: #000000;
                margin-top: 10px;
                display: block;
                @media (min-width: $screen-sm-min){
                    margin-top: 3px;
                }
            }
            &.current{
                color: #000000;
            }
            @media (min-width: $screen-sm-min){
                font-size: 19px;
                line-height: 24px;
            }
        }
    }
    .calendar-box{
        width: 80%;
        float: left;
        @media (min-width: $screen-sm-min){
            width: 82.5%;
            margin-top: 70px;
            margin-left: 55px;
            
        }
        
    }
    .calendar{
        padding-left: 0px;
        @media (min-width: $screen-sm-min){
            padding-left: 0px;
        }
        .calendar-row-container{
            position: relative;
            @media (min-width: $screen-sm-min){
                width: 990px;
            }
            .swiper-container{
                width: 100%;
                height: 100%;
            }
        }
        
        .col-day{
            margin-bottom: 3px;
            @media (min-width: $screen-sm-min){
            }
            .class{
                background: #FFF;
                margin-right: 3px;
                padding: 20px;
                color: #28292a;
                @media (max-width: $screen-sm-min){
                    max-width: 195px;
                    min-width: 195px;
                    width: 195px !important;
                }
                &.highlight {
                    background: #fdfcea;

                    .corner {
                        border-color: transparent transparent #fdfcea transparent;
                    }
                }
                &.disabled{
                    color: #bebebf;
                    .status{
                        color: #000;
                    }
                    .corner{
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 0; 
                        height: 0; 
                        border-style: solid;
                        border-width: 0 0 62px 62px;
                        border-color: transparent transparent #F2F2F2 transparent;
                    }
                    .className, .name, .address, .teacherName,.time, .level, .book
                    {opacity: 0.2;
                        cursor: default;}
                }
                .className{
                    font-family: 'CircularStdMedium';
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 10px;
                }
                .name{
                    color: #28292A;
                    font-family: 'CircularStdMedium';
                    font-size: 36px;
                    line-height: 46px;
                    margin-bottom: 30px;
                    opacity: 0.2;
                }
                .address{
                    max-width: 90px;
                    font-family: 'CircularStdMedium';
                    font-size: 16px;
                    line-height: 20px;
                    height: 60px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 28px;
                    @media (min-width: $screen-sm-min){
                        max-width: 160px;
                    }
                }
                .teacherName{
                    font-family: 'CircularStdMedium';
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 43px;
                }
                .status{
                    font-family: 'CircularStdMedium';
                    height: 20px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color: #1e1e1e;
                    margin-bottom: 0px;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                }
                .level{
                    font-family: 'SFUITextLight';
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 300;
                    color: #1e1e1e;;
                    margin-bottom: 0px;
                }
                .time{
                    color: #1e1e1e;;
                    font-family: 'SFUITextLight';
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 20px;
                    font-weight: 300;
                }
                .book{
                    font-family: 'CircularStd';
                    width: 110px;
                    font-size: 16px;
                    color: #000;
                    line-height: 39px;
                    background: #F4F4F4;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    text-decoration: none;
                    text-align: center;
                    &:hover{
                        background: #fceae4;
                    }
                }
                .half{
                    width: 50%;
                    float: left;
                    @media (min-width: $screen-sm-min){
                        width: 100%;
                        clear: both;
                    }
                    &.last{
                        p{
                            float: right;
                            @media (min-width: $screen-sm-min){
                                float: left;
                            }
                        }
                    }
                    p{
                        float: left;
                        clear: both;
                    }
                    
                }
                .corner{
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    width: 0; 
                    height: 0; 
                    border-style: solid;
                    border-width: 0 0 50px 50px;
                    border-color: transparent transparent #FFF transparent;
                }
            }
        }
    }
}
.container-sm{
    position:relative;
}
.login-overlay{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1000;
    .overlay{
        position: absolute;
        top: 0px;
        left: 0px;
        background: #FFF;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .login-area-container{
        margin: auto;
        width: 100%;
        max-width: 358px;
        margin-top: 30px;
        position: relative;
        background: none;
        .login-area{
            background: none;
            padding-top: 0px;
            padding-left: 0px;
        }
        .login-form{
            margin: 0px auto 20px 0px;
        }
        .close-login{
            text-align: right;
            margin: auto;
            font-size: 24px;
            padding: 20px 0px 30px 0px;
            color: #bbb;
            cursor: pointer;
        }
        a{
            .social-login{
                border: solid 2px #eae9ea;
            }
        }
    }
    .intermediate-text{
        color: #28292a;
    }

}

.slide-next{
    display: none;
    @media (min-width: $screen-sm-min){
        display: block;
        height: 200px;
        position: absolute;
        right: -66px;
        top: 0px;
        width: 70px;
        z-index: 300;
    }
    .schedule-swiper-button-next{
        font-size: 60px;
        top: 91px;
        @media (min-width: $screen-lg-min){
            right: 65px;
        }
    }
    
    
}
.slide-prev{
    display: none;
    @media (min-width: $screen-sm-min){
        display: block;
        height: 200px;
        position: absolute;
        left: -40px;
        top: 0px;
        width: 70px;
        z-index: 300;
    }
    .schedule-swiper-button-prev{
        font-size: 60px;
        top: 91px;
        @media (min-width: $screen-lg-min){
            left: 30px;
        }
    }
}

.swiper-button-next{
    background: none;
    box-shadow: 0px 0px 0px;
    right: 0px !important;
}
.swiper-button-prev{
    background: none;
    box-shadow: 0px 0px 0px;
    left: 0px !important;
}



.container-md{
    @media (min-width: $screen-sm-min){
        margin: 0px 125px;
    }
}
.contact-area{
    background: #28292a;
    padding-top: 45px;
    padding-bottom: 25px;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
    @media (min-width: $screen-sm-min){
        padding-left: 0px;
        padding-right: 0px;
    }
    @media (min-width: $screen-lg-min){
        margin-left: -20px;
        margin-right: 0px;
    }
    .title{
        font-family: 'CircularStdBold';
        font-size: 20px;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 30px;
        letter-spacing: 1.6px;
        @media (min-width: $screen-sm-min){
            font-family: 'CircularStdBold';
            font-size: 36px;
            line-height: 46px;
            font-weight: 900;
            letter-spacing: 1.6px;
        }
    }
    .text{
        font-family: 'SFUITextLight', Helvetica;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 30px;
        @media (min-width: $screen-sm-min){
            max-width: 800px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
	        line-height: 1.32;
            margin-bottom: 51px;
        }
    }
    .form-title{
        font-family: 'CircularStd';
        font-size: 19px;
        line-height: 24px;
        font-weight: 500;
        color: #FFF;
        margin-bottom: 20px;

    }
    form{
        clear: both;
        max-width: 800px;
        margin-bottom: 75px;
        .inputs{
            width: 100%;
            float: left;
            @media (min-width: $screen-md-min){
                margin-right: 80px;
                max-width: 308px;
            }
        }
        .message{
            width: 100%;
            float: left;
            margin-top: 17px;
            @media (min-width: $screen-md-min){
                max-width: 308px;
            }
        }
        .text-field{
            font-family: 'CircularStd';
            background: #28292a;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px;
            padding: 10px 0px;
            width: 100%;
            border: 0px;
            border-bottom: 2px solid #3c3d3e;
            outline: 0px;
            @media (min-width: $screen-md-min){
                margin-right: 80px;
                float: left;
                width: 308px;
            }
            &:focus{
                border-bottom: 2px solid #FFF;
            }
        }
        .message-field{
            outline: 0px;
            font-family: 'CircularStd';
            background: #28292a;
            font-size: 16px;
            line-height: 20px;
            width: 100%;
            margin-bottom: 20px;
            margin-top: -17px;
            padding-top: 12px;
            border: 0px;
            border-bottom: 2px solid #3c3d3e;
            resize: none;
            height: 104px;
            @media (min-width: $screen-md-min){
                float: right;
                width: 308px;
            }
            &:focus{
                border-bottom: 2px solid #FFF;
            }
        }

        .submit{
            font-family: 'CircularStd';
            font-size: 16px;
            text-align: center;
            line-height: 45px;
            width: 100%;
            background: #FFF;
            color: #28292a;
            border: 0px;
            clear: both;
            padding: 0px;
            margin-top: 10px;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            @media (min-width: $screen-md-min){
                max-width: 308px;
                margin-left: 388px;
            }
        }
        .error{
            padding: 0px;
            margin-top: -19px;
            float: left;
            font-size: 12px;
            color: #faddd1;
        }
    }
}