@import'base';
@import 'header';
@import 'footer';
@import 'listing';
@import 'classesList';
@import 'login-form';
@import 'modalMembership';

.sList{
    margin-top: 50px;
	.view-map-container{
		text-align: center;
		position: fixed;
		bottom: 20px;
		left: calc(50% - 50px);
		z-index: 1;
		@media (min-width: $screen-sm-min){
			display: none;
		}
		.view-map{
			font-size: 12px;
			line-height: 34px;
			width: 100px;
			background-color: #ffffff;
			border: solid 1px #eae9ea;
			text-align: center;
			color: #000;
			display: inline-block;
			cursor: pointer;
		}
	}
}

.sMap{
    display: none;
    padding-right: 0px;
    padding-left: 0px;
	height: 528px;
    @media (min-width: $screen-sm-min){
        display: block;
		height: 100%;
		max-height: 100%;
		padding-left: 10px;
		position: fixed;
		right: 0px;
		top: 0px;
    }
	@media (min-width: $screen-lg-min){
		width: calc(50% - 240px);
	}
    img{
        width: 100%;
    }
	.map-container{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		@media (min-width: $screen-sm-min){
			//padding-right: 20px;
		}
		#map_canvas{
			height: 100%;
			@media (min-width: $screen-sm-min){
				height: 100%;
			}
			.gmnoprint{
				bottom: 110px !important;
			}
			.gm-style{
				&>div:nth-child(7){
					top: 65px !important;
				}
				.gm-style-iw {
					width: 230px !important;
					top: 15px !important;
					left: 30px !important;
					box-shadow: 0 3px 6px #aaa;
					border-radius: 2px 2px 0 0;
					background: #FFF;
					z-index: 0;	
					@media (min-width: $screen-sm-min){
						width: 230px !important;
					}
					&>div{
						max-width: 230px !important;
						@media (min-width: $screen-sm-min){
							width: 230px !important;
						}
					}
					a{
						text-decoration: none;
						img{
							
						}
						p{
							font-family: 'CircularStd';
							font-size: 14px;
							margin: 10px 0px 10px 10px;
							color: #000;
							text-decoration: none;
						}
					}
				}
			}
			
		}
	}
	
	.results-container{
		text-align: center;
		.results{
			font-size: 12px;
			line-height: 34px;
			width: 100px;
			background-color: #ffffff;
			border: solid 1px #eae9ea;
			text-align: center;
			color: #000;
			position: fixed;
			bottom: 20px;
			left: calc(50% - 50px);
			cursor: pointer;
			z-index: 1;
			@media (min-width: $screen-sm-min){
				display: none;
			}
		}
	}
}

.main-area{
	margin-bottom: 50px;
	position: relative;
	padding: 0px;
	@media (min-width: $screen-md-min){
		padding: 0px 20px;
	}
	@media (min-width: $screen-md-min){
		height: 550px;
	}
	.staires-bg{
		display: none;
		@media (min-width: $screen-md-min){
			position: absolute;
			top: 0px;
			left: 0px;
			background: #FFF;
			clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
			height: 350px;
			width: 58%;
			display: block;
			z-index: 110;
			@-moz-document url-prefix() { 
				background: transparent;
				height: 0px;
				border-bottom: 350px solid #FFF;
				border-left: 0px solid #000;
				border-right: 361px solid transparent;
			}
			@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
				background: transparent;
				height: 0px;
				border-bottom: 350px solid #FFF;
				border-left: 0px solid #000;
				border-right: 361px solid transparent;
			}
		}
	}
	.map-container{
		height: 50px;
		overflow: hidden;
		@media (min-width: $screen-sm-min){
			height: 342px;
		}
		#map_canvas{
			height: 460px;
			max-height: 460px;
			float: left;
			width: 100%;
			@media (min-width: $screen-md-min){
				position: absolute;
				z-index: 100;
				height: 342px;
				right: -30px;
			}
		}
	}
	
	.studio-info-container{
		height: auto;
		float: left;
		margin: 0px;
		top: 0px;
		background: #FFF;
		position: relative;
		padding: 0px 20px;
		@media (min-width: $screen-sm-min){
			padding: 0px;
		}
		@media (min-width: $screen-md-min){
			background: none;
			margin: 0px 20px;
			height: auto;
			z-index: 1000;
			position: absolute;
			width: 50%;
			top: 0px;
		}
		.show-map{
			background: #FFF;
			border: 1px solid #eae9ea;
			text-align: center;
			width: 99px;
			position: absolute;
			top: -20px;
			right: 20px;
			font-size: 12px;
			line-height: 34px;
			cursor: pointer;
			@media (min-width: $screen-sm-min){
				display: none;
			}
			.icon-arrow-up{
				display: none;
			}
		}
		#studio-info{
			float: left;
			@media (min-width: $screen-md-min){
				position: absolute;
				top: 0px;
				left: -20px;
			}
			.studio-name{
				font-family: 'CircularStdMedium';
				font-size: 20px;
				line-height: 25px;
				margin-top: 45px;
				margin-bottom: 15px;
				max-width: 160px;
				@media (min-width: $screen-sm-min){
					font-family: 'CircularStdBold';
					font-size: 36px;
					line-height: 46px;
					color: #000000;
					margin-bottom: 10px;
					margin-top: 45px;
					font-weight: bold;
					max-width: 275px;
					min-height: 92px;
				}
			}
			.studio-address{
				font-family: 'CircularStd';
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 29px;
				color: #000000;
			}
			.studio-image{
				max-width: 500px;
				margin-bottom: 30px;
				img {
					width: 100%;
				}
				@media (min-width: $screen-md-min){
					margin-bottom: 0px;
					min-width: 500px;
				}
			}
		}
		#schedule{
			font-family: 'SFUITextLight';
			float: left;
			font-size: 16px;
			line-height: 20px;
			color: #000;
			padding: 0px;
			@media (min-width: $screen-md-min){
				max-width: 380px;
				position: absolute;
				left: 520px;
				top: 378px;
				.schedule{
					margin-top: 0px;
				}
			}
			@media (min-width: 1200px){
				max-width: 500px;
				position: absolute;
				left: 650px;
				top: 378px;
			}
            @media (min-width: $screen-lg-min){
                left: 670px;
            }
			p{
				margin-bottom: 20px;
				&:last-child{
					margin-bottom: 0px;
				}
			}
			.schedule-head{
				position: relative;
				font-family: 'CircularStdMedium';
				font-size: 19px;
				line-height: 24px;
				font-weight: 500;
				letter-spacing: 0.2px;
				color: #000000;
				margin-bottom: 28px;
				.glyphicon-heart-empty,
				.glyphicon-heart{
					position: absolute;
					top: 4px;
					right: 0px;
					font-size: 18px; 
					color: #000;
					cursor: pointer;
				}
				.icon-favorite-empty,
				.icon-favorites-fill{
					position: absolute;
					top: 5px;
					right: 0px;
					font-size: 15px; 
					color: #000;
					cursor: pointer;
				}
				.icon-favorites-fill{
					font-size: 15px;
					top: 4px;
				}
				.icon-clock-selected{
					position: absolute;
					color: #000;
					font-size: 17px;
					top: 3px;
					right: 39px;
					cursor: pointer;
					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
						right: 30px;
					}
				}
				.icon-clock{
					position: absolute;
					top: 3px;
					right: 40px;
					font-size: 17px; 
					color: #000;
					cursor: pointer;
				}
				.opening-popover{
					position: absolute;
					bottom: -23px;
					right: -40px;
					font-family: 'CircularStd';
					font-size: 16px;
					color: #000000;
					display: none;
					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
						right: -30px;
					}
					.content{
						background: #FFF;
						padding: 30px;
						position: absolute;
						top: 0px;
						right: 0px;
						border: 2px solid #28292a;
						text-align: left;
						border-radius: 3px;
						max-width: 335px;
						@media (min-width: $screen-sm-min){
							white-space: nowrap;
							max-width: 500px;
						}
						.opening-head{
							font-family: 'CircularStdMedium';
							line-height: 24px;
							font-size: 19px;
							font-weight: 500;
							letter-spacing: 0.2px;
							color: #000000;
							margin-bottom: 25px;
						}
						.opeing-row{
							float: left;
							clear: both;
							margin-bottom: 20px;
							font-size: 16px;
							line-height: 20px;
							font-family: 'CircularStdMedium';
							span{
								min-width: 200px;
								display: inline-block;
								white-space: pre-wrap;
								@media (min-width: $screen-sm-min){
									min-width: 100px;
									display: inline-block;
									white-space: nowrap;
								}
							}
							&:last-child{
								margin-bottom: 0px;
							}
						}
					}
					.arrow{
						width: 0; 
						height: 0; 
						border-left: 18px solid transparent;
						border-right: 18px solid transparent;
						border-bottom: 15px solid #28292a;
						position: absolute;
						top: -13px;
						right: 30px;
						z-index: 1;
						.after{
							border-left: 16px solid transparent;
							border-right: 16px solid transparent;
							border-bottom: 13px solid #FFF;
							top: 3px;
							left: -16px;
							position: absolute;
						}
					}
				}
				.bubble{
					position: absolute;
					bottom: 0px;
					right: -10px;
					font-family: 'CircularStd';
					font-size: 16px;
					color: #000000;
					display: none;
					.content{
						background: #FFF;
						padding: 10px 10px;
						position: absolute;
						bottom: 30px;
						right: 0px;
						white-space: nowrap;
						border: 1px solid #dedede;
						text-align: center;
					}
					.arrow{
						width: 0; 
						height: 0; 
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid #FFF;
						position: absolute;
						bottom: 21px;
						right: 10px;
						.after{
							border-left: 12px solid transparent;
							border-right: 12px solid transparent;
							border-top: 13px solid #dedede;
							top: -11px;
							left: -12px;
							z-index: -1;
							position: absolute;
						}
					}
				}
			}
			.schedule{
				@media (min-width: $screen-sm-min){
					max-height: 133px;
					overflow: hidden;
				}
			}
		}
	}
}

.purchase-banner{
	background: #faddd1;
	height: 231px;
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
	max-width: 1140px;
	.corner{
		display: block;
		position: absolute;
		bottom: 0px;
		right: -15px;
		width: 0; 
		height: 0; 
		border-style: solid;
		border-width: 0 0 245px 231px;
		border-color: transparent transparent #FFF transparent;
		z-index: 10;
	}
	.parallelipiped{
		display: block;
		width: 290px;
		height: 231px;
		-webkit-transform: skew(45deg);
		-moz-transform: skew(45deg);
			-o-transform: skew(45deg);
		background: #fceae4;
		position: absolute;
		top: 0px;
		right: 215px;
		z-index: 1;
	}
	.intro-text{
		margin: 35px 0px 0px 45px;
		font-family: 'CircularStdBold';
		font-size: 36px;
		line-height: 46px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #1e1e1e;
		span{
			color: #FFF;
		}
	}
	.purchase{
		position: absolute;
		z-index: 11;
		left: 45px;
		top: 150px;
		.text{
			font-family: 'SFUIText';
			font-size: 16px;
			line-height: 19px;
			color: #1e1e1e;
			margin-bottom: 30px;
			span{
				font-size: 36px;
				line-height: 46px;
				font-family: 'CircularStdBold';
				position: relative;
				padding-left: 12px;
                top: -8px;
				strong{
					font-size: 19px;
					line-height: 24px;
					position: absolute;
					top: 8px;
					left: 0px;
				}
			}
		}
		.button{
			width: 150px;
			background: #FFF;
			font-family: 'CircularStd';
			font-size: 16px;
			line-height: 45px;
			text-align: center;
			color: #1e1e1e;
			cursor: pointer;
			display: block;
            &:hover{
                text-decoration: none;
            }
		}
	}
}

.pricing{
	height: 78px;
	border-top: 1px solid #F1F1F1;
	padding-right: 60px;
	padding-top: 18px;
	position: absolute;
	z-index: 10;
	background: #fff;
	width: 100%;
	margin: 0px -20px;
	@media (min-width: $screen-xs-min){
		padding-right: 110px;
	}
	.from-pricing{
		font-family: 'CircularStd';
		font-size: 14px;
		line-height: 18px;
		float: right;
		margin-right: 28px;
		.bold{
			font-size: 16px;
			font-family: 'CircularStdBold';
			line-height: 20px;
		}
		.duration{
			font-family: 'SFUIDisplay';
			font-size: 16px;
		}
	}
	.see-pricing{
		font-family: 'CircularStdMedium';
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		color: #000;
		padding: 0px 23px;
		border: 2px solid #eae9ea;
		float: right
	}
}
.purchase-options{
	h3{
		margin-bottom: 20px;
	}
	.box{
        background: #FFF;
        padding: 30px 20px;
        position: relative;
        min-height: 380px;
        border: 2px solid #f4f4f4;
        font-size: 30px;
        color: #000;
        text-decoration: none;
        margin-bottom: 20px;
        @media (min-width: $screen-sm-min){
        	padding: 50px;
            min-height: 428px;
        }
        &.pippin{
            background: #faddd1;
        }
        .subscription{
        	display: flex;
        	justify-content: center;
        	align-items: center;
        	font-size: 16px;
        	text-align: center;
        	margin-bottom: 40px;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
            }
        	.sub{
        		border-right: 1px solid #000;
        		font-family: 'CircularStdBold';
        		&:last-child{
        			border-right: 0px;
        		}
        		padding: 0px 20px;
                @media (min-width: $screen-sm-min){
                    padding: 0px 10px;
                }
        		p:last-child{
        			font-family: 'CircularStd';
        			margin-bottom: 0px;
        			font-size: 15px;
                    @media (min-width: $screen-sm-min){
                        font-size: 19px;
                    }
        		}
        	}
        }
        .head{
            font-size: 20px;
            margin-bottom: 40px;
            @media (min-width: $screen-sm-min){
                font-size: 30px;
            }
            span{
            	font-size: 16px;
            	display: block;
                @media (min-width: $screen-sm-min){
                    font-size: 19px;
                }
            }
        }
        .text{
            font-size: 16px;
            margin-bottom: 20px;
            max-width: 400px;
            @media (min-width: $screen-sm-min){
                font-size: 19px;
            }
        }
        .cta{
            text-align: right;
            margin-bottom: 0px;
            position: absolute;
            bottom: 30px;
            right: 30px;
            @media (min-width: $screen-sm-min){
	        	bottom: 50px;
            	right: 50px;
	        }
            .btn{
                background: #FFF;
                font-size: 16px;
                line-height: 40px;
                padding: 0px 40px;
                text-align: center;
                color: #1e1e1e;
                cursor: pointer;
                &.pippin{
		            background: #faddd1;
		        }
            }
        }
    }
}
.gm-style img{
	max-width:none;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
	display:none;
}
.gmnoprint div {
	background:none !important;
}



.crsl{
	position: relative;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	img {
		width: 100%;
		position: relative;
		display: none;
		top: 0;
		left: 0;
		margin-bottom: 10px;
		&:first-child {
			display: block;
		}
	}
	.tmb-wrap {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc( 100% - 10px);

		.tmb-wrap-table {
			display: table;
			height: 100%;
			width: 100%;
			div {
				display: table-cell;
				transition: all .3s ease;
				border-bottom: 5px solid transparent;
				padding-top: 10px;
				-webkit-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
				&.active{
					border-color: transparent;
				}
				&:hover{
					&.active{
						border-color: #28292a;
					}
				}
				&:first-child:last-child {
					border-color: transparent;
				}
			}
		}
	}
}
.teachersList{
	.box{
		p{
			&.address{
				height: 36px;
			}
		}
	}
}

.preloader {
	display: none;
	position: fixed;
	margin: 25px auto 0 auto;
	width: 60px;
	height: 60px;
	bottom: 30px;
	left: calc(50% - 30px);
}
.location-content-container{
    position: relative;
}
.login-overlay{
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: none;
    z-index: 1000;
	.overlay{
		position: absolute;
		top: 0px;
		left: 0px;
		background: #FFF;
		opacity: 0.9;
		width: 100%;
		height: 100%;
	}
	.login-area-container{
		margin: auto;
		width: 100%;
		max-width: 358px;
		margin-top: 30px;
		position: relative;
        background: none;
        .login-area{
            background: none;
            padding-top: 0px;
            padding-left: 0px;
        }
		.login-form{
			margin: 0px auto 20px 0px;
		}
		.close-login{
			text-align: right;
			margin: auto;
			font-size: 24px;
			padding: 20px 0px 30px 0px;
			color: #bbb;
			cursor: pointer;
		}
		a{
			.social-login{
				border: solid 2px #eae9ea;
			}
		}
	}
	.intermediate-text{
		color: #28292a;
	}

}
.banner-success{
	position: relative;
	z-index: 10
}
#login-message{
	display: none;
	.banner-success{
		position: relative;
		z-index: 10
	}
}