@import'base';
@import 'footer';
@import 'header';
@import 'classesList';
@import 'listing';
@import 'teachersProfilesList';
@import "login-form";
@import "modalMembership";


.main-profile{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 20px;
    @media (min-width: $screen-sm-min){
        margin-top: 50px;
        margin-bottom: 45px;
    }
    .picture{
        margin-bottom: 30px;
        @media (min-width: $screen-sm-min){
            margin-bottom: 0px;
        }
        img{
            width: 100%;
            height: auto;
            max-width: 360px;
        }
        .social-media{
            display: none;
            position: static;
            margin-top: 40px;
            @media (min-width: $screen-sm-min){
                display: block;
                position: absolute;
                bottom: 5px;
                left: calc(100% + 50px);
                width: 125px;
            }
            span{
                float: left;
                font-size: 16px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
    .head{
        position: relative;
        margin-bottom: 50px;
        height: 133px;
        z-index: 1;
        .glyphicon,
        .icon-favorites-fill{
            position: absolute;
            font-size: 19px;
            right: 30px;
            top: 3px;
            color: #000;
            @media (min-width: $screen-lg-min){
                right: 49px;
                top: 19px;
            }
        }
        .icon-favorite-empty{
            position: absolute;
            font-size: 18px;
            right: 30px;
            top: 4px;
            color: #000;
            @media (min-width: $screen-lg-min){
                right: 50px;
                top: 20px;
            }
        }
        .parallelipiped{
            display: none;
            width: 258px;
            height: 133px;
            -webkit-transform: skew(45deg);
            -moz-transform: skew(45deg);
                -o-transform: skew(45deg);
            background: #F4F4F4;
            position: absolute;
            top: 0px;
            left: 65px;
            z-index: 1;
            @media (min-width: $screen-sm-min){
                left: 115px;
                display: block;
            }
        }
        .name{
            font-family: 'CircularStdMedium';
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 8px;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 100;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 105px;
            @media (min-width: $screen-sm-min){
                top: 20px;
                left: 50px;
                font-size: 36px;
                line-height: 46px;
                max-width: 100%;
            }
        }
        .city{
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 20px;
            position: absolute;
            left: 0px;
            top: 60px;
            z-index: 100;
            @media (min-width: $screen-sm-min){
                left: 50px;
                top: 74px;
            }
        }
        .bubble{
            position: absolute;
            bottom: 0px;
            right: -10px;
            font-family: 'CircularStd';
            font-size: 16px;
            color: #000000;
            display: none;
            .content{
                background: #FFF;
                box-shadow: 0px 0px 20px #ccc;
                padding: 10px 10px;
                position: absolute;
                bottom: 30px;
                right: 0px;
                white-space: nowrap;
                border: 1px solid #dedede;
                text-align: center;
            }
            .arrow{
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #FFF;
                position: absolute;
                bottom: 21px;
                right: 10px;
            }
        }
    }
    .description{
        padding-left: 20px;
        position: relative;
        min-height: 240px;
        @media (min-width: $screen-sm-min){
            padding-left: 50px;
        }
        .text{
            font-family: 'SFUITextLight';
            font-size: 16px;
            line-height: 19px;
            font-weight: 300;
            color: #000;
            @media (min-width: $screen-sm-min){
                font-size: 16px;
                line-height: 21px;
            }
        }
        .social-media{
            display: block;
            position: static;
            margin-top: 40px;
            @media (min-width: $screen-sm-min){
                display: none;
                position: absolute;
                bottom: 18px;
                left: calc(100% + 50px);
                width: 125px;
            }
            span{
                float: left;
                font-size: 16px;
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
}

.title.no-button {
    @media (min-width: $screen-sm) {
        padding: 0 0 0 50px;
    }
}

.join-banner-teacher{
    font-family: 'CircularStd';
    margin-left: -20px;
    margin-right: -20px;
    
    @media (min-width: $screen-sm-min){
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner-image{
        max-height: 232px;
        display: inline-block;
        img{
            width: 100%;
            height: auto;
        }
    }
    .banner-text{
        width: auto;
        font-family: 'CircularStdBold';
        text-align: center;
        color: #ffffff;
        position: absolute;
        font-weight: 900;
        letter-spacing: 2.1px;
        font-size: 20px;
        line-height: 25px;
        top: 10px;
        left: 20px;
        @media (min-width: $screen-sm-min){
            width: 285px;
            font-size: 48px;
            line-height: 61px !important;
            top: 25px;
            left: 54px;
            max-height: 122px;
        }
    }
    .banner-button{
        background: #FFF;
        color: #28292a;
        font-size: 14px;
        line-height: 30px;
        padding: 0px 17px;
        position: absolute;
        top: 65px;
        left: 35px;
        @media (min-width: $screen-sm-min){
            line-height: 40px;
            top: 168px;
            left: 65px;
        }
    }
}

.mkt-banner {
    @media (min-width: $screen-lg-min) {
        margin-right: 20px !important;
    }
}
.col-sm-9{
    .mkt-banner{
        @media (min-width: $screen-lg-min) {
            margin-right: 30px !important;
        }
    }
}

.instagram-media {
    padding: 0 15px;

    @media (min-width: $screen-sm) {
        padding: 0 60px;
    }

    .instagram-item {
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 10px;

        @media (min-width: $screen-sm) {
            padding-right: 10px;
            padding-left: 10px;
        }

        img {
            width: 100%;
        }
    }
}

.login-overlay {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1000;
    .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        background: #FFF;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
    .login-area-container {
        margin: auto;
        width: 100%;
        max-width: 358px;
        margin-top: 30px;
        position: relative;
        background: none;
        .login-area {
            background: none;
            padding-top: 0px;
            padding-left: 0px;
        }
        .login-form {
            margin: 0px auto 20px 0px;
        }
        .close-login {
            text-align: right;
            margin: auto;
            font-size: 24px;
            padding: 20px 0px 30px 0px;
            color: #bbb;
            cursor: pointer;
        }
        a {
            .social-login {
                border: solid 2px #eae9ea;
            }
        }
    }
}
.intermediate-text{
    color: #28292a;
}

.content-container{
    position: relative;
}
#login-message{
    display: none;
    .banner-success{

    }
}
