@import'base';
@import 'footer';
@import 'header';
#privacy{
    font-family: 'SFUITextLight';
    margin-top: 0px;
    @media (min-width: $screen-sm-min){
        margin-top: 50px;
    }
    .legal-nav{
        height: 64px;
        background: #28292a;
        margin: 0px -20px;
        position: relative;
        @media (min-width: $screen-sm-min){
            margin: 0px;
            background: #FFF;
            height: auto;
        }
        .legal-nav-mobile{
            display: block;
            font-family: 'CircularStdMedium';
            font-size: 17px;
            line-height: 22px;
            font-weight: 500;
            color: #ffffff;
            padding: 20px 20px 22px 20px;
            @media (min-width: $screen-sm-min){
                display: none;
            }
            .glyphicon-chevron-down{
                float: right;
                top: 5px;
            }
        }
        .mobile-dropdown{
            display: none;
            background: #28292a;
            height: auto;
            width: 100%;
            padding-top: 20px;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            @media (min-width: $screen-sm-min){
                display: block;
                background: #FFF;
                padding-top: 0px;
            }
            .icon-close{
                position: absolute;
                top: 25px;
                right: 20px;
                font-size: 13px;
                color: #FFF;
                @media (min-width: $screen-sm-min){
                    display: none;
                }
            }
            a{
                font-family: 'CircularStdMedium';
                font-size: 17px;
                line-height: 22px;
                font-weight: 500;
                color: #8e8f8f;
                margin-bottom: 20px;
                margin-left: 20px;
                text-decoration: none;
                float: left;
                clear: both;
                &.active{
                    color: #FFF;
                }
                @media (min-width: $screen-sm-min){
                    font-size: 19px;
                    line-height: 24px;
                    color: #a8a8a8;
                    margin-bottom: 30px;
                    &.active{
                        color: #000;
                    }
                }
            }
        }
        
    }
    .privacy-content{
        margin-top: 30px;
        font-family: 'CircularStd';
        @media (min-width: $screen-sm-min){
            margin-top: 0px;
        }
        .banner{
            position: relative;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .head{
                position: absolute;
                text-align: center;
                color: #FFF;
                max-width: 80%;
                @media (min-width: $screen-sm-min){
                    font-size: 36px;
                    line-height: 45px;
                    letter-spacing: 1.6px;
                }
            }
            .bg-image{
                width: 100%;
                img{
                    width: 100%;
                    height: auto;
                }
            }


        }
        .title{
            line-height: 25px;
            font-family: 'CircularStdBold';
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 0.5px;
            color: #28292a;
            text-transform: uppercase;
            margin: 0px 0px 20px 0px;
            @media (min-width: $screen-sm-min){
                font-size: 36px;
                line-height: 45px;
                letter-spacing: 1.6px;
            }
        }
        h2{
            font-family: 'CircularStdMedium';
            font-size: 19px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.8px;
            color: #28292a;
            margin: 0px 0px 20px 0px;
            display: inline-block;
            @media (min-width: $screen-sm-min){
                margin: 10px 0px 30px 0px;
            }
        }
        h3{
            font-size: 16px;
            letter-spacing: 0.7px;
            color: #28292a;
            margin: 0px 0px 20px 0px;
            line-height: 20px;
            @media (min-width: $screen-sm-min){
                margin: 10px 0px 30px 0px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 300;
            line-height: 1.56;
            color: #28292a;
            margin-bottom: 20px;
            strong{
                font-family: 'CircularStdBold';
            }
        }
        ol, ul{
            margin-bottom: 30px;
            li{
                font-size: 16px;
                font-weight: 300;
                line-height: 1.56;
                color: #353637;
            }
        }
    }
}
.banner {
    @media (min-width: $screen-lg-min) {
        padding-left: 0px !important;
    }
    #what-glow {
        background: $brand-primary;
        height: auto;
        color: #FFF;
        margin: 50px -20px 0px -20px;
        font-family: 'CircularStdBold';
        font-size: 44px;
        text-align: center;
        padding: 92px 0px;
        text-transform: uppercase;
        font-weight: 900;
        @media (min-width: $screen-xs-min) {
            font-size: 70px;
        }
        @media (min-width: $screen-sm-min) {
            font-size: 90px;
        }
        @media (min-width: $screen-md-min) {
            padding: 92px 0px;
            font-size: 144px;
            line-height: 183px;

        }
        @media (min-width: $screen-lg-min) {
            margin: 50px 0px 0px 0px;
        }
    }
}
.container-md{
    @media (min-width: $screen-sm-min){
        padding: 0px 105px;
    }
}