@import'base';
@import 'footer';
@import 'header';


.w404{
    color: $brand-primary;
    font-family: 'CircularStdBold';
    font-weight: bold;
    font-size: 78px;
    line-height: 78px;
    margin: 126px auto 25px auto;
    text-align: center;
    @media (min-width: $screen-sm-min){
        font-size: 160px;
        line-height: 130px;
        margin: 147px auto 40px auto;
    }
}
.whoops{
    font-family: 'CircularStdMedium';
    font-size: 17px;
    line-height: 21px;
    color: #28292a;
    text-align: center;
    margin-bottom: 42px;
    @media (min-width: $screen-sm-min){
        font-size: 19px;
        margin-bottom: 70px;
        line-height: 24px;
    }
    strong{
        font-family: 'CircularStdBold';
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
        @media (min-width: $screen-sm-min){
            font-size: 36px;
        }
    }
}
a{
    text-decoration: none;
    .take-me-back{
        font-family: 'CircularStd';
        font-weight: 300;
        background-color: #28292a;
        width: 227px;
        margin: auto;
        margin-bottom: 212px;
        color: #ffffff;
        font-size: 16px;
        text-align: center;    
        line-height: 45px;
        text-decoration: none;
        @media (min-width: $screen-sm-min){
            margin-bottom: 242px;
        }
    }
    &:hover{
        text-decoration: none;
    }
}
