
<div class="classTitle  staff col-xs-12 ">Results for classes</div>
{% for class in classes %}
    <div class="col-xs-12 col-sm-3 small course class" >
        <a href="{{ path('studioSchedule', {slug: class.location.slug, '_fragment': class.uuid}) }}">
            <div class="course-box" data-uuid="{{ class.uuid }}">
                <div class="corner"></div>
                <div class="corner-booked"></div>
                <p class="className">
                    {{ class.name }}<br />
                    {{ (class.level is simpletext and class.level != 'None' ? "(#{class.level})" : '&nbsp;')|raw }}
                </p>
                <p class="time">{{ class.startDatetime|date("m/d g:iA") }} <br />({{ class.formattedDuration }})</p>
                <p class="teacherName">{{ class.staff.firstName }} {{ class.staff.lastName|slice(0,1) }}.</p>
                <p class="status">{{ class.getStatusForUserSchedule() }}</p>
            </div>
        </a>
    </div>
{% endfor %}