{% for searchResult in results %}
    <div class="result-row">
        {% if searchResult is iterable %}
            {% include 'FrontEndBundle:Search:partials/class_result.html.twig'
            with {classes: searchResult} %}
        {% elseif searchResult is instanceof('Sng\\Model\\Site\\Location') %}
            {% include 'FrontEndBundle:Search:partials/studio_result.html.twig'
            with {studio: searchResult} %}
        {% elseif searchResult is instanceof('Sng\\Model\\Staff\\Staff') %}
            {% include 'FrontEndBundle:Search:partials/staff_result.html.twig'
            with {staff: searchResult} %}
        {% endif %}
    </div>
{% endfor %}