<div class="col-xs-6 col-sm-3 box staff-image" data-suuid="{{ staff.uuid }}">
    <a href="{{ path('teacherProfile', {'slug': staff.slug }) }}">
            {% if staff.photos is not empty %}
                <img src="{{ staff.photos[0].path }}"  class="">
            {% else %}
                <img src="/images/group-1.jpg" />
            {% endif %}
    </a>
</div>
<div class="col-xs-6 col-sm-9">
    <div class="staffName ">{{ staff.name }}</div>
</div>
<div class="col-xs-12 col-sm-9">
    {% if staff.nextClasses is defined and staff.nextClasses is not empty %}
        <div class="nextClassTitle  staff col-xs-12 swiper-container">Classes</div>
        <div class="swiper-container staffs">
        <div class="swiper-wrapper">
        {% for class in staff.nextClasses %}
            <a href="{{ path('studioSchedule', {slug: class.location.slug, '_fragment': class.uuid}) }}">
                <div class="col-xs-12 col-sm-4 small course  swiper-slide">
                    <div class="course-box">
                        <div class="corner"></div>
                        <div class="corner-booked"></div>
                        <p class="className">
                            {{ class.name }}<br />
                            {{ (class.level is simpletext and class.level != 'None' ? "(#{class.level})" : '&nbsp;')|raw }}
                        </p>
                        <p class="time">{{ class.startDatetime|date("g:iA") }} ({{ class.formattedDuration }})</p>
                        <p class="teacherName">{{ class.staff.firstName }} {{ class.staff.lastName|slice(0,1) }}.</p>
                        <p class="status">{{ class.getStatusForUserSchedule() }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        </div>
    {% endif %}
</div>