<div class="col-xs-12 col-sm-4 box search" data-suuid="{{ studio.uuid }}">
    <a href="{{ path('studioDetails', {'slug': studio.slug }) }}">
        <p class="name">{{ studio.name }}</p>
        <p class="address">{{ studio.address }}</p>
        <div class="crsl">
            {% if studio.photos is not empty %}
                <img src="{{ studio.photos[0].path }}"  class="">
            {% else %}
                <img src="/images/default-image.jpg" />
            {% endif %}
        </div>
        
    </a>
</div>
<div class="col-xs-12 col-sm-8 nextClasses">
    {% if studio.nextClasses is defined or studio.nextClasses is not empty %}
        <div class="nextClassTitle col-xs-12">Classes</div>
        <div class="swiper-container studios">
        <div class="swiper-wrapper">
        {% for class in studio.nextClasses|slice(0,3) %}
            <a href="{{ path('studioSchedule', {slug: class.location.slug, '_fragment': class.uuid}) }}">
                <div class="col-xs-12 col-sm-4 small course swiper-slide" >
                    <div class="course-box" data-uuid="{{ class.uuid }}">
                        <div class="corner"></div>
                        <div class="corner-booked"></div>
                        <p class="className">
                            {{ class.name }}<br />
                            {{ (class.level is simpletext and class.level != 'None' ? "(#{class.level})" : '&nbsp;')|raw }}
                        </p>
                        <p class="time">{{ class.startDatetime|date("g:iA") }} ({{ class.formattedDuration }})</p>
                        <p class="teacherName">{{ class.staff.firstName }} {{ class.staff.lastName|slice(0,1) }}.</p>
                        <p class="status">{{ class.getStatusForUserSchedule() }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        </div>
    {% endif %}
</div>