{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/whoops.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}

<div class="container" id="whoops">
    <div class="row">
        <div class="col-xs-12">
            <div class="w404">Whoops!</div>
            <div class="whoops">
                Looks like there’s no glow here.
            </div>
            <a href="{{ path('homepage') }}">
                <div class="take-me-back">
                    Take me back
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/whoops.js') }}"></script>
{% endblock %}