{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - About us{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/about.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}

    <div class="container" id="about">
        <div class="row">
            <div class="col-xs-12 tt">
                <h1 class="title">About us</h1>
            </div>
            <div class="col-xs-12 col-md-7 tx">
                <p class="text">
                    We represent the original hot yoga movement. With many studios in our alliance, we’re the largest and fastest-growing hot yoga studio network worldwide.
                    Finding a break from grinding it out in the Big Apple or soaking up some sun in San Diego, you can find a SweatNGlow studio near you and book a class
                    through our easy online booking system.
                </p>
                <p class="text">
                    Let our certified, experienced, and friendly teachers guide you toward total mental and physical transformation.
                    If you’re a first-timer, our studios offer the perfect setting and expertise for you to begin your life-changing journey.
                    If you are an intermediate or experienced hot yogi, we have the teachers and classes to make you feel right at home in our studios.
                </p>
                <p class="text">
                    We’re creating an all-inclusive SweatNGlow culture for people from all walks of life.
                    More than just a network of studios, we’re one big hot yoga community with a clear mission: to help people improve their
                    mental and physical well-being through hot yoga.
                </p>
                <p class="text">
                    If you’re an independent hot yoga studio inspired by our mission, we’d love to have you as part of our network.
                    Just <a href="{{ path('contact') }}">reach out to us</a> and we’ll get back to you right away.
                </p>
            </div>
            <div class="col-xs-12 col-md-4" id="what-glow">
                    What do you <br /> sweat for ?
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 team-section">
                <h2 class="title">Team</h2>
                <div class="team">
                    <div class="image col-xs-12 col-sm-4">
                        <img src="/images/petra.jpg" />
                    </div>
                    <div class="desc col-xs-12 col-sm-8">
                        <p class="name">Petra Starke </p>
                        <p class="job">Founder & Chief Idealist</p>
                        <p>
                            SweatNGlow was born out of the vision of Petra Starke in collaboration with leading hot yoga studios, teachers, practitioners and Swiss entrepreneurs.
                            Petra, the President and CEO of Bikram Yoga during tumultuous times, dreamed of creating a new and modern hot yoga community where all would be welcome and
                            hot yoga studios would flourish with the right support. That dream became the mission of SweatNGlow: to empower every yoga practitioner, studio owner and
                            teacher to discover the best versions of themselves. Petra has always had a passion for yoga and fitness, including while previously serving in the
                            Obama White House and practicing law at a large law firm in Washington, DC.  Rather than have lunch at her desk, she taught spinning and yoga at
                            the White House gym and at the Nation’s Capital YMCA.  Petra is a certified hot yoga, hot yoga barre and spinning instructor, and former triathlete & marathon
                            runner.
                        </p>
                        <p class="quote">
                            “I do not sweat, I sparkle.”
                        </p>
                    </div>
                </div>
                <div class="team">
                    <div class="image col-xs-12 col-sm-4">
                        <img src="/images/sharon-2.jpg" />
                    </div>
                    <div class="desc col-xs-12 col-sm-8">
                        <p class="name">Sharon Clerkin</p>
                        <p class="job">Director of Operations</p>
                        <p>
                            Sharon is a passionate yoga practitioner and excellent yoga teacher who previously was the Teacher Training Registrar and Operations Manager for Bikram Yoga.
                            Sharon scaled that teacher training from 300 to nearly 500 trainees. She also has proven experience in scaling start-ups, including as co-founder of
                            BFree Hot Yoga Teacher Training and YogaTalk Retreats, and in growing an e-commerce platform for hostels in Ireland.
                            Sharon holds a degree in marketing and management from Dublin’s Institute of Technology (DIT), has worked in 8 countries, and is an avid traveler all over
                            the world.
                        </p>
                        <p class="quote">
                            “Sweat, Stretch, Glow and Go”
                        </p>
                    </div>
                </div>

                <div class="team">
                    <div class="image col-xs-12 col-sm-4">
                        <img src="/images/david.jpg" />
                    </div>
                    <div class="desc col-xs-12 col-sm-8">
                        <p class="name">David Buckner</p>
                        <p class="job">Studio Relations Director</p>
                        <p>
                            David operated hot yoga studios in Dallas, Texas for 15 years with his wife Karen after graduating from Bikram Yoga Teacher Training and many years of yoga practice.
                            Relocating to the Pacific Northwest, David continued to work with yoga studios, as well as small fitness businesses across the country. Much like SweatNGlow,
                            he developed effective tools, resources and support systems to liberate owners from time-consuming tasks that hinder them from focusing on what’s most
                            important – their staff and students. With a core philosophy of helping others, David has generously shared best practices and systems for success with
                            countless studio owners.
                            <br /><br />
                            David started his career as a practicing attorney in one of the largest law firms in the country, focusing on finance, corporate and real estate.
                            David is an avid outdoor adventurer – snowboarding, skiing, climbing, hiking and dirt biking. He has summited many peaks in the United States,
                            Alps and Himalayas.

                        </p>
                        <p class="quote">
                            “We sweat, we stretch, we glow.”
                        </p>
                    </div>
                </div>
                <div class="team">
                    <div class="image col-xs-12 col-sm-4">
                        <img src="/images/kevin.jpg" />
                    </div>
                    <div class="desc col-xs-12 col-sm-8">
                        <p class="name">Kevin Cooke</p>
                        <p class="job">Studio Owner Adviser | Seattle, Washington</p>
                        <p>
                            Kevin, a veteran studio owner of Sealevel Hot Yoga and others in Seattle since 1996, and previously in Oregon,
                            has practiced and taught Bikram method hot yoga for over 30 years.
                            <br /><br />
                            In joining SweatNGlow as a Studio Owner Advisor, Kevin brings expertise in developing and operating traditional hot yoga studios.
                            While staying true to this method which is beneficial on so many levels, he is also an innovative and original thinker, able to advise on
                            the unique needs of individual owners/studios and improving processes and efficiencies.
                            <br /><br />
                            Kevin is one of the leaders of the Hot Yoga Teacher Training team, and offers excellent guidance to those studying to be quality teachers.
                            He is a 1996 graduate of one of the first Bikram Yoga Teacher trainings, in which Bikram led posture clinic teaching sessions every day.
                            Kevin’s other passions include space flight, technology, and consistent with his preferred yoga style, hothouse gardening. He is a native of New Zealand.


                        </p>
                        {#<p class="quote">#}
                            {#“Kevin's quote”#}
                        {#</p>#}
                    </div>
                </div>
                <div class="team">
                    <div class="image col-xs-12 col-sm-4">
                        <img src="/images/phil.jpg" />
                    </div>
                    <div class="desc col-xs-12 col-sm-8">
                        <p class="name">Philip Vendemmia</p>
                        <p class="job">Studio Owner Adviser | Annapolis, Maryland & Washington, District of Columbia</p>
                        <p>
                            Phil has been a successful owner of an expanding number of hot yoga studios in the Washington DC area the last ten years.
                            As a Studio Owner Adviser to SweatNGlow, he understands the limitations of independent studio ownership and the need for an umbrella brand
                            that coordinates and improves many studio functions, freeing studio owners to focus on what's most important.
                            <br /><br />
                            Phil is also the founder of Yoga Factory Teacher Training. He is passionate about teacher education and the user experience, no surprise given
                            his degree in Education, and believes daily practice is essential to the continuing education of yoga instructors. The 2010 Valedictorian of
                            Bikram Yoga Teacher Training in a class of 400 students, Phil taught at the 2013 Bikram Yoga Teacher Training in Los Angeles.
                            <br /><br />
                            Phil is a consensus builder and loves being involved in growing a dynamic, global hot yoga community. When not evolving as a yogi, he performs as a musician.
                        </p>
                        {#<p class="quote">#}
                            {#“Philip's quote”#}
                        {#</p>#}
                    </div>
                </div>
                <div class="team">
                    <div class="image col-xs-12 col-sm-4">
                        <img src="/images/chad.jpg" />
                    </div>
                    <div class="desc col-xs-12 col-sm-8">
                        <p class="name">Chad Clark</p>
                        <p class="job">Studio Owner Adviser | Scranton, Pennsylvania</p>
                        <p>
                            Chad has owned and operated a number of hot yoga studios for over a decade, but is best known as “Heating Chad” for his hot yoga studio building
                            and equipment skills. Chad joined SweatNGlow so he could apply his skills and expertise to its growing studio network.
                            <br /><br />
                            Chad provides equipment and advice to ensure proper heat, air flow, mold control, humidification and dehumidification, bacteria-free flooring,
                            a good sound system, environmental integrity, and aesthetically-pleasing designs. He has worked on thousands of studios around the world including
                            Asia, the Middle East and Eastern Europe. When not globetrotting, Chad is also an excellent yoga instructor, having graduated from Bikram Yoga
                            Teacher Training in 2001. He has been a practicing yogi for two decades.
                            <br /><br />
                            SweatNGlow Yoga Scranton studio shows Chad's passion for construction and cutting-edge technology. Hidden in the Pocono Mountains, it has a
                            spa-like atmosphere with the newest and most human-friendly technology. Chad’s studio is also perfectly suited for retreats, as it has a spa,
                            juice bar and coffee shop and is an easy bus ride from New York City.
                        </p>
                        {#<p class="quote">#}
                            {#“Chad's quote”#}
                        {#</p>#}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/about.js') }}"></script>
{% endblock %}