{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Activate studio{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/activateStudio.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro">
                    <p class="intro-text">
                        Please input in the field below your studio's MindBody ID.  <br />
                        <span>If you do not know your MindBody ID, you can easily find out how to get it
                            <a href="https://support.mindbodyonline.com/s/article/ka0320000000S1lAAE/206398178-How-do-I-find-my-Client-ID?language=en_US" target="_blank">here</a>.</span>
                    </p>
                    <div class="search">
                        {{ form_start(activationForm) }}
                        {{ form_row(activationForm.mbId, { errors: false, label: false, 'attr': {'class': 'search-teacher', 'placeholder': 'Studio ID' }}) }}
                        {{ form_row(activationForm.submit, { attr: { class: "submit-activation submit-search"}}) }}
                        {{ form_end(activationForm) }}
                    </div>
                    <div class="form-message">
                        {% for flashMessage in app.session.flashbag.get('msg') %}
                            <p>{{ flashMessage }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/activateStudio.js') }}"></script>
{% endblock %}