{% extends 'base.html.twig' %}
{% block site %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SweatNGlow{% endblock %}</title>
        <meta name="description" content="The largest hot yoga studio network worldwide. Book a class in a studio near you and start your journey toward total transformation!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
        <link rel="manifest" href="/images/favicon/manifest.json">
        <meta name="theme-color" content="#ffffff">

        {% block extra_headers %}{% endblock %}

        <script>
            dataLayer = {{ getDataLayer()|json_encode()|raw }};
            dataLayer.push({{ { appEnv: app.environment }|json_encode|raw }});
            {% if app.user %}
            dataLayer.push({{ {event: 'user', user: {email: app.user.email, loggedIn: true, id: app.user.uuid, name: app.user.name, createdAt: app.user.createdAt|date('U')}}|json_encode()|raw }});
            {% endif %}
        </script>
        {% block javascript_head %}{% endblock %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
            f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ gtm_id }}');</script>
            <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKH7BXP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include 'FrontEndBundle::header_v1.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'FrontEndBundle::footer.html.twig' %}

        <script>
            window.intercomSettings = {
                app_id: "{{ intercom_app_id }}",
                {% if app.user is not null %}
                user_hash: "{{ canopei_intercom.getSignatureHash(app.user.uuid) }}",
                {% endif %}
                nothing: true
            };

            window.App = {
                user: {{ app.user is null ? 'null' : {uuid: app.user.uuid}|json_encode|raw }}
            };
        </script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    </body>

</html>
{% endblock %}
