{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Checkout{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/checkout.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    {% if submit is defined and submit == 'success' %}

    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="checkout-area">
                    <div class="container-lg">
                        <div class="billing-area">
                            <div class="form-title">Billing info</div>
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="inputs">
                                {{ form_widget(form.cardNumber) }}
                                {% if form.cardNumber.vars.errors is not empty %}
                                    <span class="error"> {{ form.cardNumber.vars.errors[0].message }}</span>
                                {% endif %}
                            </div>
                            <div class="half-input">
                                {{ form_widget(form.month) }}
                            </div>
                            <div class="half-input last">
                                {{ form_widget(form.year) }}
                            </div>
                            <div class="half-input">
                                {{ form_widget(form.ccv) }}
                                <span class="icon-ccv-help">
                                    <div class="bubble">

                                        <div class="content">
                                            <img src="{{ asset('images/card-cvv.jpg') }}" />
                                        </div>
                                        <div class="arrow"><div class="after"></div></div>
                                    </div>
                                </span>
                            </div>

                            <div class="form-title inline">Billing address</div>
                            <div class="inputs">
                                <div class="half-input">
                                    {{ form_widget(form.firstName) }}
                                </div>
                                <div class="half-input last">
                                    {{ form_widget(form.lastName) }}
                                </div>
                                {{ form_widget(form.country) }}
                                <div class="country-select">
                                    <button class="btn-search dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                        <label class="current-city">United States</label>
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li value="AF">Afghanistan</li>
                                        <li value="AX">Åland Islands</li>
                                        <li value="AL">Albania</li>
                                        <li value="DZ">Algeria</li>
                                        <li value="AS">American Samoa</li>
                                        <li value="AD">Andorra</li>
                                        <li value="AO">Angola</li>
                                        <li value="AI">Anguilla</li>
                                        <li value="AQ">Antarctica</li>
                                        <li value="AG">Antigua and Barbuda</li>
                                        <li value="AR">Argentina</li>
                                        <li value="AM">Armenia</li>
                                        <li value="AW">Aruba</li>
                                        <li value="AU">Australia</li>
                                        <li value="AT">Austria</li>
                                        <li value="AZ">Azerbaijan</li>
                                        <li value="BS">Bahamas</li>
                                        <li value="BH">Bahrain</li>
                                        <li value="BD">Bangladesh</li>
                                        <li value="BB">Barbados</li>
                                        <li value="BY">Belarus</li>
                                        <li value="BE">Belgium</li>
                                        <li value="BZ">Belize</li>
                                        <li value="BJ">Benin</li>
                                        <li value="BM">Bermuda</li>
                                        <li value="BT">Bhutan</li>
                                        <li value="BO">Bolivia, Plurinational State of</li>
                                        <li value="BQ">Bonaire, Sint Eustatius and Saba</li>
                                        <li value="BA">Bosnia and Herzegovina</li>
                                        <li value="BW">Botswana</li>
                                        <li value="BV">Bouvet Island</li>
                                        <li value="BR">Brazil</li>
                                        <li value="IO">British Indian Ocean Territory</li>
                                        <li value="BN">Brunei Darussalam</li>
                                        <li value="BG">Bulgaria</li>
                                        <li value="BF">Burkina Faso</li>
                                        <li value="BI">Burundi</li>
                                        <li value="KH">Cambodia</li>
                                        <li value="CM">Cameroon</li>
                                        <li value="CA">Canada</li>
                                        <li value="CV">Cape Verde</li>
                                        <li value="KY">Cayman Islands</li>
                                        <li value="CF">Central African Republic</li>
                                        <li value="TD">Chad</li>
                                        <li value="CL">Chile</li>
                                        <li value="CN">China</li>
                                        <li value="CX">Christmas Island</li>
                                        <li value="CC">Cocos (Keeling) Islands</li>
                                        <li value="CO">Colombia</li>
                                        <li value="KM">Comoros</li>
                                        <li value="CG">Congo</li>
                                        <li value="CD">Congo, the Democratic Republic of the</li>
                                        <li value="CK">Cook Islands</li>
                                        <li value="CR">Costa Rica</li>
                                        <li value="CI">Côte d'Ivoire</li>
                                        <li value="HR">Croatia</li>
                                        <li value="CU">Cuba</li>
                                        <li value="CW">Curaçao</li>
                                        <li value="CY">Cyprus</li>
                                        <li value="CZ">Czech Republic</li>
                                        <li value="DK">Denmark</li>
                                        <li value="DJ">Djibouti</li>
                                        <li value="DM">Dominica</li>
                                        <li value="DO">Dominican Republic</li>
                                        <li value="EC">Ecuador</li>
                                        <li value="EG">Egypt</li>
                                        <li value="SV">El Salvador</li>
                                        <li value="GQ">Equatorial Guinea</li>
                                        <li value="ER">Eritrea</li>
                                        <li value="EE">Estonia</li>
                                        <li value="ET">Ethiopia</li>
                                        <li value="FK">Falkland Islands (Malvinas)</li>
                                        <li value="FO">Faroe Islands</li>
                                        <li value="FJ">Fiji</li>
                                        <li value="FI">Finland</li>
                                        <li value="FR">France</li>
                                        <li value="GF">French Guiana</li>
                                        <li value="PF">French Polynesia</li>
                                        <li value="TF">French Southern Territories</li>
                                        <li value="GA">Gabon</li>
                                        <li value="GM">Gambia</li>
                                        <li value="GE">Georgia</li>
                                        <li value="DE">Germany</li>
                                        <li value="GH">Ghana</li>
                                        <li value="GI">Gibraltar</li>
                                        <li value="GR">Greece</li>
                                        <li value="GL">Greenland</li>
                                        <li value="GD">Grenada</li>
                                        <li value="GP">Guadeloupe</li>
                                        <li value="GU">Guam</li>
                                        <li value="GT">Guatemala</li>
                                        <li value="GG">Guernsey</li>
                                        <li value="GN">Guinea</li>
                                        <li value="GW">Guinea-Bissau</li>
                                        <li value="GY">Guyana</li>
                                        <li value="HT">Haiti</li>
                                        <li value="HM">Heard Island and McDonald Islands</li>
                                        <li value="VA">Holy See (Vatican City State)</li>
                                        <li value="HN">Honduras</li>
                                        <li value="HK">Hong Kong</li>
                                        <li value="HU">Hungary</li>
                                        <li value="IS">Iceland</li>
                                        <li value="IN">India</li>
                                        <li value="ID">Indonesia</li>
                                        <li value="IR">Iran, Islamic Republic of</li>
                                        <li value="IQ">Iraq</li>
                                        <li value="IE">Ireland</li>
                                        <li value="IM">Isle of Man</li>
                                        <li value="IL">Israel</li>
                                        <li value="IT">Italy</li>
                                        <li value="JM">Jamaica</li>
                                        <li value="JP">Japan</li>
                                        <li value="JE">Jersey</li>
                                        <li value="JO">Jordan</li>
                                        <li value="KZ">Kazakhstan</li>
                                        <li value="KE">Kenya</li>
                                        <li value="KI">Kiribati</li>
                                        <li value="KP">Korea, Democratic People's Republic of</li>
                                        <li value="KR">Korea, Republic of</li>
                                        <li value="KW">Kuwait</li>
                                        <li value="KG">Kyrgyzstan</li>
                                        <li value="LA">Lao People's Democratic Republic</li>
                                        <li value="LV">Latvia</li>
                                        <li value="LB">Lebanon</li>
                                        <li value="LS">Lesotho</li>
                                        <li value="LR">Liberia</li>
                                        <li value="LY">Libya</li>
                                        <li value="LI">Liechtenstein</li>
                                        <li value="LT">Lithuania</li>
                                        <li value="LU">Luxembourg</li>
                                        <li value="MO">Macao</li>
                                        <li value="MK">Macedonia, the former Yugoslav Republic of</li>
                                        <li value="MG">Madagascar</li>
                                        <li value="MW">Malawi</li>
                                        <li value="MY">Malaysia</li>
                                        <li value="MV">Maldives</li>
                                        <li value="ML">Mali</li>
                                        <li value="MT">Malta</li>
                                        <li value="MH">Marshall Islands</li>
                                        <li value="MQ">Martinique</li>
                                        <li value="MR">Mauritania</li>
                                        <li value="MU">Mauritius</li>
                                        <li value="YT">Mayotte</li>
                                        <li value="MX">Mexico</li>
                                        <li value="FM">Micronesia, Federated States of</li>
                                        <li value="MD">Moldova, Republic of</li>
                                        <li value="MC">Monaco</li>
                                        <li value="MN">Mongolia</li>
                                        <li value="ME">Montenegro</li>
                                        <li value="MS">Montserrat</li>
                                        <li value="MA">Morocco</li>
                                        <li value="MZ">Mozambique</li>
                                        <li value="MM">Myanmar</li>
                                        <li value="NA">Namibia</li>
                                        <li value="NR">Nauru</li>
                                        <li value="NP">Nepal</li>
                                        <li value="NL">Netherlands</li>
                                        <li value="NC">New Caledonia</li>
                                        <li value="NZ">New Zealand</li>
                                        <li value="NI">Nicaragua</li>
                                        <li value="NE">Niger</li>
                                        <li value="NG">Nigeria</li>
                                        <li value="NU">Niue</li>
                                        <li value="NF">Norfolk Island</li>
                                        <li value="MP">Northern Mariana Islands</li>
                                        <li value="NO">Norway</li>
                                        <li value="OM">Oman</li>
                                        <li value="PK">Pakistan</li>
                                        <li value="PW">Palau</li>
                                        <li value="PS">Palestinian Territory, Occupied</li>
                                        <li value="PA">Panama</li>
                                        <li value="PG">Papua New Guinea</li>
                                        <li value="PY">Paraguay</li>
                                        <li value="PE">Peru</li>
                                        <li value="PH">Philippines</li>
                                        <li value="PN">Pitcairn</li>
                                        <li value="PL">Poland</li>
                                        <li value="PT">Portugal</li>
                                        <li value="PR">Puerto Rico</li>
                                        <li value="QA">Qatar</li>
                                        <li value="RE">Réunion</li>
                                        <li value="RO">Romania</li>
                                        <li value="RU">Russian Federation</li>
                                        <li value="RW">Rwanda</li>
                                        <li value="BL">Saint Barthélemy</li>
                                        <li value="SH">Saint Helena, Ascension and Tristan da Cunha</li>
                                        <li value="KN">Saint Kitts and Nevis</li>
                                        <li value="LC">Saint Lucia</li>
                                        <li value="MF">Saint Martin (French part)</li>
                                        <li value="PM">Saint Pierre and Miquelon</li>
                                        <li value="VC">Saint Vincent and the Grenadines</li>
                                        <li value="WS">Samoa</li>
                                        <li value="SM">San Marino</li>
                                        <li value="ST">Sao Tome and Principe</li>
                                        <li value="SA">Saudi Arabia</li>
                                        <li value="SN">Senegal</li>
                                        <li value="RS">Serbia</li>
                                        <li value="SC">Seychelles</li>
                                        <li value="SL">Sierra Leone</li>
                                        <li value="SG">Singapore</li>
                                        <li value="SX">Sint Maarten (Dutch part)</li>
                                        <li value="SK">Slovakia</li>
                                        <li value="SI">Slovenia</li>
                                        <li value="SB">Solomon Islands</li>
                                        <li value="SO">Somalia</li>
                                        <li value="ZA">South Africa</li>
                                        <li value="GS">South Georgia and the South Sandwich Islands</li>
                                        <li value="SS">South Sudan</li>
                                        <li value="ES">Spain</li>
                                        <li value="LK">Sri Lanka</li>
                                        <li value="SD">Sudan</li>
                                        <li value="SR">Suriname</li>
                                        <li value="SJ">Svalbard and Jan Mayen</li>
                                        <li value="SZ">Swaziland</li>
                                        <li value="SE">Sweden</li>
                                        <li value="CH">Switzerland</li>
                                        <li value="SY">Syrian Arab Republic</li>
                                        <li value="TW">Taiwan, Province of China</li>
                                        <li value="TJ">Tajikistan</li>
                                        <li value="TZ">Tanzania, United Republic of</li>
                                        <li value="TH">Thailand</li>
                                        <li value="TL">Timor-Leste</li>
                                        <li value="TG">Togo</li>
                                        <li value="TK">Tokelau</li>
                                        <li value="TO">Tonga</li>
                                        <li value="TT">Trinidad and Tobago</li>
                                        <li value="TN">Tunisia</li>
                                        <li value="TR">Turkey</li>
                                        <li value="TM">Turkmenistan</li>
                                        <li value="TC">Turks and Caicos Islands</li>
                                        <li value="TV">Tuvalu</li>
                                        <li value="UG">Uganda</li>
                                        <li value="UA">Ukraine</li>
                                        <li value="AE">United Arab Emirates</li>
                                        <li value="GB">United Kingdom</li>
                                        <li value="US">United States</li>
                                        <li value="UM">United States Minor Outlying Islands</li>
                                        <li value="UY">Uruguay</li>
                                        <li value="UZ">Uzbekistan</li>
                                        <li value="VU">Vanuatu</li>
                                        <li value="VE">Venezuela, Bolivarian Republic of</li>
                                        <li value="VN">Viet Nam</li>
                                        <li value="VG">Virgin Islands, British</li>
                                        <li value="VI">Virgin Islands, U.S.</li>
                                        <li value="WF">Wallis and Futuna</li>
                                        <li value="EH">Western Sahara</li>
                                        <li value="YE">Yemen</li>
                                        <li value="ZM">Zambia</li>
                                        <li value="ZW">Zimbabwe</li>
                                    </ul>
                                </div>

                                {{ form_widget(form.address) }}
                                {{ form_widget(form.address2) }}
                                {{ form_widget(form.city) }}
                                {{ form_widget(form.state) }}
                                {{ form_widget(form.zip) }}
                            </div>

                            {{ form_end(form) }}
                        </div>
                        <div class="cart">
                            <div class="cart-box">
                                {% for cartService in cartServices %}
                                    {% if cartService.siteName is defined %}
                                        <div class="cart-item">
                                            <p class="subscription-name">{{ cartService.name }}</p>
                                            <p class="subscription-location">{{ cartService.siteName }}</p>
                                            <a href="{{ path('purchase') }}"><span class="icon-close"></span></a>
                                        </div>
                                    {% elseif cartService.validForDays is defined %}
                                        <div class="cart-item">
                                            <p class="subscription-name">{{ cartService.name }}</p>
                                            <p class="subscription-location">Global SweatNGlow Pass</p>
                                            <a href="{{ path('purchase') }}"><span class="icon-close"></span></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="tax-item">
                                    <p class="text">Tax</p>
                                    <p class="value">${{ taxTotal }}</p>
                                </div>
                                <div class="total-item">
                                    <p class="text">Estimated total</p>
                                    <p class="value">${{ grandTotal }}</p>
                                </div>
                            </div>
                            <a href="#" class="purchase-button">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/checkout.js') }}"></script>
{% endblock %}