{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Contact us{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/contact.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    {% if submit is defined and submit == 'success' %}

    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="contact-area">
                    <div class="container-md">
                        <div class="title">CONTACT US</div>
                        <div class="text">
                           Get in touch with us if you have any questions or inquiries regarding our studios,
                           booking platform, or anything else you don’t find the answer for on our website!<br /><br />
                            If you’re a studio wanting to join our network, just fill out the contact form below and we’ll get back to you right away!
                        </div>

                        <div class="form-title">Contact form</div>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="inputs">
                                {{ form_widget(form.name) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="message">
                                {{ form_widget(form.message) }}
                            </div>

                            <a href="javascript:void(0)" class="submit" >Send message</a>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/contact.js') }}"></script>
{% endblock %}