{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container" id="privacy">
        <div class="row">
            <div class="container-md">
                <div class="col-xs-12 col-sm-3">
                    <div class="legal-nav">
                        <div class="legal-nav-mobile">First Hot Yoga Class <span class="glyphicon glyphicon-chevron-down"></span></div>
                        <div class="mobile-dropdown">
                            <span class="icon-close"></span>
                            <a href="{{ path('hot-yoga-experience') }}">Hot Yoga Experience</a>
                            <a href="{{ path('hot-yoga-benefits') }}">Hot Yoga Benefits</a>
                            <a href="{{ path('first-hot-yoga-class') }}" class="active">First Hot Yoga Class</a>
                            <a href="{{ path('hot-yoga-tips') }}">Hot Yoga Class Tips</a>
                            <a href="{{ path('7-reasons-for-hot-yoga') }}">7 Reasons for Hot Yoga</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 privacy-content" >
                    <div class="banner">
                        <div class="bg-image">
                            <img src="/images/bnr.jpg" />
                        </div>
                        <div class="head title">First Class Preparation. </div>
                    </div>
                    <p>
                        The single most important thing to remember for your first class is that it takes time to adjust to the heat in the room.
                        Be patient with yourself and take it easy in your first few classes until you adapt to the heat. The heat has many benefits but it will take time to get used to it.
                    </p>


                    <p><strong>Arrive on time</strong> - as a new student you will need to complete paperwork and be given a short intro to the studio and class.  Allow at least 15 mins.</p>
                    <p><strong>What to bring</strong> - you will need a non-porous mat, 2 towels, a large bottle of water and a change of clothes.</p>
                    <p><strong>Hydrate</strong> - it’s important to come hydrated but you will also need a large bottle of water for class.</p>
                    <p><strong>Wear the correct clothing</strong> - the temperature is usually 105 degrees and you will sweat so wear suitable hot yoga clothes.  Nothing white (it goes translucent when wet and you will sweat).</p>
                    <p>Ladies - layering is best for your first class. Sport top, t-shirt, shorts with full coverage, ideally moisture wicking and not cotton.</p>
                    <p>Gents - board shorts are great but make sure you have coverage underneath.</p>
                    <p><strong>Be open, do not judge yourself</strong> - take it easy in your first few classes.  It doesn’t matter how fit you are.
                        It takes time for your body to adjust to the heat.  There may be a few in the front row making it look easy.  It’s not: they have being coming for years.</p>
                    <p><strong>Sit down</strong> - if you need to sit down.  The first & most important rule is to take care of yourself.</p>
                    <p><strong>Stay in the room</strong> - it may be hard but it is important to stay in the room for the full class.  If you leave your heart rate will drop too fast instead of gradually. The teacher cannot check if you are ok, if you are not in the room.</p>
                    <p><strong>No talking</strong> - if you’re new to yoga, this can seem a bit strange but it’s an open-eye meditation class, so no talking, helps others stay focused.</p>
                    <p><strong>No cell phones in the room</strong> - yoga is time to focus on yourself without outside distractions (and the heat can damage your battery).</p>


                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}