{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Guidelines{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/guides.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
<div class="container">
    <div class="row" id="guides">
        <div class="container-md">
            <div class="col-xs-12 col-sm-2">
                <div class="legal-nav">
                    <div class="legal-nav-mobile">Brand guidelines <span class="glyphicon glyphicon-chevron-down"></span></div>
                    <div class="mobile-dropdown">
                        <span class="icon-close"></span>
                        <a href="#resources" class="active">Resources</a>
                        <a href="#guidelines">Guidelines</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 resources-content" >
                <div class="title" id="resources">Resources</div>
                <div class="logo-area">
                    <div class="subtitle">Logo</div>
                    <p class="content">We have the logo in black or in white</p>
                    <div class="logo-box">
                        <img src="/images/guide_logo_white.png" width="200" height="150" />
                        <p class="name">Logo black</p>
                        <p class="desc">Use it whenever possible</p>
                    </div>
                    <div class="logo-box">
                        <img src="/images/guide_logo_black.png" width="200" height="150" />
                        <p class="name">Logo white</p>
                        <p class="desc">Use simple white logo on black background</p>
                    </div>
                    <a href="#" class="download">Download resources</a>
                </div>
                <div class="logo-area">
                    <div class="subtitle">Typeface</div>
                    <div class="section">Primary</div>
                    <p class="content">
                        Our primary typeface is bold, simple, and universal — it is the common thread throughout our brand 
                        and allows us to emphasize the voices  on SweatNGlow. We use it for our headings.
                    </p>
                    <div class="font-box">
                        <p class="example bold">Aa Zz</p>
                        <p class="name">Circular std - Black</p>
                    </div>
                    <div class="font-box">
                        <p class="example light">Aa Zz</p>
                        <p class="name">Circular std - Book</p>
                    </div>
                    <div class="font-box">
                        <p class="example medium">Aa Zz</p>
                        <p class="name">Circular std - Medium</p>
                    </div>
                    <div class="section">Secondary</div>
                    <p class="content">
                        Our secondary typeface is light, simple, and intuitive. Using it only for our body texts, 
                        it makes a perfect balance between the bold approach for the headings and the light approach for the body. 
                    </p>
                    <div class="font-box">
                        <p class="example ultralight">Aa Zz</p>
                        <p class="name">SFUI text - Light</p>
                    </div>
                    <a href="#" class="download">Download resources</a>
                </div>
                <div class="title" id="guidelines">GUIDELINES</div>
                <div class="logo-area">
                    <div class="subtitle">Sizing</div>
                    <p class="content">
                        We can use a shortcut for sweatnglow as “SNG” whenever we need an alternative way comunicate the brand. 
                        However we need to make sure that the person who receives the information if very well aware what the shortcut stands for. 
                    </p>
                    <div class="logo-box size-box">
                        <img src="/images/guide_logo_big.png" width="334" height="131" class="large" />
                        <p class="name">313x30 px (web)</p>
                        <p class="desc">To be used in social media eg. profile pictures etc.</p>
                    </div>
                    <div class="logo-box size-box last">
                        <img src="/images/guide_logo_medium.png" width="248" height="170" class="medium" />
                        <p class="name">158x15 px (web)</p>
                        <p class="desc">To be used in headers/body of web pages</p>
                    </div>
                    <div class="logo-box size-box">
                        <img src="/images/guide_logo_small.png" width="207" height="140" class="small" />
                        <p class="name">129x12 px (minimum size web)</p>
                        <p class="desc">To be used in footers eg. Email, Landing page and headers of Email</p>
                    </div>
                    <div class="subtitle">Trademark guidelines</div>
                    <div class="half-row">
                        <div class="section">Shortcut</div>
                        <p class="content">
                        We can use a shortcut for sweatnglow as “SNG” whenever we need an alternative way comunicate the brand. 
                        However we need to make sure that the person who receives the information if very well aware what the shortcut stands for.  
                        </p>
                    </div>
                    <div class="half-row">
                        <div class="section">Text</div>
                        <p class="content">
                        When we use SweatNGlow as text we write it as folllows “SweatNGlow” not “sweatnglow” or “SweatnGlow”  
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/guides.js') }}"></script>
{% endblock %}