{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container" id="privacy">
        <div class="row">
            <div class="container-md">
                <div class="col-xs-12 col-sm-3">
                    <div class="legal-nav">
                        <div class="legal-nav-mobile">Hot Yoga Class Tips <span class="glyphicon glyphicon-chevron-down"></span></div>
                        <div class="mobile-dropdown">
                            <span class="icon-close"></span>
                            <a href="{{ path('hot-yoga-experience') }}">Hot Yoga Experience</a>
                            <a href="{{ path('hot-yoga-benefits') }}">Hot Yoga Benefits</a>
                            <a href="{{ path('first-hot-yoga-class') }}">First Hot Yoga Class</a>
                            <a href="{{ path('hot-yoga-tips') }}" class="active">Hot Yoga Class Tips</a>
                            <a href="{{ path('7-reasons-for-hot-yoga') }}" >7 Reasons for Hot Yoga</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 privacy-content" >
                    <div class="banner">
                        <div class="bg-image">
                            <img src="/images/bnr.jpg" />
                        </div>
                        <div class="head title">Tips for Classes </div>
                    </div>

                    <p>Arrive early.</p>
                    <p>Hydrate in advance of class.</p>
                    <p>Wear the correct clothing - invest in some good breathable ideally moisture wicking hot yoga clothes. Not white!</p>
                    <p>Do not eat less than 2-3 hours before class.</p>
                    <p>Bring two towels (one for class & one to shower afterwards).</p>
                    <p>Do use Electrolytes.</p>
                    <p>If you have long hair, tie it back.</p>
                    <p>Mat placement – if you struggle with the heat place your mat close to the door and further from the heaters.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}