{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container" id="privacy">
        <div class="row">
            <div class="container-md">
                <div class="col-xs-12 col-sm-3">
                    <div class="legal-nav">
                        <div class="legal-nav-mobile">Hot Yoga Benefits <span class="glyphicon glyphicon-chevron-down"></span></div>
                        <div class="mobile-dropdown">
                            <span class="icon-close"></span>
                            <a href="{{ path('hot-yoga-experience') }}">Hot Yoga Experience</a>
                            <a href="{{ path('hot-yoga-benefits') }}" class="active">Hot Yoga Benefits</a>
                            <a href="{{ path('first-hot-yoga-class') }}">First Hot Yoga Class</a>
                            <a href="{{ path('hot-yoga-tips') }}">Hot Yoga Class Tips</a>
                            <a href="{{ path('7-reasons-for-hot-yoga') }}">7 Reasons for Hot Yoga</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 privacy-content" >
                    <div class="banner">
                        <div class="bg-image">
                            <img src="/images/bnr.jpg" />
                        </div>
                        <div class="head title">Benefits of the Hot Yoga Movement. </div>
                    </div>
                    <ul>
                        <li>Lose weight and increase your flexibility.</li>
                        <li>Improve your athletic ability.</li>
                        <li>Reduce stress, anxiety, depression and fatigue.</li>
                        <li>Reduce cholesterol, high blood pressure, blood sugar levels and hormones.</li>
                        <li>Reduce or eliminate back pain and the need for surgeries (knees, hips, shoulders, etc.).</li>
                        <li>Speed up rehabilitation from surgeries and prevent future injuries, in some cases even help remission of certain conditions.</li>
                        <li>Improve your posture, endurance, mood and ability to relax.</li>
                        <li>It’s fun and sociable.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}