{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container" id="privacy">
        <div class="row">
            <div class="container-md">
                <div class="col-xs-12 col-sm-3">
                    <div class="legal-nav">
                        <div class="legal-nav-mobile">Hot Yoga Experience <span class="glyphicon glyphicon-chevron-down"></span></div>
                        <div class="mobile-dropdown">
                            <span class="icon-close"></span>
                            <a href="{{ path('hot-yoga-experience') }}" class="active">Hot Yoga Experience</a>
                            <a href="{{ path('hot-yoga-benefits') }}">Hot Yoga Benefits</a>
                            <a href="{{ path('first-hot-yoga-class') }}">First Hot Yoga Class</a>
                            <a href="{{ path('hot-yoga-tips') }}">Hot Yoga Class Tips</a>
                            <a href="{{ path('7-reasons-for-hot-yoga') }}">7 Reasons for Hot Yoga</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 privacy-content" >
                    <div class="banner">
                        <div class="bg-image">
                            <img src="/images/bnr.jpg" />
                        </div>
                        <div class="head title">The Hot Yoga Movement Experience </div>
                    </div>
                    <p>
                        The Hot Yoga Movement experience is more than just looking great on the outside. It’s about feeling amazing on the inside.
                        It’s a workout that gives you more than just a tight body; it gives every square inch of your internal organs, as well as your mind, a workout too.
                    </p>
                    <p>
                        The new generation of fitness enthusiasts want more from their workouts.  Time is valuable to them.  They want to improve their health, while getting in shape.
                        Yoga is a non-impact workout that gives you the maximum benefit from your workout time.  It’s fun, sociable, engaging & challenging.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}