{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/scss/homepage.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% set allCities = sng_locations.getAllCities() %}

{% block body %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="glow-has-come">
                    <div class="intro-text">
                        Welcome to the biggest Hot Yoga Movement
                    </div>
                    <div class="sub-head">Experience the difference between a workout that changes your body and one that changes your life.</div>
                    <div class="cta"><a href="{{ path('about') }}">Read about us</a></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'FrontEndBundle:Locations:partials/homeCityList.html.twig'
        with {title: 'Cities', cities: allCities} %}


    {% include 'FrontEndBundle:Locations:partials/homeStudiosList.html.twig'
        with {
            title: nearestCity ? 'Studios in ' ~ nearestCity.name : 'Studios', 
            noItems: '6', 
            viewAllLabel: 'view all', 
            viewAllPath: path('studiosList'), 
            studios: featuredStudios, 
            indexBegin: 0, 
            city: 'None' } 
    %}
    <div class="container  subscription">
        <div class="row">
            <div class="container-sm">
                <div class="col-xs-12 col-sm-6">

                    <div class="box pippin">
                        <p class="head">SNG Subscription</p>
                        <p class="text">Get your SweatNGlow Subscription and book classes in any of our studios all over the world.</p>
                        {#<p class="cta"><a href="{{path('purchase')}}" class="btn">Check Plans</a></p>#}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="box">
                        <p class="head">Existing Subscription</p>
                        <p class="text">You can book classes on SweatNGlow if you already have a subscription to one of our studios.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# {% include 'FrontEndBundle:Teachers:partials/homeTeachersList.html.twig'
        with {title: nearestCity ? 'Most popular teachers in ' ~ nearestCity.name : 'Most popular teachers', viewAllLabel: 'view all',viewAllPath: 'teachers', banner: '', teachers: mostPopularStaff } %} #}


    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="no-compromise">
                    <p>THE HOT YOGA EXPERIENCE</p>
                    <p class="text">Experience the difference between a workout that changes your body and one that changes your life.</p>
                    <a href="{{ path('hot-yoga-experience') }}" class="learn-more">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-section">
        <div class="row">
            <div class="container-sm">
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ path('hot-yoga-benefits') }}">
                        <div class="box pippin">
                            <p>Learn all about the benefits of hot yoga</p>
                            <p class="arrow-link"><img src="/images/arrow-link.png" width="50" /></p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ path('first-hot-yoga-class') }}">
                        <div class="box pippin">
                            <p>How to prepare for your first hot yoga class</p>
                            <p class="arrow-link"><img src="/images/arrow-link.png" width="50" /></p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="{{ path('hot-yoga-tips') }}">
                        <div class="box pippin">
                            <p>Tips to stay safe and comfortable in a hot yoga class. </p>
                            <p class="arrow-link"><img src="/images/arrow-link.png" width="50" /></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {# {% include 'FrontEndBundle:Teachers:partials/homeTeachersList.html.twig'
        with {title: 'Teachers', viewAllLabel: 'view all', viewAllPath: 'teachers', banner: '', teachers: staff } %} #}

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="show-glow">
                    Show me your<br /> <span class="brand-primary">glow</span>
                </div>
            </div>
        </div>
    </div>

    {% if app.session.flashbag.has(constant('SngBundle\\EventListener\\UserRegistrationListener::FROM_REGISTRATION_FLASHBAG_KEY'))
        or app.session.flashbag.has(constant('SngBundle\\EventListener\\UserConfirmationListener::FROM_CONFIRMATION_FLASHBAG_KEY')) %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        {% if app.session.flashbag.get(constant('SngBundle\\EventListener\\UserConfirmationListener::FROM_CONFIRMATION_FLASHBAG_KEY')) %}
            window.dataLayer.push({event: 'confirmation', userUuid: '{{ app.user.uuid }}' });
        {% endif %}
        {% if app.session.flashbag.get(constant('SngBundle\\EventListener\\UserRegistrationListener::FROM_REGISTRATION_FLASHBAG_KEY')) %}
            {% set userSource = 'sng' %}
            {% if is_granted(constant('SngBundle\\Security\\User\\User::ROLE_FACEBOOK_USER')) %}
                {% set userSource = 'facebook' %}
            {% elseif is_granted(constant('SngBundle\\Security\\User\\User::ROLE_GOOGLE_USER')) %}
                {% set userSource = 'google' %}
            {% endif %}
            window.dataLayer.push({event: 'registration', userUuid: '{{ app.user.uuid }}', userSource: '{{ userSource }}' });
        {% endif %}
    </script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/swiper.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/homescript.js') }}"></script>
{% endblock %}