{% extends 'FrontEndBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/homescript.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro">
                    <p class="intro-text">The <span class="brand-primary">glow</span> is comming <span class="glyphicon glyphicon-question-sig"></span></p>
                    {#<div class="clock"></div>#}
                    <div class="search">
                        <input type="text" value="Search for teacher" class="search-teacher" />
                        <button class="btn-search dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">Alege oras
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('locationsCity', {'city': 'New York'}) }}">
                                    New York
                                </a>
                            </li>
                                            <li>
                                <a href="{{ path('locationsCity', {'city': 'South Wilhelm'}) }}">
                                    South Wilhelm
                                </a>
                            </li>
                                            <li>
                                <a href="{{ path('locationsCity', {'city': 'Onamouth'}) }}">
                                    Onamouth
                                </a>
                            </li>
                                            <li>
                                <a href="{{ path('locationsCity', {'city': 'Aubreeville'}) }}">
                                    Aubreeville
                                </a>
                            </li>
                                            <li>
                                <a href="{{ path('locationsCity', {'city': 'East Chad'}) }}">
                                    East Chad
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="no-compromise">
                    No compromise
                </div>
            </div>
        </div>
    </div>

    {% include 'FrontEndBundle:Locations:partials/studiosList.html.twig' with {title: 'Featured studios', noItems: '3', button: 'view all studios'} %}

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="nsng">
                    <p class="first-text">Let the<br /> glow shine</p>
                    <p class="sec-text">No sweat<br /> no glow</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'FrontEndBundle:Locations:partials/studiosList.html.twig' with {title: 'New on the block', noItems: '3', button: 'view all studios'} %}
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="show-glow">
                    Show me your<br /> <span class="brand-primary">glow</span>
                </div>
            </div>
        </div>
    </div>
    {% include 'FrontEndBundle:Teachers:partials/teachersList.html.twig' with {title: 'Featured teachers', noItems: '4', button: 'view all teachers', banner:''} %}
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/flipclock.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/homescript.js') }}"></script>
{% endblock %}