{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
<div class="container" id="privacy">
    <div class="row">
        <div class="container-md">
            <div class="col-xs-12 col-sm-3">
                <div class="legal-nav">
                    <div class="legal-nav-mobile">Privacy <span class="glyphicon glyphicon-chevron-down"></span></div>
                    <div class="mobile-dropdown">
                        <span class="icon-close"></span>
                        <a href="{{ path('terms') }}">Terms of Service</a>
                        <a href="{{ path('privacy') }}" class="active">Privacy</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 privacy-content" >
                <div class="title">Privacy</div>
                <h2 class="top">Introduction and Acceptance.</h2>
                <p>Sweatnglow LLC ("Sweatnglow" or "we") appreciates your interest in our services. Our mission is to connect people from around the world to share experiences, emotions and states of mind. Your privacy is important to us -- we take care to protect your personal data collected, processed and used during using our Services and strive to be transparent and open about our practices at all times. </p>
                <p>This Privacy Policy informs you about how we get and use information about you when you use the website located at www.sweatnglow.com, and all associated sites or mobile applications linked thereto or otherwise provided by Sweatnglow (collectively, the “Site”) and the services offered on or through the Site (collectively, the “Services”) by Sweatnglow LLC, with principal place of business in Beverly Hills, California. It does not apply to information collected offline or by third parties not affiliated with Sweatnglow that the Site may link to (“Third Party Sites”). Please read this Privacy Policy and the Terms of Service carefully before using the Site.</p>
                <h2>Modifications.</h2>
                <p>Sweatnglow may update its Privacy Policy from time to time. The most current version will be posted on the Site. It is your responsibility to check this Privacy Policy periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes. Please refer to the Terms of Service posted on the Site to see additional terms and conditions that govern your use of the Site. </p>
                <p>BY USING THE SITE AND THE SERVICES, YOU AGREE TO THESE TERMS; IF YOU DO NOT AGREE, DO NOT USE THE SITE.</p>
                <h2>How We Collect Information. </h2>
                <p>Sweatnglow offers a platform to enable users (the “Users”) to view, find or book classes at yoga studios. When providing these Services, Sweatnglow collects both personally identifiable information (“PII”), which can be used to identify an individual user, and non-personally identifiable information (“non-PII”), as set forth below. </p>
                <h3>Information you provide us directly.</h3>
                <ol>
                <li><i>Account</i>: When you sign up to use our Services, we require you to provide various PII such as first name, last name, password and e-mail address, gender, age, and credit card information, if applicable.  We also require you to set up a unique password for account security purposes. You may also provide Sweatnglow with certain optional information at your sole discretion. This information is used to enable Sweatnglow to provide you with access to certain areas of the Site, to personalize the Services, to process payment and to communicate with you about the Services.</li>
                <li><i>Other Communication</i>: We may collect PII in connection with communications between you and Sweatnglow, such as Services related emails regarding account management, notices regarding technical issues or changes to the Services, some of which you cannot opt out.</li>
                <li><i>Social Features</i>: In order to register as a user with Sweatnglow, you will also have an option of signing in using your Facebook or Google login. If you do so, you authorize us to access certain Facebook or Google account information, such as your public Facebook profile (consistent with your privacy settings in Facebook), your first name, last name, email address, gender, age, current city, and photos. The Site also includes social media features, such as the Facebook “like” button and widgets, such as the “share this” button or interactive mini-programs. These features are either hosted by a third party or hosted directly on our Site. Your interactions with these features are governed by the privacy policies of the company providing them.</li>
                </ol>
                <h3>Other PII collected.</h3>
                <ol>
                <li><i>Traffic Data</i>: When the User visits the Site, Sweatnglow collects information about that visit (known as “Traffic Data”), which is stored as anonymous, aggregate and non-PII data. Such Traffic Data includes the devices a User uses to access the Site, device information, location information, and web navigational data, subject to the permissions the User has granted. This information is compiled and analyzed for marketing purposes and to enhance the User’s experience on the Site. </li>
                <li><i>Log Files</i>: Sweatnglow gathers certain information automatically and stores it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data (collectively, “Log Files”). Sweatnglow may combine this automatically-collected log information with other information we collect about you. We do this to improve marketing, analytics, and site functionality.</li>
                <li><i>Cookies and other technologies</i>: Sweatnglow uses "cookies", beacons and other tracking and storing technologies to help analyze our web page flow, measure promotional effectiveness, promote trust, convenience and safety, and provide information that targets a User’s interests. "Cookies" are small files placed on the User’s hard drive. We offer certain features that are only available through the use of cookies. We also may use cookies to allow you to enter your password less frequently. A User may decline our cookies if their browser permits, although this may limit the ability to use certain features on the Site.</li>
                <li><i>Device identifiers</i>: When you use a mobile device like a tablet or phone to access our Services, we may access, collect, monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device's operating system or other software, or data sent to the device by Sweatnglow. A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and may help us or others provide reports or personalized content and ads. Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.</li>
                <li><i>Information from third parties</i>: Sweatnglow may receive information about you and your activities on the Site from third party service providers, including without limitation advertising companies, which can include aggregated non-PII information such as advertising recommendations or PII such as your experiences or interactions with Sweatnglow or any third party advertisers we may choose to work with.</li>
                </ol>
                <h2>How We Use Information.</h2>
                <p>In addition to some of the specific uses of information we describe in this Privacy Policy, Sweatnglow may use your PII to provide the Services and to communicate with you. We use Traffic Data to learn more about your use of the Site and to improve the quality of the content and functionality of the Site, as well as to target our offerings to the people most interested in them based on their use of the Site. The collected PII enables Sweatnglow to help you efficiently access your information after you sign in, to provide personalized content and information to you and others, and to develop and test new products and features. We use non-PII to monitor metrics such as total number of visitors, traffic, and demographic patterns, or to diagnose or fix technology problems. If you access our Services from a third party social platform, such as Facebook, we may share non-personal information with that platform to the extent permitted by your agreement with it and its privacy settings. We also analyze the collected information to help us provide you with more effective advertising, as applicable.</p>
                <h2>How We Share Information.</h2>
                <p>Except as described in this Privacy Policy, including without limitation the sections below, Sweatnglow does not rent, sell, or share personal information collected on the Site or through the Services with other parties or nonaffiliated companies. </p>
                <h3>Partners/Third Party Service Providers. </h3>
                <p>Sweatnglow may hire other companies to perform certain business-related functions, such as maintaining databases, sending email messages, offering and developing certain features of the Services, and maintenance and security. When we employ another company to perform a function of this nature, we only provide them with the personal information that they need to perform their specific function. We may also share aggregated or anonymized information without restriction.</p>
                <h3>Third Party Advertisers</h3>
                <p>Sweatnglow does not currently share certain information with third party advertising partners, but reserves the right to do so at some time in the future. This information would allow third party ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</p>
                <h3>Legal Requirements.</h3>
                <p>Sweatnglow may disclose any collected data if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation or assist government enforcement agencies, (ii) protect and defend the rights or property of Sweatnglow or its Users, (iii) protect against legal liability; or (iv) protect the security or integrity of the Services.</p>
                <h3>Merger and Acquisitions; Bankruptcy.</h3>
                <p>Your personal information may be provided to a party if Sweatnglow files for bankruptcy, or there is a transfer of the assets or ownership of Sweatnglow in connection with proposed or consummated corporate reorganizations, such as mergers, acquisitions or other change of control.</p>
                <h2>How We Process and Store Your Information.</h2>
                <h3>Security</h3>
                <p>We have implemented reasonable procedural, physical and technical safeguards to protect your personal information against loss, theft or alteration as well as unauthorized access and disclosure. However, "perfect security" does not exist on the Internet or with electronic storage, and we cannot guarantee the security of any information that you or your users submit to us. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to emails between you and Sweatnglow.</p>
                <p>You are responsible for maintaining the confidentiality of any ID or password used for accessing the Services, and you are solely and fully responsible for all activities that occur under your password or account. Sweatnglow has no control over the use of an account and expressly disclaims any liability derived therefrom. Should you become aware that any unauthorized party may be using your password or account, please notify us promptly.</p>
                <h3>International Data Processing and Transfers</h3>
                <p>Your information is stored on servers located in the United States either by us or by a third party acting on behalf of Sweatnglow. Information may also be stored locally on the devices you use to access the Services. By using the Site and our Services, you consent to have your data, including your personal information, processed in the United States or other locations around the world – including those outside of your country. If you are visiting our Services from outside the United States, including without limitation the European Union, please be aware that your information may be transferred to, stored, and processed in a country and jurisdiction that does not have the same data protection laws as your jurisdiction, including without limitation the United States where our servers are currently located and our central database is operated. If you do not consent to processing of your data inside or outside the United States, please stop using the Site and our Services. </p>
                <h2>Updating Your Information and Opting Out. </h2>
                <h3>Changing or deleting your account information </h3>
                <p>You can access, review and change your profile and data that you have provided to Sweatnglow by logging into the Site and entering in the new information yourself. You must promptly update your personal information if it changes or is inaccurate. In the event of the death of a User, please contact us. We will usually conduct our communication via email; should we require any other information, we will contact you at the email address you have provided in your request.</p>
                <p>If you have a specific request about your information, such as deletion of your account information, please contact us and we will try to accommodate your request as operationally and technically feasible, subject to our sole discretion and the provisions of this Privacy Policy.</p>
                <h3>Opting out</h3>
                <p>You may opt out of receiving electronic communications from us or our partners by following the instructions in those emails, i.e., by clicking on the "unsubscribe link" provided in such communications. As noted above, you cannot opt out of certain messages, such as non-promotional emails regarding your account, payment, and/or use of the Services. Our Service may also deliver notifications to your phone or mobile device.</p>
                <h3>How long we keep your personal information</h3>
                <p>Following termination or deactivation of your account, Sweatnglow or its third party service providers may retain your personal information for a commercially reasonable time for backup, archival, and/or audit purposes. Non-PII information gathered, compiled or analyzed by Sweatnglow in connection with its performance of the Services provided under Agreement, including without limitation any analyzes or reports of aggregated or anonymized data, shall be owned by Sweatnglow and can be used for any reasonable purposes. </p>
                <h2>Submissions.</h2>
                <p>The Site may allow registered Users to post information on various forums, including message boards, blogs, social media channels, chat rooms and other "public" spaces. Users can also provide feedback to Sweatnglow via the contact form on the Site. Any information posted at such spaces, including without limitation, ideas, know-how, techniques, questions, reviews, comments, images and suggestions (collectively, “Submissions”), is not covered by this Privacy Policy. Submissions will be treated as non-confidential and non-proprietary, and Sweatnglow shall have the royalty-free, worldwide, perpetual, irrevocable and transferable right to use, copy, distribute, display, publish, perform, sell, lease, transmit, adapt, create derivative works from such Submissions by any means and in any form, and to translate, modify, or decompile such Submissions. All Submissions shall automatically become Sweatnglow’s sole and exclusive property and shall not be returned to you.</p>
                <h2>Children. </h2>
                <p>Sweatnglow does not intentionally collect personal information from anyone under the age of 13. If you are under the age of 13, please do not attempt to register with us at this Site or provide any personal information about yourself to us. If we learn that we have collected personal information from a child under the age of 13, we will promptly delete that information. If you believe that we might have any information from a child under the age of 13, please contact us via the contact form on the Site.</p>
                <h2>Other Websites.</h2>
                <p>The Site may contain links and interactive functionality interacting with the websites of third parties that are not owned or controlled by Sweatnglow. The information practices of those websites linked to the Site is not covered by this Privacy Policy. If you submit personal information to any of those sites, your information is governed by their privacy policies. We recommend that you review the terms and privacy policies of each such website. </p>
                <p>Sweatnglow requires that our Users utilize our Services in accordance with our Terms of Service. We are not responsible for the data practices of any of our Users. Each User’s practices are subject to each User’s individual privacy policies. Users should review the privacy policy of any company prior to sharing their information. </p>
                <h2>Contact Us.</h2>
                <p>Sweatnglow regularly reviews its compliance with this Privacy Policy. If you have an inquiry, comment, or request about your privacy and our collection or use of your personal information, please submit it to us, and we commit to responding to every inquiry we receive.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}