{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/purchase.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    <div class="container" id="login-message">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-success">
                    <div class="container-md">
                        <p>Please Log in or Register in order to purchase a membership.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="personal-details">
                    <div class="cover pippin">
                        <div class="head">SNG Subscriptions</div>
                        <div class="text">
                            With SweatNGlow subscriptions you can book classes in any of our studios all over the world.
                        </div>
                    </div>
                    {% include 'FrontEndBundle:Default:partials/sngPlanList.html.twig'
                        with {title: 'SNG Plans', membership: 'current', memberships: globalMemberships} %}

                    {% if services is not empty %}
                        <div class="cover">
                            <div class="head">Studio Subscriptions</div>
                            <div class="text">
                                With these subscriptions you can book classes only at {{ site.name }}.
                            </div>
                        </div>

                        {% include 'FrontEndBundle:Default:partials/purchaseList.html.twig'
                            with {title: 'Studio plans', membership: 'past', services: services} %}
                    {% endif %}
                    <div class="login-overlay">
                        <div class="overlay"></div>

                        <div class="login-area-container">
                            <div class="close-login">
                                <span class="icon-close"></span>
                            </div>
                            {% include '@Sng/Security/login_form.html.twig' %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/purchase.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}