{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container" id="privacy">
        <div class="row">
            <div class="container-md">
                <div class="col-xs-12 col-sm-3">
                    <div class="legal-nav">
                        <div class="legal-nav-mobile">7 Reasons for Hot Yoga <span class="glyphicon glyphicon-chevron-down"></span></div>
                        <div class="mobile-dropdown">
                            <span class="icon-close"></span>
                            <a href="{{ path('hot-yoga-experience') }}">Hot Yoga Experience</a>
                            <a href="{{ path('hot-yoga-benefits') }}">Hot Yoga Benefits</a>
                            <a href="{{ path('first-hot-yoga-class') }}">First Hot Yoga Class</a>
                            <a href="{{ path('hot-yoga-tips') }}">Hot Yoga Class Tips</a>
                            <a href="{{ path('7-reasons-for-hot-yoga') }}" class="active">7 Reasons for Hot Yoga</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 privacy-content" >
                    <div class="banner">
                        <div class="bg-image">
                            <img src="/images/bnr.jpg" />
                        </div>
                        <div class="head title">7 reasons for the heat </div>
                    </div>
                    <ol>
                    <li>Vasodilation* so that more blood is delivered to the muscles.<br />
                        (* The capillaries that weave around the muscles respond to heat by dilating. This brings more oxygen to the muscles)
                    </li>

                        <li>Allows oxygen in the blood to detach from the hemoglobin more easily**<br />
                        (** When blood passes through warm muscles, oxygen releases more easily from the hemoglobin.)</li>
                        <li>Speeds up the breakdown of glucose in fatty acids.</li>
                        <li>Makes muscles more elastic, less susceptible to injury.</li>
                        <li>Improves coordination.</li>
                        <li>Reduces heart irregularities associated with sudden exercise.</li>
                        <li>Burns fat more easily***.<br />
                            (*** Warm muscles burn fat more easily than cold ones.
                            If you exercise with cold muscles they can’t use the fatty acids, and they end up in places where they aren’t wanted,
                            such as in the lining of the arteries)</li>
                    </ol>


                </div>
            </div>
        </div>
    </div>
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}