{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Activate studio{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/scheduleForm.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro">
                    <p class="intro-text">
                        Complete the Registration Form
                    </p>
                    <div class="scheduleForm">
                        {{ form_start(form) }}
                            {{ form_widget(form.current_website) }}
                            {{ form_widget(form.name) }}
                            {{ form_widget(form.entity) }}
                            {{ form_widget(form.address) }}
                            <a href="javascript:void(0)" class="submit" >Continue</a>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/scheduleForm.js') }}"></script>
{% endblock %}