{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Activate studio{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/scheduleForm.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
{% if app.session.flashbag.has('name') and app.session.flashbag.has('current_website') %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="terms-content">
                    <p class="page-title">
                        SweatNGlow Founding Member Terms of Service
                    </p>
                    <p>
                    These Founding Member Terms of Service, along with any integrated terms referenced in these terms (collectively, this <strong>“Agreement”</strong>) govern your use of the SweatNGlow platform, including website and mobile application, listing services for hot yoga and exercise classes, booking engine, studio support services, including but not limited to marketing, public relations, advertising, branding, and other related services at www.SweatNGlow.com (the <strong>“Service”</strong>).  This Agreement is a legal contract between you (a hot yoga studio, hot exercise studio, a gym or other vendor of hot yoga and exercise classes or related services) (individually, <strong>“Founding Member”</strong> or <strong>“FM”</strong> collectively, <strong>“Founding Members”</strong> or <strong>“FMs”</strong>), and SweatNGlow, LLC (the “Company”) regarding your use of the Service.  When using the Service, you will be subject to any additional posted guidelines or rules applicable to specific services, tools, and features, including, without limitation, end-user license agreements for downloadable applications, which may be posted from time to time (collectively, the <strong>“Guidelines”</strong>).  All such Guidelines are hereby incorporated by reference into this Agreement.
                    </p>
                    <p>
                    You are granted permission to use the Service, provided that you comply with this Agreement.  BY CLICKING “I AGREE”, REGISTERING TO USE THE SERVICE (SUBMITTING A <strong>“REGISTRATION FORM”</strong>), OR BY ACCESSING OR USING THE SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS AGREEMENT.  IF YOU DO NOT AGREE TO THIS AGREEMENT AT ANY TIME, PLEASE DO NOT USE THIS SERVICE.
                    </p><p>
                    <strong>1. Service Description</strong>
                    </p><p>
                    A. <u>Booking Engine</u>.  The Service allows you to promote and sell events at your hot yoga and exercise studio and related services (collectively, <strong>“Events”</strong>) to end- users on the Service (collectively, <strong>“Users”</strong>).  When a User registers and pays for one of your Events, you will be able to see all of your sales in your MindBody, Inc. (<strong>“MB”</strong>) Account (<strong>“MB Account”</strong>) as well as on a report generated by the Company.  You agree to admit all Events purchased through the Service, although you may place additional rules and requirements on Users such as punctuality or clothing requirements (your <strong>“Rules”</strong>).  You will list all your Rules on your Founding Member Page (<strong>“FM Page”</strong>)(as defined below).  You may enter into agreements with Users, including waivers prior to entering Events, but the Company is not a party to or responsible for any agreements between you and a User.   The Company is not responsible for any dispute between you and a User and the Company makes no representations or guarantees regarding Users’ ability to pay for Events or Users’ health, attendance, or behavior at the Events.
</p><p>
                    B. <u>FM Pages.</u>  The service includes a unique studio page for each FM hosted on our web portal www.sweatnglow.com.  That page displays content about you, your Events, and your trainers to Users, and allows Users to view or sign up for Events (your <strong>“FM Page”</strong>).  
</p><p>
                    C. <u>MB Integration.</u>  You have already connected to the Service through your MB Account by having authorized the Company to access information through the MB API (<strong>“MB Integration”</strong>).  Through your MB Integration you have authorized the Company to access any data associated with your MB Account accessible through your MB Integration, including the names of Events, Users, Event instructors, Event locations, and any pictures or other media associated with Events (<strong>“MB Data”</strong>).  You and MB are solely responsible for the amounts and types of data accessible by the Company through the MB Integration.  All MB Data will be considered Founding Member Materials (as defined in Section 6(A)) and subject to the license grant and all other terms of Section 6.  The Company disclaims any responsibility with regards to your MB Data and makes no representations or guarantees regarding the completeness or selection of MB Data from MB Integration.
</p><p>
                    D. <u>FM Page Content.</u>  The Company uploads content on your behalf to your FM Page.  If your Registration Form sets forth an “FM Website,” notwithstanding the terms of use or other agreements governing that website, you hereby grant the Company the right to access the FM Website and all associated sub-domains and all text, images, data, and other content therein (<strong>“FM Page Content”</strong>) and all FM Page Content will be deemed FM Materials (as defined in section 6(A)) licensed to the Company in accordance with section 6.  The Company disclaims any responsibility with regard to your FM Page Content and makes no representations or guarantees regarding the completeness or selection of FM Page Content from the FM Website or the placement or effectiveness of the FM Page Content on the FM Page.  
</p><p>
                    E. <u>Responsibility for Content and Data.</u>  You are responsible for the truth and accuracy of all content, data, and information on your FM Page, including FM Page Content, MB Data, and all scheduling details and descriptions for your Events.  If your FM Page incorrectly describes an Event, you may be required to refund Users for the cost of that Event (see below more information on refunds) regardless of whether the incorrect information was uploaded by you, whether through the MB Integration or the Company on your behalf.
</p><p>
                    F. <u>FM Websites.</u>  FM Website may be linked to the Company’s platform at the Company’s sole discretion.  The Company will list FM on the Service tagged as “Founding Member.”  The Company will list Flagships on the Service tagged as “Flagship Studio & Founding Member.” 
</p><p>
                    <strong>2. Tools.</strong>
</p><p>
                      As part of the Service, the Company may offer at its sole discretion tools you can select in the Registration Form (<strong>“Selected Tools”</strong>).  By accepting this Agreement, you agree to comply with all Selected Tools additional terms, which are integrated into this Agreement, and all laws governing the use of the Selected Tools, including all applicable privacy statutes and regulations.  You may only use the Selected Tools as allowed under the license grant in Section 5.  The Company may provide new or updated tools from time to time, and will notify you of new tools when they are made available.  The Company may modify or discontinue any tools without any liability or obligation to you.  If you wish to discontinue using a Selected Tool, you may contact your Company representative or email info@sweatnglow.com.
</p><p>
                    <strong>3. Eligibility.</strong>  
</p><p>
                    By agreeing to this Agreement, you represent and warrant to the Company: (i) that you are at least eighteen (18) years of age; (ii) that you have not been previously suspended or removed from the Service; and (iii) that your registration and your use of the Service is in compliance with any and all applicable laws and regulations.  If you are using the Service on behalf of an entity, organization, or company, you represent and warrant that you have the authority to bind such organization to this Agreement and you agree to be bound by this Agreement on behalf of such organization.     
</p><p>
                    <strong>4. Your Responsibility.</strong>  
</p><p>
                    A. <u>Liability for Affiliates and End-Users.</u>  You are responsible for all activity occurring under your account.  You will ensure that your Affiliates and End-Users comply with all of the provisions of this Agreement and applicable local, state, national and foreign laws, including those related to data privacy and transmission of personal data, at all times while using the Services.  Any reference in this Agreement to your “access” or “use” of Services (or similar phrase) is deemed to include access or use by Affiliates and End-Users and any act or omission of an Affiliate or End-User that does not comply with this Agreement will be deemed a breach of this Agreement by you.
</p><p>
                    B. <u>Data; Unauthorized Access; Maintaining Networks.</u>  You will: (i) have sole responsibility for the accuracy and quality of Your Data and for ensuring that your collection and use of Your Data complies with applicable laws, including those related to data privacy and transmission of personal data; (ii) prevent unauthorized access to, or use of, the Services, and notify the Company promptly of any unauthorized access or use; and (iii) have sole responsibility for obtaining, maintaining and paying for any hardware, telecommunications, Internet and other services needed to use the Services.
</p><p>
                    C. <u>Cardholder Data.</u>  You are solely responsible for any liability resulting from you or any Affiliate’s handling of Cardholder Data.  You agree that you and Affiliates will comply with PSI DSS anytime the Services are used to process payment cards.
</p><p>
                    D. <u>User Names and Passwords.</u>  The Company may reject or require that you change any user name or password under your account.   User names and passwords are for internal business use only and may not be shared with any third- party, including any competitor of the Company.  You, and not the Company, are responsible for any use or misuse of user names or passwords associated with your account.
</p><p>
                    E. <u>Protection and Security.</u>  During the Subscription Term, the Company will maintain administrative, physical and technical safeguards designated for the protection and integrity of Your Data.  The Company will maintain PCI DSS compliance for the portions of the Service that store and process Cardholder Data.
</p><p>
                    F. <u>Unauthorized Disclosure.</u>  If either Party believes that there has been a disclosure of Your Data in a manner not authorized under this Agreement, such Party will promptly notify the other Party.  Additionally, each Party will reasonably assist the other Party in remediating or mitigating any potential damage, including any notification which should be sent to individuals impacted or potentially impacted by such unauthorized disclosure.
</p><p>
                    <strong>5. Pricing.</strong>  
</p><p>
                    A. <u>Event Pricing.</u>  Each User must pay all applicable fees for each Event (the <strong>“User Price”</strong>). 
</p><p>
                    B. <u>SNG Passport:</u> To increase loyalty for Member Studios and help the Company expand our reach beyond the traditional marketplace, we are introducing an SNG Passport. This is a digital ticket allowing students to travel among studios and increase loyalty to the Company’ SNG brand.  This product was developed mostly for the convenience of traveling yogis.
</p><p>
                    C. <u>Cancellation policy:</u> FM agrees that the Company has a two (2)-hour cancellation policy.  Cancellations less than 2 hours prior to class start time will be charged as a no show in User’s account.
</p><p>
                    D. <u>Reports.</u>  The Company may provide reports to you that include a list of all your Events, pricing, and all Users who paid for your Events during the relevant reporting period.  It may also be possible to access analytics regarding Event purchases provided by MB by reviewing your account page and related features with those providers.
</p><p>
                    E. <u>Changes to Pricing.</u>  In accordance with Section 20, the Company may change its procedures and mechanisms regarding User Prices, and any other terms of this Agreement.
</p><p>
                    F. <u>Refunds.</u>  You agree that the Company may authorize a refund of all fees paid to you for an Event if the Event: (i) is cancelled and not rescheduled, or (ii) materially deviates from any descriptions or specifications of the Event on your FM Page. 

</p><p>
                    <strong>6. Our Proprietary Rights.</strong>
</p><p>
                    A. <u>General.</u>  The content, interactive and visual features, software, information, listings, booking engine and all other elements of the Service provided by the Company (“Company Materials”) are owned and/or licensed by the Company and protected by all relevant intellectual property, and other applicable laws and regulations.  Company Materials do not include FM Materials (as defined below).  Except as expressly authorized by the Company, you agree not to sell, license, distribute, copy, modify, publicly perform or display, or otherwise make unauthorized use of the Service and Company Materials.  The Company reserves all rights not expressly granted herein.
</p><p>
                    B. <u>License.</u>  The Company grants you a limited non-exclusive license and use of the Service and any Selected Tools in accordance with this Agreement subject to a royalty.  
</p><p>
                    C. <u>Further Restrictions.</u>  You further agree not to: (i) intentionally interfere with, damage, impair, or disable the Service’s operation by any means (whether through automated means or otherwise), including uploading or otherwise disseminating viruses, worms, spyware, adware or other malicious code; (ii) make unsolicited offers, advertisements, proposals, or send junk mail or spam to other FMs; (iii) use the Service or Company Materials for any unlawful purpose or as prohibited by this Agreement; (iv) defame, harass, threaten, stalk, impersonate, or defraud other FMs, or collect personal information about them or third parties without their consent; (v) use any robot, spider, scraper, site search/retrieval application, or other automated means to access the Service for any purpose (including, without limitation, to retrieve information from or data mine the Service) without the Company’s express consent or bypass the Company’s robot exclusion headers or similar measures; (vi) remove, circumvent, disable, damage or otherwise interfere with the Service security-related features, features that prevent or restrict the use or copying of any part of the Service, or features that enforce Service limitations; (vii) attempt to gain unauthorized access to the Service, other FM accounts, computer systems or networks connected to the Service through hacking, password mining, or any other means; (viii) deep-link to the Service, and you agree you will promptly remove any links that the Company finds objectionable in its sole discretion; (ix) reverse engineer, decompile, disassemble or otherwise attempt to discover the source code of the Service, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation; (x) harm or exploit minors; or (xi) modify, adapt, reproduce, translate, or create derivative works based upon the Service, except to the extent expressly permitted by applicable law notwithstanding this limitation.
</p><p>
                    D. <u>Service Access.</u>  The Service is offered by the Company for use in the United States of America, including all or any portion of the Service that may be operated from the “Cloud” or similar distributed hosting environment.  The Company makes no representations that the Service is appropriate or available in other locations.  If you are accessing or using the Service from other jurisdictions, you do so at your own risk and you are responsible for compliance with local law.    
</p><p>
                    <strong>7. FM Materials.</strong>   
</p><p>
                    A. <u>General.</u>  The Service may permit access to, submission, and posting of or linking to data, text, photos, or any other content submitted by you and other FMs, including without limitation, MB Data and FM Page Content (collectively, <strong>“FM Materials”</strong>), and the hosting and/or publishing of such FM Materials.  You may provide FM Materials: (i) directly to a representative of the Company; (ii) through the MB Integration; and (iii) via the FM Pages and Company’s access thereto, as described in Section 1.
</p><p>
                    B. <u>Grant of Rights.</u>  By submitting FM Materials to the Company or the Service, including by granting the Company access to FM Page Content or through the MB Integration, you hereby grant the Company and its affiliates a worldwide, non-exclusive, fully paid-up, royalty-free, irrevocable, transferable license, with the right to grant and authorize sublicenses, to use, reproduce, distribute, modify, adapt, prepare derivative works of, display, perform or otherwise exploit your FM Materials in connection with the Service (including, without limitation, to provide you with any related services) and/or the Company’s (and its successor’s) business, including for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels now known or hereafter discovered.  You grant the Company, its affiliates, and sublicensees the right to use any personal information that you submit or provide access to in connection with such FM Materials, as well as any personal information that the Company otherwise obtains as a result of your use of the Service.  You also agree to irrevocably waive (and cause to be waived) any claims and assertions of moral rights or attribution with respect to your FM Materials.  You also hereby grant to each FM and User of the Service a non-exclusive license to access your FM Materials through the Service, and to use, reproduce, distribute, prepare derivative works of, display, and perform such FM Materials as permitted by functionality of the Service of this Agreement.  Except for the limited rights set forth in this Agreement, each FM retains all right, title, and interest in its FM Materials.  Except for the limited rights set forth in this Agreement, each FM retains all right, title, interest in its FM Materials.  If you make suggestions or provide feedback to the Company on improving or adding new features to the Service, the Company may use such suggestions or feedback in any manner without any compensation to you.
</p><p>
                    C. <u>FM Materials Representations and Warranties.</u>  You shall be solely responsible for your FM Materials and the consequences of you or the Company uploading, posting, or publishing them through the Service.  In connection with FM Materials, you represent and warrant that: (i) you own, or have the necessary rights to use and authorize the Company to use, all intellectual property or other proprietary rights to FM Materials to enable inclusion and use of FM Materials in the manner contemplated by this Agreement, and to grant the rights and license set forth above (without any additional compensation); (ii) you will notify your users in a newsletter cobranded and coordinated with the Company of any User specific data (including, but not limited to, name, e-mail addresses, phone numbers, or booking history) transferred to the Company through your use of service; (iii) your FM Materials, the Company’s and other FM’s use of such FM Materials in connection  with the Service and the Company’s and other FMs’ exercise of the license rights set forth above, do not and will not (a) infringe, violate, or misappropriate any third-party-rights, including any intellectual property and proprietary rights, (b) slander, defame, libel, or invade the right of privacy, publicity or other property rights of any other person, or (c) violate any applicable law or regulation.
</p><p>
                    D. <u>FM Materials Prohibited Uses.</u>  In connection with your FM Materials, you further agree that you will not: (i) publish on the Service or FM Website any falsehoods or misrepresentations that could damage the Company or any third party; (ii) provide any health, fitness, or dietary advice that may be unhealthy or risk the health and safety of any Users; (iii) publish on the Service or on the FM Website material that is inaccurate, misleading, defamatory, threatening, pornographic, obscene, vulgar, harassing, harmful, hateful, abusive, racially or ethnically offensive, or encourages (or enables) conduct that would be considered a criminal offense, give rise to civil liability, or is otherwise inappropriate; (iv) impersonate another person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity; or (v) upload FM Materials on the Service, the MB Integration, or your FM Website that would be harmful to minors in any manner.
</p><p>

                    <strong>8. Third-Party Content Disclaimer.</strong>
</p><p>
                      You understand that when using the Service, you will be exposed to FM Materials and other content from a variety of sources (with FM Materials, collectively Third-Party Content).  THE COMPANY IS NEITHER RESPONSIBLE NOR LIABLE IN ANY WAY FOR THE ACCURACY, INTEGRITY, QUALITY, LEGALITY, USEFULNESS, SAFETY, OR INTELLECTUAL PROPERTY RIGHTS OR INFRINGEMENT RELATING TO SUCH THIRD-PARTY CONTENT, NOR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY THIRD-PARTY CONTENT DISPLAYED OR TRANSMITTED VIA THE SERVICE, OR ANY CONTACT YOU HAVE WITH ANY THIRD-PARTY PROVIDER/CONTRIBUTOR OF THIRD-PARTY CONTENT, OR ANY TRANSACTION YOU CONSUMMATE IN CONNECTION WITH YOUR USE OF OR ACCESS TO ANY THIRD-PARTY CONTENT (INCLUDING WITHOUT LIMITATION, ANY SALE OR PURCHASE OF STUDIO EQUIPMENT OR SERVICES).  WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, THE COMPANY IS NOT RESPONSIBLE OR LIABLE (UNDER ANY THEORY OF LIABILITY) FOR ANY USER’S OR THIRD-PARTY’S VIOLATION OF ANY LAWS OR REGULATIONS.  YOU FURTHER UNDERSTAND AND ACKNOWLEDGE THAT YOU MAY BE EXPOSED TO THIRD-PARTY CONTENT THAT IS OFFENSIVE, INDECENT, OR OBJECTIONABLE, AND YOU AGREE TO WAIVE, AND HEREBY DO WAIVE, ANY LEGAL AND EQUITABLE RIGHTS OR REMEDIES YOU HAVE OR MAY HAVE AGAINST THE COMPANY WITH RESPECT THERETO.  THE COMPANY DOES NOT ENDORSE ANY USER SUBMISSION OR OTHER THIRD-PARTY CONTENT OR ANY OPINION EXPRESSED THEREIN.
</p><p>
                    <strong>9. Non-Monitoring of Third-Party Content and FMs. </strong>
                </p><p>
                     The Company does not control the Third-Party Content posted by FMs and does not have any obligation to pre-screen or monitor such Third-Party Content.  If at any time, the Company chooses, in its sole discretion, to pre-screen monitor the Third-Party Content, the Company nonetheless assumes no responsibility for the Third-Party Content, no obligation to modify or remove any inappropriate Third-Party Content, and no responsibility for the conduct of the FM submitting any such Third-Party Content.  Without limiting the foregoing, the Company and its designees may, at any time and without prior notice, remove any Third-Party Content, in whole or in part, for any reason.   Furthermore, you alone are responsible for your involvement with Users and other FMs.  The Company reserves the right, but has no obligation, to monitor disagreements between you and other FMs or Users.  The Company disclaims all liability related to any such disagreement.
</p><p>
                    <strong>10. Digital Millennium Copyright Act. </strong> 
</p><p>
                    A. <u>DMCA Notification.</u>  The Company complies with the provisions of the Digital Millennium Copyright Act applicable to internet service providers (17 U.S.C. § 512, as amended).  If you have any complaints with respect to material posted on the Service, you may contact the Company’s Designated Agent at the following address:<br />
                    SweaNGlow, LLC<br />
                    324 S. Beverly Drive, #397<br />
                    Beverly Hills, CA 90212<br />
                    Ph: (442)222-1650<br />
                    Email: info@sweatnglow.com
</p><p>
                    Any notices alleging that materials hosted by or distributed through the Service infringe intellectual property rights must include the following information:
</p><ol style="list-style-type: lower-roman">
                    <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other right;</li>
                    <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
                    <li>a description of the material that you claim is infringing and where it is located on the Service</li>
                    <li>your address, telephone number, and email address;</li>
                    <li>a statement by you that you have a good faith belief that the use of the materials on the Service of which you are complaining is not authorized by the copyright owner, its agent, or the law; and</li>
                    <li>a statement by you that the above information in your notice is accurate and that, under penalty of perjury, you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf.</li>
</ol><p>
                    B. <u>Repeat Infringers.</u>  The Company will promptly terminate without notice accounts of FMs that are determined by the Company to be “repeat infringers.”  A repeat infringer is an FM who has been notified of infringing activity more than twice and/or who has had FM Page Content removed from the Service more than twice.
</p><p>
                    <strong>11. Account information.</strong>
                </p><p>
                      When filling out the Registration Form or creating an account, you must provide true, accurate, current, and complete information.  You also must ensure that this information is kept accurate and up-to-date at all times.
</p><p>
                    <strong>12. Password.</strong>
                </p><p>
                      The Company may provide you with a password for your account.  As you will be responsible for all activities that occur under your password, you should keep your password confidential.  You are solely responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.  If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your account ID or password), you should immediately notify the Company.  You may be liable for the losses incurred by the Company or others due to any unauthorized use of your account.
</p><p>
                    <strong>13. Third-Party Services and Third-Party Materials.</strong>
                </p><p>
                      The Service may contain links, information, and references to third-party products, service, and websites, which the Company does not control or maintain, including those related to other FMs (“Reference Sites”).  Access to and use of any Reference Sites is at FM’s own risk and the Company is not responsible for the legality, accuracy or reliability of information or statements on Reference Sites.  The Company provides these links merely as a convenience, and the inclusion of such links does not imply endorsement.  You should review any applicable terms and policies of such Reference Sites, as this Agreement does not apply to them.
</p><p>
                    <strong>14. Disputes with Third-Parties.</strong>
                </p><p>
                      If you have a dispute with: (i) another FM or a User of the Service; (ii) the provider of any Reference Site or Third-Party Content; (iii) any provider of any listing posted on or made available in connection with the Service; (iv) any third-party that contacts you as a result of your use of the Service; or (v) any other third-party arising in connection with your use of the Service, you hereby agree to release the Company (and all Company officers, directors, agents, subsidiaries, joint ventures, and employees) from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.
</p><p>
                     <strong>15. Availability of the Service.</strong>
                     </p><p>
                       The Company may make changes to or discontinue any part of the Service at any time without notice.  The Service may be out of date, and the Company makes no commitment to update materials on the Service.
</p><p>
                    <strong>16. Confidential Information.</strong>
                    </p><p>
                      A Party will not disclose or use any Confidential Information of the other Party except: (a) as reasonably necessary to perform obligations or exercise any rights granted pursuant to this Agreement; (b) with the other Party’s prior written permission; or (c) to the extent required by law or order of a court or other governmental authority or regulation.  Each Party agrees to protect the other Party’s Confidential Information in the same manner it protects its own Confidential Information of like kind, but in no event using less than a commercially reasonable standard of care.  Confidential Information will not include any information that: (a) is or becomes generally known to the public without breach of any obligation owed to the disclosing Party; (b) was known to a Party prior to its disclosure by the other Party without breach of any obligation owed to the other Party; (c) was independently developed by a Party without breach of any obligation owed to the other Party; or (d) was or is received from a third party without breach of any obligation owed to the other Party.  For clarity, nothing in this Section 7 will restrict the Company with respect to the Company Data or Aggregated Data.  
</p><p>
                    <strong>17. Termination.</strong>
                </p><p>
                      This Agreement becomes effective as of the date of your clicking “I Agree” to this Agreement, submission of your Registration Form, or by accessing or using the Service and continues in effect for the first term of five (5) calendar years.  This Agreement is automatically renewed for two (2) additional consecutive five-year terms unless cancelled 30-days prior to the commencement of the next term by written notice via certified U.S. Mail, Return Receipt-Requested or FedEx.  You agree that the Company may suspend, disable, delete or terminate your account of the use of the Service at any time in its sole discretion and you agree that the Company shall not be liable to you or any third-party for any such termination. In the event this Agreement is terminated, you will not register a new account under a different name.  Upon termination, all licenses granted by the Company herein will terminate.  In the event your account is removed or deleted for any reason, FM Materials that you submitted or saved may no longer be available.  The Company shall not be responsible for the loss of such content.  If this Agreement is terminated, you will remain responsible for honoring all bookings and performing all Events users registered and paid for prior to the effective date of termination, as well as providing any refunds in accordance with Section 4(F) for such Events, and the Company will remain responsible for all related payments to you.
</p><p>
                    <strong>18. Indemnification; Hold Harmless.</strong>
                    </p><p>
                       You agree to indemnify, defend, and hold harmless the Company and its parent, subsidiaries, affiliates or any related companies, its suppliers, licensors and partners, and the officers, directors, employees, agents and representatives or any of them from any and all claims, losses, obligations, damages, liabilities, costs  and expenses (including attorney’s fees) arising out of: (i) your use or misuse of the Service; (ii) your FM Materials, including the Company’s or other FMs’ use, display or other exercise of their license rights granted herein with respect to your FM Materials; (iii) your violation of this Agreement; (iv) your violation of the rights of any other person or entity, including claims that any FM Materials infringe or violate any third-party intellectual property rights; and (v) your breach of the foregoing representations, warranties, and covenants.  The Company reserves the right to assume the exclusive defense and control of any matter for which you are required to indemnify the Company and you agree to cooperate with the Company’s defense of these claims.  You agree not to settle any matter without the prior written consent of the Company.  The Company will use reasonable efforts to notify you of any such claim or proceeding upon becoming aware of it.
</p><p>
                    <strong>19. DISCLAIMERS.</strong>
</p><p>
                    A. <u>DISCLAIMER AS TO LISTINGS.</u>  THE COMPANY PROVIDES A SERVICE FOR HOT YOGA AND EXERCISE EVENTS THAT BRING TOGETHER BUYERS AND SELLERS AND IS NOT A PARTY TO ANY TRANSACTION BETWEEN BUYERS AND SELLERS THAT ORIGINATES ON THE SERVICE.  YOU UNDERSTAND AND AGREE THAT THE LISTINGS ON THIS WEBSITE DO NOT CONSTITUTE OFFERS FOR THE SALE OF ANY PRODUCTS OR SERVICES BY THE COMPANY.  THE COMPANY, ITS AFFILIATES, PARTNERS AND SUPPLIERS DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OF OR THE RESULTS OF USE OF THE SERVICE.
</p><p>
                    B. <u>GENERAL DISCLAIMER.</u>  IN ADDITION TO THE OTHER DISCLAIMERS IN THIS AGREEMENT, THE SERVICE, COMPANY MATERIALS, AND ANY THIRD-PARTY CONTENT MADE AVAILABLE ON THE SERVICE ARE PROVIDED ON AN “AS IS” BASIS, AND TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, THE COMPANY, ITS AFFILIATES, PARTNERS, AND SUPPLIERS DISCLAIM ALL WARRATIES, STATUTORY, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
</p><p>
                    THE COMPANY, ITS AFFILIATES, PARTNERS AND SUPPLIERS DO NOT WARRANT THAT THE COMPANY MATERIALS, THIRD-PARTY CONTENT, SERVICE, OR ANY OTHER INFORMATION OFFERED THROUGH THE SERVICE OR ANY REFERENCE SITES WILL BE UNINTERRUPTED, OR FREE OF ERRORS, VIRUSES OR OTHER HARMFUL COMPONENTS, AND DO NOT WARRANT THAT ANY OF THE FOREGOING WILL BE CORRECTED.
</p><p>
                    <strong>20. LIMITATION OF LIABILITY.</strong>
                    </p><p>
                      UNDER NO CIRCUMSTANCES, AND NO LEGAL THEORY, INCLUDING WITHOUT LIMITATION NEGLIGENCE, SHALL THE COMPANY, ITS AFFLIATES, PARTNERS OR SUPPLIERS BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING WITHOUT LIMITATION LOSS OF PROFITS, DATA, OR USE OR COST OF COVER) ARISING UNDER THIS AGREEMENT OR THAT RESULT ROM YOUR USE OR INABILITY TO USE THE COMPANY MATERIALS, THIRD-PARTY CONTENT, USER SUBMISSIONS OR THE SERVICE, EVEN IF THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  IN NO EVENT SHALL THE COMPANY, ITS AFFILIATES, PARTNERS OR SUPPLIERS’ TOTAL AGGREGATE LIABILITY TO YOU UNDER THIS AGREEMENT OR IN CONNECTION WITH THE SERVICE EXCEED THE GREATER OF ONE HUNDRED DOLLARS OR FEES PAID IN THE PRECEEDING TWELVE MONTHS.  APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.  IN SUCH CASE, THE COMPANY’S LIABILITY WILL BE LIMITED TO THE EXTENT PERMITTED BY LAW.
</p><p>
                    <strong> 21. Trademarks.</strong>
                    </p><p>
                      Trademarks of the Company and FMs may be included within the Service.  All trademarks, logos, and service marks found on the Service (except FM Marks, as defined below, <strong>“Company Marks”</strong>) are the property of the Company or other third parties.  FMs are not permitted to use any Company Marks without the prior written consent of the Company or the third-party that owns the respective Company Marks.  The Company bears no responsibility or liability for, and disclaims sponsorship or affiliation with, any third-party marks uploaded to or displayed through the Service.  The Company is generally unable to evaluate the merits of disputes regarding third-party marks and encourages FMs to resolve any such disputes directly.  FM’s trademarks, logos and service marks (<strong>“FM Marks”</strong>) may be included in the FM Materials and licensed to the Company in accordance with Section 6.
</p><p>
                    <strong>22. Modification of this Agreement.</strong>
                    </p><p>
                      The Company reserves the right, at its sole discretion, to change this Agreement on a going-forward basis at any time.  If the terms of this Agreement change, you will be required to accept the modified Agreement in order to continue using the Service.  If you do not accept the modifications to this Agreement, then your right to use the Service will automatically terminate.  Modifications are effective upon your acceptance of the modified Agreement.  For the avoidance of doubt, disputes arising under this Agreement will be resolved in accordance with the terms of this Agreement in effect at the time that the dispute arose.
</p><p>
                    <strong>23. Survival.</strong>
                    </p><p>
                      Sections 1, 3, 4(A), and 6-25 will survive any termination of this Agreement or your account.
</p><p>
                    <strong>24. Governing Law.</strong>
                    </p><p>
                      This Agreement shall be governed by the laws of the State of California without regard to conflict-of-law principles.   To the extent any lawsuit or court proceeding is permitted thereunder, you and the Company agree to submit to the personal and exclusive jurisdiction of the state courts and federal courts located in Los Angeles County, California for the purpose of litigating all such disputes.  The Service is offered by the Company for use in the United States, and the Company makes no representations that Company Materials included in the Services are appropriate and available to use in other locations.
</p><p>
                    <strong>25. Dispute Resolution.</strong>
</p><p>
                    A. <u>Generally.</u>  In the interest of resolving disputes between you and the Company in the most expedient and cost-effective manner, you and the Company agree that every dispute arising in connection with this Agreement will be resolved by binding arbitration.  Arbitration is less formal than a lawsuit in court.  Arbitration uses a neutral arbitrator instead of a judge or jury, may allow for more limited discovery than in a court, and can be subject to a very limited review by courts.  Arbitrators can award the same damages and relief that a court can award.  This agreement to arbitrate disputes includes all claims arising out of or relating to any aspect of this Agreement, whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory and regardless of whether a claim arises during or after the termination of this Agreement.  YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THIS AGREEMENT, YOU AND THE COMPANY ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR JUDGE OR TO PARTICIPATE IN A CLASS ACTION.
</p><p>
                    B. <u>Exceptions.</u>  Despite the provisions of Section 23(A), nothing in this Agreement will be deemed to waive, preclude, or otherwise limit the right of either party to: (i) bring an individual action in small claims court; (ii) pursue an enforcement action through the applicable federal, state, or local agency if that action is available; (iii) seek injunctive relief in a court of law; or (iv) to file suit in a court of law to address an intellectual property infringement claim.
</p><p>
                    C. <u>Arbitrator.</u>  Any arbitration between you and the Company will be settled under the Federal Arbitration Act, and governed by the Commercial Dispute Resolution Procedures and the Supplementary Procedures for Consumer Related Disputes (collectively, <strong>“AAA Rules”</strong>) of the American Arbitration Association (<strong>“AAA”</strong>), as modified by this Agreement, and will be administered by the AAA.  The AAA Rules and filing forms are available on-line at www.adr.org, or by calling the AAA at 1-800-778-7879, or by contacting the Company.
</p><p>
                    D. <u>Notice; Process.</u>  A party who intends to seek arbitration must first send a written notice of the dispute to the other party by certified U.S. Mail or by Fed Ex (signature required) or, only if such other party has not provided a current physical address, then by electronic mail (“Notice”).  The Company’s address for Notice is: SweatNGlow, LLC, 324 S. Beverly Drive, #397, Beverly Hills, CA 90212.  The Notice must: (i) describe the nature and basis of the claim or dispute; and (ii) set forth the specific relief sought (“Demand”).  The parties will make good-faith efforts to resolve the claim directly, but if the parties do not reach an agreement to do so within 30 days after the Notice is received, you or the Company may commence an arbitration proceeding.  During the arbitration, the amount of any settlement offer made by you or by the Company may not be disclosed to the arbitrator until after the arbitrator makes a final decision and award, if any.  
</p><p>
                    E. <u>Fees.</u>  If you commence arbitration in accordance with this Agreement, the Company will reimburse you for your payment of the filing fee, unless your claim is for more than $10,000 in which case the payment of any fees will be decided by the AAA Rules.  Any arbitration hearing will take a place at a location to be agreed upon in Los Angeles County, California, but if the claim is for $10,000 or less, you may choose whether the arbitration will be conducted: (i) solely on the basis of documents submitted to the arbitrator; (ii) through a non-appearance based telephone hearing; or (iii) by an in-person hearing as established by the AAA Rules in the county (or parish) of your billing address.  If the arbitrator finds that either the substance of your claim or the relief sought in the Demand is frivolous or brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)), then the payment of all fees will be governed by the AAA Rules. In that case, you agree to reimburse the Company for all monies previously disbursed by it that are otherwise your obligation to pay under the AAA Rules.  Regardless of the manner in which the arbitration is conducted, the arbitrator must issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the decision and award, if any, are based.  The arbitrator may make rulings and resolve disputes as to the payment and reimbursement of fees or expenses at any time during the proceeding and upon request from either party made within 14 days of the arbitrator’s ruling on the merits.
</p><p>
                    F. <u>No Class Actions.</u>  YOU AND THE COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY AND NOT AS A PLAINTFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING.  Further, unless both you and the Company agree otherwise, the arbitrator may not consolidate more than one person’s claims, and may not preside over any form of a representative or class proceeding.
</p><p>
                    G. <u>Modifications to this Arbitration Provision.</u>  If the Company makes any future change to this arbitration provision, other than a change to the Company’s address for Notice, you may reject the change by sending the Company written notice within 30 days of the change to the Company’s address for Notice, in which case your account with the Company will be immediately terminated and this arbitration provision, as in effect immediately prior to the changed you rejected will survive.
</p><p>
                    H. <u>Enforceability.</u>  If Section 23(F) is found to be unenforceable or if the entirety of this Section 23 is found to be unenforceable, then the entirety of this Section 23 will be null and void and, in that case, the parties agree that the exclusive jurisdiction and venue described in Section 22 will govern any action arising out of or related to this Agreement.
</p><p>
                    <strong>26. Consent to Electronic Communications.</strong>
                    </p><o>
                      By using this Service, you consent to receiving certain electronic communications from us.   You agree that any notices, agreements, disclosures, or other communications that the Company sends to you electronically will satisfy any legal communication requirements, including that such communications be in writing.
</p><p>
                    <strong>27. Miscellaneous.</strong>
                    </p><p>
                      This Agreement, together with Guidelines, are the entire agreement between the parties on the subject matter hereof.  The heading references herein are for convenience purposes only, do not constitute part of this Agreement, and shall not limit or affect any provision hereof.  The relationship of the parties hereunder is that of independent contractors, and this Agreement will not be construed to imply that either party is the agent, employee, or joint venture of the other.  In the event that any provision of this Agreement is held to be unenforceable, this Agreement will continue in full force and effect without said provision and will be interpreted to reflect the original intent of the parties.  You may not assign this Agreement without the prior written consent of the Company, and any prohibited assignment will be null and void.  The Company may assign this Agreement without restrictions and without any notice to you.  Waiver by either party of a breach of any provision of this Agreement or the failure by either party to exercise any right hereunder will not operate or be construed as a waiver of any subsequent breach of that right or as a waiver of any other right.  

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-actions">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('scheduleCalendar') }}"><button class="btn ">I Agree</button></a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Please fill the form <a href="{{ path('scheduleForm') }}">here</a>, before accepting the terms.
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/scheduleForm.js') }}"></script>
{% endblock %}