{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Activate studio{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/scheduleForm.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
{% if app.session.flashbag.has('name') and app.session.flashbag.has('current_website') %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro">
                    <p class="intro-text">
                        Select a date
                    </p>
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget" data-url="https://calendly.com/sweatnglow" style="min-width:320px;height:600px; border: 3px solid #666A73;"></div>
                    
                    <!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Please fill the form <a href="{{ path('scheduleForm') }}">here</a>, before accepting the terms.
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/scheduleForm.js') }}"></script>
{% endblock %}