{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Terms and conditions{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/terms.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
<div class="container" id="privacy">
    <div class="row">
        <div class="container-md">
            <div class="col-xs-12 col-sm-3">
                <div class="legal-nav">
                    <div class="legal-nav-mobile">Privacy <span class="glyphicon glyphicon-chevron-down"></span></div>
                    <div class="mobile-dropdown">
                        <span class="icon-close"></span>
                        <a href="{{ path('terms') }}" class="active">Terms of Service</a>
                        <a href="{{ path('privacy') }}">Privacy</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 privacy-content" >
                <div class="title">SWEATNGLOW, LLC – U.S. Terms of Use</div>
                    <h2>1 Contractual Relationship</h2>
                    <p>
                    These Terms of Use (“Terms”) govern your access or use, from within the United States and its territories and possessions, of the applications, websites, content, products, and services (the “Services,” as more fully defined below in Section 3) made available in the United States, its territories and possessions by SweatNGlow, LLC and its parents, subsidiaries, representatives, affiliates, officers and directors (collectively, “SNG”).  PLEASE READ THESE TERMS CAREFULLY.  In these Terms, words “including” and “include” mean “including but not limited to.” 
</p><p>
By accessing or using the Services, you confirm your agreement to be bound by these Terms.  If you do not agree to these Terms, you may not access or use the Services.  These Terms expressly supersede prior agreements or arrangements with you.  SNG may immediately terminate these Terms or any Services with respect to you, or generally cease offering or deny access to the Services or any portion thereof, at any time for any reason.
</p><p>
IMPORTANT: PLEASE REVIEW THE ARBITRATION AGREEMENT SET FORTH BELOW CAREFULLY AS IT WILL REQUIRE YOU TO RESOLVE DISPUTES WITH SNG ON AN INDIVIDUAL BASIS THROUGH FINAL AND BINDING ARBITRATION. BY ENTERING THIS AGREEMENT, YOU EXPRESSLY ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND ALL OF THE TERMS OF THIS AGREEMENT AND HAVE TAKEN TIME TO CONSIDER THE CONSEQUENCES OF THIS IMPORTANT DECISION.
</p><p>
Supplemental terms may apply to certain Services, such as policies for a particular event, program, activity or promotion, and such supplemental terms on the applicable Service(s).  Your continued access or use of the Services after such posting confirms your consent to be bound by the Terms, as amended.  If SNG changes these terms after the date you first agreed to the Terms (or to any subsequent changes to these Terms), you may reject any such change by providing SNG written notice of such rejection within 30 days of the date such change became effective, as indicated in the “Effective” date above.  This written notice must be provided either (a) by mail or hand delivery to our registered agent for service of process, Registered Agent, c/o SweatNGlow, LLC, 324 S. Beverly Drive, #397, Beverly Hills, CA 90212  or (b) by email from the email address associated with your Account to: change@sweatnglow.com.  In order to be effective, the notice must include your full name and clearly indicate your intent to reject changes to these Terms.  By rejecting changes, you are agreeing that you will continue to be bound by the provisions of these Terms as of the date you first agreed to the Terms (or to any subsequent changes to these Terms).  
SNG’s collection and use of personal information in connection with the Services is described in SNG’s Privacy Statements located at www.sweatnglow.com/legal/privacy.
</p>
<h2>2. Arbitration Agreement</h2>
<p>
By agreeing to the Terms, you agree that you are required to resolve any claim that you may have against SNG on an individual basis in arbitration, as set forth in this Arbitration Agreement.  This will preclude you from bringing any class, collective, or representative action against SNG, and also preclude you from participating in or recovering relief under any current or future class, collective, consolidated, or representative action brought against SNG by someone else.
</p><p>
Agreement to Binding Arbitration Between You and SNG
</p><p>
You and SNG agree that any dispute, claim or controversy arising out of or relating to (a) the relationship between us, (b) these Terms or the existence, breach, termination, enforcement, interpretation or validity thereof, or (c) your access to or use of the Services at any time, whether before or after the date you agreed to the Terms, and in all events whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory, will be settled by binding arbitration between you and SNG and not in a court of law.
</p><p>
You acknowledge and agree that you and SNG are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding.  Unless both you and SNG otherwise agree in writing, any arbitration will be conducted only on an individual basis and not in a class, collective, consolidated, or representative proceeding.  However, you and SNG each retain the right to bring an individual action in small claims court.  You and SNG also retain the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights.
</p><p>
Rules and Governing Law.
</p><p>
The arbitration will be administered American Arbitration Association (“AAA”) in accordance with the AAA’s Consumer Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the “AAA Rules”) then in effect, except as modified by this Arbitration Agreement.  The AAA Rules are available at www.adr.org/arb_med or by calling the AAA at 1-800-778-7879.
</p><p>
The parties agree that the arbitrator (“Arbitrator”), and not any federal, state, or local court or agency, shall have the exclusive authority to resolve any disputes relating to the interpretation, applicability, enforceability or formation of this Arbitration Agreement, including any claim that all or any part of this Arbitration Agreement is void or voidable.  The Arbitrator shall also be responsible for determining all threshold arbitrability issues, including issues relating to whether the Terms are unconscionable or illusory and any defense to arbitration, including waiver, delay, laches, or estoppel.
</p><p>
Notwithstanding any choice of law or other provision in the Terms, the parties agree and acknowledge that this Arbitration Agreement evidences a transaction involving interstate commerce and that the Federal Arbitration Act, 9 U.S.C. 1 et seq. (“FAA”), will govern its interpretation and enforcement and proceedings pursuant thereto.  It is the intent of the parties that the FAA and AAA Rules shall preempt all state laws to the fullest extent permitted by law.  If the FAA and AAA Rules are found not to apply to any issue that arises under this Arbitration Agreement or the enforcement thereof, then that issue shall be resolved under the laws of the state of California.  
</p><p>
Process.
</p><p>
A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules.  (The AAA provides a form Demand for Arbitration – Consumer Arbitration Rules at www.adr.org or by calling 1-800-778-7879).  The Arbitrator will be either (1) a retired judge or (2) an attorney specifically licensed to practice law in the state of California and will be selected by the parties from the AAA’s roster of consumer dispute arbitrators.  If the parties are unable to agree upon an Arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the Arbitrator in accordance with the AAA Rules. 
</p><p>
Location and Procedure.
</p><p>
Unless you and SNG otherwise agree, the arbitration will be conducted in the county where you reside.  If your claim does not exceed $10,000, your right to a hearing will be determined by the AAA Rules.  Subject to the AAA Rules, the Arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent with the expedited nature of the Arbitration.
</p><p>
Arbitrator’s Decision.
</p><p>
The Arbitrator will render an award within the time frame specified in the AAA Rules.  Judgment on the arbitration award may be entered in any court having competent jurisdiction to do so.  The Arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to provide relief warranted by the claimant’s individual claim.  An Arbitrator’s decision and judgment thereon shall have no precedential or collateral estoppel effect. 
</p><p>
Fees.
</p><p>
Your responsibility to pay any AAA fillings, administrative and arbitrator’s fees will be solely as set forth in the AAA Rules.  However, if your claim for damages does not exceed $25,000, SNG will reimburse you for any AAA filing fees and your share of the arbitrator’s  fees, unless the Arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).
</p><p>
Changes.
</p><p>
Notwithstanding the provision in Section 1 above, regarding consent to be bound by amendments to these Terms, if SNG changes this Arbitration Agreement after the date you first agreed to the Terms, you may reject any such change by providing SNG written notice of such rejection within 30 days of the date such change became effective, as indicated in the “Effective” date above.  This written notice must be provided either (a) by mail or hand delivery to our registered agent for service of process, Registered Agent, c/o SweatNGlow, LLC, 324 S. Beverly Drive, #397, Beverly Hills, CA 90212 or (b) by email from the email address associated with your SNG Account to change@sweatnglow.com.  In order to be effective, the notice must include your full name and clearly indicate your intent to reject changes to this Arbitration Agreement.  By rejecting changes, you are agreeing that you will arbitrate any dispute between you and SNG in accordance with the provisions of this Arbitration Agreement as of the date you first agreed to the Terms (or to any subsequent changes to the Terms).
</p><p>
Severability and Survival.
</p><p>
If any portion of this Arbitration Agreement is found to be unenforceable or unlawful for any reason, (1) the unenforceable or unlawful provision shall be severed from these Terms; (2) severance of the unenforceable or unlawful provision shall have no impact whatsoever on the remainder of the Arbitration Agreement; and (3) to the extent that any claims must therefore proceed on a class, collective, consolidated, or representative basis, such claims must be litigated in a civil court of competent jurisdiction and not in arbitration, and the parties agree that litigation of those claims shall be stayed pending the outcome of any individual claims in arbitration.
</p>
<h2>3. The Services</h2>
<p>
The Services comprise mobile applications and related services (each, an “Application”), which enable users to arrange and schedule hot yoga and other exercise classes, and to view digital other information about hot yoga and exercise, instructors, nutrition and lifestyle tips and/or purchase of certain goods, including with third party providers of such services and goods under agreements with SNG or certain SNG affiliates (“Third Party Providers”).  In certain instances the Services may also include an option to attend hot yoga, exercise classes, logistics and/or delivery services at an upfront price, subject to acceptance of by the respective Third Party Providers.  Unless otherwise agreed by SNG in a separate written agreement with you, the Services are made available solely for your personal, noncommercial use.  YOU ACKNOWLEDGE THAT YOUR ABILITY TO OBTAIN HOT YOGA, EXERCISE INSTRUCTION AND/OR RELATED SERVICES THROUGH THE USE OF THE SERVICES DOES NOT ESTABLISH SNG AS A PROVIDER OF HOT YOGA, OR EXERCISE CLASSES, AS A YOGA INSTRUCTOR OR IN ANY OTHER WAY.
</p><p>
 License.
</p><p>
Subject to your compliance with these Terms, SNG grants you a limited, non-sublicensable, revocable, non-transferable license to (i) access and use the Applications and on-line platform on your personal device solely in connection with your use of the Service; and (ii) access and use any content, information and related materials that may be made available through the Service, in each case solely for your personal, noncommercial use.  Any rights not expressly granted herein are reserved by SNG and SNG’s licensors.
</p><p>
Restrictions.
</p><p>
You may not: (i) remove any copyright, trademark or other proprietary notices from any portion of the Services; (ii) reproduce, modify, prepare derivative works based upon, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Services except as expressly permitted by SNG; (iii) decompile, reverse engineer or disassemble the Services except as may be permitted by applicable law; (iv) link to, mirror or frame any portion of the Services; (v) cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any portion of the Services or unduly burdening or hindering the operation and/or functionality of any aspect of the Services; or (vi) attempt to gain unauthorized access to or impair any aspect of the Services or its related systems or networks.  
</p><p>
Provision of the Services.
</p><p>
You acknowledge that portions of the Services may be made available under SNG’s various brands or request options associated with provision of hot yoga and exercise classes, education and training.  You acknowledge that the Services may be made available under such brands or request options by or in connection with: (i) certain of SNG’s subsidiaries or affiliates; (ii) independent Third Party Providers, including Studio Network, hot yoga and exercise instructors.  
</p><p>
Third-Party Services and Content.
</p><p>
The Services may be made available or accessed in connection with third party services and content (including advertising) that SNG does not control.  You acknowledge that different terms of use and privacy policies may apply to your use of such third party services and content.  SNG does not endorse such third-party services and content and in no event shall SNG be responsible or liable for any products or services of such third party providers.  Additionally, Apple, Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited will be a third-party beneficiary to this contract if you access the Services using Applications developed for Apple iOS, Android, Microsoft Windows, or BlackBerry- powered mobile devices, respectively.  These third-party beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner.  Your access to the Services using these devices is subject to terms set forth in the applicable third-party beneficiary’s terms of service.
</p><p>
Ownership.
</p><p>
The Services and all rights herein are and shall remain SNG’s property or the property of SNG’s licensors.  Neither these Terms nor your use of the Services convey or grant to you any rights: (i) in or related to the use of the Services, except for the limited license granted above; or (ii) to use or reference in any manner SNG’s names, logos, product and service names, trademarks or service marks or those of SNG’s licensor’s.  
</p>
<h2>4. Access and Use of the Services.</h2>
<p>
User Accounts.
</p><p>
In order to use most aspects of the Services, you must register for and maintain an active personal user Services account (“Account”).  You must be at least 18 years of age, or the age of legal majority in your jurisdiction (if different than 18), to obtain an Account, unless a specific Service permits otherwise.  Account registration requires you to submit to SNG certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid payment method supported by SNG.  You agree to maintain accurate, complete, and up-to-date information in your Account.  Your failure to maintain accurate, complete, and up-to-date information Account information, including having an invalid or expired payment method on file, may result in your inability to access or use the Services.  You are responsible for all activity that occurs under your Account, and you agree to maintain the security and secrecy of your Account username and password at all times.  Unless otherwise permitted by SNG in writing, you may only possess one Account.  
</p><p>
User Requirements and Conduct.
</p><p>
This Service is not available for use by persons under the age of 18.  You may not authorize third parties to use your Account, and you may not allow persons under the age of 18 to receive Services from Third Party Providers unless they are accompanied by you.  You may not assign or otherwise transfer your Account to any other person or entity.  You agree to comply with all applicable laws when accessing or using the Services, and you may only access or use the Services for lawful purposes.  You may not in your access or use of Services cause nuisance, annoyance, inconvenience or property damage, whether to the Third-Party Provider or any other party.  In certain instances, you may be asked to provide proof of identity to  access or use the Services, and you agree that you may be denied access to or use of the Services if you refuse to provide proof of identity.
</p><p>
Text Messaging and Telephone Calls.
</p><p>
You agree that SNG may contact you by telephone or text messages (including by an automatic telephone dialing system) at any of the phone number provided by you or on your behalf in connection with an SNG account, including for marketing purposes.  You understand that you are not required to provide this consent as a condition of purchasing any property, goods or services.  You also understand that you may opt out of receiving text messages from SNG at any time, either by texting “STOP” to (442)222-1650 using the mobile device that is receiving the messages, or by contacting help.sweatnglow.com.  If you do not choose to opt out, SNG may contact you as outlined in its User Privacy Statement, located at www.sweatnglow.com/legal/privacy.
</p><p>
Referrals and Promotional Codes.
</p><p>
SNG may in its sole discretion, create a referral and/or promotional codes (“Promo Codes”) that may be redeemed for discounts on future services and/or Third Party Provider’s services, or other features or benefits related to the Services and/or a Third Party Provider’s Services, subject to any additional terms that SNG establishes.  You agree that Promo Codes (i) must be used for the intended audience and purpose, and in a lawful manner, (ii) may not be duplicated, sold or transferred in any manner, or made available to the general public (whether posted to a public form or otherwise), unless expressly permitted by SNG; (iii) may be disabled by SNG at any time for any reason without liability to SNG; (iv) may only be used pursuant to the specific terms that SNG establishes for such Promo Code; (v) are not valid for cash; and (vi) may expire prior to your use.  SNG reserves the right to withhold or deduct credits or other features or benefits obtained through the use of the referral system or Promo Codes by you or any other user in the event that SNG determines or believes that the use of the referral system or use or redemption of the Promo Code was in error, fraudulent, illegal, or otherwise in violation of SNG’s Terms.
</p><p>
User Provided Content.
</p><p>
SNG may, in SNG’s sole discretion, permit you from time to time to submit, upload, publish or otherwise make available to SNG through the Services textual, audio, and/or visual content and information, including commentary and feedback related to the Services, initiation of support requests, and submission of entries for competitions and promotions (“User Content”).  Any User Content provided by you remains your property.  However, by providing User Content to SNG, you grant SNG a worldwide, perpetual, irrevocable, transferable, royalty-free license, with the right to sublicense, use, copy, modify, create, creative works, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised (including in connection with the Services and SNG’s business and on third-party sites and services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity.
</p><p>
You represent and warrant that: (i) you either are the sole and exclusive owner of all User Content or you have all rights, licenses, consents and releases necessary to grant SNG the license to the User Content as set forth above; and (ii) neither the User Content, nor your submission, uploading, publishing, or otherwise making available of such User Content, nor SNG’s use of the User Content as permitted herein will infringe, misappropriate or violate a third party’s intellectual property or proprietary rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.
</p><p>
You agree to not provide User Content that is defamatory, libelous, hateful, violent, obscene, pornographic, unlawful, or otherwise offensive, as determined by SNG in its sole discretion, whether or not such material may be protected by law.  SNG may, but shall not be obligated to, review, monitor, or remove User Content, at SNG’s sole discretion and at any time and for any reason, without notice to you.
</p><p>
Network Access and Devices.
</p><p>
You are responsible for obtaining the data network access necessary to use the Services.  Your mobile network’s data and messaging rates and fees may apply if you access or use the Services from your device.  You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Services, Applications and on-line platform and any updates thereto.  SNG does not guarantee that the Services, or any portion thereof, will function on any particular hardware or devices.  In addition, the Services may be subject to malfunctions and delays inherent to the use of the Internet and electronic communications.
</p>
<h2>5. Payment.</h2>
<p>
You understand that the use of the Services may result in charges to you for the services or goods you receive (“Charges”).  SNG will receive and/or enable your payment of the applicable Charges for services or goods obtained through your use of the Services.  Charges will be inclusive of applicable taxes where required by law.  Charges may include other applicable fees and/or surcharges including a booking fee or processing fees.  
</p><p>
All Charges and payments will be enabled by SNG using the preferred method designated in your Account, after which you will receive a receipt by email.  If your primary Account payment method is determined to be expired, invalid or otherwise not able to be charged, you agree that SNG may use a secondary payment method in your Account, if available.  Charges paid by you are final and non-refundable, unless otherwise determined by SNG.
</p><p>
As between you and SNG, SNG reserves the right to establish, remove and/or revise Charges for any or all services or goods obtained through the use of the Services at any time in SNG’s sole discretion.  Further, you acknowledge and agree that Charges applicable in certain geographic areas may increase substantially during times of high demand.  SNG will use reasonable efforts to inform you of Charges that may apply, provided that you will be responsible for Charges incurred under your Account regardless of your awareness of such Charges or the amounts thereof.  SNG may from time to time provide certain users with promotional offers and discounts that may result in different amounts charged for the same or similar services or goods obtained through the use of the Services, and you agree that such promotional offers and discounts, unless also made available to you, shall have no bearing on your use of the Services or the Charges applied to you.  You may elect to cancel your request for Services at any time prior to the commencement of such Services, in which case you may be charged a cancellation fee on a Third Party Provider’s behalf.   After you have obtained services or goods through the Service, you will have the opportunity to rate your experience and leave additional feedback.  SNG may use the proceeds of any charges for any purpose, subject to any payment obligation it has agreed to with any Third Party Providers or other third parties.
</p><p>
In certain cases, with respect to Third Party Providers, Charges you incur will be owed directly to Third Party Providers and SNG will collect payment of those charges from you, on the Third Party Provider’s behalf as their limited payment collection agent, and payment of the Charges shall be considered the same as payment made directly by you to the Third Party Provider.  In such cases, you retain the right to request lower Charges from a Third Party Provider for services or goods received by you from such Third Party Provider at the time you receive such services or goods, and Charges you incur will be owed to Third Party Provider.  SNG will respond accordingly to any request from a Third Party Provider to modify the Charges for a particular service or good.  This payment structure is intended to fully compensate a Third Party Provider, if applicable, for the services and goods obtainer in connection with your use of the Services.  In all other cases, Charges you incur will be owed and paid directly to SNG or its affiliates, where SNG is solely liable for any obligations to Third Party Providers.  In such cases, you retain the righto request lowed Charges from SNG for services or goods received by you from a Third Party Provider at the time you receive such services or goods, and SNG will respond accordingly to any request from you to modify the Charges for a particular service or good.
</p><p>
Disclaimers; Limitation of Liability; Indemnity.
</p>
<h2>6. DISCLAIMER.</h2>
<p>
THE SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE.”  SNG DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.  IN ADDITION, SNG MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUSTAINABILITY, OR AVAILABILITY OF THE SERVICES OR ANY SERVICES OR GOODS REQUESTED THROUGH THE USE OF THE SERVICE OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE.  SNG DOES NOT GUARANTEE THE QUALITY, SUSTAINABILITY, SAFETY OR ABILITY OF THIRD PARTY PROVIDERS.  YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICES, AND ANY SERVICE OR GOOD REQUESTED IN CONNECTION THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW.
</p><p>
LIMITATION OF LIABILITY.
</p><p>
SNG SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING ANY LOSS OF USE, GOODWILL, DATA, BUSINESS OR PROFITS (WHETHER DIRECT OR INDIRECT), PERSONAL INJURY, OR PROPERTY DAMAGE RELATED TO, IN CONNECTION WITH, OR OTHERWISE RESULTING FROM ANY USE OF THE SERVICES, REGARDLESS OF THE NEGLIGENCE (EITHER ACTIVE, AFFIRMATIVE, SOLE OR CONCURRENT) OF SNG, EVEN IF SNG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
</p><p>
SNG SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES ARISING OUT OF: (I) YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR USE THE SERVICES; OR (II) ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY THIRD PARTY PROVIDER EVEN IF SNG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  SNG SHALL NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE RESULTING FROM CAUSES BEYOND SNG’S REASONABLE CONTROL.  
</p><p>
UNDER NO CIRCUMSTANCES WILL SNG BE RESPONSIBLE FOR ANY DAMAGE, LOSS, OR INJURY RESULTING FROM HACKING, TAMPERING, OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES OR YOUR SNG ACCOUNT, OR THE INFORMATION CONTAINED THEREIN.
</p><p>
THE SERVICE MAY BE USED BY YOU TO REQUEST AND SCHEDULE HOT YOGA AND EXERCISE INSTRUCTION AND CLASSES WITH THIRD PARTY PROVIDERS BUT YOU AGREE THAT SNG HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY HOT YOGA AND EXERCISE INSTRUCTION OR CLASSES PROVIDED TO YOU BY THIRD PARTY PROVIDERS OTHER THAN EXPRESSLY SET FORTH IN THESE TERMS.
</p><p>
THE LIMITATIONS AND DISCLAIMER IN THIS SECTION DO NOT PURPORT TO LIMIT LIABILITY OR ALTER YOUR RIGHTS AS A CONSUMER THAT CANNOT BE EXCLUDED UNDER APPLICABLE LAW BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF OR THE LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, SNG’S LIABILITY SHALL BE LIMITED TO THE EXTENT PERMITTED BY LAW.  THIS PROVISION SHALL HAVE NO EFFECR ON SNG’S CHOICE OF LAW PROVISION SET FORTH BELOW.
</p><p>
TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, YOU AGREE THAT ANY CLAIM OR CAUSE OF ACTION AGAINST SNG MUST BE FILED WITHIN ONE (1) YEAR AFTER THE DATE THE PARTY ASSERTING THE CLAIM FIRST KNOWS OR REASONABLY SHOULD KNOW OF THE ACT, OMISSION, OR DEFAULT GIVING RISE TO THE CLAIM AND THERE SHALL BE NO RIGHT TO ANY REMEDY FOR ANY CLAIM NOT ASSERTED WITHIN THAT TIME PERIOD.
</p><p>

Indemnity.
</p><p>
You agree to indemnify and hold SNG and its affiliates and their officers, directors, employees , and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including attorneys’ fees), arising out of or in connection with: (i) your use of the Services or service of goods obtained through your use of Service; (ii) your breach or violation of any of these Terms; (iii) SNG’s use of your User Content; or (iv) your violation of the rights of nay third party, including Third Party Providers.
</p>
<h2>7. Other Provisions.</h2>
<p>
Choice of Law.
</p><p>
These Terms are governed and construed in accordance with the laws of the State of California, U.S.A. without giving effect to any conflict of law principles, except as may be otherwise provided in the Arbitration Agreement above.  Subject to the arbitration provisions above and other than small claims actions, you consent to the jurisdiction of and venue in the state courts in Los Angeles, California or federal court for the Central District of California. However, the choice of law provision regarding the interpretation of these Terms is not intended to create any other substantive right to non-California law whether that be by statute, common law, or otherwise provided in Section 2 of these Terms, are only intended to specify the use of California law to interpret these Terms and the forum for disputes asserting a breach of these Terms.  The foregoing choice of law and forum selection provisions do not apply to the arbitration clause in Section 2 or to any arbitrable disputes as defined therein.  Instead, as described in Section 2, the Federal Arbitration Act shall apply to any such disputes.
</p><p>
Claims of Copyright Infringement.
 </p><p>
Claims of copyright infringement should be sent to SNG’s designated agent.  Please visit SNG’s web page at https://www.sweatnglow.com/legal/intellectual-property/copyright/global for the designated address and additional information.
</p><p>
Notice.
</p><p>
SNG may give notice by means of a general notice or the Services, electronic mail to your email address in your Account, telephone or text message to any phone number provided in connection with your Account, or by written communication sent by first class mail or pre-paid post to any address connected to your Account.  Such notice shall be deemed to have been given upon the expiration of 48 hours after mailing or posting (if sent by first class mail or pre-paid post) or 12 hours after sending (if sent by email or telephone).  You may give notice to SNG, with such notice deemed given when received by SNG, at any time by first class mail or pre-paid post to our registered agent for service of process Registered Agent c/o SweatNGlow, LLC, 324 S. Beverly Drive, Beverly Hills, CA 90212.  
</p><p>
General.
</p><p>
SNG may assign these Terms, or any part of them. You may not assign these Terms  or any part of them, or any rights or claims, to any third party, without SNG’s prior written approval.  Any purported assignment by you in violation of this section shall be void.  No joint venture, partnership agreement, or agency relationship exists between you, SNG or any Third Party Provider as a result of this Agreement of use of the Services.  If any provision of these Terms is held to be invalid or unenforceable, such provision shall be enforced to the fullest extent under law.  SNG’s failure to enforce any right or provision in these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by SNG in writing.  This provision shall not affect the Severability and Survivability section of the Arbitration Agreement of these Terms.
 </p>
     

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/terms.js') }}"></script>
{% endblock %}