html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
    vertical-align: baseline;
    color: #000 !important;
}

.footer {
    width: 100%;
    background: #FFF;
    border-top: 1px solid #000;
    margin-top: 200px;
    float: left;
    padding: 20px 0px;
}

.footer a {
    color: #999;
    margin-right: 40px;
    text-decoration: none;
    font-size: 12px;
}

.footer a:hover {
    color: #000;
}
.featured{
    margin-bottom: 50px;
}
.featured .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.featured .box img{
    margin-bottom: 10px;
}
.featured .box p{
    font-size: 12px;
    margin: 0px 0px 5px 0px;
}
.featured .box p.name{
    font-size: 14px;
    font-weight: bold;
}