{% extends 'FrontEndBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/forgotPassword.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <div class="container change-password-container">
        <div class="row">
            <div class="col-xs-12">
                <p class="form-title">Please enter your new password.</p>

                {{ form_start(form) }}
                    {{ form_row(form.password, { errors: false }) }}

                    <div class="form-errors">
                        {{ form_errors(form.password) }}
                    </div>

                    <button type="submit" class="btn-submit">Set new password</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/forgotPassword.js') }}"></script>
{% endblock %}