{% extends 'FrontEndBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/forgotPassword.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <div class="container forgot-password-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="container-sm">
                    <div class="form-area">
                        <div class="form-text">
                            <p class="form-title">Forgot your password?</p>
                            <p class="form-desc">
                                Enter your email address below and we'll get you back on track.
                            </p>
                        </div>

                        {{ form_start(form, {'attr': {'id': 'forgot-password-form'}}) }}
                            {{ form_row(form.email, { errors: false, label: false, 'attr': {'class': 'input-field', 'placeholder': 'Your email' }}) }}
                            <button type="submit" class="btn-send">Send</button>
                            <div class="form-errors">
                                {{ form_errors(form.email) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/forgotPassword.js') }}"></script>
{% endblock %}