<div class="login-area">
    <div class="login-form">
        <div class="corner">
        </div>

        <div class="tab">
            <div class="login-tab active">
                <div class="border-replacement"></div>
                <a href="javascript:void(0);">Log in</a>
            </div>
            <div class="register-tab">
                <div class="border-replacement"></div>
                <a href="javascript:void(0);">Sign up</a>
            </div>
        </div>
        {{ form_start(loginForm, {'attr': {'id': 'login'}}) }}
        {{ form_errors(loginForm.email) }}

        {{ form_row(loginForm.email, { 'errors': null, 'attr': {'class': 'input-field', 'placeholder': 'E-mail' }}) }}
        {{ form_row(loginForm.password, { 'attr': {'class': 'input-field', 'placeholder': 'Password' }}) }}

        <button type="submit" class="login-button">Login</button>
        <a href="{{ path('forgot_password') }}" class="forget-pass">Forgot your password?</a>
        {{ form_end(loginForm) }}


        {{ form_start(registerForm, {'attr': {'id': 'registration'}}) }}
        {{ form_errors(registerForm.email) }}

        {{ form_row(registerForm.name, { 'errors': null, 'attr': {'class': 'input-field', 'placeholder': 'Name' }}) }}
        {{ form_row(registerForm.email, { 'errors': null, 'attr': {'class': 'input-field', 'placeholder': 'E-mail' }}) }}
        {{ form_row(registerForm.password, { 'attr': {'class': 'input-field', 'placeholder': 'Password' }}) }}

        <button type="submit" class="login-button">Register</button>
        <div class="forget-pass"><input type="checkbox" name="tc" id="tc" value="agree"> <span>I agree with <a href="{{ path('terms') }}" target="_blank">T&C</a></span></div>
        {{ form_end(registerForm) }}
    </div>
    <div class="intermediate-text">or with</div>
    <a href="{{ path('connect_google') }}">
        <div class="social-login">
            <img src="/images/login-google.svg" width="18" height="18" />
            Google
        </div>
    </a>
    <a href="{{ path('connect_facebook') }}">
        <div class="social-login">
            <img src="/images/login-fb.svg" width="18" height="18" />
            Facebook
        </div>
    </a>
</div>