{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Login{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/login.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    {% if error is defined and error is not null %}
    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-success">
                        <div class="container-md">
                            {{ error }}
                        </div>p
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include '@Sng/Security/login_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/login.js') }}"></script>
{% endblock %}