<div class="container featured" id="homeTeachers">
    <div class="row">
        {% if title is defined %}
            <div class="col-xs-12">
                <p class="title {% if viewAllLabel is not defined %} no-button {% endif %}">{{ title }}</p>
                {% if viewAllLabel is defined %}
                    <div class="view-all push-right">
                        <div class="trapezoid"></div>
                        <a href="{{ viewAllPath }}">{{ viewAllLabel }}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="container-sm  swiper-container">
            <div class="swiper-wrapper">
                {% for teacher in teachers %}
                    <div class="box  swiper-slide" >
                        <a href="{{ path('teacherProfile', {slug: teacher.slug}) }}">
                            <img src="/images/group-1.jpg"
                                srcset="/images/group-1@2x.jpg 2x,
                                        /images/group-1@3x.jpg 3x"
                                class="group-8">
                            <p class="name">{{ teacher.name }}</p>
                            <p class="address">
                                {% if teacher.nextClasses is defined and teacher.nextClasses is not empty %}
                                    {{ teacher.nextClasses[0].startDatetime|string_date("D d/m", "gA")|capitalize }} at
                                    {{ teacher.nextClasses[0].location.name }}
                                {% endif %}
                            </p>
                        </a>
                    </div>
                {% endfor %}
                {% if banner is not defined %}
                    <div class="col-sm-6 col-xs-12">
                        <div class="join-banner">
                            <div class="banner-image">
                                <img src="/images/become-a-teacher.jpg" />
                            </div>
                            <div class="banner-text">
                                BECOME A <br />TEACHER
                            </div>
                            <div class="banner-button">
                                Join now
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="slide-next"><div class="swiper-button-next teachers-swiper-button-next"></div></div>
            <div class="slide-prev"><div class="swiper-button-prev teachers-swiper-button-prev"></div></div>
        </div>
    </div>
</div>