<div class="container featured" id="teachers-profile" {{ city is defined and city is not empty ? ('data-city-slug="' ~ city.slug ~ '"')|raw : '' }}>
    <div class="row">
        {% if title is defined %}
            <div class="col-xs-12">
                <p class="title {% if viewAllLabel is not defined %} no-button {% endif %}">{{ title }}</p>
                {% if viewAllLabel is defined %}
                    <div class="view-all push-right">
                        <div class="trapezoid"></div>
                        <a href="javascript: void(0);">{{ viewAllLabel }}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="container-sm">
            {% include 'FrontEndBundle:Teachers:partials/teachersProfileSimpleList.html.twig' with {teachers: teachers|slice(0, 3)} %}

            <div class="col-xs-12 col-sm-6">
                <div class="join-banner">
                    <div class="banner-image">
                        <img src="/images/become-a-teacher.jpg" />
                    </div>
                    <div class="banner-text">
                        BECOME A TEACHER
                    </div>
                    <a href="{{ path('teachersTraining') }}">
                        <div class="banner-button">
                            Apply now
                        </div>
                    </a>
                </div>
            </div>

            {% include 'FrontEndBundle:Teachers:partials/teachersProfileSimpleList.html.twig' with {teachers: teachers|slice(3, 19)} %}
        </div>
        <div class="row">
            <div class="lds-ring preloader">
                <div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>
</div>