{% for i, teacher in teachers %}
    <a href="{{ path('teacherProfile', {slug: teacher.slug}) }}">
        <div class="col-sm-6 col-xs-12 profile">
            <div class="col-xs-6 box">
                <div class="teacher-image">
                    <img src="/images/group-1.jpg"
                         srcset="/images/group-1@2x.jpg 2x,
                                        /images/group-1@3x.jpg 3x"
                         class="group-8">
                </div>
            </div>
            <div class="col-xs-6 box">
                <div class="teacher-profile" data-uuid="{{ teacher.uuid }}">
                    <p class="name">{{ teacher.name }}</p>
                    <p class="address">
                        {% if teacher.nextClasses is defined and teacher.nextClasses is not empty %}
                            {{ teacher.nextClasses[0].startDatetime|string_date("D d/m", "gA")|capitalize }} at
                            {{ teacher.nextClasses[0].location.name }}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
            {{ teacherMacros.socialProfiles(teacher) }}

            <div class="corner"></div>
            <div class="view">View</div>

        </div>
    </a>
{% endfor %}