<div class="container featured teachersList" >
    <div class="row">
        {% if title is defined %}
            <div class="col-xs-12">
                <p class="title {% if viewAllLabel is not defined %} no-button {% endif %}">{{ title }}</p>
                {% if viewAllLabel is defined %}
                    <div class="view-all push-right">
                        <div class="trapezoid"></div>
                        <a href="{{ viewAllPath }}">{{ viewAllLabel }}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="container-sm">
            {% for teacher in teachers %}
                <div class="col-xs-6 col-sm-3 box" data-tuuid="{{ teacher.uuid }}">
                    <a href="{{ path('teacherProfile', {slug: teacher.slug}) }}">
                        <img src="/images/group-1.jpg"
                            srcset="/images/group-1@2x.jpg 2x,
                                    /images/group-1@3x.jpg 3x"
                            class="group-8">
                        <p class="name">
                            {{ teacher.name }}
                            {% if app.user and isFavouriteStaff(teacher.uuid) and hasFav == 'true' %}
                                <span class="glyphicon glyphicon-heart"></span>
                            {% endif %}
                        </p>
                        <p class="address">
                            {% if teacher.nextClasses is defined and teacher.nextClasses is not empty %}
                                {{ teacher.nextClasses[0].startDatetime|string_date("D d/m", "gA")|capitalize }} at
                                 {{ teacher.nextClasses[0].location.name }}
                            {% endif %}
                        </p>
                        
                    </a>
                </div>
            {% endfor %}

            {% if banner is not defined %}
                <div class="col-xs-12 
                            {% if (teachers|length % 4) == 3 %} hidden
                            {% elseif (teachers|length % 4) == 2 %} col-sm-6
                            {% elseif (teachers|length % 4) == 1 %} col-sm-6
                            {% else %} hidden
                            {% endif %} 
                        ">
                    <div class="join-banner">
                        <div class="banner-image">
                            <img src="/images/become-a-teacher.jpg" />
                        </div>
                        <div class="banner-text">
                            BECOME A <br />TEACHER
                        </div>
                        <a href="{{ path('teachersTraining') }}">
                            <div class="banner-button">
                                Apply now
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>