<div class="container classesList" >
    <div class="row">
        {% if title is defined %}
            <div class="col-xs-12">
                <p class="title {% if button is not defined %} no-button {% endif %}">{{ title|raw }}</p>
                {% if button is defined %}
                    <div class="view-all push-right">
                        <div class="trapezoid"></div>
                        <a href="javascript: void(0);">{{ button }}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="container-sm">
            {% for class in classes %}
                {% set classStatus = getStatusForUser(class, app.user) %}
                <div class="col-xs-12 col-sm-3 course" >
                    <div class="course-box
                    {% if class.getStatusForUserSchedule() == 'Cancelled' or class.getStatusForUserSchedule() == 'Fully booked' %} booked {% endif %}">
                        <div class="corner"></div>
                        <div class="corner-booked"></div>
                        <p class="className">
                            {{ class.name }}
                            {{ (class.level is simpletext and class.level != 'None' ? "(#{class.level})" : '&nbsp;')|raw }}
                        </p>
                        <p class="time">{{ class.startDatetime|date("g:iA") }} ({{ class.formattedDuration }})</p>
                        <p class="address">{{ class.location.name }}</p>
                        {% if classStatus == constant('SngBundle\\Service\\ClassesService::CLASS_STATUS_AVAILABLE') %}
                            <a href="#" class="book  bookBtn" data-class-uuid="{{ class.uuid }}">Book</a>
                        {% elseif classStatus == constant('SngBundle\\Service\\ClassesService::CLASS_STATUS_WAITLIST') %}
                            <a href="#" class="book" data-class-uuid="{{ class.uuid }}">Join waitlist</a>
                        {% else %}
                            <p class="status">{{ getTextStatusForUser(class, app.user) }} </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if banner is not defined %}
                <div class="col-xs-12 
                        {% if (classes|length % 4) == 2 %} col-sm-6 
                        {% elseif (classes|length % 4) == 1 %} col-sm-9
                        {% else %} hidden
                        {% endif %} ">
                    <div class="mkt-banner">
                        <p class="mkt-banner-text">No sweat <br />no glow</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>