{# <table class="section-head" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    <td style="padding-bottom: 24px;" align="left">
                        <p style="font-family: 'CircularStdMedium', Helvetica;font-size: 17px; line-height: 1.35;font-weight: 500;color: #28292a; margin: 0px;">
                            Explore our cities
                        </p>
                    </td>
                </tr>
            </table>

            <table class="top-cities" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    {% for city in cities %}
                        <td style="width: 32%; padding-bottom: 0px;">
                            <a href="{{ absolute_url(path('cityHomepage', {'slug': city.slug})) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=city">
                            <img src="{{ absolute_url(asset('images/emails/' ~ city.slug ~ '.jpg')) }}"  style="width: 100%; height: auto;" /></a>
                        </td>
                        {% if not loop.last %}
                        <td style="width: 2%"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table> #}