{% extends 'SngBundle:Emails:Default/base.html.twig' %}
{% block body %}
<table style="width: 100%; max-width: 550px; height: 85px; margin: auto;" class="confirmation">
    <tr>
        <td style=" padding: 60px 0px 24px 0px; height: 24px;">
            <p style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px;line-height: 1.35;font-weight: 300;color: #28292a; margin:0px; padding-bottom: 19px;">
                Hi {{ account.fullName }},
            </p>
            <p style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px; line-height: 1.35;font-weight: 300;color: #28292a; margin: 0px; padding-bottom: 48px;">
                Thanks for joining SweatNGlow - The largest hot yoga studio network worldwide. Please click the button below to verify your email.
            </p>
            <a href="{{ url('account_confirm', { uuid: account.uuid, code: account.confirmationCode }) }}?utm_medium=email&utm_source=transactional&utm_campaign=confirmation_email&utm_content=verify" style="width: 148px; background: #28292a; height: 41px; font-family:'CircularStd', Helvetica;font-size: 14px;line-height: 41px;text-align: center; text-decoration: none;color: #ffffff; display: block;">
                Verify my email
            </a>
            <p  style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px;line-height: 1.35; font-weight: 300;color: #28292a; margin: 0px; padding-top: 48px; padding-bottom: 24px;" class="regards">
                With love,<br />
                The SweatNGlow team
            </p>
        </td>
    </tr>
</table>
{% endblock %}