{% extends 'SngBundle:Emails:Default/base.html.twig' %}

{% block body %}
    Hi {{ account.fullName }},
    Thanks for joining SweatNGlow - The largest hot yoga studio network worldwide. Please click the button below to verify your email.
    <a href="{{ url('account_confirm', { uuid: account.uuid, code: account.confirmationCode }) }}?utm_medium=email&utm_source=transactional&utm_campaign=confirmation_email&utm_content=verify" style="width: 148px; background: #28292a; height: 41px; font-family:'CircularStd', Helvetica;font-size: 14px;line-height: 41px;text-align: center; text-decoration: none;color: #ffffff; display: block;">
        Verify my email
    </a>
    With love,<br />
    The SweatNGlow team
{% endblock %}