{% extends 'SngBundle:Emails:Default/base.html.twig' %}

{% block body %}
<table style="width: 100%; max-width: 550px; height: 85px; margin: auto;" class="confirmation">
    <tr>
        <td style=" padding: 30px 0px 30px 0px; height: 24px;">
            <p style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px;line-height: 1.35;font-weight: 300;color: #28292a; margin:0px; padding-bottom: 24px;">
                Hello {{ account.fullName }},
            </p>
            <p style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px;line-height: 1.35;font-weight: 300;color: #28292a; margin: 0px; padding-bottom: 48px;">
                You've requested a password reset for your account. Please click below:
            </p>
            <a href="{{ url('password_change', { uuid: account.uuid, code: code }) }}?utm_medium=email&utm_source=transactional&utm_campaign={{ emailType }}&utm_content=confirm" style="width: 200px; background: #28292a; height: 41px; font-family:'CircularStd', Helvetica;font-size: 14px;line-height: 41px;text-align: center; text-decoration: none;color: #ffffff; display: block;">
                Choose a new password
            </a>
            <p style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px;line-height: 1.35;font-weight: 300;color: #28292a; margin: 0px; padding-top: 48px; padding-bottom: 24px;">
                If you didn't ask to reset your password, please ignore this email.
            </p>
            <p  style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px;line-height: 1.35;font-weight: 300;color: #28292a; margin: 0px; padding-bottom: 48px;" class="regards">
                With love,<br/>
                The SweatNGlow team
            </p>
        </td>
    </tr>
</table>
{% endblock %}


