Hello {{ account.fullName }},


You've requested a password reset for your account. Use the link below:

{{ url('password_change', { uuid: account.uuid, code: code }) }}?utm_medium=email&utm_source=transactional&utm_campaign={{ emailType }}&utm_content=request

If you didn't ask to reset your password, please ignore this email.


With love,
The SweatNGlow team