{% extends 'SngBundle:Emails:Default/base.html.twig' %}
{% set emailType = 'welcome' %}
{% block customCss %}
    <style  type="text/css">
        .welcome{
            font-family:'CircularStd', Helvetica;
            font-size: 14px;
	        color: #28292a;
        }
        .welcome img{
            width: 100%;
            height: auto;
        }
        .section-head p{
            font-family: 'CircularStdMedium', Helvetica;
            font-size: 17px;
            font-weight: 500;
            color: #28292a;
        }
        .section-head a{
            font-family: 'CircularStdMedium', Helvetica;
            font-size: 14px;
            font-weight: 500;
            color: #28292a;
            text-decoration: none;
        }
        @media (max-width: 550px){
            .welcome>tbody>tr>td{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    </style>
{% endblock %}
{% block body %}
<table style="width: 100%; max-width: 550px;  margin: auto;" class="welcome">
    <tr>
        <td>
            <table class="top-banner" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    <td style="padding-bottom: 48px;" >    
                        <img src="{{ absolute_url(asset('images/emails/welcome-top-banner.jpg')) }}" style="width: 100%; height: auto;" />
                    </td>
                </tr>
            </table>

            


            <table class="section-head" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    <td style="padding-bottom: 20px; padding-top: 48px;" align="left">
                        <p style="font-family: 'CircularStdMedium', Helvetica;font-size: 17px;font-weight: 500;color: #28292a; margin: 0px;">
                            Learn from our teachers
                        </p>
                    </td>
                    <td style="padding-bottom: 20px; padding-top: 48px;" align="right">
                        <a href="{{ absolute_url(path('teachersList')) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=view_all" style="float: right; text-align: right;font-family: 'CircularStdMedium', Helvetica;font-size: 14px;font-weight: 500;color: #000;text-decoration: none;">View all</a>
                    </td>
                </tr>
            </table>
            <table class="top-teachers" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    {% for teacher in teachers %}
                        <td style="width: 32%; padding-bottom: 8px;">
                            <a href="{{ absolute_url(path('teacherProfile', {'slug': teacher.slug})) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=teacher_image">
                                <img src="{{ absolute_url(asset('images/group-1.jpg')) }}"  style="width: 100%; height: auto;" />
                            </a>
                        </td>
                        {% if not loop.last %}
                        <td style="width: 2%"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for teacher in teachers %}
                        <td style="width: 32%;">
                            {{ teacher.firstName }} {{ teacher.lastName|slice(0,1) }}.
                        </td>
                        {% if not loop.last %}
                        <td style="width: 2%"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>

            <table class="section-head" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    <td style="padding-bottom: 20px; padding-top: 48px;" align="left">
                        <p style="font-family: 'CircularStdMedium', Helvetica;font-size: 17px; line-height: 1.35;font-weight: 500;color: #28292a; margin: 0px;">
                            Discover studios
                        </p>
                    </td>
                    <td style="padding-bottom: 20px; padding-top: 48px;" align="right">
                        <a href="{{ absolute_url(path('studiosList')) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=view_all" style="float: right; text-align: right;font-family: 'CircularStdMedium', Helvetica;font-size: 14px;line-height: 1.35;font-weight: 500;color: #28292a;text-decoration: none;">View all</a>
                    </td>
                </tr>
            </table>
            <table class="top-studios" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 550px;  margin: auto;">
                <tr>
                    {% for studio in studios %}
                        {% set studioImage = asset('images/default-image.jpg') %}
                        {% if studio.photos is not empty %}
                            {% set studioImage = asset(studio.photos[0].path) %}
                        {% endif %}

                        <td style="width: 32%; padding-bottom: 8px;">
                            <a href="{{ absolute_url(path('studioDetails', {'slug': studio.slug})) }}?utm_medium=email&utm_source=transactional&utm_campaign=welcome&utm_content=studio_image">
                                <img src="{{ absolute_url(studioImage) }}"  style="width: 100%; height: auto;" />
                            </a>
                        </td>
                        {% if not loop.last %}
                        <td style="width: 2%"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for studio in studios %}
                        <td style="width: 32%;">
                            {{ studio.name }}
                        </td>
                        {% if not loop.last %}
                        <td style="width: 2%"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <p style="font-family: 'SFUIDisplayLight', Helvetica;font-size: 16px; line-height: 1.35;font-weight: 300;color: #28292a; margin: 0px; padding-top: 48px; padding-bottom: 0px;" class="regards">With love,<br />The SweatNGlow team</p>
                    </td>
                </tr>
            </table>
            <table  class="bottom-banner" >
                <tr>
                    <td style="padding-bottom: 24px; padding-top: 48px;">    
                        <img src="{{ absolute_url(asset('images/emails/no-compromise.jpg')) }}" style="width: 100%; height: auto;"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}