{% extends 'base.html.twig' %}
{% block site %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SweatNGlow{% endblock %}</title>
        <meta name="description" content="The largest hot yoga studio network worldwide. Book a class in a studio near you and start your journey toward total transformation!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
        <link rel="manifest" href="/images/favicon/manifest.json">
        <meta name="theme-color" content="#ffffff">

        {% block extra_headers %}{% endblock %}

        {% block javascript_head %}{% endblock %}
    </head>
    <body>
        {% include 'FrontEndBundle:StudioTemplate:header.html.twig' %}
        {% block body %}{% endblock %}
        {# {% include 'FrontEndBundle::footer.html.twig' %} #}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    </body>

</html>
{% endblock %}
