{% set theCity = sng_locations.currentCity %}
<div class="city-list">
  <div class="container">
    <div class="row">
      <div class="container-sm">
        <span class="icon-close"></span>
        <div class="mobile-city-nav">
            <div class="menu-back">
                <span class="icon-slide-left"></span>
                Menu
            </div>
            <span class="icon-close"></span>
        </div>
        {% set allCities = sng_locations.getAllCities() %}
        {% for column in allCities|batch(4) %}
          <div class="col-xs-12 col-sm-3">
            {% for city in column %}
              <a href="{{ path('cityHomepage', {'slug': city.slug}) }}" 
                class="{% if theCity is not empty and theCity.name == city.name %} active {% endif %}">
                {{ city.name }}
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('studioTemplate') }}">
          <img src="/images/sweat-n-glow-copy@2x.png"  width="159" height="16">
        </a>
      </div>

      <div id="navbar" class="collapse navbar-collapse pull-right">
        <div class="mobile-nav">
            <a class="navbar-brand" href="{{ path('studioTemplate') }}">
              <img src="/images/sweat-n-glow-copy@2x.png"  width="159" height="16">
            </a>
            <span class="icon-close"></span>
            
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{ path('studioTemplate') }}" class="visible-xs hidden-sm {% if app.request.attributes.get('_route') == 'studioTemplate' %} active {% endif %}">Home</a></li>
          <li>
            <a href="{{ path('studioTemplateSchedule') }}"
                class="{% if app.request.attributes.get('_route') == 'studioTemplateSchedule' %} active {% endif %}">Classes</a>
          </li>
          <li>
            <a href="{{ path('studioTemplateStudio') }}"
                class="{% if app.request.attributes.get('_route') == 'studioTemplateStudio' %} active {% endif %}">Studios</a>
          </li>
          <li>
            <a href="{{ path('studioTemplateTeachers') }}"
                class="{% if app.request.attributes.get('_route') == 'studioTemplateTeachers' %} active {% endif %}">Teachers</a>
          </li>
          <li>
            <a href="{{ path('studioTemplateAbout') }}" 
                class="{% if app.request.attributes.get('_route') == 'studioTemplateAbout' %} active {% endif %}">About
            </a>
          </li>
          <li>
            <a href="{{ path('studioTemplateContact') }}" 
                class="{% if app.request.attributes.get('_route') == 'studioTemplateContact' %} active {% endif %}">Contact
            </a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>