{% extends 'FrontEndBundle:StudioTemplate:base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/booked_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% include 'FrontEndBundle::membershipModal.html.twig' %}
<div class="container" id="studioInfo" data-uuid="fff54bbd-76bc-4b1f-4f4f-ef0a6b24ccca">
    <div class="row">
        <div class="container-sm">
            <div class="col-xs-12 col-sm-6">
                <div class="studio-name">SweatNGlow Downtown L.A.</div>
                <div class="studio-address">700 West 1st Street</div>
            </div>
            <div class="col-xs-12 col-sm-6 hidden-xs pull-right image">
                <img src="/images/21/1.jpg" />
            </div>
        </div>
    </div>
</div>
<div class="container schedule-alignment-fix">
    <div class="row">
            <div id="studioSchedule" > 
                <div class="week-select">
                    <a href="#" >
                        <img src="/images/schedule-prev.jpg" width="30" height="30" />
                    </a>
                    <div class="dt">19 Oct  -  26 Oct 2017</div>
                    <a href="#"><img src="/images/schedule-next.jpg" width="30" height="30" /></a>
                </div>
                <div class="stairs"></div>
                <div class="container-sm">
                    <div class="weekdays">
                        
                            <div class="day-name current">Thu<br><strong>19</strong></div>
                        
                            <div class="day-name ">Fri<br><strong>20</strong></div>
                        
                            <div class="day-name ">Sat<br><strong>21</strong></div>
                        
                            <div class="day-name ">Sun<br><strong>22</strong></div>
                        
                            <div class="day-name ">Mon<br><strong>23</strong></div>
                        
                            <div class="day-name ">Tue<br><strong>24</strong></div>
                        
                            <div class="day-name ">Wed<br><strong>25</strong></div>
                        
                            <div class="day-name ">Thu<br><strong>26</strong></div>
                    </div>
                    <div class="calendar-box">
                        <div class="calendar ">
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Thu swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide disabled swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="f09eb527-18f3-4a5d-6121-1ea5737f5619">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide disabled swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        HIIT<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:15AM (00:45 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="3d284678-e586-43c4-7cda-e7de050b2735">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide disabled" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="1905ba99-5987-4515-4abb-5b2cd4679c8b">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide disabled" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="1d17bf4a-4a06-471c-4a28-2f36b6b6e4cb">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide disabled" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="fe8927e9-79a6-4778-46f1-fbb24fd813d7">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="48cfc6b3-9aea-496d-751a-897ec2b9f4a7">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="dfd97fa8-6418-4e29-466b-3e2430cca558">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Vinyasa Fusion<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:30PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="b9a37732-dbaf-4b4e-7489-7a20f5856879">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="444d68f3-ffa3-4b86-7cc8-10422de8c6ed">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Thu"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Thu swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Fri swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="306ccc33-a4fa-49e0-51cd-cd1d2f881028">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="e7c8c763-3143-4b7a-5189-ada15cdb91ec">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="5c18f621-01a7-4a91-6699-559a7038b097">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">11:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="c6b308ba-7b15-41e1-4899-643915982d8c">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="06589911-c578-43d8-6776-07d32d7569cd">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="d86aa9d2-2f13-4ecb-5b14-febee62963a5">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">5:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="68b6adfb-3050-42d9-7dac-da2f21c3789f">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="6802106a-1928-4398-7af5-780e55309cd8">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Restore<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:30PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="21546e5a-a43d-45ab-5bcd-7ec7d9e79e98">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Fri"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Fri swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Sat swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="9717ea4f-3ae9-4d05-7da0-aabb8c18bca7">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="a8ff3a9b-393d-4bdf-5762-0ad17fc28daf">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Mini Monsters<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:30AM (00:45 h)</p>
                                                    <p class="teacherName">Shannon C.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="a8563a0a-f818-4285-67eb-b08d23ada487">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="99febd86-b9cb-45a7-4bc0-fdba6656e44c">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="e2284518-ac71-4745-7ed4-c753eddf1faa">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Yoga Monsters<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:00 h)</p>
                                                    <p class="teacherName">Shannon C.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="3e326ce3-52ef-4d2b-68c5-b07743611852">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Vinyasa Fusion<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">11:30AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="fc6bfa8b-e87b-412d-7957-306393f11f29">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        HIIT<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">1:00PM (00:45 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="5e393987-fba5-4a07-7a6d-0e1fb4a80498">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Intermediate Class<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">2:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="807f2509-0a92-4da1-548a-50a0dce0cb9b">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">3:00PM (01:00 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="4ade8a5c-5fd2-485e-7eab-4b582f7e68b3">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="1ab984f4-fb47-427a-7e54-fc477041e524">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Yoga Jamz<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="9f1e0714-df7b-4a94-4c51-6d93975559db">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Sat"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Sat swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Sun swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="be16da4a-e710-4f20-662b-03c332877c81">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="6b0a9d1a-8897-452b-42c9-b00690da0bce">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="1570f8a2-d446-4483-71bb-f9b0d98c791a">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Restore<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="c532e077-b6f9-4b9d-6ed4-4f6180eca500">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="5252eba3-bc86-43bd-6a6e-eeb4c9bbdcd0">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="20ab257b-7a39-4fbf-4159-e1af589a966e">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Sun"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Sun swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Mon swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="ca5144bd-f4c3-4944-797a-7e835404a185">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="0fe2ceb2-67e8-4b27-5a88-cadc90d8193e">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="30926abb-0a4f-4be2-7970-ef612611af22">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">11:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="199cff65-9837-4022-66e8-ae590653b940">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="3a2cce78-1a83-4bcf-6281-85b53e7d3350">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="51a28061-bc18-4572-5603-46f59c107a7d">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">5:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="cbe2c975-1428-4ba9-7f57-c5ed7306f0a9">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="7d7c48e8-8b11-4844-6210-496e39b9ccac">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Vinyasa Fusion<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:30PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="f96a4868-d1cf-41de-7c01-681e8064d3de">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="9421ac7e-4f85-41ee-4baa-ca86f31cd112">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Mon"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Mon swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Tue swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="1b5fc05e-b09a-47c0-662d-2d5e645f5a19">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        HIIT<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:15AM (00:45 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="2b21d0bc-2d83-48d0-4ac8-c80628332f0a">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="514b914d-52ff-4e0d-7ca5-a8608f7960ec">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="b64213b4-8751-4921-7017-c98f5d68f26e">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="9282ace7-54e9-4b89-5d24-3f3dabcbe7cc">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="414df49e-27c9-4a54-6f02-d7f638684c22">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="64e6203b-835d-4998-5bd1-0057d00decad">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Vinyasa Fusion<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:30PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="3fa3bf53-ba13-4efd-5d2b-ec77f7916111">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="911c7024-22e0-4ee3-64f4-d093225f26af">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Tue"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Tue swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Wed swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="5c95ce15-1312-41ca-633d-e4edfe413138">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="24c7d00b-8e45-4bc9-7027-1ade62bc2c1a">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="dbf7482a-f14a-44cb-4223-624c9dd96b52">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">11:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="4b8e8416-933a-48cf-69cf-c8145c2434e6">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="b17f33cd-4637-4d35-5c32-25fe72856c5a">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="71eccbca-d380-4a37-768c-fc20f6a3101c">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">5:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="7f2878c9-9e0a-4f20-5fb8-1e8499e80f4d">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        HIIT<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">5:15PM (00:45 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="7b8ec97d-87b7-4064-74ac-8433220ce2bf">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="1d25837d-d743-404d-79e4-e667f306f894">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Vinyasa Fusion<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:30PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="155b356b-e23f-43a4-6dc0-c85448d2f95a">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="517ee5c5-6ebf-42a4-6e92-0999794330cb">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Wed"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Wed swiper-button-disabled"></div></div>
                                 </div>
                            
                                <div class="calendar-row-container" style="max-width: 990px;">
                                    <div class="swiper-container Thu swiper-container-horizontal">
                                        <div class="col-day swiper-wrapper">
                                                                                                                                            <div class="class  swiper-slide swiper-slide-active" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00AM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="b9cf826f-0510-4451-60fe-e713c33a11bd">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide swiper-slide-next" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        HIIT<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:15AM (00:45 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="0b456726-9f21-4b1a-7e34-d04b16f1f5a4">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">9:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="3fd24068-4a85-4c11-61b1-1fb187cab72d">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">10:00AM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="3c587617-53dc-4e2a-6fe6-9f7e4ee53482">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">12:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="c732600c-4aa2-4084-643e-d7c2a0140446">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">4:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="c7130dc8-837f-4d43-5ce6-936083944c7d">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:00PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="669f8cdb-17c5-41b8-508f-5544c3e84255">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Vinyasa Fusion<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">6:30PM (01:30 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="5b333db9-f5fb-44b7-693f-498a09737122">Book</a>
                                                                                                    </div>
                                                                                                                                            <div class="class  swiper-slide" style="width: 195.6px; margin-right: 3px;">
                                                     <div class="corner"></div>
                                                    <div class="corner-booked"></div>
                                                    <p class="className">
                                                        Bikram Method<br>
                                                        &nbsp;
                                                    </p>
                                                    <p class="time">8:00PM (01:15 h)</p>
                                                    <p class="teacherName">Teacher -.</p>
                                                                                                            <a href="#" class="book bookBtn" data-class-uuid="d827a467-7652-4801-7f57-44b50e2e8387">Book</a>
                                                                                                    </div>
                                                                                    </div>
                                    </div>
                                    <div class="slide-next"><div class="swiper-button-next schedule-swiper-button-next icon-schedule-next swiper-button-next-Thu"></div></div>
                                    <div class="slide-prev"><div class="swiper-button-prev schedule-swiper-button-prev icon-schedule-prev swiper-button-prev-Thu swiper-button-disabled"></div></div>
                                 </div>
                                                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/swiper.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/schedule.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}