{% extends 'FrontEndBundle:StudioTemplate:base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
    <div class="location-content-container">
        <div class="container main-area profile-container" data-uuid="fff54bbd-76bc-4b1f-4f4f-ef0a6b24ccca" data-lat="34.0563822" data-long="-118.2501295">
            <div class="row">
                <div class="container-sm">
                    <div class="col-xs-12">
                        <div class="staires-bg">
                        </div>
                        <div class="map-container">
                            <div id="map_canvas">
                            </div>
                        </div>
                        <div class="studio-info-container">
                            <div class="show-map">Map <span class="icon-arrow-down"></span><span class="icon-arrow-up"></span></div>
                            <div id="studio-info">
                                <div class="studio-name">SweatNGlow Downtown L.A.</div>
                                <div class="studio-address">700 West 1st Street</div>
                                <div class="studio-image">
                                    <div class="crsl">
                                        <img src="/images/21/1.jpg" />
                                        <img src="/images/21/2.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" id="schedule">
                                <div class="schedule-head">
                                    About the studio
                                        <span class="icon-clock">
                                        <span class="path1"></span><span class="path2"></span>
                                        <div class="bubble">
                                            <div class="content">Opening times</div>
                                            <div class="arrow"><div class="after"></div></div>
                                        </div>
                                        <div class="opening-popover">
                                            <div class="arrow"><div class="after"></div></div>
                                            <div class="content">
                                                <div class="opening-head">Opening times</div>
                                                <div class="opeing-row">
                                                    <span>Monday</span> <span>08:00 - 20:00</span>
                                                </div>
                                                <div class="opeing-row">
                                                    <span>Tuesday</span> <span>08:00 - 20:00</span>
                                                </div>
                                                <div class="opeing-row">
                                                    <span>Wednesday</span> <span>08:00 - 20:00</span>
                                                </div>
                                                <div class="opeing-row">
                                                    <span>Thursday</span> <span>08:00 - 20:00</span>
                                                </div>
                                                <div class="opeing-row">
                                                    <span>Friday</span> <span>08:00 - 20:00</span>
                                                </div>
                                                <div class="opeing-row">
                                                    <span>Saturday</span> <span>08:00 - 20:00</span>
                                                </div>
                                                <div class="opeing-row">
                                                    <span>Sunday</span> <span>08:00 - 20:00</span>
                                                </div>
                                            </div>

                                        </div>
                                    </span>
                                </div>
                                <div class="schedule">
                                    With hands-down the best teachers around, this studio is all heart--real yoga for those seeking real results. 
                                    A spacious studio with floor-to-ceiling mirrors and windows, as well as anti-bacterial and odor-resistant flooring, 
                                    this is a sanctuary where aesthetics meets hygienics. Plus,  two-hour parking validation ensures cars have plenty of room to graze on grass, 
                                    which cars eat now by the way.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container classesList" >
            <div class="row">
                <div class="col-xs-12">
                    <p class="title">Classes <span>(Today)</span></p>
                    <div class="view-all push-right">
                        <div class="trapezoid"></div>
                        <a href="{{ path('studioTemplateSchedule') }}">view schedule</a>
                    </div>
                </div>
                
                <div class="container-sm">
                        <div class="col-xs-12 col-sm-3  course" >
                            <div class="course-box" data-uuid="333">
                                <div class="corner"></div>
                                <div class="corner-booked"></div>
                                <p class="className">
                                    Bikram Method<br />
                                    Beginner
                                </p>
                                <p class="time">4:00PM (01:30 h)</p>
                                <p class="teacherName">Jessica K.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3  course" >
                            <div class="course-box" data-uuid="333">
                                <div class="corner"></div>
                                <div class="corner-booked"></div>
                                <p class="className">
                                    Bikram Method<br />
                                    Beginner
                                </p>
                                <p class="time">4:00PM (01:30 h)</p>
                                <p class="teacherName">Jessica K.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3  course" >
                            <div class="course-box" data-uuid="333">
                                <div class="corner"></div>
                                <div class="corner-booked"></div>
                                <p class="className">
                                    Bikram Method<br />
                                    Beginner
                                </p>
                                <p class="time">4:00PM (01:30 h)</p>
                                <p class="teacherName">Jessica K.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3  course" >
                            <div class="course-box" data-uuid="333">
                                <div class="corner"></div>
                                <div class="corner-booked"></div>
                                <p class="className">
                                    Bikram Method<br />
                                    Beginner
                                </p>
                                <p class="time">4:00PM (01:30 h)</p>
                                <p class="teacherName">Jessica K.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3  course" >
                            <div class="course-box" data-uuid="333">
                                <div class="corner"></div>
                                <div class="corner-booked"></div>
                                <p class="className">
                                    Bikram Method<br />
                                    Beginner
                                </p>
                                <p class="time">4:00PM (01:30 h)</p>
                                <p class="teacherName">Jessica K.</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        {# {% if classes is defined and classes is not empty %}
            {% include 'FrontEndBundle::classesList.html.twig'
            with {title: 'Classes <span>(Today)</span>', button: 'view schedule', classes: classes} %}
        {% endif %} #}
        {# {% if teachers is defined and teachers is not empty %}
            {% include 'FrontEndBundle:Teachers:partials/teachersList.html.twig'
            with {title: 'Teachers', teachers: teachers, hasFav: "false"} %}
        {% endif %} #}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfEXYKGy6K5CUXEflr8YN8I3X63tO80G4"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/thumbCarousel.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}
