{% extends 'FrontEndBundle:StudioTemplate:base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studio-website.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}

{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    

    <div class="container featured" id="teachers-profile">
    <div class="row">
            <div class="col-xs-12">
                <p class="title no-button ">Our Teachers in Los Angeles</p>
            </div>
        <div class="container-sm">
            <a href="{{ path('teacherProfile', {slug: 1234}) }}">
                <div class="col-sm-6 col-xs-12 profile">
                    <div class="col-xs-6 box">
                        <div class="teacher-image">
                            <img src="/images/group-1.jpg"
                                srcset="/images/group-1@2x.jpg 2x,
                                                /images/group-1@3x.jpg 3x"
                                class="group-8">
                        </div>
                    </div>
                    <div class="col-xs-6 box">
                        <div class="teacher-profile" data-uuid="1234">
                            <p class="name">Jessica Kay</p>
                            <p class="address">
                                    Tomorrow 7AM at Downtown LA
                            </p>
                        </div>
                    </div>
                    {# {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                    {{ teacherMacros.socialProfiles(teacher) }} #}

                    <div class="corner"></div>
                    <div class="view">View</div>

                </div>
            </a>
            <a href="{{ path('teacherProfile', {slug: 1234}) }}">
                <div class="col-sm-6 col-xs-12 profile">
                    <div class="col-xs-6 box">
                        <div class="teacher-image">
                            <img src="/images/group-1.jpg"
                                srcset="/images/group-1@2x.jpg 2x,
                                                /images/group-1@3x.jpg 3x"
                                class="group-8">
                        </div>
                    </div>
                    <div class="col-xs-6 box">
                        <div class="teacher-profile" data-uuid="1234">
                            <p class="name">Jessica Kay</p>
                            <p class="address">
                                    Tomorrow 7AM at Downtown LA
                            </p>
                        </div>
                    </div>
                    {# {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                    {{ teacherMacros.socialProfiles(teacher) }} #}

                    <div class="corner"></div>
                    <div class="view">View</div>

                </div>
            </a>
            <a href="{{ path('teacherProfile', {slug: 1234}) }}">
                <div class="col-sm-6 col-xs-12 profile">
                    <div class="col-xs-6 box">
                        <div class="teacher-image">
                            <img src="/images/group-1.jpg"
                                srcset="/images/group-1@2x.jpg 2x,
                                                /images/group-1@3x.jpg 3x"
                                class="group-8">
                        </div>
                    </div>
                    <div class="col-xs-6 box">
                        <div class="teacher-profile" data-uuid="1234">
                            <p class="name">Jessica Kay</p>
                            <p class="address">
                                    Tomorrow 7AM at Downtown LA
                            </p>
                        </div>
                    </div>
                    {# {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                    {{ teacherMacros.socialProfiles(teacher) }} #}

                    <div class="corner"></div>
                    <div class="view">View</div>

                </div>
            </a>
            <div class="col-xs-12 col-sm-6">
                <div class="join-banner">
                    <div class="banner-image">
                        <img src="/images/become-a-teacher.jpg" />
                    </div>
                    <div class="banner-text">
                        BECOME A TEACHER
                    </div>
                    <a href="{{ path('teachersTraining') }}">
                        <div class="banner-button">
                            Apply now
                        </div>
                    </a>
                </div>
            </div>
            <a href="{{ path('teacherProfile', {slug: 1234}) }}">
                <div class="col-sm-6 col-xs-12 profile">
                    <div class="col-xs-6 box">
                        <div class="teacher-image">
                            <img src="/images/group-1.jpg"
                                srcset="/images/group-1@2x.jpg 2x,
                                                /images/group-1@3x.jpg 3x"
                                class="group-8">
                        </div>
                    </div>
                    <div class="col-xs-6 box">
                        <div class="teacher-profile" data-uuid="1234">
                            <p class="name">Jessica Kay</p>
                            <p class="address">
                                    Tomorrow 7AM at Downtown LA
                            </p>
                        </div>
                    </div>
                    {# {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                    {{ teacherMacros.socialProfiles(teacher) }} #}

                    <div class="corner"></div>
                    <div class="view">View</div>

                </div>
            </a>
            <a href="{{ path('teacherProfile', {slug: 1234}) }}">
                <div class="col-sm-6 col-xs-12 profile">
                    <div class="col-xs-6 box">
                        <div class="teacher-image">
                            <img src="/images/group-1.jpg"
                                srcset="/images/group-1@2x.jpg 2x,
                                                /images/group-1@3x.jpg 3x"
                                class="group-8">
                        </div>
                    </div>
                    <div class="col-xs-6 box">
                        <div class="teacher-profile" data-uuid="1234">
                            <p class="name">Jessica Kay</p>
                            <p class="address">
                                    Tomorrow 7AM at Downtown LA
                            </p>
                        </div>
                    </div>
                    {# {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                    {{ teacherMacros.socialProfiles(teacher) }} #}

                    <div class="corner"></div>
                    <div class="view">View</div>

                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studio-website.js') }}"></script>
{% endblock %}