{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Search results{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/search.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}
    {% if currentPage > 1 %}
        <link rel="prev" href="{{ absolute_url(path('search', {q: queryString, page: currentPage - 1})) }}">
    {% endif %}

    {% if currentPage < totalPages %}
        <link rel="next" href="{{ absolute_url(path('search', {q: queryString, page: currentPage + 1})) }}">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container featured" id="search">
        <div>
            <div class="row">
                <div class="container-sm">
                    {% if result.results is not defined or result.results is empty %}
                        <div class="col-xs-12">
                            <p class="no-results">No results found for “{{ queryString }}”:</p>
                            <p class="try-again">Try adjusting your search terms</p>
                        </div>
                    {% else %}
                        <div class="col-xs-12">
                            <p class="no-results">Search results for “{{ queryString }}”:</p>
                        </div>
                        <div class="row search-container">
                            {% include '@FrontEnd/Search/partials/resultsList.html.twig' with {results: result.results} %}
                        </div>
                        <div class="row">
                            <div class="lds-ring preloader">
                                <div></div><div></div><div></div><div></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({event: 'loadListingPage', pageType: 'search', queryString: '{{ queryString }}', page: {{ currentPage }}});
        window.SearchCurrentQuery = '{{ queryString }}';
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/swiper.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/search.js') }}"></script>
    
{% endblock %}