<div class="container" id="booked-banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="banner-success">
                <div class="container-md">

                </div>
            </div>
        </div>
    </div>
</div>