<div class="container" id="purchase">
    <div class="row">
        <div class="container-sm">
            {% if title is defined %}
                <div class="col-xs-12">
                    <p class="title">{{ title }}</p>
                </div>
            {% endif %}

            {% for service in services %}
            <div class="col-xs-12 col-sm-4 box">
                <div class="card ">
                    <p class="name">{{ service.name }}</p>

                    <p class="price"><span>$</span>{{ service.price }}</p>
                    <p class="description"></p>
                    <a href="#" class="purchase-button btnCheckout" data-service-id="{{ service.mbId }}" data-site-uuid="{{ service.siteUuid }}">Purchase</a>
                    <div class="corner"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>