<div class="container" id="purchase">
    <div class="row">
        <div class="container-sm">
            {% if title is defined %}
                <div class="col-xs-12">
                    <p class="title">{{ title }}</p>
                </div>
            {% endif %}


            {% for memb in globalMemberships %}
            <div class="col-xs-12 col-sm-4 box">
                <div class="card {{ memb.isFeatured ? 'skew' : '' }}">
                    <p class="name">{{ memb.name }}</p>

                    <p class="price"><span>$</span>{{ memb.price }}</p>
                    <p class="description">{{ memb.description }}</p>
                    <a href="{% if app.user %}  {{ path('purchase') }} {% else %} # {% endif %}" class="purchase-button btnCheckout" data-membership-uuid="{{ memb.uuid }}">Purchase</a>
                    <div class="corner"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>