{% if app.session.flashbag.has('msg') %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-success">
                    <div class="container-md">
                        {% for flashMessage in app.session.flashbag.get('msg') %}
                            <p>{{ flashMessage }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}