{% if app.user and app.user.confirmedAt == '0000-00-00 00:00:00' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-success">
                    <div class="container-md">
                        We’ve just sent you an email, please confirm your email address before you make the purchase.
                        <a href="#" class="resend-mail">Resend email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}