{% macro socialProfiles(teacher) %}
    {% if teacher.socialProfiles is defined and teacher.socialProfiles is not empty %}
        <div class="social-media">
            {% for profileType in ['instagram', 'facebook', 'twitter'] %}
                {% for sProfile in teacher.socialProfiles if sProfile.type == profileType %}
                    <a href="{{ sProfile.url }}" target="_blank"><span class="icon-{{ sProfile.type }}"></span></a>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}