{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/teachers.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}
    {% if currentPage > 1 %}
        {% set prevUrl = absolute_url(path('teachersList', {page: currentPage - 1})) %}
        {% if city is defined %}
            {% set prevUrl = absolute_url(path('teachersListByCity', {citySlug: city.slug, page: currentPage - 1})) %}
        {% endif %}

        <link rel="prev" href="{{ prevUrl }}">
    {% endif %}

    {% if currentPage < totalPages %}
        {% set nextUrl = absolute_url(path('teachersList', {page: currentPage + 1})) %}
        {% if city is defined %}
            {% set nextUrl = absolute_url(path('teachersListByCity', {citySlug: city.slug, page: currentPage + 1})) %}
        {% endif %}

        <link rel="next" href="{{ nextUrl }}">
    {% endif %}
{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% set boxTitle = city is defined ? 'Teachers in ' ~ city.name : 'Teachers' %}
    {% include 'FrontEndBundle:Teachers:partials/teachersProfileList.html.twig' with {title: boxTitle, teachers: teachers, city: city is defined ? city: null} %}

    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({event: 'loadListingPage', pageType: 'teachers', page: {{ currentPage }}});
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/teachersList.js') }}"></script>
{% endblock %}