{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Teachers training{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/about.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="show-glow-training">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about-text-section">
                    <!-- imagine-->
                    <h1 class="title">SWEAT N GLOW TEACHER TRAINING</h1>
                    
                    <p class="text">At SweatNGlow, we know that happy students need exceptional teachers who can make a real difference 
                    in their students’ lives. That is why we have drawn up a unique, pioneering teacher training program designed to cultivate 
                    the most professional yoga and hot yoga teachers in the world.</p>
                    
                    <p class="text">If you are a yoga devotee wanting to transform your passion into a career, 
                    or if you would simply like to be armed with a professional certificate, we offer the right teacher training programs that
                     satisfy your goals and desires.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="about-teachers">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about-text-section">
                    <p class="text">Programs offered include but are not limited to:</p>
                    <ul class="text">
                    <li> Yoga Alliance Bridging Program, designed for teachers who wish to convert their Bikram Yoga certificate into a Yoga Alliance Certificate;</li>
                    <li> traditional 500-hour Yoga Alliance certified comprehensive teacher training that prepares students to teach 26&2 Beginners Class with knowledge, confidence, and command;</li>
                    <li> SweatNGlow signature class teacher training program, the outcome of the biggest collaboration among Hot Yoga studios and senior teachers in the US.</li>
                    </ul>
                    
                    <p class="text">SweatNGlow teachers will be instantly recognized both within and outside our large network. The Founding Member studios have assisted in drawing up a program that will create the kind of a knowledgeable teacher studios are looking for.</p>
                    
                    <p class="text">Check this page soon for details on program length, curriculum, and pricing. If you have any questions or concerns,  <a href="{{ path('contact') }}">reach out to us</a> and we will get back to you before you know it.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="what-glow">
                    WHAT DO YOU<br /> SWEAT FOR?
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/about.js') }}"></script>
{% endblock %}