{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - Teachers{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/teachers.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    {% include '@FrontEnd/Default/partials/booked_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% include 'FrontEndBundle::membershipModal.html.twig' %}
    <div class="container" id="login-message">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-success">
                    <div class="container-md">
                        <p>Please Log in or Register in order to purchase a membership.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="container main-profile profile-container" data-uuid="{{ teacher.uuid }}">
            <div class="row">
                <div class="container-sm">
                    <div class="col-xs-6 col-sm-4 picture">
                        {% if teacher.photos is not empty %}
                            <img src="{{ teacher.photos[0].path }}" />
                        {% else %}
                            <img src="/images/group-1.jpg" />
                        {% endif %}
                        {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                        {{ teacherMacros.socialProfiles(teacher) }}
                    </div>
                    <div class="col-xs-6 col-sm-8 head">
                        {% if app.user %}
                            {% if isFavouriteStaff(teacher.uuid) %}
                                <a href="#">
                                <span class="glyphicon icon-favorites-fill">
                                    <div class="bubble">
                                        <div class="content">Remove from favorites</div>
                                        <div class="arrow"></div>
                                    </div>
                                </span>
                                </a>
                            {% else %}
                                <a href="#">
                                <span class="glyphicon icon-favorite-empty">
                                    <div class="bubble">
                                        <div class="content">Add to favorites</div>
                                        <div class="arrow"></div>
                                    </div>
                                </span>
                                </a>
                            {% endif %}
                        {% endif %}

                        <div class="parallelipiped"></div>
                        <p class="name">{{ teacher.name }}</p>
                        <p class="city">{{ teacher.address.city }}</p>
                    </div>
                    <div class="col-xs-12 col-sm-8 description">
                        <p class="text">
                            {{ teacher.bio }}
                        </p>
                        {% import "@FrontEnd/Teachers/macros.html.twig" as teacherMacros %}
                        {{ teacherMacros.socialProfiles(teacher) }}
                    </div>
                </div>
            </div>
        </div>
        {% if classes is  defined and classes is not empty %}
            {% include 'FrontEndBundle:Teachers:partials/teacherClasses.html.twig'
            with {title:"Classes <span>(Today)</span>",  classes: classes} %}
        {% endif %}
        {% if studios is defined and studios is not empty %}
            <div class="container featured">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title no-button ">Teaching at</p>
                    </div>
                    <div class="container-sm">
                        {% for studio in studios %}
                            <div class="col-xs-4 box" >
                                <a href="{{ path('studioDetails', {'slug': studio.slug }) }}">
                                    {% if studio.photos is not empty %}
                                        <img src="{{ studio.photos[0].path }}" class="group-8">
                                    {% else %}
                                        <img src="/images/default-image.jpg" class="group-8">
                                    {% endif %}
                                    <p class="name">{{ studio.name }}</p>
                                    <p class="address">{{ studio.address }}</p>
                                    <p class="address">{{ studio.city }}</p>
                                </a>
                            </div>
                        {% endfor %}
                        {% if (studios|length % 3) == 1 %}
                            <div class="col-sm-8 col-xs-12">
                                <div class="join-banner-teacher">
                                    <div class="banner-image">
                                        <img src="/images/mkt-banner-teacher.jpg" />
                                    </div>
                                    <div class="banner-text">
                                        BECOME A TEACHER
                                    </div>
                                    <a href="{{ path('teachersTraining') }}">
                                        <div class="banner-button">
                                            Apply now
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if instagramMedia is defined and instagramMedia is not empty %}
            <div class="container featured">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="title no-button ">{{ teacher.firstName }} on Instagram</p>
                    </div>
                    <div class="container-sm instagram-media">
                        {% for item in instagramMedia %}
                            <div class="col-xs-6 col-sm-2 instagram-item">
                                <img src="{{ item.image }}" title="{{ item.caption }}" alt="{{ item.caption }}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="login-overlay">
            <div class="overlay"></div>

            <div class="login-area-container">
                <div class="close-login">
                    <span class="icon-close"></span>
                </div>
                {% include '@Sng/Security/login_form.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/teachers.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}