{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/myaccount.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <style>
        .swiper-container{
            width: 100%;
            height: 100%;
        }
        .swiper-slide{
            color: #1e1e1e;
            width: 255px;
        }
        .upcoming-classes{
            width: 100% !important;
            float: left;
            height: 254px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="personal-details">
                    {% if (schedule is not defined or schedule is empty) and (visits is not defined or visits is empty) %}
                    <div class="fav-empty teacher" >
                        <p class="text">THERE ARE NO ACTIVE OR PAST MEMBERSHIPS</p>
                        <a href="{{ path('studiosList') }}">View studios</a>
                    </div>
                    {% else %}
                        {% if schedule is defined and schedule is not empty %}
                            {% include 'FrontEndBundle:Account:historyClassesList.html.twig'
                            with {title: 'Upcoming classes', visits: schedule} %}
                        {% endif %}
                        {% if visits is defined  and visits is not empty %}
                            <div class="container" id="history">
                                <div class="row">
                                    <div class="container-sm">
                                        <div class="col-xs-12">
                                            <p class="title">Past classes</p>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="classTable">
                                                <div class="rowTable">
                                                    <div class="box1">
                                                        <div class="nameCol head">Name</div>
                                                        <div class="levelCol head">Level</div>
                                                    </div>
                                                    <div class="box1">
                                                        <div class="dateCol head">Date - Time</div>
                                                        <div class="durationCol head">Duration</div>
                                                    </div>
                                                    <div class="box2">
                                                        <div class="studioCol head">Studio</div>
                                                        <div class="teacherCol head">Teacher</div>
                                                    </div>
                                                </div>

                                                {% for visit in visits %}
                                                <div class="rowTable">
                                                    <div class="box1">
                                                        <div class="nameCol">{{ visit.className }}</div>
                                                        <div class="levelCol">{{ visit.levelname }}</div>
                                                    </div>
                                                    <div class="box1">
                                                        <div class="dateCol">{{ visit.startDatetime|date('d/m/Y - g:iA') }}</div>
                                                        <div class="durationCol">{{ visit.duration|date('h:i \\h') }}</div>
                                                    </div>
                                                    <div class="box2">
                                                        <div class="studioCol">{{ visit.locationName }}</div>
                                                        <div class="teacherCol">{{ visit.staffFirstName }} {{ visit.staffLastName|slice(0,1) }}.</div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/swiper.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/myaccount.js') }}"></script>
{% endblock %}