<div class="container" id="history">
    <div class="row">
        <div class="container-sm">
            {% if title is defined %}
                <div class="col-xs-12">
                    <p class="title">{{ title }}</p>
                </div>
            {% endif %}
            <div class="upcoming-classes">
                <div class="swiper-container">
                    <div class="col-day swiper-wrapper">
                        {% for visit in visits %}
                        <div class="col-sm-3 box  swiper-slide">
                            <div class="card ">
                                <p class="name">{{ visit.className }} <br />({{ visit.levelname }})</p>
                                <p class="time">{{ visit.startDatetime|date('d/m/Y - g:iA') }}<br /> ({{ visit.duration|date('h:i \\h') }})</p>
                                <p class="address">{{ visit.locationName }} - with {{ visit.staffFirstName }} {{ visit.staffLastName|slice(0,1) }}.</p>
                                {% if not visit.hideCancel and not visit.isLateCancel %}
                                    <a class="button" href="#" data-class-uuid="{{ visit.classUuid }}">Cancel booking</a>
                                {% endif %}
                                <div class="corner"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>