{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/myaccount.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="personal-details">
                    {% if (activeServices is not defined or activeServices is empty) and (pastServices is not defined or pastServices is empty) %}
                        <div class="fav-empty teacher" >
                            <p class="text">THERE ARE NO ACTIVE OR PAST MEMBERSHIPS</p>
                            <a href="{{ path('studiosList') }}">View studios</a>
                        </div>
                    {% else %}
                        {% if activeServices is defined and activeServices is not empty %}
                            {% include 'FrontEndBundle:Account:membershipList.html.twig'
                            with {title: 'Active memberships', membership: 'current', services: activeServices} %}
                        {% endif %}
                        {% if pastServices is defined and pastServices is not empty %}
                            {% include 'FrontEndBundle:Account:membershipList.html.twig'
                            with {title: 'Past memberships', membership: 'past', services: pastServices} %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/myaccount.js') }}"></script>
{% endblock %}