{% if membership == 'past' %}
    {% set isPassed = 'true' %}
{% else %}
    {% set isPassed = 'false' %}
{% endif %}
<div class="container" id="membership">
    <div class="row">
        <div class="container-sm">
            {% if title is defined %}
                <div class="col-xs-12">
                    <p class="title">{{ title }}</p>
                </div>
            {% endif %}

            {% for service in services %}
                {% if service.siteName is defined %}
                    <div class="col-xs-12 col-sm-4 box">
                        <div class="card {% if isPassed == 'true' %} disabled {% endif %}">
                            <p class="name">{{ service.name }}</p>
                            <p class="address">{{ service.siteName }}</p>
                            <p class="remaining-classes">
                                {% if service.remaining < 999 %}
                                    Remaining classes: <span>{{ service.remaining }}</span>
                                {% endif %}
                            </p>
                            <p class="expiration-date">Valid until: <br /><span>{{ service.expirationDate|date('d/m/Y') }}
                                    ({{ service.remainingDays }} {{ service.remainingDays == 1 ? 'day' : 'days' }})</span> </p>
                            <div class="corner"></div>
                        </div>
                    </div>
                {% elseif service.validUntil is defined %}
                    <div class="col-xs-12 col-sm-4 box">
                        <div class="card {% if isPassed == 'true' %} disabled {% endif %}">
                            <p class="name">{{ service.membership.name }}</p>
                            <p class="address">Global SweatNGlow</p>
                            <p class="remaining-classes">
                                {% if service.remaining < 999 %}
                                    Remaining classes: <span>{{ service.remaining }}</span>
                                {% endif %}
                            </p>
                            <p class="expiration-date">Valid until: <br /><span>{{ service.validUntil|date('d/m/Y') }}
                                    ({{ service.remainingDays }} {{ service.remainingDays == 1 ? 'day' : 'days' }})</span> </p>
                            <div class="corner"></div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>