<div class="container" id="sec-nav">
    <div class="row">
        <div class="col-xs-12">
            <div class="sec-nav">
                <div class="mobile-sec-nav">
                    <div class="menu-back">
                        <span class="icon-slide-left"></span>
                        Menu
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="{{ path('memberships') }}" class="{% if app.request.attributes.get('_route') == 'memberships' %} active {% endif %}">
                            Memberships
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('history') }}" class="{% if app.request.attributes.get('_route') == 'history' %} active {% endif %}">
                            History
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('myfavorites') }}" class="{% if app.request.attributes.get('_route') == 'myfavorites' %} active {% endif %}">
                            Favorites
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('myaccount') }}" class="{% if app.request.attributes.get('_route') == 'myaccount' %} active {% endif %}">
                            My account
                        </a>
                    </li>
                    <li  class="logout">
                        <a href="{{ logout_path('main') }}">
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>