{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/myaccount.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
{% if form_errors(formPass.old_password) %}
    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-success">
                        <div class="container-md">
                            {{ form_errors(formPass.old_password) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% for flashMessage in app.session.flashbag.get('msg') %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-success">
                        <div class="container-md">
                            {{ flashMessage }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
     <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="personal-details">
                    <div class="personal-info">
                        <div class="form-title">Personal info</div>
                        {{ form_start(formInfo, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="inputs">
                                {{ form_widget(formInfo.name) }}
                                {{ form_widget(formInfo.email) }}
                            </div>
                        {{ form_end(formInfo) }}
                    </div>
                    {% if is_granted(constant('SngBundle\\Security\\User\\User::ROLE_SNG_USER')) %}
                    <div class="change-password">
                        <div class="form-title">Change password</div>
                        {{ form_start(formPass, {'attr': {'novalidate': 'novalidate'}}) }}
                            
                            <div class="inputs">
                                {{ form_widget(formPass.old_password) }}
                                {{ form_widget(formPass.new_password) }}
                                {{ form_widget(formPass.confirm_password) }}
                            </div>
                            <button class="submit" >Change password</button>
                        {{ form_end(formPass) }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/myaccount.js') }}"></script>
{% endblock %}