{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/myaccount.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
     <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="personal-details">
                        
                    <div class="fav-empty teacher {% if teachers is defined and teachers is not empty %} hidden {% endif %}" >
                        <p class="text">FIND YOUR FAVORITE TEACHERS</p>
                        <a href="{{ path('teachersList') }}">View teachers</a>
                    </div>
                    {% if teachers is defined and teachers is not empty %}
                        {% include 'FrontEndBundle:Teachers:partials/teachersList.html.twig'
                        with {title: 'Favorites teachers', banner:'', teachers: teachers, hasFav: "true"} %}
                    {% endif %}

                
                    <div class="fav-empty studios {% if studios is  defined and studios is not empty %} hidden {% endif %}">
                        <p class="text">FIND YOUR FAVORITE STUDIOS</p>
                        <a href="{{ path('studiosList') }}">View studios</a>
                    </div>
                    {% if studios is  defined and studios is not empty %}
                        {% include 'FrontEndBundle:Locations:partials/studiosList.html.twig'
                        with {title: 'Favorites studios', studios: studios, banner: '', hasFav: "true"} %}
                    {% endif %}
                </div>
            </div>
        </div>
     </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/myaccount.js') }}"></script>
{% endblock %}