{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}


{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/myaccount.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
     <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="client-links">
                    {% for link in links %}
                        <div class="row client-link" data-client-uuid="{{ link.client.uuid }}" data-site-uuid="{{ link.client.site.uuid }}">
                            <div class="col-xs-3">{{ link.client.firstName }} {{ link.client.lastName }}</div>
                            <div class="col-xs-3">{{ link.client.site.name }}</div>
                            <div class="col-xs-3">
                                <p class="site-linked {{ link.siteLinked ? '' : 'hidden' }}">Site already linked</p>
                                <a href="#" class="btn-unlink {{ link.clientLinked and not link.siteLinked ? '' : 'hidden' }}">Unlink</a>
                                <a href="#" class="btn-link {{ link.clientLinked or link.siteLinked ? 'hidden' : '' }}">Link</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
     </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/header.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/myaccount.js') }}"></script>
{% endblock %}