{% extends 'FrontEndBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/book.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="#" class="bookBtn" data-uuid="{{ uuid }}">Click to book</a>
                <div class="classServices" style="display: none;">
                    Purchase service:
                    <ul>
                    </ul>
                    <button>BUY</button>
                </div>
                <div class="clientServices" style="display: none;">
                    Your services:
                    <ul>
                    </ul>
                    <button>USE</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}