{% extends 'FrontEndBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/homecity.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="login-area">
                    <div class="intro-text">
                        Coming soon to <br />
                        <span>{{ currentCity.name }}</span>
                    </div>
                    <div class="subscription-area">
                        <div class="subscription-title">Get notified when we launch</div>
                        {{ form_start(form, {'attr': {'id': 'subscription'}}) }}

                            {{ form_row(form.email, { 'errors': null, 'attr': {'class': 'input-field', 'placeholder': 'E-mail' }}) }}
                            <button type="submit" class="sign-up">Sign up</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/homecity.js') }}"></script>
{% endblock %}