{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - {{ currentCity.name }}{% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/homecity.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    {% include '@FrontEnd/Default/partials/booked_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% include 'FrontEndBundle::membershipModal.html.twig' %}
    <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="glow-has-come">
                    <div class="intro-text">
                        THE <br />
                        GLOW HAS <br />
                        COME TO <span class="brand-primary">{{ currentCity.name|capitalize }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% include 'FrontEndBundle:Locations:partials/studiosList.html.twig'
        with {title: 'Featured studios in ' ~ currentCity.name, 
        banner: 'fallback', 
        viewAllLabel: 'view all',
        hasFav: "false", 
        viewAllPath: path('studiosListByCity', {citySlug: currentCity.slug})} %}

   <div class="container banner">
        <div class="row">
            <div class="col-xs-12">
                <div id="get-it-done">
                    GET IT DONE
                </div>
            </div>
        </div>
    </div>


    {#{% include 'FrontEndBundle:Teachers:partials/teachersList.html.twig'#}
        {#with {#}
                {#title: 'Featured teachers in ' ~ currentCity.name,#}
                {#viewAllLabel:'view all',#}
                {#viewAllPath: path('teachersListByCity', { citySlug: currentCity.slug }),#}
                {#banner: '',#}
                {#teachers: teachers,#}
                {#hasFav: "false"#}
            {#}#}
    {#%}#}

    {% include 'FrontEndBundle::courses.html.twig' with {title: 'Featured classes in ' ~ currentCity.name} %}
    <div class="login-overlay">
        <div class="overlay"></div>

        <div class="login-area-container">
            <div class="close-login">
                <span class="icon-close"></span>
            </div>
            {% include '@Sng/Security/login_form.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/homecity.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}