{% extends 'FrontEndBundle:Default:base.html.twig' %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/homecity.js' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>Connected:</h4>
                <ul>
                {% for site in sites %}
                    <li>{{ site.name }} ({{ site.mbId }})</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/homecity.js') }}"></script>
{% endblock %}