{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %} {{ studio.name }} {% endblock %}
{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studioDetailscript.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
    {% include '@FrontEnd/Default/partials/booked_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    {% include '@FrontEnd/Default/partials/success_banner.html.twig' %}

    {% include 'FrontEndBundle::membershipModal.html.twig' %}
    <div class="container" id="login-message">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-success">
                    <div class="container-md">
                        <p>Please Log in or Register in order to purchase a membership.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="location-content-container">
        <div class="container main-area profile-container" data-uuid="{{ studio.uuid }}" data-lat="{{ studio.latitude }}" data-long="{{ studio.longitude }}">
            <div class="row">
                <div class="container-sm">
                    <div class="col-xs-12">
                        <div class="staires-bg">
                        </div>
                        <div class="map-container">
                            <div id="map_canvas">
                            </div>
                        </div>
                        <div class="studio-info-container">
                            <div class="show-map">Map <span class="icon-arrow-down"></span><span class="icon-arrow-up"></span></div>
                            <div id="studio-info">
                                <div class="studio-name">{{ studio.name }}</div>
                                <div class="studio-address">{{ studio.address }}, <br /> {{ studio.city }}</div>
                                <div class="studio-image">
                                    <div class="crsl">
                                        {% if studio.photos is not empty %}
                                            {% for photo in studio.photos %}
                                                <img src="{{ photo.path }}"  class="">
                                            {% endfor %}
                                        {% else %}
                                            <img src="/images/default-image.jpg" />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" id="schedule">
                                <div class="schedule-head">
                                    About the studio

                                    {% if studio.formattedOpeningHours is defined and studio.formattedOpeningHours is not empty %}
                                        <span class="icon-clock">
                                        <span class="path1"></span><span class="path2"></span>
                                        <div class="bubble">
                                            <div class="content">Opening times</div>
                                            <div class="arrow"><div class="after"></div></div>
                                        </div>
                                        <div class="opening-popover">
                                            <div class="arrow"><div class="after"></div></div>
                                            <div class="content">
                                                <div class="opening-head">Opening times</div>
                                                {% for key, value in studio.formattedOpeningHours %}
                                                    <div class="opeing-row">
                                                        <span>{{ key }}</span> <span>{{ value }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </span>
                                    {% endif %}
                                    {% if app.user %}
                                        {% if isFavouriteLocation(studio.uuid) %}
                                            <a href="#">
                                        <span class="glyphicon icon-favorites-fill">
                                            <div class="bubble">
                                                <div class="content">Remove from favorites</div>
                                                <div class="arrow"><div class="after"></div></div>
                                            </div>
                                        </span>
                                            </a>
                                        {% else %}
                                            <a href="#">
                                        <span class="glyphicon icon-favorite-empty">
                                            <div class="bubble">
                                                <div class="content">Add to favorites</div>
                                                <div class="arrow"><div class="after"></div></div>
                                            </div>
                                        </span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="schedule">

                                    {{ studio.description|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--         <div class="container">
            <div class="row">
                <div class="container-sm">
                    <div class="col-xs-12">
                        <div class="purchase-banner">
                            <div class="corner"></div>
                            <div class="parallelipiped"></div>
                            <div class="intro-text">
                                START YOUR JOURNEY WITH <br />
                                <span>SNG LOWER EAST SIDE</span>
                            </div>
                            <div class="purchase">
                                
                                {% if app.user %}
                                    <a href="#" class="button btn-buy-studio-plans" data-site-uuid="{{ studio.siteUuid }}">Purchase</a>
                                {% else %}
                                    <a href="javascript:void(0);" class="button">Purchase</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="login-overlay">
            <div class="overlay"></div>

            <div class="login-area-container">
                <div class="close-login">
                    <span class="icon-close"></span>
                </div>
                {% include '@Sng/Security/login_form.html.twig' %}
            </div>
        </div>
        {% if classes is defined and classes is not empty %}
            {% include 'FrontEndBundle::classesList.html.twig'
            with {title: 'Next Classes', button: 'view schedule', classes: classes} %}
        {% endif %}
        <div class="container purchase-options">
            <div class="row">
                <div class="container-sm">
                    <div class="col-xs-12">
                        <h3>Our membership options are as diverse as our classes</h3>
                    </div>

                    {% if hasGlobalDropInPlan %}
                        <div class="col-xs-12 col-sm-6">
                            <div class="box pippin">
                                <div class="head">SNG Subscription</div>
                                <div class="subscription">
                                    <div class="sub">
                                        <p>95$</p>
                                        <p>5 Class Pass</p>
                                    </div>
                                    <div class="sub">
                                        <p>180$</p>
                                        <p>10 Class Pass</p>
                                    </div>
                                    <div class="sub">
                                        <p>330$</p>
                                        <p>20 Class Pass</p>
                                    </div>
                                </div>
                                <div class="text">Experience the difference between a workout that changes your body and one that changes your life.</div>
                                <div class="cta"><a href="{{ path('purchase') }}" class="btn btn-container buy-sng-plans btn-buy-studio-plans" data-site-uuid="{{studio.siteUuid}}">Buy</a></div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-xs-12 col-sm-6">
                        <div class="box">
                            <div class="head">Studio Subscriptions{% if siteServices is not empty %}<span>starting at {{siteServices[0].price}}$</span>{% endif %}</div>
                            <div class="text">With Studio Subscription you can book classes at this studio only.</div>
                            {% if siteServices is not empty %}
                            <div class="cta">
                                <a
                                    href="{{ path('purchase') }}"
                                    class="btn btn-container pippin btn-buy-studio-plans"
                                    data-site-uuid="{{studio.siteUuid}}"
                                >
                                    Check Plans
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {# {% if teachers is defined and teachers is not empty %}
            {% include 'FrontEndBundle:Teachers:partials/teachersList.html.twig'
            with {title: 'Teachers', teachers: teachers, hasFav: "false"} %}
        {% endif %} #}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfEXYKGy6K5CUXEflr8YN8I3X63tO80G4"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/thumbCarousel.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studioDetailscript.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/book.js') }}"></script>
{% endblock %}