{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/schedule.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}


{% block body %}
<style>
.swiper-container{
                width: 100%;
                height: 100%;
            }
.swiper-slide{
    background: #a8a8a8;
    color: #fff;
    height: 200px;
    width: 195px !important;
}
.calendar-box{
    width: 80% !important;
    float: left;
}
.ddd{
 height: 200px; max-width: 341px;
}
</style>

<div class="container" id="studioInfo" data-uuid="{{ studio.uuid }}">
    <div class="row">
        <div class="container-sm">
            <div class="col-xs-12 col-sm-6">
                <div class="studio-name">{{ studio.name }}</div>
                <div class="studio-address">{{ studio.address }}</div><div class="studio-phone">  {{ studio.phone }}</div>
            </div>
            <div class="col-xs-12 col-sm-6 hidden-xs pull-right image">
                {% if studio.photos is not empty %}
                    {% for photo in studio.photos|slice(0, 1)  %}
                        <img src="{{ photo.path }}"  class="">
                    {% endfor %}
                {% else %}
                    <img src="/images/default-image.jpg" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container schedule-alignment-fix">
<div class="row">
<div id="studioSchedule" > 
<div class="week-select">
    <a href="{{ path('studioSchedule', {slug: studio.slug, from: prevDatetime|date('d-m-Y')}) }}" 
            style="{% if prevDatetime is null %} visibility: hidden; {% endif %}">
        <img src="/images/schedule-prev.jpg" width="30" height="30" />
    </a>
    <div class="dt">{{ startDatetime|date('d M') }} -  {{ endDatetime|date('d M Y') }}</div>
    {% if nextDatetime is not null %}
        <a href="{{ path('studioSchedule', {slug: studio.slug, from: nextDatetime|date('d-m-Y')}) }}"><img src="/images/schedule-next.jpg" width="30" height="30" /></a>
    {% endif %}
</div>

<div class="stairs"></div>

            <div class="container-sm">
                <div class="weekdays">
                    {% for date, classes in classesByDay %}
                        <div class="day-name {{ loop.first ? 'current': '' }}">{{ date|date('D') }}<br /><strong>{{ date|date('d') }}</strong></div>
                    {% endfor %}
                </div>
                <div class="calendar-box">
                <div class="calendar ">
                <div class="calendar-row-container"> 
                    {# <div class="ddd"> #}
                        <!-- Swiper -->
                        <div class="swiper-container">
                            <div class="col-day swiper-wrapper">
                                <div class="swiper-slide class">Slide 1</div>
                                <div class="swiper-slide class">Slide 2</div>
                                <div class="swiper-slide class">Slide 3</div>
                                <div class="swiper-slide class">Slide 4</div>
                                <div class="swiper-slide class">Slide 5</div>
                                <div class="swiper-slide class">Slide 6</div>
                                <div class="swiper-slide class">Slide 7</div>
                                <div class="swiper-slide class">Slide 8</div>
                                <div class="swiper-slide class">Slide 9</div>
                                <div class="swiper-slide class">Slide 10</div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    {# </div> #}
                </div>
                </div>
                </div> 
            </div>
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/swiper.min.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/schedule.js') }}"></script>
    <script>

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 'auto',
        paginationClickable: true,
        spaceBetween: 3,
        freeMode: true
    });
    </script>
{% endblock %}
