{% extends 'FrontEndBundle:Default:base.html.twig' %}
{% block title %}SweatNGlow - The world’s largest hot yoga network{% endblock %}

{% block stylesheets %}
    {% webpack css '@FrontEndBundle/Resources/public/js/studioscript.js' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
{% endblock %}

{% block extra_headers %}
    {% if currentPage > 1 %}
        <link rel="prev" href="{{ absolute_url(path('studiosList', {page: currentPage - 1})) }}">
    {% endif %}

    {% if currentPage < totalPages %}
        <link rel="next" href="{{ absolute_url(path('studiosList', {page: currentPage + 1})) }}">
    {% endif %}
{% endblock %}

{% block body %}
    {% include '@FrontEnd/Default/partials/unconfirmed_email_banner.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 sList">
                {% include 'FrontEndBundle:Locations:partials/studiosByCityList.html.twig' with {title:"Studios", city: city is defined ? city: null} %}
            </div>
            <div class="col-xs-12 col-sm-4 sMap">
                <div class="map-container">
                    <div id="map_canvas"></div>
                </div>
                <div class="results-container"><div class="results">Results <span class="icon-arrow-down"></span></div></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({event: 'loadListingPage', pageType: 'studios', page: {{ currentPage }}});

        {% if mapLocations is defined %}
        window.mapLocations = {{ mapLocations|json_encode()|raw }};
        {% endif %}
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/bootstrap.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBfEXYKGy6K5CUXEflr8YN8I3X63tO80G4"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/thumbCarousel.js') }}"></script>
    <script src="{{ webpack_asset('@FrontEndBundle/Resources/public/js/studioscript.js') }}"></script>
{% endblock %}